*.pyc
*.sublime-project
*.sublime-workspace
omf/data/Model/*
omf/data/Feeder/*
omf/data/User/*
omf/S3KEY.*
build
dist
omf.egg-info

# But include a few example analyses:
!omf/data/Model/admin/z*
!omf/data/Model/admin/z*
!omf/data/Model/public/*
!omf/data/Feeder/public/*
!omf/data/User/admin.json
!omf/data/User/public.json