Thumbs.db
*.pyc
*.sublime-project
*.sublime-workspace
omf/data/Model/*
omf/data/Feeder/*
omf/data/User/*
omf/S3KEY.*
omf/scratch/conversionTesting/convTest.key
build
omf.egg-info
omf/emailCredentials.key
**/.DS_Store
omf/octave-workspace
omf/omf.log
!omf/data/Model/public/*
!omf/data/Feeder/public/*
!omf/data/User/test.json
!omf/data/User/public.json
omf/scratch/CIGAR/Fault_check_out.txt
omf/scratch/CIGAR/IEEE_37_test_RestD.xml
omf/scratch/CIGAR/load841out.csv
omf/scratch/CIGAR/Metrics_Output.csv
omf/scratch/CIGAR/tripline.csv
omf/scratch/CIGAR/tripout.csv
omf/scratch/CIGAR/VoltBase.csv
omf/scratch/CIGAR/VoltFault.csv
omf/scratch/CIGAR/Voltfuse.csv
omf/scratch/CIGAR/VOLTOUT.png
omf/scratch/CIGAR/VOLTOUT.png
omf/scratch/CIGAR/VoltPostFault.csv
omf/scratch/CIGAR/VOLTOUT.png
omf/scratch/CIGAR/scratchwindow.py
omf/solvers/PowerModelsONM/PowerModelsONM*
omf/solvers/PowerModelsONM/Manifest.toml
omf/solvers/PowerModelsONM/Project.toml
omf/solvers/PowerModelsONM/build/*
gridlabd.dmg
omf/omf.error.log
omf/omf.access.log
*.pem
omf/static/testFiles/bavarian_solar.omd
omf/static/testFiles/turkey_solar.omd
.idea/
omf/scratch/modelDatabase.tsv
omf/static/ipLoc.html
omf/static/model_db_stats.png
omf/solvers/nilmtk/*
omf/scratch/faultLabeledMeterData/*
!omf/scratch/faultLabeledMeterData/code/
omf/scratch/disaggDataGeneration/nilmtk/*
!omf/scratch/disaggDataGeneration/nilmtk/code/
omf/scratch/disaggDataGeneration/regression/*
!omf/scratch/disaggDataGeneration/regression/code/
!omf/scratch/disaggDataGeneration/regression/templates/
!omf/scratch/disaggDataGeneration/regression/workingDir/
omf/scratch/disaggDataGeneration/regression/workingDir/*
__pycache__/
.vscode/
*.code-workspace
omf/solvers/PowerModelsONM/julia-1.7.0/*
omf/solvers/reopt_jl/testFiles/Scenario_test_POST.json
omf/solvers/reopt_jl/testFiles/resultsResilience.json
omf/solvers/reopt_jl/testFiles/results.json
omf/solvers/reopt_jl/testFiles/REoptInputs.json
omf/solvers/reopt_jl/reopt_jl.so
omf/solvers/reopt_jl/julia-1.9.4/*
instantiated.txt
omf/solvers/protsetopt/testFiles/
.vite/