*.pyc
*.sublime-project
*.sublime-workspace
omf/data/Model/*
omf/data/Feeder/*
omf/data/User/*
omf/S3KEY.*
build
omf.egg-info
omf/emailCredentials.key
# But include a few things:
!omf/data/Model/admin/z*
!omf/data/Model/admin/z*
!omf/data/Model/public/*
!omf/data/Feeder/public/*
!omf/data/User/test.json
!omf/data/User/public.json