include *.*
include omf/*.*
recursive-include omf/* *.*
recursive-include omf/models *.*
prune omf/.git
prune omf/data/Model/admin
prune omf/scratch
prune omf/build
prune omf/dist
prune omf/omf.egg-info