Flask>=0.9
Flask-Login==0.2.11
Jinja2>=2.7.2
MarkupSafe>=0.18
Werkzeug>=0.9.4
argparse>=1.2.1
backports.ssl-match-hostname>=3.4.0.2
boto==2.24.0
networkx==1.11
passlib>=1.6.2
pyparsing>=2.0.1
python-dateutil>=2.2
six>=1.5.2
tornado>=3.2
wsgiref>=0.1.2
numpy>=1.8.0
matplotlib>=1.4.0,<3.0.0
xlwt>=0.7.5
pathlib>=1.0.1
pygraphviz>=1.3.1
requests>=2.20
pandas>=0.3.1
pulp>=1.6.8
tqdm>=4.19.6
scipy>=0.18.1
flask_compress>=1.4.0
plotly>=3.0.0
cvxpy>=0.4.0,<0.5.0
scikit-learn>=0.19.0,<0.21.0
gevent
python-geoip
python-geoip-geolite2
iso3166
pyproj
gunicorn
#fbprophet
