docs/src/SynGrid-manual/SynGrid-manual.aux
docs/src/SynGrid-manual/SynGrid-manual.brf
docs/src/SynGrid-manual/SynGrid-manual.lof
docs/src/SynGrid-manual/SynGrid-manual.log
docs/src/SynGrid-manual/SynGrid-manual.lot
docs/src/SynGrid-manual/SynGrid-manual.out
docs/src/SynGrid-manual/SynGrid-manual.pdf
docs/src/SynGrid-manual/SynGrid-manual.synctex.gz
docs/src/SynGrid-manual/SynGrid-manual.synctex(busy)
docs/src/SynGrid-manual/SynGrid-manual.toc
untracked
*~
