<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""> </script> 
    <!-- Load the third-party Esri Leaflet plugin, which is used to get ESRI tiles -->
    <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@4.0.1/dist/esri-leaflet-vector.js"></script>
    <!-- Load the third-party Mapbox GL Leaflet plugin, which is used to get Mapbox tiles -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <script src="https://unpkg.com/mapbox-gl-leaflet/leaflet-mapbox-gl.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <!-- Geocoding -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.11.1/dist/geosearch.css"/>
    <script src="https://unpkg.com/leaflet-geosearch@3.11.1/dist/geosearch.umd.js"></script>
    <!-- Use Graphology library for graph operations -->
    <script src="/static/geoJsonMap/v3/lib/graphology-0.25.1.min.js"></script>
    <!-- CSV parsing -->
    <script type="text/javascript" src="/static/geoJsonMap/v3/lib/papaparse.min.js"></script>
    <!-- Color scale -->
    <script type="text/javascript" src="/static/geoJsonMap/v3/lib/chroma.min.js"></script>
    <!-- Marker clustering -->
    <link rel="stylesheet" href="/static/geoJsonMap/v3/lib/MarkerCluster.css" />
    <link rel="stylesheet" href="/static/geoJsonMap/v3/lib/MarkerCluster.Default.css" />
    <script type="text/javascript" src="/static/geoJsonMap/v3/lib/leaflet.markercluster.js"></script>
    <!-- Local --> 
    <link rel="stylesheet" href="/static/geoJsonMap/v3/dropdownDiv.css"> 
    <link rel="stylesheet" href="/static/geoJsonMap/v3/leafletLayer.css">
    <link rel="stylesheet" href="/static/geoJsonMap/v3/main.css">
    <link rel="stylesheet" href="/static/geoJsonMap/v3/modal.css"> 
    <link rel="stylesheet" href="/static/geoJsonMap/v3/sideNav.css"> 
    <link rel="stylesheet" href="/static/geoJsonMap/v3/topNav.css"> 
    <link rel="stylesheet" href="/static/geoJsonMap/v3/topTab.css"> 
    <link rel="stylesheet" href="/static/geoJsonMap/v3/extensions/testModal.css">
    <meta charset="utf-8">
    <title>OMF GeoJSON Editor</title>
  </head>
  <body>
    <header>
        <div id="menuInsert"></div>
    </header>
    <main></main>
    <script>
        'use strict';
        const gFeatureCollection = {% if featureCollection %}{{ featureCollection | safe }}{% else %}null{% endif %};
        const gComponentsCollection = {% if componentsCollection %}{{ componentsCollection | safe }}{% else %}null{% endif %};
        const gThisOwner = "{% if thisOwner %}{{ thisOwner | safe }}{% else %}null{% endif %}";
        const gThisModelName = "{% if thisModelName %}{{ thisModelName | safe }}{% else %}null{% endif %}";
        const gThisFeederName = "{% if thisFeederName %}{{ thisFeederName | safe }}{% else %}null{% endif %}";
        const gThisFeederNum = {% if thisFeederNum %}{{ thisFeederNum | safe }}{% else %}null{% endif %};
        const gPublicFeeders = {% if publicFeeders %}{{ publicFeeders | safe }}{% else %}null{% endif %};
        const gUserFeeders = {% if userFeeders %}{{ userFeeders | safe }}{% else %}null{% endif %};
        const gCurrentUser = "{% if currentUser %}{{ currentUser | safe }}{% else %}null{% endif %}";
        const gShowFileMenu = {% if showFileMenu %}{{ showFileMenu | safe }}{% else %}null{% endif %};
        const gIsOnline = {% if isOnline %}{{ isOnline | safe }}{% else %}null{% endif %};
    </script>
    <script type="module" src="/static/geoJsonMap/v3/main.js"></script>
  </body>
</html>