<head>
	<style>
	.error{color:red; display:none;}
	.success{color:green; display:none;}
	.owner{font-weight:bold;}
	table{text-align:left;}
	.Registered{color:green;}
	.emailSent{color:blue;}
	.emailExpired{color:red;}
	</style>
	<script type='text/javascript' src='/static/jquery-1.9.1.js'></script>
</head>
<body>
	<h1>OMF Stats</h1>
	<a href="/">Home</a>
	<br />
	<br />
	<img src = "../static/model_db_stats.png" alt = "monthly user creation and model types" />
	<img src = "../static/traffic_log_stats.png" alt = "traggic log stats" />
</body>