<h1>Create a password to login to the OMF</h1>
<p>{{ email }}</p>
<form action="" method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
  <input type="password" name="password" placeholder="Password"><br>
  <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
  <p><input type="checkbox" name="legalAccepted">I have read and accept the <a href="https://github.com/dpinney/omf/blob/master/Privacy%20Policy.txt">Privacy Policy</a> and <a href="https://github.com/dpinney/omf/blob/master/Terms%20of%20Use.txt">Terms of Use</a></p>
  <input type="submit" value="Submit">
</form>
