<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Network #{{ networkNum }} from {{ modelName }}</title>
	<script type="text/javascript" src="/static/svg-pan-zoom.js"></script>
	<script type="text/javascript" src="/static/omf.js"></script>
	<script type="text/javascript" src="/static/jquery-1.9.1.js"></script>
	<link rel="stylesheet" href="/static/omf.css"/>
	<link rel="shortcut icon" href="/static/favicon.ico"/>
	<style>
		* { font-family: Helvetica, Arial, Sans-Serif;}
		div.divButton {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
			cursor: hand;
			position:fixed;
			width:30px;
			height:30px;
			text-align:center;
			font-size:30px;
			line-height:30px;
			color:white;
		}
		div#tableScroller {
			overflow-y: auto;
			overflow-x: hidden;
			position: fixed;
			width: 315px;
			top: 55px;
			right: 5px;
			max-height:90%;
		}
		table {
			width: 300px;
			border:1px solid black;
			border-collapse: collapse;
			text-align: left;
			table-layout:fixed;
		}
		body {margin:0px;}
		td {
			background:white;
			color:black;
			word-wrap:break-word;
		}
		th {
			background:black;
			color:white;
		}
		svg {
			position: absolute;
			left: 0%;
			top: 0%;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		#saveButton {
			float:right;
		}
		input[type='submit'] {padding:4px 6px 4px; float:right;}
		input {
			width:140px;
		}
		/* Load Spinner */
		.loader {
			margin: 60px auto;
			font-size: 10px;
			position: relative;
			text-indent: -9999em;
			border-top: 1.1em solid rgba(255, 255, 255, 0.2);
			border-right: 1.1em solid rgba(255, 255, 255, 0.2);
			border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
			border-left: 1.1em solid #ffffff;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation: load8 1.1s infinite linear;
			animation: load8 1.1s infinite linear;
		}
		.loader,
		.loader:after {
			border-radius: 50%;
			width: 10em;
			height: 10em;
		}
		@-webkit-keyframes load8 {
			0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			}
			100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			}
		}
		@keyframes load8 {
			0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			}
			100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			}
		}
		table.importOptions {font-size:10pt;width:100%; text-align:left; margin-left:5px;display:inline;border:none;background:transparent;color:black;}
		table.importOptions tr td th {text-align:left;width:40%;border:none;background:transparent;color:black;}
	</style>
	<script>networkData={% if networkData %}{{networkData | safe}}{% else %}null{% endif %}</script>
</head>
<body onkeypress='hotkeys()' onload="loading();" style='width:100%;height:100%'>
	<!-- Start Controls -->
	<div style='background:dimgray; top:55px; left:5px' class='divButton' onclick='window.panZoom.zoomIn()' title='Zoom In'>+</div>
	<div style='background:dimgray; top:95px; left:5px' class='divButton' onclick='window.panZoom.zoomOut()' title='Zoom Out'>-</div>
	<div style='background:dimgray; top:135px; left:5px' class='divButton' onclick='window.panZoom.reset()' title='Reset Zoom'>R</div>
	<div style='background:dimgray; top:175px; left:5px;' class='divButton' onclick='scaleTo()' title='Zoom To'>S</div>
	<!-- End Controls -->
	<svg id='svgContainer' xmlns='http://www.w3.org/2000/svg' style='width:100%;height:100%;min-width:1000px;background-color:white;' onclick='svgClick(event)' onmousedown='mouseDown(event)' onmouseup='mouseUp(event)'>
		<style type="text/css">
			<![CDATA[
			line {stroke:black;}
			line.parentChild {stroke:LightGrey;}
			circle {stroke:white; fill:gray;}
			rect {stroke:white; fill:DarkGrey;}
			line.selected, circle.selected, rect.selected {stroke:lime;}
			]]>
		</style>
	</svg>
	<!-- Menu Bar: ADD -->
	<div id="header">
		<div id="menuLeft" style="margin-top:-5px"> <!--HACK: override padding from header.-->
			&nbsp;<span contenteditable="false" id='networkName' name='networkName' style="font-weight:bold;">{{ networkName }}</span>
			<br>
			&nbsp;from&#8220;<span id = 'modelNameHeader'>{{ modelName }}</span>&#8221;
		</div>
		<div id="menuRight">
			<div id="editDiv" style="display:inline-block">
				<div class="buttonGroup">
					<button id="editOps" class='pill' onclick='dropPill(this, "Edit");'>Edit ▾</button>
					<ul class='menu right' style="display:none">
						<li><a href='javascript:showModal("anonymizeModal");'>Anonymization...</a></li>
					</ul>
				</div>
			</div>
			<div id="addDiv" style="display:inline-block">
				<div class="buttonGroup">
					<button id="addOps" class='pill' onclick='dropPill(this, "Add");'>Add ▾</button>
					<ul id='newObjectMenu' class='menu right' style="display:none">
						<li><a href='javascript:newNode("bus");'>Bus</a></li>
						<li><a href='javascript:newLink();'>Line</a></li>
						<li><a href='javascript:newGen();'>Generator</a></li>
					</ul>
				</div>
			</div>
			<div id="fileDiv" style="display:inline-block">
				<div class='buttonGroup'>
					{% if is_admin or not public %}
					<button id="fileOps" class='pill' onclick='dropPill(this, "File")'>File ▾</button>
					<ul class='menu right' style="display:none">
						<li><a href='javascript:saveNetwork();'>Save</a></li>
						<li><a href='javascript:renameNetwork();'>Rename</a></li>
						<li><a href='javascript:showModal("blankNetworkModal");'>New Blank Network...</a></li>
						<li><a href='javascript:showModal("matpowerModal");'>MATPOWER Import...</a></li>
						<li><a href='javascript:downloadTextFile("networkData.omt", JSON.stringify(networkData, null, 2));'>Download .omt File</a></li>
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div id='blankNetworkModal' class= 'modal'>
		<div class="modalContent" id='blankModal'>
			<form onsubmit='event.preventDefault(); return startConversion("networkNameNew",1);' action='/newBlankNetwork/{{ owner }}' id='newnetwork' enctype='multipart/form-data' method='post'>
				<input type="hidden" id="networkNum" name="networkNum" value="{{ networkNum }}" />
				<input type="hidden" id="modelName" name="modelName" value="{{ modelName }}" />
				<table class='importOptions'>
				<th style="background:transparent;color:black;">Blank Network</th>
					<tr>
						<td>Name</td>
						<td><input type='text' id='networkNameNew' name='networkNameNew' required/></td>
					</tr>
					<tr>
						<td><a id='modalCancel' href="#" onclick='closeModal("blankNetworkModal")' style="text-align:center;font-size:10pt;">Cancel</a></td>
						<td><input type='submit' value='Create' style='min-width:45px;'/></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div id="matpowerModal" class= 'modal'>
		<div class="modalContent" id='milModal' style='width:350px;'>
			<form onsubmit='event.preventDefault(); return startConversion("networkNameM", 2);' action="/matpowerImport/{{ owner }}" id='matpower' enctype='multipart/form-data' method='post'>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
				<input type="hidden" id="networkNum" name="networkNum" value="{{ networkNum }}" />
				<input type="hidden" id="modelName" name="modelName" value="{{ modelName }}" />
				<table class='importOptions'>
				<th style="background:transparent;color:black;">MATPOWER Conversion</th>
					<tr>
						<td>Name</td>
						<td><input type='text' id='networkNameM' name='networkNameM' required/></td>
					</tr>
					<tr>
						<td>Data File (.m)</td>
						<td><input type='file' name='matFile' accept = '.m' required/></td>
					</tr>
					<tr>
						<td><a id='modalCancel' href="#" onclick='closeModal("matpowerModal")' style="text-align:center;font-size:10pt;">Cancel</a></td>
						<td><input type='submit' value='Import' style='min-width:45px;'/></td>
					</tr>
				</table>
			</form>
			<iframe class="hide_me" id="take_the_reload" name="take_the_reload" style="width:0px;height:0px;"></iframe>
		</div>
	</div>
	<div id='anonymizeModal' class='modal'>
		<div class='modalContent' id='anonymizeModalContent' style='width:500px'>
			<div style='font-weight:bold; font-size:14pt'>Anonymization</div>
			<br>
			<form onsubmit='anonymize();' action='/anonymizeTran/{{owner}}/{{networkName}}' id='anonymize' enctype='multipart form-data' method='post'>
				<input type='hidden' name='_csrf_token' value='{{csrf_token()}}'/>
				<input type='hidden' id='modelName' name='modelName' value='{{modelName}}'/>
				<div id='anonymizeInputs' align='left'>
					<div style='font-weight:bold; font-size:12pt'>Names and Labels:</div>
					<input type='radio' id='noChange' name='anonymizeNameOption' value='noChange' checked>
					<label for='noChange'>No Change</label>
					<br>
					<input type='radio' id='pseudonymize' name='anonymizeNameOption' value='pseudonymize'>
					<label for='pseudonymize'>Pseudonymize</label>
					<br>
					<input type='radio' id='randomize' name='anonymizeNameOption' value='randomize'>
					<label for='randomize'>Randomize</label>
					<br>
					<br>
					<div style='font-weight:bold; font-size:12pt'>Locations:</div>
					<input type='radio' id='noChange' name='anonymizeLocationOption' value='noChange' checked>
					<label for='noChange'>No Change</label>
					<br>
					<input type='radio' id='translation' name='anonymizeLocationOption' value='translation'>
					<label for='translation'>Translate <input style='width:10px' type='text' id='translateRight' name='translateRight'>[ft] to right and <input style='width:10px' type='text' id='translateUp' name='translateUp'>[ft] up and Rotate <input style='width:10px' type='text' id='rotate' name='rotate'>[degrees]</label>
					<br>
					<input type='radio' id='randomize' name='anonymizeLocationOption' value='randomize'>
					<label for='randomize'>Random (Force Layout)</label>
					<br>
					<br>
					<div style='font-weight:bold; font-size:12pt'>Electrical Properties:</div>
					<input type='checkbox' id='shuffleLoadGen' name='shuffleLoadGen' value='shuffleLoadGen'>
					<label for='shuffleLoadGen'>Shuffle loads and generators <input style='width:30px' type='text' id='shufflePerc' name='shufflePerc'>[%]</label>
					<br>
					<input type='checkbox' id='addNoise' name='addNoise' value='addNoise'>
					<label for='addNoise'>Add Noise <input style='width:30px' type='text' id='noisePerc' name='noisePerc'>[%]</label>
					<br>
					<br>
					<button onclick='event.preventDefault();closeModal("anonymizeModal")'>Cancel</button>
					<input type='submit' value='Apply' style='min-width:45px'>
				</div>
			</form>
		</div>
	</div>
	<div id='tableScroller'></div>
	</body>
</html>
<script type='text/javascript'>
// Globals
var unsavedChanges = false;
var lastNetworkName = "{{ networkName }}";
var previousTarget = {} // Global to keep track of previous selection target
var lastElementSelected = {}
var selection = [] // Global to keep track of multiple alt-selections
var downX, downY, upX, upY // Globals to keep track of mouse coordinates
var clickTarget = '';
var newID = '';
var newType = '';
var newBusGenObj = {};
var scaleTracker = 1
var maxBusID = -9999999;
var maxBranchID = -9999999;
var maxGenID = -9999999;

function saveSvg() {
	// Redirect to an .svg file that the user can save.
	alert('We are redirecting you to a static version of the SVG that you can save as a .svg file.')
	svg = document.getElementById('svgContainer').outerHTML
	b64 = btoa(svg)
	window.location = 'data:image/svg+xml;base64,\n' + b64
}

function addRectangle(x,y,width, height, id,myClass) {
	// Draw a rectangle in the SVG.
	svgOb = document.getElementsByClassName('svg-pan-zoom_viewport')[0]
	aRect = document.createElementNS('http://www.w3.org/2000/svg', 'rect')
	aRect.setAttribute('x',x)
	aRect.setAttribute('y',y)
	aRect.setAttribute('width', width)
	aRect.setAttribute('height', height)
	aRect.setAttribute('id', id)
	aRect.setAttribute('class', myClass)
	aRect.setAttribute('stroke-width', 0.5)
	svgOb.appendChild(aRect)
}

function addCircle(x,y,r,id,myClass) {
	// Draw a circle in the SVG.
	svgOb = document.getElementsByClassName('svg-pan-zoom_viewport')[0]
	aCirc = document.createElementNS('http://www.w3.org/2000/svg', 'circle')
	aCirc.setAttribute('cx',x)
	aCirc.setAttribute('cy',y)
	aCirc.setAttribute('r',r)
	aCirc.setAttribute('id', id)
	aCirc.setAttribute('class', myClass)
	aCirc.setAttribute('stroke-width', 0.5)
	svgOb.appendChild(aCirc)
}

function addLine(x1,y1,x2,y2,id,myClass) {
	// Draw a line in the SVG.
	svgOb = document.getElementsByClassName('svg-pan-zoom_viewport')[0]
	aLine = document.createElementNS('http://www.w3.org/2000/svg', 'line')
	aLine.setAttribute('x1',x1)
	aLine.setAttribute('y1',y1)
	aLine.setAttribute('x2',x2)
	aLine.setAttribute('y2',y2)
	aLine.setAttribute('id',id)
	aLine.setAttribute('class',myClass)
	aLine.setAttribute('stroke-width', 2)
	svgOb.appendChild(aLine)
}

function buildNetwork() {
	// Find the size we need for the full chart.
	var maxLon = 100
	var maxLat = 100
	var busNumMap = {}
	for (var num in networkData.bus) {
		var busNum = networkData.bus[num]['bus_i']
		busNumMap[busNum] = num
		if (networkData.bus[num]['longitude'] > maxLon) {maxLon = networkData.bus[num]['longitude']}
		if (networkData.bus[num]['latitude'] > maxLat) {maxLat = networkData.bus[num]['latitude']}
	}
	maxLon = Math.round(maxLon + 20.0)
	maxLat = Math.round(maxLat + 20.0)
	var svgOb = document.getElementById('svgContainer')
	svgOb.setAttribute('width', maxLon)
	svgOb.setAttribute('height', maxLat)
	svgOb.setAttribute('viewBox','-10.0 -10.0 ' + maxLon + ' ' + maxLat)
	// Attach the pan/zoom behavior.
	window.panZoom = svgPanZoom('#svgContainer', {
		zoomEnabled: true,
		controlIconsEnabled: false,
		fit: true,
		center: true
	})
	// Go through and add all lines first
	for (num in networkData.branch) {
		try {
			anOb = networkData.branch[num]
			fNum = networkData.branch[num]['fbus']
			tNum = networkData.branch[num]['tbus']
			fBusNum = busNumMap[fNum]
			tBusNum = busNumMap[tNum]
			fromOb = networkData.bus[fBusNum]
			toOb = networkData.bus[tBusNum]
			if(num> maxBranchID) {
				maxBranchID = num
			}
			addLine(fromOb['longitude'],fromOb['latitude'],toOb['longitude'],toOb['latitude'],"branch_"+num,"branch" + ' p' + phaseCount(anOb))
		} catch(e) {}
	}
	// Add buses after all lines
	for (num in networkData.bus) {
		try {
			anOb = networkData.bus[num]
			console.log(anOb)
			console.log(anOb['bus_i'])
			if(anOb['bus_i'] > maxBusID) {
				maxBusID = anOb['bus_i']
			}
			addCircle(anOb['longitude'], anOb['latitude'],5,"bus_"+num,"bus")
		} catch(e) {}
	}
	// Draw generators over busses
	for (num in networkData.gen) {
		try {
			anOb = networkData.gen[num]
			busNum = busNumMap[anOb['bus']]
			var longitude = networkData.bus[busNum]['longitude']
			var latitude = networkData.bus[busNum]['latitude']
			var width = 4
			if(num > maxGenID) {
				maxGenID = num
			}
			addRectangle(longitude-width/2,latitude-width/2,width,width,"gen_"+num,"gen")
		} catch(e) {}
	}
}

function mouseDown(event) {
	downX = event.pageX
	downY = event.pageY
}

function mouseUp(event) {
	upX = event.pageX
	upY = event.pageY
}

function clickLatLon(event) {
	// Return real lat/lon location of current click.
	var pan = window.panZoom.getPan();
	//var zoom = panZoom.getZoom();
	var sizes = window.panZoom.getSizes();
	var zoom = sizes.realZoom;
	var x, y, pt;
	var svg = document.getElementById('svgContainer');
	var pt = svg.createSVGPoint();
	pt.x = event.clientX;
	pt.y = event.clientY;
	pt = pt.matrixTransform(svg.getScreenCTM().inverse());
	x = pt.x;
	y = pt.y;
	x = (x - pan.x) / zoom;
	y = (y - pan.y) / zoom;
	return [x,y];
}

function svgClick(event) {
	// Event handler for all clicks on the SVG.
	latLon = clickLatLon(event);
	if ( (downX!==upX) || (downY!==upY) ) {
		// Immediately exit if drag is selected. SVG pan zoom handles those.
		return
	}
	if (!event.altKey) {
		// Clicking blank canvas without alt held deselcts.
		for (i=0; i<selection.length; i++) {
			selection[i].classList.remove('selected')
		}
		selection = []
	}
	event.target.classList.add('selected')
	if (event.target.id != 'svgContainer') {
		// Selecting a new object.
		var clickType = event.target.id.split("_")[0]
		var clickID = event.target.id.split("_")[1]
		lastElementSelected = event.target
		if (selection.indexOf(networkData[clickType]) === -1){
			tableDestroy()
			tableCreate(networkData[clickType][clickID])
			selection.push(event.target)
		}
	} else {
		tableDestroy()
	}
	if (selection.length >= 2) {
		// Beginning alt-selection.
		tableDestroy()
		multiSelectionTable()
	}
	previousTarget = event.target
}

function phaseCount(p) {
	total = 0
	if ("rateA" in p){
		if (parseInt(p["rateA"]) > 0){total++}
	}
	if ("rateB" in p){
		if (parseInt(p["rateB"]) > 0){total++}
	}
	if ("rateC" in p){
		if (parseInt(p["rateC"]) > 0){total++}
	}
	return total
}

function hotkeys() {
	// IE8 and earlier
	if (window.event) {
		x = event.keyCode
	}
	// IE9/Firefox/Chrome/Opera/Safari
	else if (event.which) {
		x = event.which
	}
	keychar = String.fromCharCode(x);
	if (event.target.type != 'text') {
		// Dispatch the key:
		if (keychar == '-') {
			window.panZoom.zoomOut()
		}
		else if (keychar == '=') {
			window.panZoom.zoomIn()
		}
	}
}

function tableCreate(inputObject) {
	// Draw the table for the selected object (i.e. inputObject).
	tabScroll = document.getElementById('tableScroller')
	tbl = document.createElement('table')
	// Show what type of thing you clicked
	whatClicked = document.createElement('tr')
	var clickType = event.target.id.split("_")[0]
	var clickID = event.target.id.split("_")[1]
	whatClicked.innerHTML = '<th>'+clickType.charAt(0).toUpperCase()+clickType.slice(1);+'</th>'
	whatClicked.innerHTML += '<th>'+String(clickID)+'</th>'
	tbl.appendChild(whatClicked)
	// Put in the header.
	headRow = document.createElement('tr')
	headRow.innerHTML = '<th style="text-align: left;padding: 0px 0px 0px 11px;"><button onclick="tablePlus(this)">+</button></th>'
	if(String(clickType) == "bus") {
		headRow.innerHTML += '<th><button id="moveBusButton" onclick="moveBus()">Move</button><button id="deleteButton" onclick="deleteOb()">Delete</button><button id="saveButton" onclick="tableSave(this)">Save</button></th>'
	}
	else {
		headRow.innerHTML += '<th><button id="deleteButton" onclick="deleteOb()">Delete</button><button id="saveButton" onclick="tableSave(this)">Save</button></th>'
	}
	tbl.appendChild(headRow)
	// Put the object attributes in.
	var notAllowed = ['bus_i', 'bus', 'fbus', 'tbus', 'latitude', 'longitude'] //disabled because doesn't render in real time, and on-change causes lines to sometimes render improperly.
	for (key in inputObject) {
		if (!(notAllowed.indexOf(key) > -1)) {
			row = document.createElement('tr')
			row.innerHTML = '<td><button onclick="tableDel(this)">&#215;</button><input style="width:112px" value=' + key + '></input></td>'
			row.innerHTML += '<td><input value="' + inputObject[key] + '"></input></td>'
			tbl.appendChild(row)
		}
	}
	tabScroll.appendChild(tbl)
}

function tableDel(me) {
	// Button in selection table that deletes attribute rows.
	myRow = me.parentElement.parentElement
	myTable = myRow.parentElement
	myTable.removeChild(myRow)
}

function tablePlus(me) {
	// Button in selection table that adds attribute rows.
	myTable = me.parentElement.parentElement.parentElement
	newRow = myTable.insertRow(2)
	newRow.innerHTML = '<td><button onclick="tableDel(this)">&#215;</button><input style="width:112px"></input></td>'
	newRow.innerHTML += '<td><input></input></td>'
}

function tableSave(me) {
	// Button that saves changes made in selection table.
	var tbl = me.parentElement.parentElement.parentElement
	var toJson = {}
	// convert HTML table to JSON
	for (var i = 1; i < tbl.rows.length; i++) {
		var key = tbl.rows[i].cells[0].lastElementChild.value
		if (key !== '') {
			toJson[key] = tbl.rows[i].cells[1].lastElementChild.value
		}
	}
	// Update tree with new values
	var clickType = previousTarget.id.split("_")[0]
	var clickID = previousTarget.id.split("_")[1]
	for (key in toJson) {
		networkData[clickType][clickID][key] = toJson[key]
	}
	// Delete properties from tree
	for (key in networkData[clickType][clickID]) {
		// HACK: DON'T DELETE DATA THAT OBJECTS MUST CONTAIN VIA CHECKING THE NAMES.
		if (!toJson.hasOwnProperty(key) && key!='latitude' && key!='longitude' && key!='bus_i' && key!='fbus' && key!='tbus' && key!='bus') {
			delete networkData[clickType][clickID][key]
		}
	}
	unsavedChanges = true;
	alert('Updated object: ' + previousTarget.id)
	tableDestroy()
}

function tableDestroy() {
	// Remove the selection table.
	tabScroll = document.getElementById('tableScroller')
	kid = tabScroll.children[0]
	if (!(kid === undefined)) {tabScroll.removeChild(kid)}
}

function deleteOb() {
	// Delete button in selection table.
	var clickType = previousTarget.id.split("_")[0]
	var clickID = previousTarget.id.split("_")[1]
	// Delete Lines
	if (clickType === 'branch') {
		previousTarget.remove()
		networkData[clickType][clickID] = {}
	}
	//Delete Squares
	if (clickType === 'gen') {
		previousTarget.remove()
		networkData[clickType][clickID] = {}
	}
	// Delete Circles
	if (clickType === 'bus') {
		gens = 0
		for (i = 0, limit = Object.keys(networkData.gen).length; i < limit; i++) {
			if (parseInt(networkData.gen[String(i+1)]['bus']) === parseInt(clickID)) {
				gens++
			}
		}
		// Check for connected lines
		lines = 0
		for (i = 0, limit = Object.keys(networkData.branch).length; i < limit; i++) {
			if ( (parseInt(networkData.branch[String(i+1)]['fbus']) === parseInt(clickID))
				|| (parseInt(networkData.branch[String(i+1)]['tbus']) === parseInt(clickID)) ) {
				lines++
			}
		}
		if (lines > 0 || gens > 0) {
			alert('Cannot delete circles with components still connected')
		}
		else {
			previousTarget.remove()
		}
	}
	unsavedChanges=true
	tableDestroy()
}

function scaleTo() {
	// Change the relative thickness of all lines and circles. Helps users see detail in big models.
	if(scaleTracker == 1)  {
		x = parseFloat(prompt("Scale line thickness by this multiple:","1.0"))
		if (!x) {
			return
		}
		scaleTracker = x;
	}
	else {
		scaleTracker = 1
		x = scaleTracker
		x = parseFloat(prompt("Scale line thickness by this multiple:","1.0"))
		if (!x) {
			return
		}
		scaleTracker = x;
	}
	circles = document.getElementsByTagName('circle')
	lines = document.getElementsByTagName('line')
	rects = document.getElementsByTagName('rect')
	// Scale Circles
	for (i = 0; i < circles.length; i++) {
		circles[i].setAttribute('r', 5*x)
		circles[i].setAttribute('stroke-width', 0.5*x)
	}
	// Scale Lines
	for (i = 0; i < lines.length; i++) {
		if (lines[i].getAttribute('class').indexOf('p2') !== -1) {
			lines[i].setAttribute('stroke-width', 2*x)
		}
		else if (lines[i].getAttribute('class').indexOf('p3') !== -1) {
			lines[i].setAttribute('stroke-width', 3*x)
		}
		else if (lines[i].getAttribute('class').indexOf('parentChild') !== -1) {
			lines[i].setAttribute('stroke-width', 0.5*x)
		}
		else {
			lines[i].setAttribute('stroke-width', x)
		}
	}
	//Scale Rects    
	for(i = 0; i < rects.length; i++) {
		xPos = parseFloat(rects[i].getAttribute('x'))
		yPos = parseFloat(rects[i].getAttribute('y'))
		width = parseFloat(rects[i].getAttribute('width'))
		height = parseFloat(rects[i].getAttribute('height'))
		strokeW = parseFloat(rects[i].getAttribute('stroke-width'))
		longitude = xPos + width/2
		latitude = yPos + height/2
		rects[i].setAttribute('width', 4*x)
		rects[i].setAttribute('height', 4*x)
		rects[i].setAttribute('stroke-width', x*0.5)
		rects[i].setAttribute('x', longitude - (2*x))
		rects[i].setAttribute('y', latitude - (2*x))
	}   
}

function multiSelectionTable() {
	// Build the table for multiple selections.
	tabScroll = document.getElementById('tableScroller')
	tbl = document.createElement('table')
	// Put in the header.
	headRow = document.createElement('tr')
	headRow.innerHTML = '<th>Selected Elements</th>'
	tbl.appendChild(headRow)
	currentSel = selection[selection.length - 1].id
	// If user was alt+clicking a selected thing, deselect it.
	for (i = 0; i < selection.length; i++) {
		if(selection[i].id == currentSel  && i != selection.length-1) {
			selection[i].classList.remove('selected')
			selection.splice(i, 1)
			selection.splice(selection.length - 1, 1)
			continue
		}
	}
	// Put the object in.
	for (i = 0; i < selection.length; i++) {
		row = document.createElement('tr')
		row.innerHTML = '<td>' + selection[i].id + '</td>'
		tbl.appendChild(row)
	}
	tabScroll.appendChild(tbl)
	// Remove header if we have deselected the last item.
	if (selection.length == 0) {
		tableDestroy()
	}
}

function newNode(typeOfNode) {
	// Create a new node object.
	newID = (Object.keys(networkData[typeOfNode]).length)+1
	newBusGenObj = {}
	newBusGenObj = {
		longitude: "0",
		latitude: "0",
		bus_i: String(newID),
		type: "3",
		Pd: "0",
		Qd: "0",
		Gs: "0",
		Bs: "0",
		area: "1",
		Vm: "1",
		Va: "0",
		baseKV: "135",
		zone: "1",
		Vmax: "1.05",
		Vmin: "0.95"
	}
	// Add handler to get user's click location for adding.
	clickTarget = document.getElementById('svgContainer')
	clickTarget.addEventListener('click', newNodeListener, false)
	document.body.style.cursor = 'crosshair'
}

function newNodeListener() {
	// Helper function that finishes node creation after user clicks on a location.
	var xloc = event.pageX
	var yloc = event.pageY
	coords = clickLatLon(event)
	xloc = coords[0]
	yloc = coords[1]
	newType = "bus"
	// Save to tree
	networkData[newType][String(newID)] = newBusGenObj
	networkData[newType][String(newID)].longitude = xloc
	networkData[newType][String(newID)].latitude = yloc
	// Draw on svg
	x = networkData[newType][String(newID)].longitude
	y = networkData[newType][String(newID)].latitude
	r = 5
	addCircle(x,y,r,newType+"_"+String(newID),newType)
	if(scaleTracker != 1.0) {
		newCir = document.getElementById(newType+"_"+String(newID))
		newCir.setAttribute('r', 5*scaleTracker)
		newCir.setAttribute('stroke-width', 0.5*scaleTracker)
	}
	clickTarget.removeEventListener('click', newNodeListener, false)
	document.body.style.cursor = 'auto'
}

function moveBus() {
	// Start the bus moving process by adding a listener
	clickTarget = document.getElementById('svgContainer')
	clickTarget.addEventListener('click', moveBusListener, false)
	document.body.style.cursor = 'crosshair'
}

function moveBusListener() {
	// Helper to complete bus movement after user clicks new location.
	currSel = lastElementSelected
	selectionIDSplit = currSel.id.split("_")
	selBusID = parseInt(selectionIDSplit[1])
	selBus = networkData["bus"][String(selBusID)]
	selBus_i_ID = selBus["bus_i"]
	coords = clickLatLon(event)
	selBus.longitude = coords[0]
	selBus.latitude = coords[1]
	for (num in networkData.branch) {
		selBranch = networkData.branch[String(parseInt(num))]
		fBusID = selBranch['fbus']
		tBusID= selBranch['tbus']
		if(fBusID == selBus_i_ID || tBusID == selBus_i_ID) {
			// Redraw connected lines containing selected bus
			document.getElementById("branch_" + String(parseInt(num))).remove()  
			fromBus = networkData.bus[fBusID]
			toBus = networkData.bus[tBusID]
			for(busIDs in networkData.bus){
				if(networkData.bus[busIDs]['bus_i'] == fBusID) {
					fromBus = networkData.bus[busIDs]
				}
				if(networkData.bus[busIDs]['bus_i'] == tBusID) {
					toBus = networkData.bus[busIDs]
				}
			}
			x1 = fromBus['longitude']
			y1 = fromBus['latitude']
			x2 = toBus['longitude']
			y2 = toBus['latitude']
			addLine(x1,y1,x2,y2,"branch_"+String(parseInt(num)),"branch" + ' p' + phaseCount(selBranch))
			if(scaleTracker != 1.0) {
				newLine = document.getElementById("branch_" + String(parseInt(num)))
				newLine.setAttribute('stroke-width', 3*scaleTracker)
			}
			// Redraw adjacent buses
			r = 5
			if(fBusID == selBusID) {
				document.getElementById('bus_' + toBus).remove()
				addCircle(x2,y2,r,"bus_"+String(toBus),"bus")
				if(scaleTracker != 1.0) {
					newCir = document.getElementById("bus_"+String(toBus))
					newCir.setAttribute('r', 5*scaleTracker)
					newCir.setAttribute('stroke-width', 0.5*scaleTracker)
				}
			}
			if(tBusID == selBusID) {
				document.getElementById('bus_' + fromBus).remove()
				addCircle(x1,y1,r,"bus_"+String(fromBus),"bus")
				if(scaleTracker != 1.0) {
					newCir = document.getElementById("bus_"+String(fromBus))
					newCir.setAttribute('r', 5*scaleTracker)
					newCir.setAttribute('stroke-width', 0.5*scaleTracker)  
				}     
			}
			//Redraw generators on adjacent buses
			for(gen in networkData.gen) {
				busGenID = networkData.gen[String(parseInt(gen))]['bus']
				if(busGenID == fBusID) {
					document.getElementById("gen_" + String(parseInt(gen))).remove() 
					addRectangle(x1 - 4/2, y1 - 4/2, 4, 4, "gen_" + String(parseInt(gen)), "gen")
					if(scaleTracker != 1.0) {
						newRect = document.getElementById("gen_"+String(parseInt(gen)))
						xPos = parseFloat(newRect.getAttribute('x'))
						yPos = parseFloat(newRect.getAttribute('y'))
						width = parseFloat(newRect.getAttribute('width'))
						height = parseFloat(newRect.getAttribute('height'))
						strokeW = parseFloat(newRect.getAttribute('stroke-width'))
						longitude = xPos + width/2
						latitude = yPos + height/2
						newRect.setAttribute('width', 4*scaleTracker)
						newRect.setAttribute('height', 4*scaleTracker)
						newRect.setAttribute('stroke-width', scaleTracker*0.5)
						newRect.setAttribute('x', longitude - (2*scaleTracker))
						newRect.setAttribute('y', latitude - (2*scaleTracker))
					}
				}
				if(busGenID == tBusID) {
					document.getElementById("gen_" + String(parseInt(gen))).remove() 
					addRectangle(x2- 4/2, y2 - 4/2, 4, 4, "gen_" + String(parseInt(gen)), "gen")
					if(scaleTracker != 1.0) {
						newRect = document.getElementById("gen_"+String(parseInt(gen)))
						xPos = parseFloat(newRect.getAttribute('x'))
						yPos = parseFloat(newRect.getAttribute('y'))
						width = parseFloat(newRect.getAttribute('width'))
						height = parseFloat(newRect.getAttribute('height'))
						strokeW = parseFloat(newRect.getAttribute('stroke-width'))
						longitude = xPos + width/2
						latitude = yPos + height/2
						newRect.setAttribute('width', 4*scaleTracker)
						newRect.setAttribute('height', 4*scaleTracker)
						newRect.setAttribute('stroke-width', scaleTracker*0.5)
						newRect.setAttribute('x', longitude - (2*scaleTracker))
						newRect.setAttribute('y', latitude - (2*scaleTracker))
					}
				}
			}
		}
	}

	//Redraw selected bus
	document.getElementById('bus_' + selBusID).remove() 
	addCircle(coords[0],coords[1],5,"bus_"+String(selBusID),"bus")  
	if(scaleTracker != 1.0) {
		newCir = document.getElementById("bus_"+String(selBusID))
		newCir.setAttribute('r', 5*scaleTracker)
		newCir.setAttribute('stroke-width', 0.5*scaleTracker)
	}
	//Redraw generator on selected bus

	for(gen in networkData.gen) {
		busGenID = networkData.gen[String(parseInt(gen))]['bus']
		//console.log(busGenID)
		if(busGenID == selBus_i_ID) {
			console.log("genny")
			document.getElementById("gen_" + String(parseInt(gen))).remove() 
			addRectangle(coords[0] - 4/2, coords[1] - 4/2, 4, 4, "gen_" + String(parseInt(gen)), "gen")
			if(scaleTracker != 1.0) {
				newRect = document.getElementById("gen_"+String(parseInt(gen)))
				xPos = parseFloat(newRect.getAttribute('x'))
				yPos = parseFloat(newRect.getAttribute('y'))
				width = parseFloat(newRect.getAttribute('width'))
				height = parseFloat(newRect.getAttribute('height'))
				strokeW = parseFloat(newRect.getAttribute('stroke-width'))
				longitude = xPos + width/2
				latitude = yPos + height/2
				newRect.setAttribute('width', 4*scaleTracker)
				newRect.setAttribute('height', 4*scaleTracker)
				newRect.setAttribute('stroke-width', scaleTracker*0.5)
				newRect.setAttribute('x', longitude - (2*scaleTracker))
				newRect.setAttribute('y', latitude - (2*scaleTracker))
			}
		}
	}
	clickTarget.removeEventListener('click', moveBusListener, false)
	document.body.style.cursor = 'auto'
}

function newGen() {
	// Create new generator.
	currSel = selection[0]
	selectionIDSplit = currSel.id.split("_")
	if(selection.length === 1 && String(selectionIDSplit[0]) == "bus") {
		newID = (Object.keys(networkData["gen"]).length)+1
		newGenObj = {}
		selBusID = parseInt(selectionIDSplit[1])
		selBus = networkData["bus"][String(selBusID)]
		newGenObj = {
			longitude: selBus.longitude,
			latitude: selBus.latitude,
			bus: String(selBusID),
			Pg: "23.54",
			Qg: "0",
			Qmax: "150",
			Qmin: "-20",
			Vg: "1",
			mBase: "100",
			status: "1",
			Pmax: "80",
			Pmin: "0",
			Pc1: "0",
			Pc2: "0",
			Qc1min: "0",
			Qc1max: "0",
			Qc2min: "0",
			Qc2max: "0",
			ramp_agc: "0",
			ramp_10: "0",
			ramp_30: "0",
			ramp_q: "0",
			apf: "0"
		}
		addRectangle(selBus.longitude - 4/2, selBus.latitude - 4/2, 4, 4, "gen_" + newID, "gen")
		if(scaleTracker != 1.0) {
			newRect = document.getElementById("gen_"+newID)
			xPos = parseFloat(newRect.getAttribute('x'))
			yPos = parseFloat(newRect.getAttribute('y'))
			width = parseFloat(newRect.getAttribute('width'))
			height = parseFloat(newRect.getAttribute('height'))
			strokeW = parseFloat(newRect.getAttribute('stroke-width'))
			longitude = xPos + width/2
			latitude = yPos + height/2
			newRect.setAttribute('width', width*scaleTracker/2)
			newRect.setAttribute('height', height*scaleTracker/2)
			newRect.setAttribute('stroke-width', strokeW*scaleTracker*0.5)
			newRect.setAttribute('x', longitude - (width*scaleTracker/4))
			newRect.setAttribute('y', latitude - (height*scaleTracker/4))
		}
		networkData["gen"][String(newID)] = newGenObj
	}
}

function newLink() {
	// Add a branch.
	busOne = selection[0].id.split("_")
	busTwo = selection[1].id.split("_")
	if (selection.length === 2 && String(busOne[0]) == "bus" && String(busTwo[0]) == "bus") {
		var newCompID = (Object.keys(networkData.branch)).length + 1
		var fBusID = parseInt(busOne[1])
		var tBusID = parseInt(busTwo[1])
		var newLink = {}
		newLink = {
			r: "0.02",
			x: "0.06",
			b: "0.03",
			rateA: "130",
			rateB: "130",
			rateC: "130",
			ratio: "0",
			angle: "0",
			status: "1",
			angmin: "-360.0",
			angmax: "360.0",
			fbus: String(fBusID),
			tbus: String(tBusID)
		}
		// Save to tree
		networkData.branch[String(newCompID)] = newLink
		// Draw on svg
		x1 = networkData.bus[String(fBusID)].longitude
		y1 = networkData.bus[String(fBusID)].latitude
		x2 = networkData.bus[String(tBusID)].longitude
		y2 = networkData.bus[String(tBusID)].latitude
		addLine(x1,y1,x2,y2,"branch_" + String(newCompID),"branch" + ' p' + phaseCount(newLink))
		if(scaleTracker != 1.0) {
			newLine = document.getElementById("branch_" + String(newCompID))
			newLine.setAttribute('stroke-width', 3*scaleTracker)
		}
		//Redraw connected components
		r = 5
		document.getElementById('bus_' + fBusID).remove()
		document.getElementById('bus_' + tBusID).remove()
		addCircle(x1,y1,r,"bus_"+String(fBusID),"bus")
		addCircle(x2,y2,r,"bus_"+String(tBusID),"bus")
		if(scaleTracker != 1.0) {
			newCir1 = document.getElementById("bus_"+String(fBusID))
			newCir1.setAttribute('r', 5*scaleTracker)
			newCir1.setAttribute('stroke-width', 0.5*scaleTracker)
			newCir2 = document.getElementById("bus_"+String(tBusID))
			newCir2.setAttribute('r', 5*scaleTracker)
			newCir2.setAttribute('stroke-width', 0.5*scaleTracker)
		}
		for(gen in networkData.gen) {
			// Check for connected buses and generators, redraw them to make sure they stay on top.
			busGenID = networkData.gen[String(parseInt(gen))]['bus']
			if(busGenID == fBusID) {
				document.getElementById("gen_" + String(parseInt(gen))).remove() 
				addRectangle(x1 - 4/2, y1 - 4/2, 4, 4, "gen_" + String(parseInt(gen)), "gen")
				if(scaleTracker != 1.0) {
					newRect = document.getElementById("gen_"+String(parseInt(gen)))
					xPos = parseFloat(newRect.getAttribute('x'))
					yPos = parseFloat(newRect.getAttribute('y'))
					width = parseFloat(newRect.getAttribute('width'))
					height = parseFloat(newRect.getAttribute('height'))
					strokeW = parseFloat(newRect.getAttribute('stroke-width'))
					longitude = xPos + width/2
					latitude = yPos + height/2
					newRect.setAttribute('width', 4*scaleTracker)
					newRect.setAttribute('height', 4*scaleTracker)
					newRect.setAttribute('stroke-width', scaleTracker*0.5)
					newRect.setAttribute('x', longitude - (2*scaleTracker))
					newRect.setAttribute('y', latitude - (2*scaleTracker))
				}
			}
			if(busGenID == tBusID) {
				document.getElementById("gen_" + String(parseInt(gen))).remove() 
				addRectangle(x2- 4/2, y2 - 4/2, 4, 4, "gen_" + String(parseInt(gen)), "gen")
				if(scaleTracker != 1.0) {
					newRect = document.getElementById("gen_"+String(parseInt(gen)))
					xPos = parseFloat(newRect.getAttribute('x'))
					yPos = parseFloat(newRect.getAttribute('y'))
					width = parseFloat(newRect.getAttribute('width'))
					height = parseFloat(newRect.getAttribute('height'))
					strokeW = parseFloat(newRect.getAttribute('stroke-width'))
					longitude = xPos + width/2
					latitude = yPos + height/2
					newRect.setAttribute('width', 4*scaleTracker)
					newRect.setAttribute('height', 4*scaleTracker)
					newRect.setAttribute('stroke-width', scaleTracker*0.5)
					newRect.setAttribute('x', longitude - (2*scaleTracker))
					newRect.setAttribute('y', latitude - (2*scaleTracker))
				}
			}
		}
	}
}


function showModal(element){
	// Show a modal dialog.
	gebi(element).style.display = 'block'
}

function closeModal(element){
	// Hide a modal dialog.
	gebi(element).style.display = 'none'
}

function showProgressDialog(progressType, dialogMessage, cancelType) {
	// Show a progress dialog for loading, converting, etc.
	background = document.createElement('div')
	background.id = 'progressBackground'
	background.style.zIndex = '9998'
	progContent = document.createElement('div')
	progContent.id = 'progressContent'
	progContent.style.zIndex = '9999'
	progressText = document.createElement('h2')
	progressText.id = 'progressText'
	progressText.textContent = dialogMessage
	document.body.appendChild(background)
	document.body.appendChild(progContent)
	// If progressType type is spinner create and show the spinner
	if (progressType == 'spinner'){
		spinner = document.createElement('img')
		spinner.src = '/static/spinner.gif'
		progContent.appendChild(spinner)
		progContent.appendChild(progressText)
		var cancelBtn = document.createElement("BUTTON");
		var t = document.createTextNode("cancel");
		cancelBtn.style.marginTop = '5px';
		cancelBtn.style.background= 'crimson'
		cancelBtn.appendChild(t);
		progContent.appendChild(cancelBtn);
	}
	// If cancelType is not none, add an onclick even to the cancel button to cancel the conversion
	if (cancelType != 'none'){
		cancelType = (typeof cancelType === 'undefined') ? 'no' : cancelType;
		cancelBtn.onclick = function() {
			if (cancelType == 'conversion'){
				if (confirm('Are you sure you want to cancel the conversion?')) {
					newnetwork.submit();
				}
			}
			else if(cancelType == 'none'){
				cancelBtn.style.display = 'none'
			}
			else
			{
				// stop rendering feeder, show file menu, etc.y
				removeProgressDialog()
			}
		};
	}
}

function removeProgressDialog() {
	// Remove the progress dialog.
	if (gebi('progressBackground')!=null)
		document.body.removeChild(gebi('progressBackground'))
	if (gebi('progressContent')!=null)
		document.body.removeChild(gebi('progressContent'))
}

function loading() {
	// Load everything in when the page is loaded.
	showProgressDialog('spinner','Loading Network', 'loading');
	// Helper function to do the stuff that takes a long time:
	function longLoadingProcess() {
		var modelName = '{{modelName}}'
		// Check conversion.
		$.ajax({
			url: "/checkConversion/" + modelName
		}).done(function (data) {
			if (data.exists == true) {
				showProgressDialog('spinner','Converting network','conversion');
				checkConversion()
			}
		})
		// Send network name to model and remove loading dialog.
		try {
			window.opener.$(window.opener.document).trigger('mainWindow', "{{ modelName }};"+"networkName{{networkNum}};"+lastNetworkName);
		} catch (err) {} // Opened directly with no previous window.
		// Finally, draw the network:
		buildNetwork();
		removeProgressDialog();
	}
	setTimeout(longLoadingProcess, 100)
}

function startConversion(elementName, nextAction) {
	// Additional check, required for Safari browsers
	var newName = document.getElementById(elementName).value;
	if (true) {
		var modelName = "{{ modelName }}"
		$.ajax({
			url: "/uniqObjName/Network/" + "{{ owner }}" + "/" + newName + "/" + modelName
		}).done(function (data) {
			if (data.exists) {
				alert("You already have a Network named '" + newName + "', please choose a different name.")
			}
			else{
				if (nextAction == 1){
					newnetwork.submit()
				}
				else{
					gebi('matpower').submit();
					showProgressDialog('spinner','Converting network','conversion');
					setTimeout(checkConversion,5000); // Set an initial delay because it takes time to create conversion files.
				}
			}
		})
	}
}

function checkConversion() {
	// Periodically check to see if any conversion is happening. And if it's done, load the converted model.
	var conversionStatus = 'converting';
		// Check every 5 seconds for a feeder & refresh.
		var setInterval = window.setInterval(function pingAPI(){
			var modelName = '{{modelName}}'
			$.ajax({
				url: "/checkConversion/" + modelName
			}).done(function (data) {
				if (data.exists) {
					conversionStatus = 'converting'
				}
				else {
					conversionStatus = 'done';
				}
			})
			if (conversionStatus == "done"){
				savePoster("{{ networkName }}", "{{ modelName }}", "{{ owner }}");
				alert("Conversion complete.")
				window.location.reload();
			}
			return pingAPI;
		}(), 5000);
}

function saveNetwork() {
	// Start save process on user command.
	gebi("fileOps").click();
	savePoster("{{ networkName }}", "{{ modelName }}", "{{ owner }}")
	alert("Network saved to disk.")
}

function savePoster(name, modelName, user) {
	// Do activity to save network over the web.
	networkObject = {
		mpcVersion: networkData.mpcVersion,
		baseMVA: networkData.baseMVA,
		bus: networkData.bus,
		gen: networkData.gen,
		branch: networkData.branch,
	}
	payload = {
		'name': name,
		'networkObjectJson': JSON.stringify(networkObject),
		"_csrf_token": "{{ csrf_token() }}",
		ref: "{{ ref }}"
	}
	unsavedChanges=false
	post_to_url("/saveNetwork/" + user + "/" + modelName + "/" + name, payload)
}

function renameNetwork() {
	// Rename the network with web server.
	if (unsavedChanges){
		alert('You have unsaved changes. Please save the network before proceeding.')
	}
	else{
		var newName = prompt("Rename the network to",lastNetworkName)
		while (! /^[\w\s]+$/.test(newName) || /^\s+$/.test(newName)){
			newName = prompt("Only letters, digits and underscore are allowed.\nPlease enter a different name", "{{ networkName }}")
		}
		if (newName){
			checkNetworkName(newName)
		}
	}
}

function checkNetworkName(newName) {
	// Check to make sure network name is unique.
	if (true) {
		var modelName = "{{ modelName }}"
		$.ajax({
			url: "/uniqObjName/Network/" + "{{ owner }}" + "/" + newName + "/" + modelName
		}).done(function (data) {
			if (data.exists) {
				alert("You already have a Network named '" + newName + "', please choose a different name.")
				renameNetwork()
			}
			else{
				gebi("fileOps").click();
				post_to_url("/renameNetwork/" + "{{ owner }}" + "/" + "{{ modelName }}" + "/" + lastNetworkName + "/" + newName + "/" + "{{ networkNum }}")
				document.getElementById('networkName').innerHTML = newName;
				lastNetworkName = newName; //permits multiple name changes without forcing page refresh.
				// Send updated name to model.
				window.opener.$(window.opener.document).trigger('mainWindow', "{{ modelName }};"+"networkName{{networkNum}};"+lastNetworkName);
				clickCloseEvent("File","fileOps")
			}
		})
	}
}

function startProcess(startUrl) {
	// Start a long running process using startUrl.
	$.ajax({
		url: startUrl
	}).done(function (data) {})
}

function startCheck(checkUrl) {
	// Do get requests to checkUrl for long running process monitoring.
	window.setInterval(function checkAPI() {
		$.ajax({
			url: checkUrl
		}).done(function (data) {
			if (data.exists == true) {
				// Still processing.
			} else if (data.exists == false) {
				// Success processing.
				removeProgressDialog()
				window.location.reload();
			} else {
				// Error processing.
				alert(data)
				removeProgressDialog()
				window.location.reload();
			}
		})
	}, 5000)
}

function anonymize() {
	// Start anonymization function.
	showProgressDialog('spinner', 'Anonymizing Network')
	startProcess('/anonymizeTrans/{{owner}}/{{networkName}}')
	startCheck('/checkAnonymizeTran/{{owner}}/{{modelName}}')
}

function downloadTextFile(fileName, text) {
	// Insert the model as text and push it as a download.
	console.log(text)
	var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', fileName);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}

{% if is_admin or not public %}
// Add prompt to save changes before exit.
window.onbeforeunload = function(e) {
	var confirmationMessage = 'It looks like you have been editing something. ';
	confirmationMessage += 'If you leave before saving, your changes will be lost.';
	if (unsavedChanges) return confirmationMessage;
};
{% endif %}
</script>