<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <style>
  body {
   padding-top: 60px;
   padding-bottom: 40px;
 }
 </style>
 <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
 <link rel="stylesheet" href="/static/css/style.css">

 <script src="/static/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>

</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="/static/http://browsehappy.com/">Upgrade to a different browser</a> or <a href="/static/http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">OMF</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Rendered Feeder View</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" id="row1">
      <div class="span2">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="/static/#">
            Add new object
            <span class="caret"></span>
          </a>
          <ul id="object-types" class="dropdown-menu">
            <!-- populated dynamically -->
          </ul>
        </div>
      </div> <!-- column 1 -->
      <div class="span9">
        <h2>Owen Urban Feeder 3</h2>
      </div> <!-- column 2 -->
      <div class="span1">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="/static/#">
            <span class="icon-wrench"></span>
          </a>
          <ul class="dropdown-menu">
            <a href="Javascript: accept();">Accept</a>
            <a href="Javascript: revert();">Revert</a>
            <a href="Javascript: saveAs();">Save as...</a>
          </ul>
        </div>
      </div> <!-- column 3 -->
    </div> <!-- row1 -->
    <div class="row" id="row2">
      <div class="span2">
        <div class="row spacer" id="row2a">
          <table id="selected" class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th colspan="2">Selected Component</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2"><button type="submit" class="btn">Apply Changes</button></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- row2a -->
        <div class="row spacer" id="row2b">
          <table id="disconnected" class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th colspan="2">Disconnected Components</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>House:</td>
                <td>House 1</td>
              </tr>
              <tr>
                <td>Transformer:</td>
                <td>Transformer 1</td>
              </tr>
              <tr>
                <td>Line:</td>
                <td>Line 1</td>
              </tr>
            </tbody>
          </table>
        </div> <!-- row2b -->
      </div> <!-- column1 -->
      <div class="span10">

        <div id="houseModal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Add new house object</h3>
          </div>
          <div class="modal-body">
            <h4>Text in a modal</h4>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>

            <h4>Popover in a modal</h4>
            <p>This <a href="#" class="btn popover-test" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on hover.</p>

            <h4>Tooltips in a modal</h4>
            <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> should have tooltips on hover.</p>

            <hr>

            <h4>Overflowing text to show optional scrollbar</h4>
            <p>We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.</p>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
          </div>
        </div>

        <div id="progress" class="progress progress-striped active progress-success">
          <div id="progress_bar" class="bar" style="width: 0%;"></div>
        </div>
        <div id="popover" rel="popover" title="default" data-content="default"></div>
        <div style="display: none;" id="chart"></div>
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; NRECA 2012</p>
  </footer>
</div> <!-- /container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/libs/d3.v2.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/libs/bootstrap/tooltip.js"></script>
<script src="/static/js/libs/bootstrap/popover.js"></script>

<script>

var model_id = "{{model_id}}";
$('#popover').popover();
</script>

<script src="/static/js/script.js"></script>

</body>
</html>
