/*INPUT*/
table.modelOptions {
	width: 70%;
	text-align: left;
	margin-left: auto;
}
input {
	border-bottom: thin dotted black; 
	text-align: right;
	padding-right: 5px;
}
input[readonly="readonly"], input[readonly], textarea[readonly] {
	color: gray;
}
input[type="text"], select {
	font-size: medium; 
	display: inline; 
	margin:0px;
}
label {
	display: inline; 
	line-height: 16pt;
}
button {
	width: auto;
}

hr {height:2px; width:1000px; border-top: 2px dashed gray; margin: 10px 0px 10px -10px;}

div#input {
	margin-top: 0px;
}
div.content {
	width: 980px;
}
div.shortInput {
	width: 323px; 
	display: inline-block; 
	margin-bottom: 10px;
}
div.wideInput {
	width: 980px; 
	margin-bottom: 10px;
}
button#cancelButton {
	background: crimson;
}
button#cancelButton:hover {
	background: red;
}
td,th {
	text-align: right;
}
a {
	cursor: hand;
}

.add-feeder, .edit-feeder {
	display: inline;
}

/*OUTPUT*/
circle.HighlightCircle{
	fill: rgb(16, 150, 24);
}
div.tightContent {
	width: 1000px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 0px; 
	margin-bottom: 20px; 
	border-style: solid; 
	border-color: gray;
	border-width: 1px 0px 1px 0px; 
	background-color: white;
}
div.tightContent div {
	margin-top: 0px;
	margin-bottom: 0px; 
	border: none;
}
div.tightContent div + div {
	margin-top: 0px; 
	margin-bottom: 0px;
}
div.studyTitleBox {
	position: absolute;
	width: 30px;
	left: -30px;
	height: 100%;
	top: -1px;
	background-color: #d3d3d3;
	border-style: solid!important;
	border-color: gray!important;
	border-width: 1px 0px 1px 0px!important;
	font-size: 10pt;
	overflow: hidden;
}
div.studyContainer {
	position: relative;
}

div.tableReport {
	overflow-x: scroll;
}

p.reportTitle {
	padding: 10px; 
	width: 1000px; 
	margin: 20px auto 0px auto; 
	font-size: 16pt;
	display: block;
}
p.studyTitle {
	writing-mode: tb-rl;
	filter: flipv fliph;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	white-space: nowrap;
	display: block;
	padding: 10px;
}
pre.stdoutBlock {
	word-wrap: break-word;
	display: inline-block; 
	width: 475px; 
	overflow-x: hidden; 
	padding-left: 10px; 
	vertical-align: top; 
	font-size: 8pt;
}
div.stdouts {
	overflow-x: auto;
	white-space: nowrap; 
	margin-top: 0px;
}
table#detailsTable th, table#detailsTable td {
	text-align: center; 
	padding: 5px; 
	vertical-align:top; 
}
.preRun, .running, .postRun, p.postRun, .runningInline, .postRunInline, .stoppedInline, .stopped, div.preRun, div.running, div.postRun, div.runningInline, div.postRunInline, div.stoppedInline, div.stopped {
	display: none;
}
.advancedOption.shortInput {
	display: none;
	text-align: left;
}
.tooltip {
	border-bottom: 1px dotted #000000; 
	color: #000000; 
	outline: none;
	cursor: help; 
	text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
	display: inline-block;
}
.tooltip:hover span {
	border-radius: 5px 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; 
	left: 0.5em; 
	top: 1.5em; 
	z-index: 99;
	margin-left: 0; 
	width: 200px;
}
.classic {background: #A9A9A9; 
	color: white; 
	padding: 5px 5px;
}