/**********************************************
HEADER and MENU LINKS
**********************************************/
div#header{
	width:100%;
	min-width:1000px;
	height:25px;
	background:black;
	padding:0.6em 0 0.6em 0;
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; }
div#headInnerBlock{width:1000px;height:40px;font-size:medium;color:white;margin: 4px auto 0 auto;}
div#menuLeft{height:40px;float:left;font-size:medium;color:white;margin-left:5px;}
div#menuRight{height:40px;font-size:medium;color:white;float:right;}
div#arrow {font-size:8pt;position:absolute;margin-top:2px;margin-left:4px;display:inline;}
ul.menu {
	z-index: -1;
	position:absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 100px;
	padding: 5px 0px 5px 0px;
	/*margin: 1px 0 0;*/
	list-style: none;
	display: none;
	text-align:left;
	background-color:#F8F8F8;
	padding:0;
	/*border: 1px solid #CCC;*/
	-webkit-border-radius: 5px 0px 5px 5px;
	-moz-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
	-webkit-box-shadow: 0 11px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 11px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 11px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box; }
ul.menu.right {right: 0; left: auto; padding:5px 0px 5px 0px;}
ul.menu.left {right: auto; left:auto; padding:5px 0px 5px 0px;}
ul.menu.center {right: auto; left:-45%;}
ul.menu li {padding:0px;}
ul.menu li:hover {background:green;color:white;}
ul.menu li:hover a {color:white;}
ul.menu a {display:block; color:black; padding:4px;}
ul.menu a:hover {color:white;}
ul.menu {display:block; color:black; padding:4px;}
ul.menu ul.menu:hover, ul.menu:visited:hover {color:white;}
* {margin:0px; padding:0px; border:0px;}
div.buttonGroup { display: inline-block; position:relative; }		
button.pill{
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color:white;
	font-size:medium;			
	width: auto;
	height:35px;
	margin: 0px;
	margin-top:-5px;
	padding:0.3em;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color:#E0E0E0;
	display:inline-block;
	border:none;background:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;
	white-space: nowrap;
	display:inline-block;}
button.pill:hover{background:transparent;}	

/**********************************************
BODY AND CONTENT
**********************************************/
body {
	font-family:Helvetica,Arial,sans-serif;
	background:gainsboro;
	padding:0px;
	margin:0px;
	min-width: 1000px; }
div.content {
	background: white;
	padding: 10px;
	width: 980px;
	max-width:980px;
	min-width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 0.5px solid lightgray;
	border-radius: 8px;
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
	}
.highcharts-container {border-radius: 8px}
.main-svg {border-radius: 8px}
@media print {
	body {background:white}
	button {display:none !important} }

/**********************************************
FORMS, LABELS, BUTTONS AND INPUT FIELDS
**********************************************/
form {
	line-height:10pt;
	padding: 0px;
	margin: 0px;}
input {
	border-bottom: thin dotted black; 
	text-align: right;
	padding-right: 5px;}
label {
	display: inline; 
	line-height: 16pt;}
reportLabel {
	font-style: inline;
	font-weight: 600;
	display: inline; 
	line-height: 16pt;}
select, input[type='text'], input[type='email'], input[type='file'], input[type='number'], button {
	width:100%;
	background:gainsboro;
	font-size: medium; 
	padding:4px;
	display: inline; 
	margin:0px;
	border-width:1px;
	border-color:white;
	border-style:solid; 
	border-radius: 7px;}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) 75%;
  background-repeat: no-repeat;
  background-color: gainsboro;}
button, input[type='submit'], label.fileButton {
	width:auto;
	padding: 4px;
	margin-right:3px;
	font-size:small;
	background:seagreen;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	color: white;
	cursor:pointer; }
input[readonly="readonly"], input[readonly], textarea[readonly] {color: gray;}
input[readonly="out"], input[out], textarea[out] {
	font-size: smaller;
	color: black;
	background-color: white;
	text-align: left;
	font-style: italic;}
button:hover, input[type='submit']:hover {background:mediumseagreen;}
div#input {margin-top: 0px;}
div.shortInput {
	width: 323px;
	display: inline-block; 
	margin-bottom: 10px;}
div.shorterInput {
	width: 241px; 
	display: inline-block; 
	margin-bottom: 10px;}
div.wideInput {
	width: 980px; 
	margin-bottom: 10px;}
button#cancelButton {background: crimson;}
button#cancelButton:hover {background: red;}
hr {height:2px; width:1000px; border-top: 2px dashed gray; margin: 10px 0px 10px -10px;}
p.inputSectionHeader {
	margin-top: 15px;
	font-size: 14pt;
	font-style: italic;
	margin-bottom: -3px;}
.add-feeder, .edit-feeder {display: inline;}
input.uploadFileName {
	display: inline !important;
	font-size: 12pt !important;
	overflow-x: auto !important;
	border-bottom: none !important;
	text-align: left !important;
	width: 238px;
}

/**********************************************
MODEL OUTPUT
**********************************************/
circle.HighlightCircle{fill: yellow;}
div.tightContent {
	width: 1000px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 0px; 
	margin-bottom: 20px; 
	background-color: white;
	border: 0.5px solid lightgray;
	border-radius: 8px;
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; }
div.tightContent div {
	margin-top: 0px;
	margin-bottom: 0px; 
	border: none;}
div.tightContent div + div {
	margin-top: 0px; 
	margin-bottom: 0px;}
div.studyTitleBox {
	position: absolute;
	width: 30px;
	left: -30px;
	height: 100%;
	top: -1px;
	background-color: #d3d3d3;
	border-style: solid!important;
	border-color: gray!important;
	border-width: 1px 0px 1px 0px!important;
	font-size: 10pt;
	overflow: hidden;}
div.studyContainer {
	position: relative;}
div.tableReport {
	overflow-x: scroll;}
p.reportTitle {
	padding: 10px; 
	width: 980px; 
	margin: 20px auto 0px auto; 
	font-size: 16pt;
	display: block;}
p.studyTitle {
	filter: flipv fliph;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	white-space: nowrap;
	display: block;
	padding: 10px; }
pre.stdoutBlock {
	word-wrap: break-word;
	display: inline-block; 
	width: 475px; 
	overflow-x: hidden; 
	padding-left: 10px; 
	vertical-align: top; 
	font-size: 8pt;}
div.stdouts {
	overflow-x: auto;
	white-space: nowrap; 
	margin-top: 0px;}
.tooltip {
	border-bottom: 1px dotted #000000; 
	color: #000000; 
	outline: none;
	cursor: help; 
	text-decoration: none;
	position: relative;}
.tooltip span {
	margin-left: -999em;
	position: absolute;
	display: inline-block;}
.tooltip:hover span {
	border-radius: 5px 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; 
	left: 0.5em; 
	top: 1.5em; 
	z-index: 99;
	margin-left: 0; 
	width: 200px;}
.classic {background: #A9A9A9; 
	color: white; 
	padding: 5px 5px;}

/**********************************************
PROGRESS DIALOG CODE
**********************************************/
div#progressBackground {
	position:fixed;
	top:0;
	left:0;
	background:black;
	opacity:0.8;
	width:100%;
	height:100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
div#progressContent {
	padding:20px;
	width:300px;
	background-color: white;
	opacity:1;
	text-align:center;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left:-150px;
	margin-top: -100px; }
div#progBar {
	background-color: black;
	width:300px;
	border-radius: 13px; /* (height of inner div) / 2 + padding */
	padding: 3px; }
div#progColor {
	/*transition: width 2s;*/
	background-color: orange;
	width: 0%; /* Adjust with JavaScript */
	height: 20px;
	border-radius: 10px; }
#progressText {margin-top:20px;}

/**********************************************
TABLES
**********************************************/
td, th {padding:3px;text-align: right;}
table {border-spacing:0px;}
table#detailsTable th, table#detailsTable td {
	text-align: center; 
	padding: 5px; 
	vertical-align:top; }

/**********************************************
LINKS
**********************************************/
a {text-decoration:none; color:mediumseagreen;cursor: hand;}
a:visited {color:seagreen;}

/**********************************************
MODAL DIALOGS
**********************************************/

.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* If scroll is needed change to auto */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    text-align: center;
}

#modalCancel{
	width:45px;
	font-size:small;
	background:seagreen;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	color: white;
	cursor:pointer; 
	padding:4px 6px 4px;
}

#blankModal{
	width: 300px;
}

#emailModal {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
}

#emailModalContent {
	padding: 20px;
	border-radius: 10px;
	background-color: #fefefe;
	max-height: 80vh;
	overflow: auto;
	max-width: 650px;
	text-align: center;
}

#emailModalContent table {
	/* The width of the table is throwing the width of the td's out of whack */
	width: 80%;
	margin: 16px auto;
	border: 0px;
	table-layout: auto;
}

#emailModalContent tbody, #emailModalContent tr {
	border: 0px;
	background: none;
}

#emailModalContent td {
	text-align: center;
	padding: 7px 0px;
	border: 0px;
}

#emailModalContent input {
	text-align: left;
	max-width: 400px;
}

#emailModalContent button {
	font-size: medium;
	margin: 0px;
}

#emailModalContent h1 {
	all: revert;
}

#emailModalContent p {
	all: revert;
	text-align: left;
	line-height: 2rem;
	max-width: 35.3rem;
	margin: 20px auto;
}

#emailModalContent td[data-isinvalid="true"] {
	color: red;
}

#emailModal .tableContainer {
	height: 30vh;
	overflow: auto;
	margin: 20px auto;
}

#emailModalContent .buttonDiv {
	display: flex;
	margin-top: 70px;
}

#emailModalContent .deleteButton {
	background-color: red;
}




/**********************************************
VERSION FLAGS
**********************************************/
div#triangle-parent {
	position: absolute;
	visibility: hidden;
}

div#triangle-message {
	width: 50px;
	transform:rotate(-45deg);
	position: absolute;
	text-align: center;
	z-index:1;
	top:5px;
	color: white; 
	outline: none;
	cursor: help;
}

div#triangle-message span {
	text-align: left;
	transform:rotate(45deg);
	position: absolute;
	display: none;
}

div#triangle-message:hover span {
	display: inline-block;
	border-radius: 5px 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute;
	right: -90px;
	top: 90px;
	z-index: 99;
	width: 200px;
}

div#triangle-topright { 
	width: 0;
	height: 0;
	border-top: 75px solid #FF0000;
	border-right: 75px solid transparent;
	position: relative;
}

span.classic-triangle {
	background: #A9A9A9; 
	color: white;
	line-height: 16pt;
	padding: 5px 5px;
}