<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style type="text/css">

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#imageCanvas {
	width: 100%;
	height: 100%;
	position: absolute;
}

.img{
	position:absolute;
	z-index:-1;
	width: 100%;
	height: 100%;
}

</style>
<body>
	<div id="canDiv">
		<img class='img' id="dsImage" src="{{newImage}}" alt="" />
		<canvas id="imageCanvas" height="800" width="800" >
		</canvas>
	<div id="controller">
		<form name="inputForm" id="inputForm">
			<label>x_low</label>
			<input type="text" name="x_low" id="x_low" value="{{x_low}}"/>
			<label>y_low</label>
			<input type="text" name="y_low" id="y_low" value="{{y_low}}"/>
			<label>x_high</label>
			<input type="text" name="x_high" id="x_high" value="{{x_high}}"/>
			<label>y_high</label>
			<input type="text" name="y_high" id="y_high" value="{{y_high}}"/>
			<button id="changeGraph" type="submit">Zoom button</button>
		</form>
	</div>
	</div>
	 <script>
      var canvas = document.getElementById('imageCanvas');
      var context = canvas.getContext('2d');
      var imageObj = new Image();

      var canDiv = document.getElementById('canDiv');
      var domRect = canvas.getBoundingClientRect();
      console.log(domRect);
      //console.log(imageObj);
    </script>
	<div id="imageClick"></div>
	<script type="text/javascript">
	$(document).ready(function() {
		var data = {};
	    $("#imageCanvas").on("mousedown", function(event) {
	    	event.preventDefault();
	    	var domRect = this.getBoundingClientRect();
	        var x_down = (event.pageX - this.offsetLeft) / domRect.width;
	        console.log(domRect);
	        //console.log(event.pageX);
	        //console.log(this.offsetLeft);
	        //console.log(this.width);
	        var y_down = (event.pageY - this.offsetTop) / domRect.height;
	        //console.log(x_down);
	        //console.log(y_down);

	        data['x_down'] = x_down;
	        data['y_down'] = y_down;});

			$("#imageCanvas").on("mouseup", function(event) {
				var domRect = this.getBoundingClientRect();
			    var x_up = (event.pageX - this.offsetLeft) / domRect.width;
			    var y_up = (event.pageY - this.offsetTop) / domRect.height;
			    console.log("release mouse");
			    //console.log(x_high);
			    //console.log(y_high);

			    data['x_up'] = x_up;
			    data['y_up'] = y_up;
			//console.log(data);

			$.ajax({
			    type: 'POST',
			    url: '/zoom',
			    dataType: 'json',
			    contentType: 'application/json; charset=utf-8',
			    data: JSON.stringify(data),
			    success: function(callback) {
			        // Watch out for Cross Site Scripting security issues when setting dynamic content!
			        console.log("test");
					//var canvas = document.getElementById('imageCanvas');
					//var context = canvas.getContext('2d');
					//context.clearRect(0, 0, canvas.width, canvas.height);
					//console.log(callback);
					//var imageObj = new Image();
					//imageObj.onload = function() {
				    //    context.drawImage(imageObj, 0, 0);
				    //  };
					//console.log(imageObj);
					//context.drawImage(imageObj, 0, 0);
					$('#dsImage').attr('src', callback.newImage);
					//console.log(imageObj);
			        //$('#dsImage').attr('src', callback.newImage);;
			    },
			    error: function() {
			        $(this).html("error!");
			    }
			});
	    });
	});
	</script>
	<script type="text/javascript">
        $('#inputForm').submit(function(e) {
                e.preventDefault();

                var data = {};
                var Form = this;

                $.each(this.elements, function(i, v) {
                    var input = $(v);
                    data[input.attr("name")] = input.val();
                    delete data["undefined"];
                });

                $.ajax({
                    type: 'POST',
                    url: '/changeRange',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    context: Form,
                    success: function(callback) {
                        console.log('testing');
                        // Watch out for Cross Site Scripting security issues when setting dynamic content!
                        $('#dsImage').attr('src', callback.newImage);
                    },
                    error: function() {
                        $(this).html("error!");
                    }
                });
            });
    </script>
</body>