<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Leaflet  Imports -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
	integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
	crossorigin=""></script>
	<script>
	function post_to_url(path, params, method) {
		method = method || 'post' // Set method to post by default, if not specified.
		var form = document.createElement('form');
		form.setAttribute('method', method);
		form.setAttribute('action', path);
		for(var key in params) {
			if(params.hasOwnProperty(key)) {
				var hiddenField = document.createElement('input');
				hiddenField.setAttribute('type', 'hidden');
				hiddenField.setAttribute('name', key);
				hiddenField.setAttribute('value', params[key]);
				form.appendChild(hiddenField);
			}
		}
		document.body.appendChild(form)
		form.submit()
	}
	</script>
	<style type="text/css">
		#mapid { height: 800px; width: 800px; }
	</style>
</head>
<body>
	<div id="mapid"></div>
	<script type="text/javascript">
		let x_mean = (parseFloat("{{x_high}}") + parseFloat("{{x_low}}")) / 2
		let y_mean = (parseFloat("{{y_high}}") + parseFloat("{{y_low}}")) / 2
		console.log(y_mean, x_mean, "{{x_high}}", "{{y_high}}");
		var mymap = L.map('mapid').setView([y_mean, x_mean], 5);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: null,
		maxZoom: 18,
		id: 'mapbox.streets'
		//accessToken: 'your.mapbox.access.token'
		}).addTo(mymap);
		var imageUrl = 'data:image/png;base64,{{image}}';
    	var imageBounds = [["{{y_high}}", "{{x_high}}"], ["{{y_low}}", "{{x_low}}"]];
		L.imageOverlay(imageUrl, imageBounds).addTo(mymap);
	</script>
	<script type="text/javascript">
		function changeZoom(){
			var inputForm = document.getElementById('inputForm');
		}
	</script>
	<div>
		<form name="inputForm" id="inputForm" onsubmit="changeZoom();" method="post">
			<label>x_low</label>
			<input type="text" name="x_low" id="x_low" value="{{x_low}}"/>
			<label>y_low</label>
			<input type="text" name="y_low" id="y_low" value="{{y_low}}"/>
			<label>x_high</label>
			<input type="text" name="x_high" id="x_high" value="{{x_high}}"/>
			<label>y_high</label>
			<input type="text" name="y_high" id="y_high" value="{{y_high}}"/>
			<button id="changeGraph" type="submit">Zoom button</button>
		</form>
	</div>
</body>