#modalInsert {
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    display: none;
    /* The modalInsert div needs a height in order for inner divs to be able to use percentage values for max-height */
    height: 100%; /* DO NOT CHANGE THIS */
    justify-content: center;
    position: absolute;
    /*top: calc(var(--headerHeight));*/
    top: 0;
    width: 100%;
    /* z-index is is needed to cover the sideNav */
    z-index: 2;

}
#modalInsert.visible {
    display: flex;
}

/* Support for renderReadOnlyModal */
div.leaflet-popup-content div.js-div--modal.featureEditModal {
    border-radius: 0px;
}
table.plainTable td, table.plainTable th {
    border: 0px solid black;
}
div.js-div--modal.featureEditModal table.table--modal.plainTable td:nth-child(2) {
    max-width: initial;
    width: initial;
}
table.table--modal.plainTable td, table.table--modal.plainTable th {
    padding: .25rem;
}

