<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
<script src="{{ STATIC_URL }}script.js"></script>
<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />
<h1>Hello.  This is a django app!</h1>


<h1>New Post!</h1>
<form action="{% url 'dj_unchained.views.new_post' %}" method="post" id="new_post">
  {% csrf_token %}
  <input type="text" name="title" placeholder="Title"><br>
  <input type="text" name="author" placeholder="Author"><br>
  <textarea name="text" rows="10" cols="50"></textarea><br>
  <input type="submit" value="Submit">
</form>

<div id="allPosts">
  {% for p in posts %}
  {% include "post.html" %}
  {% endfor %}
</div>
