<head>
	<title>Open Modeling Framework</title>
	<meta charset='utf-8'>
	<link type='text/css' rel='stylesheet' href='../static/omf.css' />
	<link rel='shortcut icon' href='{{ url_for("static", filename="favicon.ico") }}'>
</head>

<body>
	<div id='title'>
		<div id='logoBox'><a href='/'>▦</a></div>
		<!--Title:-->Analysis Creation
	</div>
	<div class='content'>
		<form action='/saveAnalysis/' method='post'><table id='newAnalysisOptions'>
			<tr>
				<td>Analysis Name</td>
				<td><input type='text' name='analysisName'/></td>
			</tr>
			<tr>
				<td>Feeder</td>
				<td>
					<select name='feederName'>
					{% for feeder in feeders %}
					<option value='{{ feeder }}'>{{ feeder }}</option>
					{% endfor %}
					</select>
					<button type='button' onclick='javascript:window.location="../model/large"'>Edit Selected Feeder</button>
				</td>
			</tr>
			<tr>
				<td>Location</td>
				<td>
					<select name='tmy2name'>
					{% for tmy2 in tmy2s %}
					<option value='{{ tmy2 }}'>{{ tmy2 }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Simulation Length</td>
				<td><input type='text' name='simLength'/></td>
			</tr>
				<td></td>
				<td>
					<input type='radio' name='simLengthUnits' value='minutes'/> Minutes
					<input type='radio' name='simLengthUnits' value='hours'/> Hours
					<input type='radio' name='simLengthUnits' value='days'/> Days
				</td>
			<tr>
			</tr>
				<td>Output to Visualize</td>
				<td>
					<input type="checkbox" name="Recorders" value="networkMap"/>Grid Network Map<br/>
					<input type="checkbox" name="Recorders" value="nodeVoltage"/>Node Voltage<br/>
					<input type="checkbox" name="Recorders" value="regulators"/>Regulator Power<br/>
					<input type="checkbox" name="Recorders" value="capacitors"/>Capacitor Charge<br/>
					<input type="checkbox" name="Recorders" value="climate"/>Climate<br/>
					<input type="checkbox" name="Recorders" value="transformers"/>House Activity Sample<br/>
				</td>
			<tr>
				<td></td>
				<td><button type='submit'>Save Analysis</button></td>
			</tr>
		</table></form>
	</div>
</body>