<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		iframe {display:block; height:calc(100% - 50px); width:100%; border:none; margin:none;}
		.circModelButtons {display:block; margin:5px;}
		.circModelBox {margin-top:10px;}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="menuLeft">
			<a style="color:white" href="/">OMF</a> &#187;&nbsp;&nbsp;Model
			&#8220;{% if modelStatus == "preRun"%}Real Time Circuit Simulator
			{% else %}<p id="titleText" style="display:inline"></p>{% endif %}&#8221;
		</div>
	</div>
	<iframe id="circFrame" src="{{pathPrefix}}/static/circuitjs1/circuitjs.html"></iframe>
	<!-- <button id='exportButton' style='position:absolute;bottom:5px;right:5px' onclick='exportString()'>clickSave</button> -->
	<div id="circuitInputs" style='position:absolute;bottom:10px;right:5px;width:150px;margin-top:10px'>
		<form name="inputForm" {% if modelStatus == "preRun" %} onsubmit="event.preventDefault(); return checkModelName();" {% endif %} action="/runModel/"method="post">
			<div class="circModelBox">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models:-circuitRealTime" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="_circuitRealTime" readonly/>
			</div>
			<div class="circModelBox">
				<label>Model Name</label><br>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required"></td>
			</div>
			<div class="runningInline postRunInline circModelBox">
				<label>User</label><br>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="runningInline postRunInline circModelBox">
				<label>Created</label><br>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="circModelBox">
				<button id="deleteButton" type="button" class="circModelButtons preRun stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="circModelButtons preRun stoppedInline postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="circModelButtons preRun stoppedInline postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" type="submit" class="circModelButtons preRun stoppedInline postRunInline">Save</button>
			</div>
			<div id="copyrightNotice" style="color:gray;line-height:14pt;margin-top:20px">Circuit Simulator Applet was developed by <a href="http://www.falstad.com/" target="_blank">Paul Falstad</a></div>
		</form>
	</div>
</body>
<script type="text/javascript">
	function exportString() {
		alert(document.getElementById('circFrame').contentWindow.$circuitjs('EXPORT_AS_TEXT'))
	}
</script>