<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<link href="{{pathPrefix}}/static/models.css" type="text/css" rel="stylesheet"/>
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="{{pathPrefix}}/static/heatmap.src.js"></script>
	<!-- Global Funcs Import -->
	<script type="text/javascript" src="{{pathPrefix}}/static/models.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<style type="text/css">thead{font-weight:bold} table{width:980px; font-size:12}</style>
</head>
<body onload="init()">
	<div id="title">
		<div id="logoBox"><a href="/">&#10059;</a></div>
		<p id="titleText">New Consumer Owned Solar Model</p>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post" onsubmit="return validateForm()">
			<div class="shortInput">
				<label>Model Type</label>
				<input type="text" id="modelType" name="modelType" value="_consumerOwnedSolar" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" data-validRegex="[\w\s]+"/>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Climate<span class="classic">Pick a climate data</span></label>
				<select id="climateName" name="climateName">
					{% for climate in datastoreNames["climates"] %}
						<option value="{{ climate }}">{{ climate }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Average System Size (kWp-DC)<span class="classic">Average System Size<br>Type: <em>float</em></span></label>
				<input type="text" id="avgSystemSize" name="avgSystemSize" data-validRegex="\d+\.?\d*"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Residential Customers With Solar (%)<span class="classic">Residential Customers With Solar<br>Type: <em>float</em> [0..1]</span></label>
				<input type="text" id="resPenetration" name="resPenetration" data-validRegex="\d+\.?\d*"/>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Customer Service Charge ($)<span class="classic">Customer Service Charge</span></label>
				<input type="text" id="serviceCharge" name="serviceCharge" data-validRegex="\d+\.?\d*" value="15"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Retail Energy Cost ($/kWh)<span class="classic">Retail Energy Cost</span></label>
				<input type="text" id="retailCost" name="retailCost" data-validRegex="\d+\.?\d*" value="0.10"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Net Metering Maximum Export (%)<span class="classic">Net Metering Maximum Export</span></label>
				<input type="text" id="retailCost" name="retailCost" data-validRegex="\d+\.?\d*" value="0.10"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Wholesale Energy Cost ($/kWh)<span class="classic">Wholesale Energy Cost</span></label>
				<input type="text" id="wholesaleCost" name="wholesaleCost" data-validRegex="\d+\.?\d*" value="0.08"/>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Simulation Length<span class="classic">Simulation Length</span></label>
				<input type="text" id="simLength" name="simLength" data-validRegex="\d+"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Length Units<span class="classic">Length Units</span></label>
				<select id="simLengthUnits" name="simLengthUnits">
					<!--<option value="minutes">Minutes</option> -->
					<option value="hours">Hours</option>
					<option value="days">Days</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Start Date (YYYY-MM-DD)<span class="classic">Simulation Start Date</span></label>
				<input type="text" id="simStartDate" name="simStartDate" data-validRegex="\d\d\d\d-\d\d-\d\d"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Derate (%)<span class="classic">Derate</span></label>
				<input type="text" id="derate" name="derate" data-validRegex="\d+\.?\d*" value="0.77"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tracking Mode<span class="classic">Tracking Mode</span></label>
				<select id="trackingMode" name="trackingMode"/>
					<option value="0">Fixed</option>
					<option value="1">1 Axis</option>
					<option value="2">2 Axis</option>
					<option value="3">Azimuth Axis</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tilt = Latitude<span class="classic">Tilt = Latitude<br>Type: <em>boolean</em></span></label>
				<input type="text" id="tilt" name="tilt" value="True"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Azimuth (degrees)<span class="classic">Azimuth</span></label>
				<input type="text" id="azimuth" name="azimuth" value="180"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tracker rotation limit (deg)<span class="classic">Tracker rotation limit</span></label>
				<input type="text" id="rotlim" name="rotlim" value="45.0"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Nominal operating cell temperature (C)<span class="classic">Nominal operating cell temperature</span></label>
				<input type="text" id="t_noct" name="t_noct" value="45.0"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Reference cell temperature (C)<span class="classic">Reference cell temperature</span></label>
				<input type="text" id="t_ref" name="t_ref" value="25.0"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Max power temperature coefficient (%/C)<span class="classic">Max power temperature coefficient</span></label>
				<input type="text" id="gamma" name="gamma" value="-0.5"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter efficiency at rated power (frac)<span class="classic">Inverter efficiency at rated power</span></label>
				<input type="text" id="inv_eff" name="inv_eff" value="0.92"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Diffuse fraction (0..1)<span class="classic">Diffuse fraction</span></label>
				<input type="text" id="fd" name="fd" value="1.0"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Rating condition irradiance (W/m2)<span class="classic">Rating condition irradiance</span></label>
				<input type="text" id="i_ref" name="i_ref" value="1000"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Min reqd irradiance for operation (W/m2)<span class="classic">Min reqd irradiance for operation</span></label>
				<input type="text" id="poa_cutin" name="poa_cutin" value="0"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Wind stow speed (m/s)<span class="classic">Wind stow speed</span></label>
				<input type="text" id="w_stow" name="w_stow" value="0"/>
			</div>
			<div class="wideInput" style="text-align:right">
					<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
					<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
					<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
					<button id="runButton" type="submit" class="preRun">Run Model</button>
					<button id="rerunButton" type="submit" class="stoppedInline postRunInline">Re-Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results.
	</div>
	<div id ="stopIndicator" class="content stopped">
		Model cancelled or encountered an error. Please change inputs and re-run.
	</div>
	<div id="output">
		<script id="globalOutputScripting">
			Highcharts.setOptions({global: { useUTC: false }})
			var diff = Date.parse(allOutputData.timeStamps[0].substr(0,19)) - Date.parse(allOutputData.timeStamps[0])
			pointStart = Date.parse(allOutputData.timeStamps[0]) + diff
			pointInterval = Date.parse(allOutputData.timeStamps[1]) - Date.parse(allOutputData.timeStamps[0])
			function insertMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = name
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = vector[i]
				}
			}
		</script>
		<p class="reportTitle postRun">Hourly System Performance</p>
		<div id="powerGenerationReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series": [{"marker":{"enabled":false},"color":"red","data":allOutputData.powerOutputAc,"name":"Power Generated"}],
					"yAxis":{"title":{"text":"Power (W)","style":{"color":"gray"}},"plotLines":[{"color": "orange",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"Nameplate","align":"right","y":12,"x":0},
						"value": parseFloat(allInputData.systemSize)*1000,"zIndex": 0}]},
					"chart":{"zoomType":"x","marginBottom":40,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Monthly System Performance</p>
		<div id="monthlyPerformanceReport" class="tightContent postRun">
			<div id="monthlyPerformanceDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"shadow":false},"line":{"marker":{"enabled":false}}},
					"xAxis":{"type":"category","tickColor":"gray","lineColor":"gray"},
					"title":{"text":null},
					"series":[{"name":"Power Generated", "color":"orange", "data":allOutputData.monthlyGeneration, "dataLabels":{"enabled":false}}],
					"yAxis":{"title":{"text":"Energy (Wh)","style":{"color":"gray"}}},
					"chart":{"marginBottom":40,"zoomType":"disabled","renderTo":"monthlyPerformanceDiv","type":"column","marginRight":20,"height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Climate</p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":[{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Ambient Temperature (F)"]},
						{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
						{"name":"Direct Irradiance (W/m^2)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Direct Irradiance (W/m^2)"]},
						{"name":"Difuse Irradiance (W/m^2)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Difuse Irradiance (W/m^2)"]},
						{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Cell Temperature (F)"]}],
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Monthly Data Table</p>
		<div id="monthlySummaryReport" class="tightContent postRun tableReport">
			<table id="monthlySummaryTable">
			</table>
			<script>
				insertMetric("monthlySummaryTable","Month", allOutputData.monthlyGeneration.map(function(x){return x[0]}))
				insertMetric("monthlySummaryTable","Generation", allOutputData.monthlyGeneration.map(function(x){return x[1]}))
			</script>
		</div>
		<p class="reportTitle postRun">Annual Data Table</p>
		<div id="annualSummaryReport" class="tightContent postRun tableReport">
			<table id="annualSummaryTable">
			</table>
			<script>
				insertMetric("annualSummaryTable","Year", Array.apply(null, {length: parseFloat(allInputData.lifeSpan)}).map(Number.call, Number))
				insertMetric("annualSummaryTable","Generation Income", allOutputData.lifeGenerationDollars)
				insertMetric("annualSummaryTable","Purchase Costs", allOutputData.lifePurchaseCosts)
				insertMetric("annualSummaryTable","Op. and Maint. Costs", allOutputData.lifeOmCosts)
				insertMetric("annualSummaryTable","Net Income", allOutputData.netCashFlow)
				insertMetric("annualSummaryTable","Cumulative Income", allOutputData.cumCashFlow)
			</script>
		</div>
	</div>
</body>