<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles here*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<script type="text/javascript">
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-voltageDrop" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="runningInline postRunInline shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="postRunInline shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" style="display:none">
			</div>
			<div class="shortInput">
				<label>Start Time</label>
				<input type="text" id="startTime" name="startTime" pattern="^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$" required="required">
			</div>
			<div class="shortInput">
				<label>End Time</label>
				<input type="text" id="endTime" name="endTime" pattern="^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$" required="required">
			</div>
			<div class="shortInput">
				<label>Number of Feeders</label>
				<input type="text" id="numoffeeders" name="numoffeeders" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<p class="reportTitle postRun" style="page-break-before:always">Timeseries Powerflow Results</p>
		<div id="voltageDropDiagram" class="tightContent postRun">
			<div id="chartContainer">
		</div>
		<script type="text/javascript">
			startDate = Date.parse(allOutputData[0][1].dates[0])
			dateInterval = Date.parse(allOutputData[0][1].dates[1])-Date.parse(allOutputData[0][1].dates[0])
			h_c_options = {
				"credits": {"enabled":false},
				"plotOptions": {
					"series": {"shadow":false,"animation": false},
					"line": {"marker":{"enabled":false}}
				},
				"xAxis": {
					"type": 'datetime',
					"dateTimeLabelFormats":{
						"time": '%e of %b'
					},
					"tickColor":"gray",
					"lineColor":"gray"},
				"title": {"text":null},
				"series": [
					{ "marker":{"enabled":false},
					 "dataLabels":{"enabled":false},
					 "color":"red",
					 "data":allOutputData[0][1].measured_real_power,
					 "name":"Power Generated?", 
						"pointStart":starDate,
						"pointInterval":dateInterval},
					{ "marker":{"enabled":false},
					 "dataLabels":{"enabled":false},
					 "color":"orange",
					 "data":allOutputData[0][1].measured_reactive_power,
					 "name":"Power Generated", 
					"pointStart":startDate,
					"pointInterval":dateInterval}
				],
				"tooltip": false,
				"yAxis": {
					"title": {
						"text":"Power (W-AC)",
						"style":{"color":"gray"}
					},
					"min":0},
				"chart": {
					"zoomType":"x",
					"marginBottom":35,
					"width":1000,
					"height":300,
					"marginRight":20,
					"renderTo":"chartContainer",
					"type":"line"
				},
				"legend":false
			}
			new Highcharts.Chart(h_c_options)
		</script>
	</div>
</body>