<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	
	<style type="text/css">
	/*Styles here*/
		.wrapper{float: left; width: 50%; height: 90%; position: relative;}
		#feederDiagram{width: 100%;height: 75%;}
		#damageSummary{width: 100%;height: 25%;}
		#rdtSummary{width: 100%;height: 100%;}
		#powerflowCheck{position: absolute;z-index: 10;bottom: 0;right: 0;background-color: red;}
		table {border-collapse: collapse;width: 100%;}
		table, th, td {border: 1px solid grey;font-size: 0.8em;}
		td, th {text-align: left;padding: 10px;}
		th {background-color: #44474C;color: #BFC4CC;}
		#fileBackground {position:absolute;width:205px;max-width:205px;height:29px;margin: -30px 0 0 116px;background-color:gainsboro;}
		#fileExists {
			background-color:transparent;
			max-width:185px;
			overflow:hidden;
			height:35px;
			margin:-32px 0 0 116px;
			position:absolute;
			font-size:0.8em;
			z-index:1;
		}
		@fileName {line-height:35px;}
		input[type='file'] {
			color: transparent;
			overflow:hidden;
		}
		/*IE Hacks*/
		@media screen\0 {
			#fileBackground{margin-left:0px;width:222px;max-width:222px;height:29px;}
			#fileExists{margin: -27px 0 0 10px;height:42px;}
		}
		/*Firefox Hacks*/
		@-moz-document url-prefix() {
			#fileBackground{margin-left:125px;width:195px;max-width:195px;}
			#fileExists{max-width:175px;margin:-32px 0 0 135px;height:47px;}
			}
		}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<script type="text/javascript">
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}

		function blankOutConnectedElement(connectedElementName) {
			//gebi(connectedElementName).value = '-';
		}

		function swapScenarios(scenarioDict, gebiID) {
			var scenarioID = gebi("scenarioSelect").value;
			gebi(gebiID).innerHTML = scenarioDict[scenarioID];
		}

		function storeScenario(scenarioDict, id, table){
			scenarioDict[id] = table;
		}
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
			<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-voltageDrop" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
		
			<div class="runningInline postRunInline shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="postRunInline shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
			</div>
	
			
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Specs</p>
			</div>
			<hr>
			<!--
			<div class="shortInput">
				<label class="tooltip">Line Fixed Cost ($)<span class="classic">The cost of making a new line in units $.  Insert an integer or decimal value.</span></label>
				<input type="text" id="lineFixedCost" name="lineFixedCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('lineUnitCost')">
			</div>-->
			<div class="shortInput">
				<label class="tooltip">Line Unit Cost ($/ft)<span class="classic">The cost of making a new line in units $/ft.  Insert an integer or decimal value.</span></label>
				<input type="text" id="lineUnitCost" name="lineUnitCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('lineFixedCost')">
			</div>
			<div class="shortInput">
				<label class="tooltip">Switch Cost ($)<span class="classic">The cost of adding a switch.  Insert an integer or decimal value.</span></label>
				<input type="text" id="switchCost" name="switchCost" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Hardening Unit Cost ($/ft)<span class="classic">The cost of hardening a line in $.  Insert an integer or decimal value.</span></label>
				<input type="text" id="hardeningUnitCost" name="hardeningUnitCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('hardeningFixedCost')">
			</div>
			<!--
			<div class="shortInput">
				<label class="tooltip">DG Fixed Cost ($)<span class="classic">The cost of adding distributed generation to a generator in $.  Insert an integer or decimal value.</span></label>
				<input type="text" id="dgFixedCost" name="dgFixedCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('dgUnitCost')">
			</div>-->
			<div class="shortInput">
				<label class="tooltip">DG Unit Cost ($/MW)<span class="classic">The cost of adding distributed generation to a generator in $/ft.  Insert an integer or decimal value.</span></label>
				<input type="text" id="dgUnitCost" name="dgUnitCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('dgFixedCost')">
			</div>
			<!--
			<div class="shortInput">
				<label class="tooltip">Hardening Fixed Cost ($)<span class="classic">The cost of hardening a line in $/ft.  Insert a integer or decimal value.</span></label>
				<input type="text" id="hardeningFixedCost" name="hardeningFixedCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('hardeningUnitCost')">
			</div>-->
			<div class="shortInput">
				<label class="tooltip">Max DG Per Generator (MW)<span class="classic">The maximum DG capacity that a generator supports in MW.  Insert an integer or decimal value.</span></label>
				<input type="text" id="maxDGPerGenerator" name="maxDGPerGenerator" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Hardening Candidates<span class="classic">The IDs of the lines on the system that the user wants to consider hardening. At least one line is required.</span></label>
				<input type="text" id="hardeningCandidates" name="hardeningCandidates" pattern="^(\w+){1}(\s*\,\s*\w+)*$">
			</div>
			<div class="shortInput">
				<label class="tooltip">New Line Candidates<span class="classic">Pairs of node IDs that indicate where the user wants to consider adding lines. At least one pair is required.</span></label>
				<input type="text" id="newLineCandidates" name="newLineCandidates" pattern="^(\(\w+\,\s*\w+\)){1}(\s*\;\s*(\(\w+\,\s*\w+\)){1})*$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Generator Candidates<span class="classic">The IDs of nodes on the system where the user wants to consider adding distributed generation. At least one node is required.</span></label>
				<input type="text" id="generatorCandidates" name="generatorCandidates" pattern="^(\w+){1}(\s*\,\s*\w+)*$">
			</div>

			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specs</p>
			</div>
			<hr>

			<div class="shortInput">
				<label class="tooltip">Critical Load Met (%)<span class="classic">Indicates the percent of critical load that must be met in each damage scenario.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="criticalLoadMet" name="criticalLoadMet" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Non-Critical Load Met (%)<span class="classic">Indicates the percent of non-critical load that must be met in each damage scenario.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="nonCriticalLoadMet" name="nonCriticalLoadMet" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Chance Constraint (%)<span class="classic">Indicates the percent of damage scenarios where load constraints above must be met.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="chanceConstraint" name="chanceConstraint" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Phase Variation<span class="classic">Controls the amount of phase imbalancer allowed in the system's transformers.</span></label>
				<input type="text" id="phaseVariation" name="phaseVariation" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Weather Impacts (.asc file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<script>var fileName=true;</script>
				<input type="file" id="weatherImpactsFile" name="weatherImpactsFile" accept=".asc" onchange="handle_files(this.files)">
				<input id="weatherImpacts" name="weatherImpacts" type="hidden">
				<!-- Format the file input and populate it with a saved file. -->
				<input type="hidden" id="weatherImpactsFileName" name="weatherImpactsFileName" readonly="readonly">
				<div id="fileBackground"></div>
				<div id="fileExists"><label class="fileName" for="weatherImpactsFile" id="weatherImpactsFileNameLabel"></label></div>
				<script>
					if (typeof allInputData.weatherImpactsFileName !== 'undefined') {					
						document.getElementById('weatherImpactsFileNameLabel').innerHTML = allInputData.weatherImpactsFileName;
					}
					else {
						document.getElementById('weatherImpactsFileNameLabel').innerHTML = 'Please select a file'
						gebi('weatherImpactsFile').setAttribute('required', 'required')
					}
					// File handler function.
					function handle_files(files) {
						// read file to a hidden input field
						var reader = new FileReader()
						reader.readAsText(files[0])
						reader.onload = loaded
						function loaded(evt) {
							evt.target.result
							gebi("weatherImpacts").value = reader.result
							var FileName = gebi("weatherImpactsFile").value.split("\\");
							var FileName = FileName[FileName.length-1];
							document.getElementById('weatherImpactsFileNameLabel').innerHTML = FileName;
							gebi("weatherImpactsFileName").value = FileName;
						}
					}
				</script>
			</div>
			<div class="shortInput">
				<label class="tooltip">XR Matrices (.json file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<script>var fileName=true;</script>
				<input type="file" id="xrMatricesDataFile" name="xrMatricesDataFile" accept=".json" onchange="handle_pole_files(this.files)">
				<input id="xrMatrices" name="xrMatrices" type="hidden">
				<!-- Format the file input and populate it with a saved file. -->
				<input type="hidden" id="xrMatricesFileName" name="xrMatricesFileName" readonly="readonly">
				<div id="fileBackground"></div>
				<div id="fileExists"><label class="fileName" for="xrMatricesDataFile" id="xrMatricesFileNameLabel" name="xrMatricesFileName"></label></div>
				<script>
					if (typeof allInputData.xrMatricesFileName !== 'undefined') {					
						document.getElementById('xrMatricesFileNameLabel').innerHTML = allInputData.xrMatricesFileName;
					}
					else {
						document.getElementById('xrMatricesFileNameLabel').innerHTML = 'Please select a file'
						gebi('xrMatricesDataFile').setAttribute('required', 'required')
					}
					// File handler function.
					function handle_pole_files(files) {
						// read file to a hidden input field
						var reader = new FileReader()
						reader.readAsText(files[0])
						reader.onload = loaded
						function loaded(evt) {
							evt.target.result
							gebi("xrMatrices").value = reader.result
							var FileName = gebi("poleDataFile").value.split("\\");
							var FileName = FileName[FileName.length-1];
							document.getElementById('xrMatricesFileNameLabel').innerHTML = FileName;
							gebi("xrMatricesFileName").value = FileName;
						}
					}
				</script>
			</div>
			<div class="shortInput">
				<label>Simulation Date (YYYY-MM-DD)</label>
				<input type="text" id="simulationDate" name="simulationDate" pattern="^\d\d\d\d-\d\d-\d\d$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="simulationZipCode" name="simulationZipCode" pattern="^\d{5}(?:[-\s]\d{4})?$">
			</div>

			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" type="submit" class="stoppedInline postRunInline">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output" class="postRun">
		<p class="reportTitle" style="page-break-before:always">Resilience Solution</p>
		<div class="content" style="overflow: auto">
			<div id="diagram" style="width: 40%; float: left;">	
				<h4 style="text-align: center;">One Line Diagram</h4>
				<img id="oneLineDiagram" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 100%;"/>
				<script>gebi("oneLineDiagram").src = "data:image/png;base64," + allOutputData.oneLineDiagram</script>
			</div>
			<div id="tables" style="width: 60%; float: right;">
				<h4 style="float: left">Hardware Changes</h4>
				<h4 style="float: right; color: #54c465;" id="validation"></h4>
				<br><br>
				<table id="totalCostTable">
				</table>
				<br>
				<table id="solutionComponents">
				</table>
				<script>
					//Displays RDT outputs into HTML tables
					var rdtOutput = allOutputData.rdtRawOut;
					rdtOutput = JSON.parse(rdtOutput);
					var scenarioDict = [];
					var lineData = allOutputData.lineData;
					var htmlCollector = "<tr><th>Device ID</th><th>Type</th><th>Action</th><th>Cost</th></tr>";
					var totalCost = 0.0;

					for(var i = 0; i < rdtOutput.design_solution.generators.length; i++) {
						generator = rdtOutput.design_solution.generators[i];
						genCost = parseFloat(allOutputData["generatorData"].replace(/\,/g,''));
						htmlCollector = htmlCollector + "<tr><td>" + generator.id + "</td><td>Generator</td><td>Built with 5 MW of capacity</td><td>$" + genCost + "</td></tr>";
						totalCost = totalCost + genCost;
					}

					for(var j = 0; j < rdtOutput.design_solution.lines.length; j++) {
						line = rdtOutput.design_solution.lines[j];
						var hardened = "Hardened";
						if(line.hardened == false) {
							hardened = "Unhardened";
						}
						lineID = lineData[j][0];
						lineCost = lineData[j][1];
						htmlCollector = htmlCollector + "<tr><td>" + lineID + "</td><td>Line</td><td>" + hardened + "</td><td>$" +  lineCost + "</td></tr>";
						totalCost = parseFloat(lineCost) + totalCost;
					}
					if(rdtOutput.design_solution.is_feasible == true) {
						gebi("validation").innerHTML = "Powerflow Validated";
					}
					else {
						gebi("validation").innerHTML = "Powerflow Not Validated";
					}
					//Total cost is currently being determined by summing all component costs of the design solution.  However, there is a section in RDTOUTPUT that gives total cost, though it is not implemented
					//gebi("totalCostTable").innerHTML = '<tr><th>Total Cost</th></tr><tr><td>$' + rdtOutput.design_solution.design_cost + '</td></tr>';
					gebi("totalCostTable").innerHTML = '<tr><th>Total Cost</th></tr><tr><td>$' + totalCost.toFixed(2) + '</td></tr>';
					gebi("solutionComponents").innerHTML = htmlCollector;

					for(var j = 0; j < rdtOutput.scenario_solution.length; j++) {
						htmlCollector = "<tr><th>Device ID</th><th>Type</th><th>Result</th></tr>";
						scenario = rdtOutput.scenario_solution[j]; 
						for(var k = 0; k < scenario.buses.length; k++) {
							bus = scenario.buses[k];
							htmlCollector = htmlCollector + "<tr><td>" + bus.id + "</td><td>Bus</td><td></td></tr>";
						}
						for(k = 0; k < scenario.generators.length; k++) {
							generator = scenario.generators[k];
							htmlCollector = htmlCollector + "<tr><td>" + generator.id + "</td><td>Generator</td><td></td></tr>";
						}
						for(k = 0; k < scenario.loads.length; k++) {
							load = scenario.loads[k];
							htmlCollector = htmlCollector + "<tr><td>" + load.id + "</td><td>Loads</td><td></td></tr>";
						}
						for(k = 0; k < scenario.lines.length; k++) {
							line = scenario.lines[k];
							htmlCollector = htmlCollector + "<tr><td>" + line.id + "</td><td>Lines</td><td></td></tr>";
						}
						scenarioDict[scenario.id] = htmlCollector;
					}
				</script>
			</div>
		</div>
		<p class="reportTitle" style="page-break-before:always">Damage Scenario Result</p>
		<div class="content" style="overflow: auto">
			<div id="diagram" style="width: 40%; float: left;">	
				<h4 style="text-align: center;">Weather Type: Wind</h4>
				<img id="oneLineDiagram2" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 100%;"/>
				<script>gebi("oneLineDiagram2").src = "data:image/png;base64," + allOutputData.oneLineDiagram</script>
			</div>
			<div id="tables" style="width: 60%; float: right;">
				<div style="float: left">
					<h5 style="padding: 3px; float: left; border: 1px solid black; background-color: #AAD0FF">Non-Critical Load lost: X%</h4>
					<h5 style="padding: 3px; float: right; border: 1px solid black; background-color: #AAD0FF">Critical load lost: Y%</h4>
				</div>
				<select id="scenarioSelect" style="width: 40%;float: right;" onchange="swapScenarios(scenarioDict, 'scenarioTable')"">
					<script>
						htmlCollector = ""
						for (var scenarioID in scenarioDict) {
							htmlCollector = htmlCollector + "<option value='" + scenarioID + "'>Scenario " + scenarioID  + "</option>";
						}
						gebi("scenarioSelect").innerHTML = htmlCollector;
					</script>
				</select>
				<br>
				<br>
				<table id="scenarioTable">
				<script>swapScenarios(scenarioDict, "scenarioTable")</script>
				</table>
			</div>
		</div>
		<p class="reportTitle">GFM Output</p>
		<div class="content" style="overflow: scroll; height: 600px">
			<pre id="gfmOutputFrame"></pre>
			<script>gebi("gfmOutputFrame").innerHTML = allOutputData.gfmRawOut</script>
		</div>
		<p class="reportTitle">RDT Output</p>
		<div class="content" style="overflow: scroll; height: 600px">
			<pre id="rdtOutputFrame"></pre>
			<script>gebi("rdtOutputFrame").innerHTML = allOutputData.rdtRawOut</script>
		</div>
		<p class="reportTitle">GridLAB-D Output</p>
		<div class="content" style="overflow: auto">
			<pre id="gridlabOutputFrame"></pre>
			<script>gebi("gridlabOutputFrame").innerHTML = JSON.stringify(allOutputData.gridlabdRawOut, null, '\t')</script>
		</div>
	</div>
</body>