<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<link href="{{pathPrefix}}/static/models.css" type="text/css" rel="stylesheet"/>
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts.src.js"></script>
	<!-- Global Funcs Import -->
	<script type="text/javascript" src="{{pathPrefix}}/static/models.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
</head>
<body onload="init()">
	<div id="title">
		<div id="logoBox"><a href="/">&#10059;</a></div>
		<p id="titleText">New Solar Financial Model</p>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post" onsubmit="return validateForm()">
			<table class="modelOptions">
				<tr>
					<td>Model Type</td>
					<td><input type="text" id="modelType" name="modelType" value="_solarFinancial" readonly/></td>
				</tr>
				<tr>
					<td>Model Name</td>
					<td><input type="text" id="modelName" name="modelName" data-validRegex="[\w\s]+"/></td>
				</tr>
				<tr class="running postRun">
					<td>User</td>
					<td><input type="text" id="user" name="user" readonly/></td>
				</tr>
				<tr class="running postRun">
					<td>Created</td>
					<td><input type="text" id="created" name="created" readonly/></td>
				</tr>
				<tr class="postRun">
					<td>Run Time</td>
					<td><input type="text" id="runTime" name="runTime" readonly/></td>
				</tr>
				<tr>
					<td>Climate</td>
					<td>
						<select id="climateName" name="climateName">
							{% for climate in datastoreNames["climates"] %}
								<option value="{{ climate }}">{{ climate }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Simulation Length</td>
					<td><input type="text" id="simLength" name="simLength" data-validRegex="\d+"/></td>
				</tr>
				<tr>
					<td>Length Units</td><td>
						<select id="simLengthUnits" name="simLengthUnits">
 							<!--<option value="minutes">Minutes</option> -->
							<option value="hours">Hours</option>
							<option value="days">Days</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Simulation Start Date <br/> (YYYY-MM-DD)</td>
					<td><input type="text" id="simStartDate" name="simStartDate" data-validRegex="\d\d\d\d-\d\d-\d\d"/></td>
				</tr>
				<tr>
					<td>System Size (kW)</td>
					<td><input type="text" id="systemSize" name="systemSize" data-validRegex="\d+\.?\d*"/></td>
				</tr>
				<tr>
					<td>System Installation Cost</td>
					<td><input type="text" id="installCost" name="installCost" data-validRegex="\d+\.?\d*"/></td>
				</tr>
				<tr>
					<td>System O and M Cost</td>
					<td><input type="text" id="omCost" name="omCost" data-validRegex="\d+\.?\d*"/></td>
				</tr>
				<tr>
					<td>Projected Life of System (Years)</td>
					<td><input type="text" id="lifeSpan" name="lifeSpan" data-validRegex="\d+" value="30"/></td>
				</tr>
				<tr>
					<td>Annual Array Degredation</td>
					<td><input type="text" id="degredation" name="degredation" data-validRegex="\d+\.?\d*" value="0.005"/></td>
				</tr>
				<tr>
					<td>Wholesale Energy Cost ($)</td>
					<td><input type="text" id="wholesaleCost" name="wholesaleCost" data-validRegex="\d+\.?\d*" value="0.10"/></td>
				</tr>
				<tr>
					<td>Discount Rate</td>
					<td><input type="text" id="discountRate" name="discountRate" data-validRegex="\d+\.?\d*" value="0.07"/></td>
				</tr>
				<tr>
					<td></td>
					<td style="text-align:right"><p class="discloser" onclick="javascript:toggleAdvanced(this)">&#9654; Advanced Options</p></td>
				</tr>
				<tr class="advancedOption">
					<td>Derate (%)</td>
					<td><input type="text" id="derate" name="derate" data-validRegex="\d+\.?\d*" value="0.77"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Tracking Mode</td>
					<td>
						<select id="trackingMode" name="trackingMode"/>
							<option value="0">Fixed</option>
							<option value="1">1 Axis</option>
							<option value="2">2 Axis</option>
							<option value="3">Azimuth Axis</option>
						</select>
					</td>
				</tr>
				<tr class="advancedOption">
					<td>Tilt = Latitude</td>
					<td><input type="text" id="tilt" name="tilt" value="True"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Azimuth (degrees)</td>
					<td><input type="text" id="azimuth" name="azimuth" value="180"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Tracker rotation limit (deg)</td>
					<td><input type="text" id="rotlim" name="rotlim" value="45.0"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Nominal operating cell temperature (C)</td>
					<td><input type="text" id="t_noct" name="t_noct" value="45.0"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Reference cell temperature (C)</td>
					<td><input type="text" id="t_ref" name="t_ref" value="25.0"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Max power temperature coefficient (%/C)</td>
					<td><input type="text" id="gamma" name="gamma" value="-0.5"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Inverter efficiency at rated power (frac)</td>
					<td><input type="text" id="inv_eff" name="inv_eff" value="0.92"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Diffuse fraction (0..1)</td>
					<td><input type="text" id="fd" name="fd" value="1.0"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Rating condition irradiance (W/m2)</td>
					<td><input type="text" id="i_ref" name="i_ref" value="1000"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Min reqd irradiance for operation (W/m2)</td>
					<td><input type="text" id="poa_cutin" name="poa_cutin" value="0"/></td>
				</tr>
				<tr class="advancedOption">
					<td>Wind stow speed	(m/s)</td>
					<td><input type="text" id="w_stow" name="w_stow" value="0"/></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button id="deleteButton" type="button" class="stopped postRun" onclick="deleteModel()">Delete</button>
						<button id="publishButton" type="button" class="postRun" onclick="publishModel()">Publish</button>
						<button id="duplicateButton" type="button" class="postRun" onclick="duplicateModel()">Duplicate</button>
						<button id="runButton" type="submit" class="preRun">Run Model</button>
						<button id="rerunButton" type="submit" class="stopped postRun">Re-Run Model</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results.
	</div>
	<div id ="stopIndicator" class="content stopped">
		Model cancelled or encountered an error. Please change inputs and re-run.
	</div>
	<div id="output">
		<p class="reportTitle postRun">System Performance</p>
		<div id="powerGenerationReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<div id="energyBalance"></div>
			<script>
				Highcharts.setOptions({global: { useUTC: false }});
				powerSeries = [{"marker":{"enabled":false},"color":"red","data":allOutputData.Consumption.Power,"name":"Power Generated"}]
				var diff = Date.parse(allOutputData.timeStamps[0].substr(0,19)) - Date.parse(allOutputData.timeStamps[0])
				pointStart = Date.parse(allOutputData.timeStamps[0]) + diff
				pointInterval = Date.parse(allOutputData.timeStamps[1]) - Date.parse(allOutputData.timeStamps[0])
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":powerSeries,"yAxis":{"title":{"text":"Power (W)","style":{"color":"gray"}}},"chart":{"zoomType":"x","marginBottom":20,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Climate</p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script>
				climateSeriesData = [
					{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Ambient Temperature (F)"]},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
					{"name":"Direct Irradiance (W/m^2)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Direct Irradiance (W/m^2)"]},
					{"name":"Difuse Irradiance (W/m^2)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Difuse Irradiance (W/m^2)"]},
					{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Cell Temperature (F)"]}]
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":climateSeriesData,"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},"chart":{"marginBottom":20,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Monetization</p>
		<div id="monetizationReport" class="tightContent postRun">
		</div>
	</div>
	<script type="text/javascript">
		$(window).bind("load", function(){
			modelUser = document.URL.split("/")[4] // MAYBE: get model user from url, or from template data.
			{% if "currentUser" in datastoreNames %}
			currentUser = "{{ datastoreNames['currentUser'].username }}"
			{% else %}
			currentUser = "test"
			{% endif %}
			if (modelUser == "public" && currentUser != "admin") {
				$("button#deleteButton").hide();
				$("button#publishButton").hide();
				$("button#rerunButton").hide();
			}
		})
	</script>
</body>