<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<link type="text/css" href="{{pathPrefix}}/static/models.css" rel="stylesheet"/>
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts.src.js"></script>
	<!-- Global Funcs Import -->
	<script type="text/javascript" src="{{pathPrefix}}/static/models.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<!-- Global Functions -->
	<script type="text/javascript">
		// Global setting of Highcharts
		Highcharts.setOptions({global: {useUTC: false}})
		var diff = Date.parse(allOutputData.timeStamps[0].substr(0,19)) - Date.parse(allOutputData.timeStamps[0]) 
		var pointStart = Date.parse(allOutputData.timeStamps[0]) + diff
		var pointInterval = Date.parse(allOutputData.timeStamps[1]) - Date.parse(allOutputData.timeStamps[0])
		highChartsTemplate = {
			"chart":{"renderTo":"", "marginRight":20, "marginBottom":20, "zoomType":"x"},
			"title":{"text":null},
			"legend":{"layout":"horizontal", "align":"top", "verticalAlign":"top", "x":50, "y":-10, "borderWidth":0},
			"credits":{"enabled":false},
			"xAxis":{"type":"datetime","maxZoom":108000000, "tickColor":"gray","lineColor":"gray"},
			"yAxis":{"title":{"text":null, "style":{"color":"gray"}}},
			"plotOptions":{"line":{"marker":{"enabled":false}}, "series":{"shadow":false, "pointInterval":pointInterval, "pointStart":pointStart}},
			"tooltip":{"valueDecimals":1},
			"series":[]	}
		$(document).ready(function(){
			$(".toggle").click(function(){
					$(this).parent().next().toggle(500)
			})
		})
			
	</script>	
</head>
<body onload="init()">
	<div id="title">
		<div id="logoBox"><a href="/" title="Back to home">&#10059;</a></div>
		<p id="titleText">New Solar Engineering Model</p>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post" onsubmit="return validateForm()">
			<div class="shortInput">
				<label>Model Type</label>
				<input type="text" id="modelType" name="modelType" value="_solarEngineering" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" data-validRegex="[\w\s]+"/></td>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<select id="feederName" name="feederName"/>
					<option disabled><strong>Personal Feeders</strong></option>
					{% for feeder in datastoreNames['feeders'] %}
						<option value="{{ datastoreNames.get('currentUser','test') + '___' + feeder }}">{{ feeder }}</option>
					{% endfor %}
					<option disabled><strong>Public Feeders</strong></option>
					{% for pFeeder in datastoreNames['publicFeeders'] %}
						<option value="{{ 'public___' + pFeeder }}">{{ pFeeder }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="shortInput">
				<label>Scada File name</label>
				<input type="text" id="scadaFile" name="scadaFile" data-validRegex="[\w\s]+"/></td>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/></td>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/></td>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/></td>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Climate<span class="classic">Climate</span></label>
				<select id='climateName' name='climateName'>
					{% for climate in datastoreNames['climates'] %}
						<option value='{{ climate }}'>{{ climate }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Length<span class="classic">Simulation Length</span></label>
				<input type="text" id="simLength" name="simLength" data-validRegex="\d+"/>				
			</div>
			<div class="shortInput">
				<label class="tooltip">Length Units<span class="classic">Length Units</span></label>
				<select id="simLengthUnits" name="simLengthUnits">
					<option value="minutes">Minutes</option>
					<option value="hours">Hours</option>
					<option value="days">Days</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Start Date (YYYY-MM-DD)<span class="classic">Simulation Start Date (YYYY-MM-DD)</span></label>
				<input type="text" id="simStartDate" name="simStartDate" data-validRegex="\d\d\d\d-\d\d-\d\d"/>
			</div>
			<!-- TODO: Add a table, and addiable and removable rows. -->
			<hr>
			<div class='shortInput'>
			<table id="myTable" class="order-list">
				<thead>
					<tr>
						<td>Node Name</td>
						<td>Size (sq ft)</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input type="text" id="nodename1" name="nodename1"/>
						</td>
						<td>
							<input type="text" id="nodesize1" name="nodesize1" data-validRegex="[\w\s]+"/>
						</td>
						<td>
							<a class='add-row postRunInline preRun stoppedInline' href='#' title="Add row">&#8853;</a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<script type="text/javascript">
			var counter = 0;
			$(".add-row").on("click", function () {
				counter = $('#myTable tr').length - 1;
				var newRow = $("<tr>");
				var cols = "";
				cols += '<td><input type="text" id="nodename'+ counter +'" name="nodename' + counter + '"/></td>';
				cols += '<td><input type="text" id="nodesize'+ counter +'" name="nodesize' + counter + '"/></td>';
				cols += '<td><a class="remove-row postRunInline preRun stoppedInline" style="display:inline" href="#" title="Remove row">&#8854;</a></td>'
				newRow.append(cols);
				if (counter == 4) $('#addrow').attr('disabled', true).prop('value', "You've reached the limit");
				$("table.order-list").append(newRow);
				counter++;
			});
			$("table.order-list").on("change", 'input[name^="price"]', function (event) {
				calculateRow($(this).closest("tr"));
				calculateGrandTotal();                
			});
			$("table.order-list").on("click", ".remove-row", function (event) {
				$(this).closest("tr").remove();
				calculateGrandTotal();
				counter -= 1
				$('#addrow').attr('disabled', false).prop('value', "Add Row");
			});
			</script>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" type="submit" class="preRun">Run Model</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="rerunButton" type="submit" class="postRunInline stoppedInline">Re-Run Model</button>
			</div>
		</form>
	</div>	
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results.
	</div>
	<div id ="stopIndicator" class="content stopped">
		Model cancelled or encountered an error. Please change inputs and re-run.
	</div>
	<div id="output">
		<p class="reportTitle postRun">Power Consumption From Transmission System <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="powerConsumptionReport" class="tightContent postRun">
			<script type="text/javascript">
					// Create div of power timeseries appending to powerConsumption
					$("<div/>").appendTo("#powerConsumptionReport")
						.attr("id", "powerTimeSeries")
					// power series data
					var powerSeries = {
						"marker":{
							"enabled":false
						},
						"color":"red",
						"data":allOutputData.Consumption.Power,
						"name":"Substation Powerflow"
					}
					var lossesSeries = {
						"marker":{
							"enabled":false
						},
						"color":"orangered",
						"data":allOutputData.Consumption.Losses,
						"name":"Technical Losses",
						"visible": false
					}
					var DGSeries = {
						"marker":{
							"enabled":false
						},
						"color":"seagreen",
						"data":allOutputData.Consumption.DG,
						"name":"DG Power",
						"visible": false
					}
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "powerTimeSeries"
					localHighChart["chart"]["type"] = "line"
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["height"] = 150
					localHighChart["series"] = [powerSeries, lossesSeries, DGSeries]
					localHighChart["yAxis"]["title"] = {"text": "Power (W)", "style": {"color": "gray"}}
					new Highcharts.Chart(localHighChart);
			</script>
		</div>
		<p class="reportTitle postRun">Energy Balance <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="newEnergyBalanceReport" class="tightContent postRun">
			<script type="text/javascript">
				var tPower = eval(allOutputData.Consumption.Power.join("+"));
				var tLosses = eval(allOutputData.Consumption.Losses.join("+"));
				var tDG = eval(allOutputData.Consumption.DG.join("+"));
				var tLoads = tPower + tDG - tLosses;
				var tDGDirect,tDGExported,tFromGrid;
				if (tLoads>tDG) 
				{
					tDGDirect =tDG;
				} 
				else
				{
					tDGDirect =tLoads;
				}
				if (tLoads>tDG) 
				{
					tDGExported=0;
				} 
				else
				{
					tDGExported= tPower-tLoads-tLosses;
				}
				if(tLoads>tDG)
				{
					tFromGrid=tPower;
				}
				else
				{
					tFromGrid=0;
				}
				var tLossesSeries = {
					"pointWidth": 40, 
					"color":"orangered",
					"data":[0,tLosses],
					"type":"bar",
					"name":"Losses",
				}
				var tLoadsSeries = {
					"pointWidth": 40,
					"color":"darkorange",
					"data":[0,tLoads],
					"type":"bar",
					"name":"Loads"
				}
				var tDGSeries = {
					"pointWidth": 40,
					"color":"seagreen",
					"data":[],
					"type":"bar",
					"name":"DG"
				}
				var tFromGridSeries = {
					"pointWidth": 40, 
					"color":"IndianRed",
					"data":[tFromGrid,0],
					"type":"bar",
					"name":"FromGrid"
				}
				var tDGDirectSeries = {
					"pointWidth": 40,
					"color":"RoyalBlue",
					"data":[tDGDirect,0],
					"type":"bar",
					"name":"DGDirect"
				}
				var tDGExportedSeries = {
					"pointWidth": 40,
					"color":"LightSeaGreen",
					"data":[tDGExported,0],
					"type":"bar",
					"name":"DG Exported"
				}
				
				tDGSeries["data"].push(tDG)
				var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
				localHighChart["chart"]["renderTo"] = "newEnergyBalanceReport"
				localHighChart["chart"]["inverted"] = false
				localHighChart["chart"]["height"] = 250
				localHighChart["chart"]["width"] = 1000
				localHighChart["series"] = [tFromGridSeries,tDGDirectSeries,tDGExportedSeries,tLossesSeries,tLoadsSeries]
				localHighChart["xAxis"] = {
					"tickColor":"gray",
					"lineColor":"gray",
					"categories":["Source","Destination"]
					}
				localHighChart["yAxis"] = {
					"title":{
						"text":"Energy (Wh)",
						"style":{
							"color":"gray"
						}
					}
				}
				localHighChart["plotOptions"] = {
					"bar":{"stacking":"normal", "shadow":false}, 
				}
				
				new Highcharts.Chart(localHighChart);
			</script>
		</div>
		<p class="reportTitle postRun">Regulator Tap Changes <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="newRegulatorReport" class="tightContent postRun">
			<script type="text/javascript">
				
				var regNamesArray=[]
				for (var key in allOutputData) 
				{
  					if (key.indexOf('Regulator') === 0)
  					{
  						regName = "allOutputData.".concat(key);
  						regNamesArray.push(regName)
					}
				}
				for (var i in regNamesArray)
				{
					
					reg = regNamesArray[i]
					$("<div/>").appendTo("#newRegulatorReport")
						.attr("class", "regContainer")
						.attr("id", reg)
					$("<div/>").appendTo("#newRegulatorReport")
						.attr("id", "regulatorSeries_" + reg)
					
					var reg1ATSeries = {
						"pointWidth": 40, 
						"pointInterval": 3 * 3600 * 100,
						"color":"RoyalBlue",
						"data":eval(regNamesArray[i].concat(".RegTapA")),
						"name":"A",
					}
				
					var reg1BTSeries = {
						"pointWidth": 40,
						"pointInterval": 3 * 3600 * 100,
						"color":"Red",
						"data":eval(regNamesArray[i].concat(".RegTapB")),
						"name":"B",
					}
					var reg1CTSeries = {
						"pointWidth": 40,
						"pointInterval": 3 * 3600 * 100,
						"color":"Green",
						"data":eval(regNamesArray[i].concat(".RegTapC")),
						"name":"C",
					}
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "regulatorSeries_" + reg
					localHighChart["chart"]["inverted"] = false
					localHighChart["chart"]["height"] = 150
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["type"] = "line"
					localHighChart["title"]["text"] = reg.substr(14)
					localHighChart["series"] = [reg1ATSeries,reg1BTSeries,reg1CTSeries]
					localHighChart["xAxis"] = { "type":"datetime",
						"tickColor":"gray",
						"lineColor":"gray",
						}
					localHighChart["yAxis"] = {"min": -17, "max" : 17,
						//"startOnTick": "false",
						"title":{ "text": "Tap position",
							"style":{
								"color":"gray"
							}
						}
					}
					localHighChart["plotOptions"] = {
						//"bar":{"stacking":"normal", "shadow":false}, 
					}
					new Highcharts.Chart(localHighChart);
				}
			</script>
		</div>	
		<p class="reportTitle postRun">Cap Bank Activation <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="newCapbankReport" class="tightContent postRun">
			<script type="text/javascript">
				var capNamesArray=[]
				for (var key in allOutputData) 
				{
	  				if (key.indexOf('Capacitor') === 0)
	  				{
	  					capName = "allOutputData.".concat(key);
	  					capNamesArray.push(capName)
					}
				}
				for (var i in capNamesArray)
				{
					cap= capNamesArray[i]
					//$("<div/>").appendTo("#newCapbankReport")
					//	.attr("id", "capacitorSeries")
					$("<div/>").appendTo("#newCapbankReport")
						.attr("class", "capContainer")
						.attr("id", cap)
						
					$("<div/>").appendTo("#newCapbankReport")
						.attr("id", "capacitorSeries_" + cap)
					var cap1BSeries = {
						"pointWidth": 40,
						"pointInterval": 3 * 3600 * 100,
						"color":"Red",
						"data":eval(capNamesArray[i].concat(".Cap1B")),
						"name":"B"
					}
					var cap1ASeries = {
						"pointWidth": 40, 
						"pointInterval": 3 * 3600 * 100,
						"color":"RoyalBlue",
						"data":eval(capNamesArray[i].concat(".Cap1A")),
						"name":"A"
					}
					var cap1CSeries = {
						"pointWidth": 40, 
						"pointInterval": 3 * 3600 * 100,
						"color":"Green",
						"data":eval(capNamesArray[i].concat(".Cap1C")),
						"name":"C"
					}
					//tDGSeries["data"].push(tDG)
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "capacitorSeries_" + cap
					localHighChart["chart"]["inverted"] = false
					localHighChart["chart"]["height"] = 150
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["type"] = "column"
					localHighChart["title"]["text"] = cap.substr(14)
					localHighChart["series"] = [cap1ASeries,cap1BSeries,cap1CSeries]
					localHighChart["xAxis"] = {
						"type":"datetime",
						"tickColor":"gray",
						"lineColor":"gray",
						}
					localHighChart["yAxis"] = {"min": 0, "max" : 3,
						"startOnTick": "false",
						"tickInterval":1,
						"title":{ "text": "1 = Active",
							"style":{
								"color":"gray"
							}
						}
					}
					localHighChart["plotOptions"] = {
						"column":{"stacking":"normal", "shadow":false}, 
					}
					localHighChart["chart"]["title"] = {"align":"center","text":"CapCHART",}
										
					new Highcharts.Chart(localHighChart);
				}	
			</script>
		</div>
		<p class="reportTitle postRun">Triplex Meter Voltages <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="triplexMeterVoltageReport" class="tightContent postRun">
			<script type="text/javascript">
					// Create div for triplex meter voltage chart appending to powerConsumption
					$("<div/>").appendTo("#triplexMeterVoltageReport")
						.attr("id", "triplexMeterVoltageChart")
					triplexSeriesData = [{"marker": {"enabled":false},
						"color":"LightBlue",
						"data":allOutputData.allMeterVoltages.Min,
						"name":"Min"
					},{
						"marker":{
							"enabled":false
						},
						"color":"blue",
						"data":allOutputData.allMeterVoltages.Mean,
						"name":"Mean"
					},{
						"marker":{
							"enabled":false
						},
						"color":"LightBlue",
						"data":allOutputData.allMeterVoltages.Max,
						"name":"Max"
					}]	
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "triplexMeterVoltageChart"
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["height"] = 200
					localHighChart["chart"]["type"] = "line"
					localHighChart["series"] = triplexSeriesData
					localHighChart["yAxis"] = {
						"maxRange":20,
						"plotLines": [{
							"color": 'gray',
							"dashStyle": 'ShortDash',
							"width": 2,
							"value": 114, // voltage lower bound
							"zIndex": 0
						}, {
							"color": 'gray',
							"dashStyle": 'ShortDash',
							"width": 2,
							"value": 126, // voltage upper bound
							"zIndex": 0
						}],
						"title":{
							"text":"Volts",
							"style":{
								"color":"gray"
							}
						}
					}
					new Highcharts.Chart(localHighChart)
			</script>
		</div>
		<p class="reportTitle postRun">Study Details <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="studyDetails" class="tightContent postRun detailsContainer" style="position: relative">
			
			<script src="{{pathPrefix}}/static/d3.v3.js"></script>
			<table id="detailsTable">
				<tr>
					<th id="SL">Simulation Location</th>
					<th>Grid Components</th>
				</tr>
				<tr>
					<td rowspan="7" style = "width:100%">
						<div id="mapHere">
							<script type="text/javascript">
								var width = 500,
									height = 350;

								var projection = d3.geo.albersUsa().scale(600).translate([width/2, height/2]);

								var path = d3.geo.path()
									.projection(projection);

								var svg = d3.select("#mapHere").append("svg")
									.attr("width", width)
									.attr("height", height);

								var group = svg.append("g");

								group.attr("transorm", "scale(.2, .2)");
								d3.json('/static/state_boundaries.json', function(collection) {
									group.selectAll('path')
										.data(collection.features)
										.enter().append('path')
										.attr('d', d3.geo.path().projection(projection))
										.attr('id', function(d){return d.properties.name.replace(/\s+/g, '')})
										.style('fill', 'gray')
										.style('stroke', 'white')
										.style('stroke-width', 1);
								});

								d3.json("{{pathPrefix}}/static/city_locations.json", function(new_us_places){
									climate = allInputData.climateName
									var ST_NAME = climate.split("-");
									var ST = ST_NAME[0], NAME = ST_NAME[1];
									var my_coords = projection(new_us_places[ST][NAME]);
									var r = 5;
									circle = svg.append("circle")
										.attr("cx", my_coords[0])
										.attr("cy", my_coords[1])
										.attr("r", 5)
										.attr("class", "HighlightCircle");
									circle.append("svg:title").text(climate);
								})
							</script>
						</div>
					</td>
				</tr>
				<tr>
					<td id="GC">
						<div id="comparisonPieChart" style="min-width: 400px; height: 300px; margin: 0 auto">
							<script type="text/javascript">
								pieData = []
								for (index in studyList){
									size = parseInt(allOutputData[studyList[index]]["stdout"].split("\n")[3].split(/[ ]+/)[2])

									pieData.push([studyList[index], size])
								}
								$(function(){
									$("#comparisonPieChart").highcharts({
										credits:{
											enabled:false
										},
										title: {
											text: ''
										},
										series: [{
											type: "pie",
											data: pieData
										}],
										plotOptions: {
											pie: {
												dataLabels: {
													enabled: false,
												}
											}
										}
									});
								});
							</script>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<p class="reportTitle postRun">Climate <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="climateReport" class="tightContent postRun">
			<script type="text/javascript">
				$("<div/>").appendTo("#climateReport")
					.attr("id", "climateChartDiv")
				climateSeriesData = [
					{"name":"Rain Fall (in/h)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Rain Fall (in/h)"]},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
					{"name":"Direct Insolation (W/m^2)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Direct Insolation (W/m^2)"]},
					{"name":"Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Temperature (F)"]},
					{"name":"Snow Depth (in)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Snow Depth (in)"]}]
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":climateSeriesData,"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},"chart":{"marginBottom":20,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Model Runtime Statistics <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="runtimeStatsReport" class="tightContent stdouts postRun" style="height:600px">
			<script type="text/javascript">
				$("<pre/>").appendTo("#runtimeStatsReport")
					.attr("id", "stdout")
					.attr("class", "stdoutBlock")
				gebi("stdout").innerHTML = allOutputData.stdout
				// TODO: add stderr if some failed feeders exist.
			</script>
		</div>
	</div>
</body>