<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		table {width: 80%;margin-left:auto; margin-right:auto;}
		td {padding:2px; text-align: center;border-top: 1px solid #ccc;}
		th {padding:2px; text-align: center}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<script type="text/javascript">
		function downloadTextFile(fileName, text) {
			//console.log(text)
			var element = document.createElement('a');
		    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		    element.setAttribute('download', fileName);
		    element.style.display = 'none';
		    document.body.appendChild(element);
		    element.click();
		    document.body.removeChild(element);
		}
	</script>
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-transmission" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Source<span class="classic">Source of data</span></label>
				<select id="source" name="source">
					<option value="METAR">METAR</option>
					<option value="USCRN">USCRN</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Year<span class="classic">year</span></label>
				<input type="text" id="year" name="year" pattern="[1-2][0-9][0-9][0-9]" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Station<span class="classic">ASOS Code, for USA codes (starting with K) exclude the first letter</span></label>
				<input type="text" id="station" name="station" pattern="[A-Z]{3,4}" required="required">
			</div>			
			<div class="shortInput">
				<label class="tooltip">Weather Parameter<span class="classic">Data that should be pulled</span></label>
				<select id="weatherParameter" name="weatherParameter">
					<option value="tmpc">Temperature (Celsius)</option>
					<option value="tmpf">Temperature (Fahrenheit)</option>
					<option value="dwpc">Dew Point (Celsius)</option>
					<option value="dwpf">Dew Point (Fahrenheit)</option>
					<option value="relh">Relative Humidity (%)</option>
					<option value="drct">Wind Direction</option>
					<option value="sknt">Wind Speed (knots)</option>
					<option value="sped">Wind Speed (mph)</option>
					<option value="alti">Altimeter (inches)</option>
					<option value="mslp">Sea Level Pressure (mb)</option>
					<option value="p01m">1 Hour Precipitation (mm)</option>
					<option value="p01i">1 Hour Precipitation (inch)</option>
					<option value="vsby">Visibility (miles)</option>
					<option value="gust">Wind Gust (knots)</option>
					<option value="gust_mph">Wind Gust (mph)</option>
					<option value="skyc1">Cloud Coverage Level 1</option>
					<option value="skyc2">Cloud Coverage Level 2</option>
					<option value="skyc3">Cloud Coverage Level 3</option>
					<option value="skyl1">Cloud Height Level 1 (ft)</option>
					<option value="skyl2">Cloud Height Level 2 (ft)</option>
					<option value="skyl3">Cloud Height Level 3 (ft)</option>
					<option value="presentwx">Weather Codes</option>
					<option value="metar">Raw METAR</option>
				</select>
			</div>
			<!-- Required Buttons -->
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" type="submit" class="stoppedInline postRunInline">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.<br>
		{{allInputData[allInputData.find('"runTimeEstimate"') + 20:allInputData.find('minutes.", ') + 8]}}
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<p class="reportTitle postRun" style="page-break-before:always">Download Output Data</p>	
		<div style="text-align:left" class="tightContent">
			<a style="padding:10px" onclick="downloadTextFile('weatherDataPulled.txt',allOutputData['data'])">Weather Data</a>
		</div>
	<!--<div>
		<input id="results" name="results" type="hidden" onload="loadOutputData()">
		<script>
			function loadOutputData(){
			gebi('results').value = allOutputData.data;
			}
		</script>
	</div>-->
</body>