<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputDataDict %}{{allInputDataDict | tojson}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputDataDict %}{{allOutputDataDict | tojson}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<script>feederList={% if datastoreNames %}{{datastoreNames.publicFeeders | tojson}}{% else %}null{% endif %}</script>
	<script type="text/javascript">
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}
	</script>
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<div id="triangle-parent">
		<div id="triangle-message">New Version<span class="classic-triangle">A new version of the model has been added to the OMF. To get the new outputs, please fill in any missing inputs and hit "Run Model". You can also just look at the old inputs/outputs.</span></div>
		<div id="triangle-topright"></div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-rfCoverage" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" style="display:none">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Communications Network Inputs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Fiber Bandwidth<span class="classic">Bandwidth capacity for fiber on the network (kbps)</span></label>
				<input type="text" id="fiberCapacity" name="fiberCapacity" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">RF Bandwidth<span class="classic">Bandwidth capacity of each rf collector on the network (kbps)</span></label>
				<input type="text" id="rfCapacity" name="rfCapacity" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Meter Packet Size<span class="classic">Size of the data packet from each meter (kbps)</span></label>
				<input type="text" id="meterPacket" name="meterPacket" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Fiber Cost<span class="classic">Cost of fiber per meter</span></label>
				<input type="text" id="fiber_cost" name="fiber_cost" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">RF Collector Cost<span class="classic">Cost of each RF collector</span></label>
				<input type="text" id="rf_collector_cost" name="rf_collector_cost" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Smart Meter Cost<span class="classic">Cost of smart meter installation (based on nodes labeled meter or triplex meter)</span></label>
				<input type="text" id="smart_meter_cost" name="smart_meter_cost" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="postRunInline stoppedInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<p class="reportTitle postRun">Communications Network Analysis</p>
		<div id="bandwidthAnalysis" class="tightContent postRun">
			<p>Fiber status: {{allOutputDataDict.fiberStatus}}</p>
			<p>Overloaded Fiber: {{allOutputDataDict.overloadedFiber}}</p>
			<p>RF status: {{allOutputDataDict.collectorStatus}}</p>
			<p>Overloaded Collectors: {{allOutputDataDict.overloadedCollectors}}</p>
			<p>Fiber Cost: <span class="currency">{{allOutputDataDict.fiber_cost}}</span></p>
			<p>RF Collector Cost: <span class="currency">{{allOutputDataDict.rf_collector_cost}}</span></p>
			<p>Smart Meter Cost: <span class="currency">{{allOutputDataDict.smart_meter_cost}}</span></p>
			<p>Total Equipment Cost: <span class="currency">{{allOutputDataDict.total_cost}}</span></p>
			<button id="tester" type="button" onclick="javascript:commsMap(allInputData.modelName,1);" style="display:block;width:125px;">Communications Map</button>
			<input type="text" id="feederName1" name="feederName1" style="display:none">
		</div>
		<script>
		function commsMap(modelName, feederNum) {
			studyUser = allInputData.user;
			window.open("/commsMap/" + studyUser + "/" + modelName + "/" + feederNum);
		}

		//function to convert value to currency with dollar sign, commas and 2 decimal places
		$('.currency').each( function (){
			$(this).text(parseFloat($(this)
				.text())
				.toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits:2, maximumFractionDigits:2 }));
		});
		</script>
	</div>
</body>