<head>
	{{ omfHeaders }}
	<!-- Include Highcharts -->
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Include Plotly -->
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>		
	<script type="text/javascript">
		$(window).on('pageshow',function(){
			Plotly.newPlot('derOverviewData', JSON.parse(allOutputData['derOverviewData']),JSON.parse(allOutputData['derOverviewLayout']));
			Plotly.newPlot('newDemandData', JSON.parse(allOutputData['newDemandData']),JSON.parse(allOutputData['newDemandLayout']));
			});
	</script>

	<!-- Include the ChargeLevelBattery plot only when BESS exists in the model -->
	{% if allOutputDataDict.chargeLevelBattery|sum == 0 %}
		<script type="text/javascript">    
			$(window).on('pageshow', function(){
				$("#batteryChargePlotly").html("<p>&#160;&#160;&#160;No Home Chemical BESS was specified or built by the model.</p>");
			});
		</script>
	{% else %}
		<script type="text/javascript">    
			$(window).on('pageshow', function(){
				Plotly.newPlot('batteryChargePlotly', JSON.parse(allOutputData['batteryChargeData']), JSON.parse(allOutputData['batteryChargeLayout']));
			});
		</script>
	{% endif %}

	<!-- Include the ThermalBatteryPower plot only when thermal data exists in the model -->
	{% if allOutputDataDict.thermalDataCheck == 0 %}
		<script type="text/javascript">    
			$(window).on('pageshow', function(){
				$("#thermalBatPowerPlot").html("<p>&#160;&#160;&#160;No Home TESS was specified or built by the model.</p>");
			});
		</script>
	{% else %}
		<script type="text/javascript">    
			$(window).on('pageshow', function(){
				Plotly.newPlot('thermalBatPowerPlot', JSON.parse(allOutputData['thermalBatPowerPlot']), JSON.parse(allOutputData['thermalBatPowerPlotLayout']) || {});
			});
		</script>
	{% endif %}

	<!-- Continue adding Plotly plots -->
	<script type="text/javascript">	
		$(window).on('pageshow',function(){
		Plotly.newPlot('resiliencePlotly', JSON.parse(allOutputData['resilienceData']), JSON.parse(allOutputData['resilienceLayout']) || {});
		Plotly.newPlot('resilienceProbPlotly', JSON.parse(allOutputData['resilienceProbData']), JSON.parse(allOutputData['resilienceProbLayout']) || {});
	});
	</script>

</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-derConsumer" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}"pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}"readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}"readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}"readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">General Model Inputs</p>
			</div>
			<hr style="border-style: solid; border-color: #196b12; margin-top: 10px;">
			<div class="shortInput">
				<label class="tooltip">Demand Curve (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="demandCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'demandCurve','fileName')">
				<input id="demandCurve" name="demandCurve" value="{{allInputDataDict.demandCurve}}" type="hidden">
				<div>
					<label for="demandCurveFile" class="fileButton">Choose File</label>
					<input id="fileName" name="fileName" value="{{allInputDataDict.fileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Curve in &degC (.csv file)<span class="classic">Please see the documentation at the help link for the required format and an example temperature file.</span></label>
				<input id="tempCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'tempCurve','tempFileName')">
				<input id="tempCurve" name="tempCurve" value="{{allInputDataDict.tempCurve}}" type="hidden">
				<div>
					<label for="tempCurveFile" class="fileButton">Choose File</label>
					<input id="tempFileName" name="tempFileName" value="{{allInputDataDict.tempFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Latitude<span class="classic">Specify the latitude of the load/grid.</span></label>
				<input type="text" id="latitude" name="latitude" value="{{allInputDataDict.latitude}}" pattern="^\-?\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Longitude<span class="classic">Specify the longitude of the load/grid.</span></label>
				<input type="text" id="longitude" name="longitude" value="{{allInputDataDict.longitude}}" pattern="^\-?\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Year<span class="classic">Specify the year to which the Demand Curve values corresond.</span></label>
				<input type="text" id="year" name="year" value="{{allInputDataDict.year}}" pattern="^\d{4}$" required="required"/>
			</div>
			
			<!-- Financial Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Inputs</p>
			</div>
			<hr style="border-style: solid; border-color: #196b12; margin-top: 10px;">
			<div class="shortInput">
				<label class="tooltip">URDB Label<span class="classic">Input the string found at the end of the URDB Rate URL, For example https://openei.org/apps/<br>IURDB/rate/view/<br> 5b75cfe95457a3454faf0aea <br> would yield "5b75cfe95457a3454faf0aea". Your utility can help you identify your rate.</span></label>
				<input type="text" id="urdbLabel" name="urdbLabel" value="{{allInputDataDict.urdbLabel}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Discount Rate (%)<span class="classic">Discount rate used to devalue future incomes in the financial analysis. Income received now is more valuable than income received later.</span></label>
				<input type="text" id="discountRate" name="discountRate" value="{{allInputDataDict.discountRate}}" pattern="[1-9][0-9]{0,2}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Demand Charge Cost ($/kW)<span class="classic">Specify the demand charge you pay to the utility per kW during peak times (if any).</span></label>
				<input type="text" id="demandChargeCost" name="demandChargeCost" value="{{allInputDataDict.demandChargeCost}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Electricity Cost ($/kWh)<span class="classic">Cost of energy purchased from the utility per kWh (residential retail rate).</span></label>
				<input type="text" id="electricityCost" name="electricityCost" value="{{allInputDataDict.electricityCost}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Financial Projection Length (years)<span class="classic">Number of years to project out estimated savings. Must be between 1 and 75 years.</span></label>
				<input type="text" id="projectionLength" name="projectionLength" value="{{allInputDataDict.projectionLength}}" step="1" min="1" max="75" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Energy Compensation Rate ($/kWh)<span class="classic">The dollar amount paid to you by the utility for each kWh borrowed.</span></label>
				<input type="text" id="rateCompensation" name="rateCompensation" value="{{allInputDataDict.rateCompensation}}" pattern="^\d+\.?\d*?$" min="0" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home BESS - Upfront Subsidy Amount ($)<span class="classic">The total upfront dollars paid to you by the utility for enrolling your home battery (not including any recurring subsidies).</span></label>
				<input type="text" id="BESS_subsidy_onetime" name="BESS_subsidy_onetime" value="{{allInputDataDict.BESS_subsidy_onetime}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home BESS - Monthly Recurring Subsidy Amount ($)<span class="classic">The total monthly recurring dollars paid to you by the utility for keeping your home battery enrolled (not including any upfront subsidies).</span></label>
				<input type="text" id="BESS_subsidy_ongoing" name="BESS_subsidy_ongoing" value="{{allInputDataDict.BESS_subsidy_ongoing}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home Heat Pump - Upfront Subsidy Amount ($)<span class="classic">The total upfront dollars paid to you by the utility for enrolling your heat pump (not including any recurring subsidies).</span></label>
				<input type="text" id="TESS_subsidy_onetime_hp" name="TESS_subsidy_onetime_hp" value="{{allInputDataDict.TESS_subsidy_onetime_hp}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home Heat Pump - Monthly Recurring Subsidy Amount ($)<span class="classic">The total monthly recurring dollars paid to you by the utility for keeping home heat pump enrolled (not including any upfront subsidies).</span></label>
				<input type="text" id="TESS_subsidy_ongoing_hp" name="TESS_subsidy_ongoing_hp" value="{{allInputDataDict.TESS_subsidy_ongoing_hp}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home Air Conditioner - Upfront Subsidy Amount ($)<span class="classic">The total upfront dollars paid to you by the utility for enrolling your air conditioner (not including any recurring subsidies).</span></label>
				<input type="text" id="TESS_subsidy_onetime_ac" name="TESS_subsidy_onetime_ac" value="{{allInputDataDict.TESS_subsidy_onetime_ac}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home Air Conditioner - Monthly Recurring Subsidy Amount ($)<span class="classic">The total monthly recurring dollars paid to you by the utility for keeping your air conditioner enrolled (not including any upfront subsidies).</span></label>
				<input type="text" id="TESS_subsidy_ongoing_ac" name="TESS_subsidy_ongoing_ac" value="{{allInputDataDict.TESS_subsidy_ongoing_ac}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home Water Heater - Upfront Subsidy Amount ($)<span class="classic">The total upfront dollars paid to you by the utility for enrolling your water heater (not including any recurring subsidies).</span></label>
				<input type="text" id="TESS_subsidy_onetime_wh" name="TESS_subsidy_onetime_wh" value="{{allInputDataDict.TESS_subsidy_onetime_wh}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home Water Heater - Monthly Recurring Subsidy Amount ($)<span class="classic">The total monthly recurring dollars paid to you by the utility for keeping your home water heater enrolled (not including any upfront subsidies).</span></label>
				<input type="text" id="TESS_subsidy_ongoing_wh" name="TESS_subsidy_ongoing_wh" value="{{allInputDataDict.TESS_subsidy_ongoing_wh}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home Generator - Upfront Subsidy Amount ($)<span class="classic">The total upfront dollars paid to you by the utility for enrolling your home fossil fuel generator (not including any recurring subsidies).</span></label>
				<input type="text" id="GEN_subsidy_onetime" name="GEN_subsidy_onetime" value="{{allInputDataDict.GEN_subsidy_onetime}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Home Generator - Monthly Recurring Subsidy Amount ($)<span class="classic">The total monthly recurring dollars paid to you by the utility for keeping your home fossil fuel generator enrolled (not including any upfront subsidies).</span></label>
				<input type="text" id="GEN_subsidy_ongoing" name="GEN_subsidy_ongoing" value="{{allInputDataDict.GEN_subsidy_ongoing}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>

			<!-- Fossil Fuel Generator Inputs -->
			<div class="wideInput"> 
				<p class="inputSectionHeader">Fossil Fuel Generator Device Inputs</p>
			</div>
			<hr style="border-style: solid; border-color: #196b12; margin-top: 10px;">
			<div class="shortInput">
				<label class="tooltip">Enable Use of Fossil Fuel Generator?<span class="classic">If yes, model will run with a fossil fuel generator.</span></label>
				<select id="fossilGenerator" name="fossilGenerator" value="{{allInputDataDict.fossilGenerator}}">
					<option value='Yes' {{ 'selected' if allInputDataDict.fossilGenerator == 'Yes' }}>Yes</option>
					<option value='No' {{ 'selected' if allInputDataDict.fossilGenerator == 'No' }}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip"> Rated Power Capacity (kW)<span class="classic">Specify the operating power of the fossil fuel generator.</span></label>
				<input type="text" id="existing_gen_kw" name="existing_gen_kw" value="{{allInputDataDict.existing_gen_kw}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip"> Retrofit Cost ($)<span class="classic">Specify the cost to enable the generator for utility control.</span></label>
				<input type="text" id="gen_retrofit_cost" name="gen_retrofit_cost" value="{{allInputDataDict.gen_retrofit_cost}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip"> Available Fuel (gal)<span class="classic">Specify the annual amount of generator fuel available.</span></label>
				<input type="text" id="fuel_available_gal" name="fuel_available_gal" value="{{allInputDataDict.fuel_available_gal}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip"> Fuel Cost ($/gal)<span class="classic">Specify the cost of fuel used for the generator ($/gal).</span></label>
				<input type="text" id="fuel_cost_per_gal" name="fuel_cost_per_gal" value="{{allInputDataDict.fuel_cost_per_gal}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip"> Generator Replacement Cost ($/kW)<span class="classic">Specify the cost of replacing the generator in the specified year in $/kW.</span></label>
				<input type="text" id="replace_cost_generator_per_kw" name="replace_cost_generator_per_kw" value="{{allInputDataDict.replace_cost_generator_per_kw}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip"> Generator Lifetime (years)<span class="classic">Specify after how many years in which the generator will be replaced at the cost specified in the Generator Replacement Cost input. Input is an integer less than or equal to the analysis period in years.</span></label>
				<input type="text" id="generator_replacement_year" name="generator_replacement_year" value="{{allInputDataDict.generator_replacement_year}}" required="required"/>
			</div>

			<!-- Chemical BESS Inputs -->
			<div class="wideInput"> 
				<p class="inputSectionHeader">Chemical Energy Storage Device Inputs</p>
			</div>
			<hr style="border-style: solid; border-color: #196b12; margin-top: 10px;">
			<div class="shortInput">
				<label class="tooltip">Enable Use of Home Chemical BESS?<span class="classic">If yes, model will run with a home chemical battery.</span></label>
				<select id="enableBESS" name="enableBESS" value="{{allInputDataDict.enableBESS}}">
					<option value='Yes' {{ 'selected' if allInputDataDict.enableBESS == 'Yes' }}>Yes</option>
					<option value='No' {{ 'selected' if allInputDataDict.enableBESS == 'No' }}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Battery Power Capacity (kW)<span class="classic">Specify the home chemical battery power capacity in kW.</span></label>
				<input type="text" id="BESS_kw" name="BESS_kw" value="{{allInputDataDict.BESS_kw}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Battery Energy Capacity (kWh)<span class="classic">Specify the home chemical battery energy capacity in kWh.</span></label>
				<input type="text" id="BESS_kwh" name="BESS_kwh" value="{{allInputDataDict.BESS_kwh}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Retrofit Cost ($)<span class="classic">Specify the cost to enable the battery for utility control. Typically, the BESS will already be enabled and this cost will be 0.</span></label>
				<input type="text" id="BESS_retrofit_cost" name="BESS_retrofit_cost" value="{{allInputDataDict.BESS_retrofit_cost}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Portion of Charge Shared with Utility (%)<span class="classic"> The maximum percentage of full charge that you will allow the utility to use at any time. </span></label>
				<input type="text" id="utility_BESS_portion" name="utility_BESS_portion" value="{{allInputDataDict.utility_BESS_portion}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Battery Replacement Power Cost ($/kW)<span class="classic">Specify the cost of replacing the battery inverter at the specified year in $/kW.</span></label>
				<input type="text" id="replace_cost_per_kw" name="replace_cost_per_kw" value="{{allInputDataDict.replace_cost_per_kw}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Battery Replacement Energy Cost ($/kWh)<span class="classic">Specify the cost of replacing the battery capacity at the specified year in $/kWh.</span></label>
				<input type="text" id="replace_cost_per_kwh" name="replace_cost_per_kwh" value="{{allInputDataDict.replace_cost_per_kwh}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Battery Lifetime (years)<span class="classic">Specify after how many years in which the battery cells will be replaced at the cost specified in Battery Replacement Capacity Cost. Input is an integer less than or equal to the analysis period in years.</span></label>
				<input type="text" id="battery_replacement_year" name="battery_replacement_year" value="{{allInputDataDict.battery_replacement_year}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter Replacement Cost ($)<span class="classic">Specify the cost of replacing the inverter.</span></label>
				<input type="text" id="replace_cost_inverter" name="replace_cost_inverter" value="{{allInputDataDict.replace_cost_inverter}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter Lifetime (years)<span class="classic">Specify after how many years in which the battery inverter will be replaced at the cost specified in Battery Replacement Power Cost. Input is an integer less than or equal to the analysis period in years.</span></label>
				<input type="text" id="inverter_replacement_year" name="inverter_replacement_year" value="{{allInputDataDict.inverter_replacement_year}}" required="required"/>
			</div>

			<!-- Air Conditioner (vbatDispatch) Inputs -->
			<div class="wideInput"> 
				<p class="inputSectionHeader">Home Air Conditioner Device Inputs</p>
			</div>
			<hr style="border-style: solid; border-color: #196b12; margin-top: 10px;">
			<div class="shortInput">
				<label class="tooltip">Enable Air Conditioner?<span class="classic">If yes, model will run with home air conditioner device(s).</span></label>
				<select id="load_type_ac" name="load_type_ac" value="{{allInputDataDict.load_type_ac}}">
					<option value="1" {{ 'selected' if allInputDataDict.load_type_ac == '1' }}>Yes</option>
					<option value="0" {{ 'selected' if allInputDataDict.load_type_ac == '0' }}>No</option>
				</select>
			</div>			
			<div class="shortInput">
				<label class="tooltip">Rated Power (kW)<span class="classic">Maximum operatonal power fo the AC unit. Must be a positive rational number between 0.1 and 7.2.</span></label>
				<input type="text" id="power_ac" name="power_ac" value="{{allInputDataDict.power_ac}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Retrofit Cost ($)<span class="classic">Cost to equip AC unit to respond to utility load control signals. E.g. for a virtual power plant program, this would be the cost of a Wi-Fi enabled smart outlet, typically about $8.</span></label>
				<input type="text" id="unitDeviceCost_ac" name="unitDeviceCost_ac" value="{{allInputDataDict.unitDeviceCost_ac}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Capacitance (kWh/&degC)<span class="classic">Thermal capacitance of the home or room being conditioned. Must be between 0.2 and 2.5 with exactly one decimal digit.</span></label>
				<input type="text" id="capacitance_ac" name="capacitance_ac" value="{{allInputDataDict.capacitance_ac}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Resistance (&degC/kW)<span class="classic">Thermal resistance of the home or room being conditioned. Must be between 1.5 and 140.</span></label>
				<input type="text" id="resistance_ac" name="resistance_ac" value="{{allInputDataDict.resistance_ac}}" pattern="^\d+\.?\d*?$" required="required">
			</div>			
			<div class="shortInput">
				<label class="tooltip">Coefficient of Performance<span class="classic">Coefficient of performance of the AC unit. Must be between 1 and 3.5</span></label>
				<input type="text" id="cop_ac" name="cop_ac" value="{{allInputDataDict.cop_ac}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Setpoint (&degC)<span class="classic">The target room temperature set on the AC unit's thermostat. Must be between 1.7 and 54.</span></label>
				<input type="text" id="setpoint_ac" name="setpoint_ac" value="{{allInputDataDict.setpoint_ac}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Deadband (&degC)<span class="classic">Deadband around the setpoint; prevents excessive cycling of the AC unit. Must be between 0.125 and 2.</span></label>
				<input type="text" id="deadband_ac" name="deadband_ac" value="{{allInputDataDict.deadband_ac}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<!--<label class="tooltip">Upkeep Cost ($/unit/year)<span class="classic">Maintenance cost each year per device for replacing or repairing defective load control equipment.</span></label>-->
				<input type="hidden" id="unitUpkeepCost_ac" name="unitUpkeepCost_ac" value="{{allInputDataDict.unitUpkeepCost_ac}}" pattern="^\d+\.?\d*?$" required="required">
			</div>


			<!-- Heat Pump (vbatDispatch) Inputs -->
			<div class="wideInput"> 
				<p class="inputSectionHeader">Home Heat Pump Device Inputs</p>
			</div>
			<hr style="border-style: solid; border-color: #196b12; margin-top: 10px;">
			<div class="shortInput">
				<label class="tooltip">Enable Heat Pump?<span class="classic">If yes, model will run with a home heat pump.</span></label>
				<select id="load_type_hp" name="load_type_hp" value="{{allInputDataDict.load_type_hp}}">
					<option value="2" {{ 'selected' if allInputDataDict.load_type_hp == '2' }}>Yes</option>
					<option value="0" {{ 'selected' if allInputDataDict.load_type_hp == '0' }}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Rated Power (kW)<span class="classic">Maximum operating power of the heat pump. Must be a positive rational number between 0.1 and 7.2.</span></label>
				<input type="text" id="power_hp" name="power_hp" value="{{allInputDataDict.power_hp}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Retrofit Cost ($)<span class="classic">Cost to equip heat pump to respond to utility load control signals. E.g. for a virtual power plant program, this could be the cost of a smart thermostat, typically about $250.</span></label>
				<input type="text" id="unitDeviceCost_hp" name="unitDeviceCost_hp" value="{{allInputDataDict.unitDeviceCost_hp}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Capacitance (kWh/&degC)<span class="classic">Thermal capacitance of the home. Must be between 0.2 and 2.5 with exactly one decimal digit.</span></label>
				<input type="text" id="capacitance_hp" name="capacitance_hp" value="{{allInputDataDict.capacitance_hp}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Resistance (&degC/kW)<span class="classic">Thermal resistance of the home. Must be between 1.5 and 140.</span></label>
				<input type="text" id="resistance_hp" name="resistance_hp" value="{{allInputDataDict.resistance_hp}}" pattern="^\d+\.?\d*?$" required="required">
			</div>			
			<div class="shortInput">
				<label class="tooltip">Coefficient of Performance<span class="classic">Coefficient of performance for the heat pump. Must be between 1 and 3.5</span></label>
				<input type="text" id="cop_hp" name="cop_hp" value="{{allInputDataDict.cop_hp}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Setpoint (&degC)<span class="classic">Target room temperature within the house. Must be between 1.7 and 54.</span></label>
				<input type="text" id="setpoint_hp" name="setpoint_hp" value="{{allInputDataDict.setpoint_hp}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Deadband (&degC)<span class="classic">Deadband around the setpoint; avoids excessive cycling of heat pump. Must be between 0.125 and 2.</span></label>
				<input type="text" id="deadband_hp" name="deadband_hp" value="{{allInputDataDict.deadband_hp}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<!--<label class="tooltip">Upkeep Cost ($/unit/year)<span class="classic">Maintenance cost each year per device for replacing or repairing defective load control equipment.</span></label>-->
				<input type="hidden" id="unitUpkeepCost_hp" name="unitUpkeepCost_hp" value="{{allInputDataDict.unitUpkeepCost_hp}}" pattern="^\d+\.?\d*?$" required="required">
			</div>

			<!-- Water Heater (vbatDispatch) Inputs -->
			<div class="wideInput"> 
				<p class="inputSectionHeader">Home Water Heater Device Inputs</p>
			</div>
			<hr style="border-style: solid; border-color: #196b12; margin-top: 10px;">
			<div class="shortInput">
				<label class="tooltip">Enable Water Heater?<span class="classic">If yes, model will run with a home water heater.</span></label>
				<select id="load_type_wh" name="load_type_wh" value="{{allInputDataDict.load_type_wh}}">
					<option value="4" {{ 'selected' if allInputDataDict.load_type_wh == '4' }}>Yes</option>
					<option value="0" {{ 'selected' if allInputDataDict.load_type_wh == '0' }}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Rated Power (kW)<span class="classic">Maximum input power of the water heater. Must be a positive rational number between 0.1 and 7.2.</span></label>
				<input type="text" id="power_wh" name="power_wh" value="{{allInputDataDict.power_wh}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Retrofit Cost ($)<span class="classic">Cost to equip water heater to respond to utility load control signals. E.g. for a virtual power plant program, this would be the cost of installing a Wi-Fi enabled water heater control unit, typically about 175$.</span></label>
				<input type="text" id="unitDeviceCost_wh" name="unitDeviceCost_wh" value="{{allInputDataDict.unitDeviceCost_wh}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Capacitance (kWh/&degC)<span class="classic">Thermal capacitance of the water tank. Must be between 0.2 and 2.5 with exactly one decimal digit.</span></label>
				<input type="text" id="capacitance_wh" name="capacitance_wh" value="{{allInputDataDict.capacitance_wh}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Resistance (&degC/kW)<span class="classic">Thermal resistance of the water tank. Must be between 1.5 and 140.</span></label>
				<input type="text" id="resistance_wh" name="resistance_wh" value="{{allInputDataDict.resistance_wh}}" pattern="^\d+\.?\d*?$" required="required">
			</div>			
			<div class="shortInput">
				<label class="tooltip">Coefficient of Performance<span class="classic">Coefficient of performance for the water heater. Must be between 1 and 3.5</span></label>
				<input type="text" id="cop_wh" name="cop_wh" value="{{allInputDataDict.cop_wh}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Setpoint (&degC)<span class="classic">Target temperature for the tank, set at the thermostat. Must be between 1.7 and 54.</span></label>
				<input type="text" id="setpoint_wh" name="setpoint_wh" value="{{allInputDataDict.setpoint_wh}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Deadband (&degC)<span class="classic">Deadband around the setpoint; avoids excessive cycling of heat pump. Must be between 0.125 and 2.</span></label>
				<input type="text" id="deadband_wh" name="deadband_wh" value="{{allInputDataDict.deadband_wh}}" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<!--<label class="tooltip">Upkeep Cost ($/unit/year)<span class="classic">Maintenance cost each year per device for replacing or repairing defective load control equipment.</span></label>-->
				<input type="hidden" id="unitUpkeepCost_wh" name="unitUpkeepCost_wh" value="{{allInputDataDict.unitUpkeepCost_wh}}" pattern="^\d+\.?\d*?$" required="required">
			</div>

			{{ omfModelButtons }}
		</form>
	
	
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<!-- Output tables, graphs, etc -->
	<div id="output">
		<p class="reportTitle" style="page-break-before:always">DER Serving Load Overview</p>
		<div id="derOverviewData" class="tightContent" style="width: 1000px; height: 600px;"></div>

		<p class="reportTitle" style="page-break-before:always">Impact to Demand</p>
		<div id="newDemandData" class="tightContent" style="width: 1000px; height: 600px;"></div>

		<!-- Include the ThermalBatteryPower plot only when thermal data exists in the model -->
		<p class="reportTitle" style="page-break-before:always">Home Thermal Battery Power Profile</p>
		{% if allOutputDataDict.thermalDataCheck == 0 %}
			<div id="thermalBatPowerPlot" class="tightContent"></div>
			<script type="text/javascript">    
				$(window).on('pageshow', function(){
					$("#thermalBatPowerPlot").html("<p>&#160;&#160;&#160;No Home TESS was specified or built by the model.</p>");
				});
			</script>
		{% else %}
			<div id="thermalBatPowerPlot" class="tightContent" style="width: 1000px; height: 600px;"></div>
		{% endif %}

		<!-- Include the ChargeLevelBattery plot only when BESS exists in the model -->
		<p class="reportTitle" style="page-break-before:always">Home Chemical BESS State of Charge</p>
		{% if allOutputDataDict.chargeLevelBattery|sum == 0 %}
			<div id="batteryChargePlotly" class="tightContent"></div>
			<script type="text/javascript">    
				$(window).on('pageshow', function(){
					$("#batteryChargePlotly").html("<p>&#160;&#160;&#160;No Home Chemical BESS was specified or built by the model.</p>");
				});
			</script>
		{% else %}
			<div id="batteryChargePlotly" class="tightContent" style="width: 1000px; height: 600px;"></div>
		{% endif %}

		<p class="reportTitle">Monthly Cost Comparison</p>
		<div id="levelizedCostReport" class="tightContent">
			<div id="levelizedCostTableDiv" style="display:inline-block; width:1000px">
				<table id="monthlySummaryTable" style="margin:5px;width:990px">
					<style>td, th {padding:7 0 5 20;text-align: left;font-size:0.7em;}</style>
					<div id="tableHead">
						<thead>
							<th></th>
							<th>Jan</th>
							<th>Feb</th>
							<th>Mar</th>
							<th>Apr</th>
							<th>May</th>
							<th>Jun</th>
							<th>Jul</th>
							<th>Aug</th>
							<th>Sep</th>
							<th>Oct</th>
							<th>Nov</th>
							<th>Dec</th>
						</thead>
					</div>
				</table>
				<script id="globalOutputScripting">
					function insertMetric(tableId, name, vector) {
						// Add a vector to a table as a row.
						table = gebi(tableId)
						newRow = table.insertRow()
						newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
						for (i=0; i<vector.length; i++) {
							cell = newRow.insertCell()
							cell.innerHTML = delimitNumbers(vector[i].toFixed(2))
						}
					}
				</script>
				<script>
					insertMetric("monthlySummaryTable","Peak Demand (kW)", allOutputData.monthlyPeakDemand)
					insertMetric("monthlySummaryTable","Adjusted Peak Demand (kW)", allOutputData.monthlyAdjustedPeakDemand)
					insertMetric("monthlySummaryTable","Energy (kWh)", allOutputData.monthlyEnergyConsumption)
					insertMetric("monthlySummaryTable","Adjusted Energy (kWh)", allOutputData.monthlyAdjustedEnergyConsumption)
					insertMetric("monthlySummaryTable","Energy Cost ($)", allOutputData.monthlyEnergyConsumptionCost)
					insertMetric("monthlySummaryTable","Adjusted Energy Cost ($)", allOutputData.monthlyAdjustedEnergyConsumptionCost)
					//insertMetric("monthlySummaryTable","Demand Charge ($)", allOutputData.monthlyPeakDemandCost)
					//insertMetric("monthlySummaryTable","Adjusted Demand Charge ($)", allOutputData.monthlyAdjustedPeakDemandCost)
					insertMetric("monthlySummaryTable","Total Cost of Service ($)", allOutputData.monthlyTotalCostService)
					insertMetric("monthlySummaryTable","Adjusted Total Cost of Service ($)", allOutputData.monthlyTotalCostAdjustedService)
					insertMetric("monthlySummaryTable","Consumer Savings ($)", allOutputData.savings_year1_monthly_array)
				</script>
			</div>
		</div>

		<p class="reportTitle" style="page-break-before:always">Cash Flow Projection</p>
		<div id="cashFlowReport" class="tightContent">
			<div id="cashFlowChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":'normal'},"series":{"animation":false,"shadow":false},"spline":{"animation":false,"shadow":false}},
					"xAxis":{"title":{"text":"Year After Installation","style":{"color":"gray"}},"type":"linear","tickColor":"gray","tickInterval":1,"lineColor":"gray","minorTickColor":"gray", "minorTickInterval":5},
					"title":{"text":"NPV: $" + allOutputData.NPV.toFixed(0) + ", SPP: " + allOutputData.SPP.toFixed(3), "verticalAlign":"top", "align":"right", "y":20, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					//"title":{"text":""},
					"series":[
						{"name":"Utility Savings", "data": allOutputData.savingsAllYears, "color": "rgb(41,94,17)"},
						{"name":"Utility Costs", "data": allOutputData.costsAllYears, "color": "rgb(88,9,79)"},
						{"name":"Cumulative Return", "type":"spline", "data": allOutputData.cumulativeCashflow_total, "color": "purple"},
					],
					"yAxis":{"title":{"text":"Income ($)","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"cashFlowChartDiv","type":"column","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle" style="page-break-before:always">Savings Breakdown Per Technology</p>
		<div id="cashFlowReport" class="tightContent">
			<div id="cashFlowChartDiv2"></div>
			{% if allOutputDataDict.techCheck == 0 %}
			<script type="text/javascript">	
				$("#cashFlowChartDiv2").html("<p>&#160;&#160;&#160;No DER technologies were specified or built by the model.</p>")
			</script>
			{% else %}
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":'normal'},"series":{"animation":false,"shadow":false},"spline":{"animation":false,"shadow":false}},
					"xAxis":{"title":{"text":"Year After Installation","style":{"color":"gray"}},"type":"linear","tickColor":"gray","tickInterval":1,"lineColor":"gray","minorTickColor":"gray", "minorTickInterval":5},
					"title":{"text":"", "verticalAlign":"top", "align":"right", "y":35, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					"series":[
						//{"name":"Net Benefits", "data": allOutputData.netCashflow, "color": "rgb(102,102,255)"},
						//{"name":"Total Utility Savings", "data": allOutputData.savingsAllYears, "color": "green"},
						//{"name":"BESS Demand Savings", "data": allOutputData.savings_peakDemand_BESS_allyears, "color": "rgba(27,121,57,1)"},
						{"name":"BESS Consumption Savings", "data": allOutputData.savings_consumption_BESS_allyears, "color": "rgba(27,121,57,0.5)"},
						//{"name":"TESS Demand Savings", "data": allOutputData.savings_peakDemand_TESS_allyears, "color": "rgba(92,174,99,1)"},
						{"name":"TESS Consumption Savings", "data": allOutputData.savings_consumption_TESS_allyears, "color": "rgba(92,174,99,0.5)"},
						//{"name":"Generator Demand Savings", "data": allOutputData.savings_peakDemand_GEN_allyears, "color": "rgba(139,195,27,1)"},
						{"name":"Generator Consumption Savings", "data": allOutputData.savings_consumption_GEN_allyears, "color": "rgba(139,195,27,0.5)"},
						{"name":"BESS Incentives", "data": allOutputData.totalCosts_BESS_allyears, "color": "rgb(116,40,129)"},
						{"name":"TESS Incentives", "data": allOutputData.totalCosts_TESS_allyears, "color": "rgb(152,110,172)"},
						{"name":"Generator Incentives", "data": allOutputData.totalCosts_GEN_allyears, "color": "rgb(195,164,207)"},
						//{"name":"Peak Shift Savings", "data": allOutputData.timeshift_savings_allTech_allyears, "color": "rgb(152,251,152)"},
						//{"name":"Total Demand Charge Savings", "data": allOutputData.totalPeakDemandSavings_allDER_allyears, "color": "rgb(152,251,152)"},
						//{"name":"Startup Costs", "data": allOutputData.startupCosts_allyears, "color": "rgb(240,128,128)"},
						//{"name":"Operational Costs", "data": allOutputData.operationalCosts_allyears, "color": "rgb(246,164,130)"},
						{"name":"Cumulative Savings", "type":"spline", "data": allOutputData.cumulativeSavings_total, "color": "black"}
					],
					"yAxis":{"title":{"text":"Income ($)","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"cashFlowChartDiv2","type":"column","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
			{% endif %}
		</div>
	</div>

	<!-- Raw Input and Output Files -->
	{{ rawOutputFiles }}
	{% endif %}
</body>