<head>
	{{ omfHeaders }}
	<style>
		.tab {
		    overflow: hidden;
		    margin-left: auto;
		    margin-right: auto;
		    width: 1000px;
		}
		.tab button {
			color: black;
		    background-color: inherit;
		    float: left;
		    border: none;
		    outline: none;
		    cursor: pointer;
		    padding: 14px 16px;
		    border-radius: 5px 5px 0px 0px;
		}
		.tab button:hover {
		    background-color: white;
		}
		.tab button.active {
		    background-color: seagreen;
		    color: white;
		}
		.tabcontent {
		    display: none;
		} 
		table { width: 100%; border-spacing: 2px; table-layout: fixed;  }
		td,th { 
			border: 1px;
			border-style: solid;
			border-color: black;
			text-align: center;
			vertical-align: center;
			overflow-wrap: break-word
		 }
		 table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
		    content: " \25B4\25BE" 	
		 }

		 .tableContainer {max-height: 80%; overflow-y: auto;}
		 @media print{
		 	.tableContainer{max-height: none; overflow: visible;}
		 	div#triangle-parent{visibility: hidden;}
		 }
	</style>
	<script src="/static/sorttable.js"></script>
	<script type="text/javascript">
		function displayAppropriately(){
			//console.log("der " + $('input[name= "derRadio"]:checked').val());
			//console.log("load " + $('input[name= "loadRadio"]:checked').val());
			$('.tabPlots').hide();
			var derOn = $('input[name= "derRadio"]:checked').val() == 1;
			var peakLoad = $('input[name= "loadRadio"]:checked').val() == 1;
			if (derOn && peakLoad) 			{$('#derOnPeakLoad').show();	}
			else if (derOn && !peakLoad) 	{$('#derOnMinLoad').show();		}
			else if (!derOn && peakLoad) 	{$('#derOffPeakLoad').show(); 	}
			else 							{$('#derOffMinLoad').show();	}
		}

		function openTab(evt, tabName) {
		    var i, tabContent, tabLinks;
		    // Get all elements with class="tabContent" and hide them
			$(".tabContent").hide();
		    // Get all elements with class="tabLinks" and remove the class "active"
		    tabLinks = document.getElementsByClassName("tabLinks");
		    for (i = 0; i < tabLinks.length; i++) {
		        tabLinks[i].className = tabLinks[i].className.replace(" active", "");
		    }
		    // Show the current tab, and add an "active" class to the button that opened the tab
		    $("." + tabName).show();
		    //gebi(tabName).style.display = "block";
		    evt.currentTarget.className += " active";
		}
	</script>
</head>
{% macro insert_file_upload_block(fileName, dataVariableName) -%}
	<input id="{{dataVariableName}}Handler" type="file" style="display:none" onchange="handle_files(this.files,'{{dataVariableName}}','{{fileName}}')">
	<input id="{{dataVariableName}}" name="{{dataVariableName}}" value="{{allInputDataDict[dataVariableName]}}" type="hidden">
	<div>
		<label for="{{dataVariableName}}Handler" class="fileButton">Choose File</label>
		<input id="{{fileName}}" name="{{fileName}}" value="{{allInputDataDict[fileName]}}" readonly class="uploadFileName">    
	</div>
{%- endmacro %}
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name= "inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-derInterconnection" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<hr>
			<!-- model inputs -->
			<div class="shortInput">
				<label class="tooltip">Added System Name
					<span class="classic">Name of the added generation in the circuit</span>
				</label>
				<input type="text" id="newGeneration" name="newGeneration" value="{{allInputDataDict.newGeneration}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Generation Step-up Transformer Name
					<span class="classic">Name of the step-up transformer at the added generation</span>
				</label>
				<input type="text" id="newGenerationStepUp" name="newGenerationStepUp" value="{{allInputDataDict.newGenerationStepUp}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Generation Breaker Name
					<span class="classic">Name of the breaker at the added generation</span>
				</label>
				<input type="text" id="newGenerationBreaker" name="newGenerationBreaker" value="{{allInputDataDict.newGenerationBreaker}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Added System Insolation (W/sf)
					<span class="classic">Insolation of the added solar generation between 0 and 1000 W per sq ft; The default value is an approximation of the highest expected insolation in the US given an average year. See the green 'Help?' link above for more information</span>
				</label>
				<input type="text" id="newGenerationInsolation" name="newGenerationInsolation" value="{{allInputDataDict.newGenerationInsolation}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Max Line loading(&percnt; rating)
					<span class="classic">Higher line loadings will be considered violations</span>
				</label>
				<input type="text" id="thermalThreshold" name="thermalThreshold" value="{{allInputDataDict.thermalThreshold}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Max Voltage Flicker(&percnt;)
					<span class="classic">Higher voltage flickers will be considered violations</span>
				</label>
				<input type="text" id="flickerThreshold" name="flickerThreshold" value="{{allInputDataDict.flickerThreshold}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Max Tap Position Difference
					<span class="classic">Higher differences in tap positions between the DER on and DER off scenarios will be considered violations</span>
				</label>
				<input type="text" id="tapThreshold" name="tapThreshold" value="{{allInputDataDict.tapThreshold}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Max Fault Current Difference(&percnt;)
					<span class="classic">Higher absolute differences in pre-fault and post-fault currents as a percentage of pre-fault current will be considered violations</span>
				</label>
				<input type="text" id="faultCurrentThreshold" name="faultCurrentThreshold" value="{{allInputDataDict.faultCurrentThreshold}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Max Fault Voltage at POI(&percnt;)
					<span class="classic">If the post-fault voltage as a percentage of pre-fault voltage is higher than this threshold, it will be considered a violation</span>
				</label>
				<input type="text" id="faultVoltsThreshold" name="faultVoltsThreshold" value="{{allInputDataDict.faultVoltsThreshold}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Peak Load (.csv file) <i>optional</i>
					<span class="classic">Please see the documentation at the green 'Help?' link above for more information including the expected file format</span>
				</label>
				{{ insert_file_upload_block('peakLoadFileName','peakLoadData') }}
			</div>
			<div class="shortInput">
				<label class="tooltip">Min Load (.csv file) <i>optional</i>
					<span class="classic">Please see the documentation at the green 'Help?' link above for more information including expected file format</span>
				</label>
				{{ insert_file_upload_block('minLoadFileName','minLoadData') }}
			</div>
			<div class="shortInput">
				<label class="tooltip">Display Format<span class="classic">Geospatial shows the circuit the same way it was defined in the feeder editor. Force Directed uses an algorithm to show the circuit elements evenly spaced (useful for circuits without location data).</span></label>
				<select id="layoutAlgorithm" name="layoutAlgorithm">
					<option value="geospatial" {% if allInputDataDict.layoutAlgorithm == 'geospatial' %}selected{% endif %}>Geospatial</option>
					<option value="forceDirected" {% if allInputDataDict.layoutAlgorithm == 'forceDirected' %}selected{% endif %}>Force Directed</option>
				</select>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<p class="reportTitle" style="page-break-before:always">Load Flow Analysis</p>
		<!-- Radio Buttons -->
		<div class="content">
			<table style="width: 100%">
			<tr>
				<td style="text-align: left; border: 0px;">
					Distributed Energy Resource Status:
					<label>	<input class="plotRadios" type="radio" name= "derRadio" value="1" checked="true" onchange="displayAppropriately()">On</label>
					<label><input class="plotRadios" type="radio" name= "derRadio" value="0" onchange="displayAppropriately()">Off</label>
				</td>
				<td style="text-align: left; border: 0px;">
					Load Type:
					<label><input class="plotRadios" type="radio" name= "loadRadio" value="1" checked="true" onchange="displayAppropriately()">Peak</label>
					<label><input class="plotRadios" type="radio" name= "loadRadio" value="0" onchange="displayAppropriately()">Minimum</label>
				</td>
			</tr>
			</table>
		</div>
		<!-- Tab links -->
		<div class="tab">
		  <button class="tabLinks active" onclick="openTab(event, 'voltageDiagram')">Voltage</button>
		  <button class="tabLinks" onclick="openTab(event, 'currentDiagram')">Current</button>
		  <button class="tabLinks" onclick="openTab(event, 'thermalDiagram')">Line Loading</button>
		  <button class="tabLinks" onclick="openTab(event, 'flickerDiagram')">Flicker</button>
		</div>
		<!-- Tab content -->
		<div id="derOnPeakLoad" class="tabPlots" style="display: block;">
			<!--DEBUG derOn peakLoad-->
			<div class="tightContent tabContent voltageDiagram firstTab">
				<!--DEBUG volt-->
				<img id="voltageDerOnPeakChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("voltageDerOnPeakChart").src = "data:image/png;base64," + allOutputData.voltageDerOnPeak</script>
				<span style="color: red">Nodes with voltage value >126 outlined in red</span><br>
				<span style="color: orange">Nodes with voltage value &lt;114 outlined in orange</span>
			</div>
			<div class="tightContent tabContent currentDiagram">
				<!--DEBUG curr-->
				<img id="currentDerOnPeakChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("currentDerOnPeakChart").src = "data:image/png;base64," + allOutputData.currentDerOnPeak</script>
			</div>
			<div class="tightContent tabContent thermalDiagram">
				<!--DEBUG therm-->
				<img id="thermalDerOnPeakChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("thermalDerOnPeakChart").src = "data:image/png;base64," + allOutputData.thermalDerOnPeak</script>
			</div>
			<div class="tightContent tabContent flickerDiagram">
				<!--DEBUG flick-->
				<img id="flickerDerOnPeakChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("flickerDerOnPeakChart").src = "data:image/png;base64," + allOutputData.flickerPeak</script>
			</div>
		</div>

		<div id="derOffPeakLoad" class="tabPlots" style="display: none;">
			<!--DEBUG derOff peakLoad-->
			<div class="tightContent tabContent voltageDiagram firstTab">
				<!--DEBUG volt-->
				<img id="voltageDerOffPeakChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("voltageDerOffPeakChart").src = "data:image/png;base64," + allOutputData.voltageDerOffPeak</script>
			</div>
			<div class="tightContent tabContent currentDiagram">
				<!--DEBUG curr-->
				<img id="currentDerOffPeakChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("currentDerOffPeakChart").src = "data:image/png;base64," + allOutputData.currentDerOffPeak</script>
			</div>
			<div class="tightContent tabContent thermalDiagram">
				<!--DEBUG therm-->
				<img id="thermalDerOffPeakChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("thermalDerOffPeakChart").src = "data:image/png;base64," + allOutputData.thermalDerOffPeak</script>
			</div>
			<div class="tightContent tabContent flickerDiagram">
				<!--DEBUG flick-->
				<img id="flickerDerOffPeakChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("flickerDerOffPeakChart").src = "data:image/png;base64," + allOutputData.flickerPeak</script>
			</div>
		</div>
		
		<div id="derOnMinLoad" class="tabPlots" style="display: none;">
			<!--DEBUG derOn minLoad-->
			<div class="tightContent tabContent voltageDiagram firstTab">
				<!--DEBUG volt-->
				<img id="voltageDerOnMinChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("voltageDerOnMinChart").src = "data:image/png;base64," + allOutputData.voltageDerOnMin</script>
			</div>
			<div class="tightContent tabContent currentDiagram">
				<!--DEBUG curr-->
				<img id="currentDerOnMinChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("currentDerOnMinChart").src = "data:image/png;base64," + allOutputData.currentDerOnMin</script>
			</div>
			<div class="tightContent tabContent thermalDiagram">
				<!--DEBUG therm-->
				<img id="thermalDerOnMinChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("thermalDerOnMinChart").src = "data:image/png;base64," + allOutputData.thermalDerOnMin</script>
			</div>
			<div class="tightContent tabContent flickerDiagram">
				<!--DEBUG flick-->
				<img id="flickerDerOnMinChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("flickerDerOnMinChart").src = "data:image/png;base64," + allOutputData.flickerMin</script>
			</div>
		</div>

		<div id="derOffMinLoad" class="tabPlots" style="display: none;"> 
			<!--DEBUG derOff minLoad-->
			<div class="tightContent tabContent voltageDiagram firstTab">
				<!--DEBUG volt-->
				<img id="voltageDerOffMinChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("voltageDerOffMinChart").src = "data:image/png;base64," + allOutputData.voltageDerOffMin</script>
			</div>
			<div class="tightContent tabContent currentDiagram">
				<!--DEBUG curr-->
				<img id="currentDerOffMinChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("currentDerOffMinChart").src = "data:image/png;base64," + allOutputData.currentDerOffMin</script>
			</div>
			<div class="tightContent tabContent thermalDiagram">
				<!--DEBUG therm-->
				<img id="thermalDerOffMinChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("thermalDerOffMinChart").src = "data:image/png;base64," + allOutputData.thermalDerOffMin</script>
			</div>
			<div class="tightContent tabContent flickerDiagram">
				<!--DEBUG flick-->
				<img id="flickerDerOffMinChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("flickerDerOffMinChart").src = "data:image/png;base64," + allOutputData.flickerMin</script>
			</div>
		</div>

		<script type="text/javascript">
			//show first tab 
			$(".firstTab").css('display', 'block');
		</script>

		<!-- Tables-->
		<p class="reportTitle" style="page-break-before:always">Maximum and Minimum Voltages</p>
		<div class="content tableContainer">
			<table id="minMaxVolts">
			<tr>
				<th rowspan="2">DER Status</th>
				<th rowspan="2">Load Condition</th>
				<th colspan="2">Max Voltage</th>
				<th colspan="2">Min Voltage</th>
			</tr>
			<tr> <th>V</th> <th>Location</th> <th>V</th> <th>Location</th> </tr>
			<tr> 
				<td>On</td> <td>Peak</td> 
				<td id="derOnMaxVoltValPeak"></td>
				<script type="text/javascript">
					gebi("derOnMaxVoltValPeak").innerHTML = allOutputData['maxVoltsPeakDerOn'][1]
				</script>  
				<td id="derOnMaxVoltLocPeak"></td>
				<script type="text/javascript">
					gebi("derOnMaxVoltLocPeak").innerHTML = allOutputData['maxVoltsPeakDerOn'][0]
				</script> 
				<td id="derOnMinVoltValPeak"></td>
				<script type="text/javascript">
					gebi("derOnMinVoltValPeak").innerHTML = allOutputData['minVoltsPeakDerOn'][1]
				</script>  
				<td id="derOnMinVoltLocPeak"></td>
				<script type="text/javascript">
					gebi("derOnMinVoltLocPeak").innerHTML = allOutputData['minVoltsPeakDerOn'][0]
				</script> 
			</tr>
			<tr> 
				<td>On</td> <td>Min</td> 
				<td id="derOnMaxVoltValMin"></td>
				<script type="text/javascript">
					gebi("derOnMaxVoltValMin").innerHTML = allOutputData['maxVoltsMinDerOn'][1]
				</script>  
				<td id="derOnMaxVoltLocMin"></td>
				<script type="text/javascript">
					gebi("derOnMaxVoltLocMin").innerHTML = allOutputData['maxVoltsMinDerOn'][0]
				</script>  
				<td id="derOnMinVoltValMin"></td>
				<script type="text/javascript">
					gebi("derOnMinVoltValMin").innerHTML = allOutputData['minVoltsMinDerOn'][1]
				</script>  
				<td id="derOnMinVoltLocMin"></td>
				<script type="text/javascript">
					gebi("derOnMinVoltLocMin").innerHTML = allOutputData['minVoltsMinDerOn'][0]
				</script> 
			</tr>
			<tr> 
				<td>Off</td> <td>Peak</td> 
				<td id="derOffMaxVoltValPeak"></td>
				<script type="text/javascript">
					gebi("derOffMaxVoltValPeak").innerHTML = allOutputData['maxVoltsPeakDerOff'][1]
				</script>  
				<td id="derOffMaxVoltLocPeak"></td>
				<script type="text/javascript">
					gebi("derOffMaxVoltLocPeak").innerHTML = allOutputData['maxVoltsPeakDerOff'][0]
				</script>  
				<td id="derOffMinVoltValPeak"></td>
				<script type="text/javascript">
					gebi("derOffMinVoltValPeak").innerHTML = allOutputData['minVoltsPeakDerOff'][1]
				</script>  
				<td id="derOffMinVoltLocPeak"></td>
				<script type="text/javascript">
					gebi("derOffMinVoltLocPeak").innerHTML = allOutputData['minVoltsPeakDerOff'][0]
				</script> 
			</tr>
			<tr> 
				<td>Off</td> <td>Min</td> 
				<td id="derOffMaxVoltValMin"></td>
				<script type="text/javascript">
					gebi("derOffMaxVoltValMin").innerHTML = allOutputData['maxVoltsMinDerOff'][1]
				</script>  
				<td id="derOffMaxVoltLocMin"></td>
				<script type="text/javascript">
					gebi("derOffMaxVoltLocMin").innerHTML = allOutputData['maxVoltsMinDerOff'][0]
				</script>  
				<td id="derOffMinVoltValMin"></td>
				<script type="text/javascript">
					gebi("derOffMinVoltValMin").innerHTML = allOutputData['minVoltsMinDerOff'][1]
				</script>  
				<td id="derOffMinVoltLocMin"></td>
				<script type="text/javascript">
					gebi("derOffMinVoltLocMin").innerHTML = allOutputData['minVoltsMinDerOff'][0]
				</script> 
			</tr>
			</table>
		</div>

		<p class="reportTitle" style="page-break-before:always">Maximum Voltage Flicker when DER is turned off</p>
		<div class="content tableContainer">
			<table id="maxVoltFlicker">
			<tr> <th>Load Condition</th> <th>&percnt;</th> <th>Location</th> </tr>
			<tr> 
				<td>Peak</td> 
				<td id="flickerValPeak"></td>
				<script type="text/javascript">
					gebi("flickerValPeak").innerHTML = allOutputData['maxFlickerPeak'][1].toFixed(2)
				</script>
				<td id="flickerLocPeak"></td> 
				<script type="text/javascript">
					gebi("flickerLocPeak").innerHTML = allOutputData['maxFlickerPeak'][0]
				</script>
			</tr>
			<tr> 
				<td>Min</td> 
				<td id="flickerValMin"></td> 
				<script type="text/javascript">
					gebi("flickerValMin").innerHTML = allOutputData['maxFlickerMin'][1].toFixed(2)
				</script>
				<td id="flickerLocMin"></td> 
				<script type="text/javascript">
					gebi("flickerLocMin").innerHTML = allOutputData['maxFlickerMin'][0]
				</script>
			</tr>
			</table>
		</div>

		<p class="reportTitle" style="page-break-before:always">Voltage Values</p>
		<div class="content tableContainer">
			<table class="sortable" id="voltageViolations">
			<thead><tr> <th>Location</th> <th>Nominal Voltage</th> <th>Voltage Value</th> <th>&percnt; Change</th> <th>DER Status</th> </tr></thead>
			</table>
			<script type="text/javascript">
				var voltageViolations = allOutputData['voltageViolations'];
				var content = ''; var totalContent = '';

				for (var i = 0; i<voltageViolations.length; i++) {
					content = '<td>' + voltageViolations[i][0] + '</td><td>' + 
					voltageViolations[i][1].toFixed(2) + '</td><td>' + 
					voltageViolations[i][2].toFixed(2) + '</td><td>' + 
					voltageViolations[i][3].toFixed(2) + '&percnt;</td><td>' + 
					voltageViolations[i][4] + '</td>';
					if (voltageViolations[i][5] == true)
						content = '<tr style=\"color: red\">' + content + '</tr>';
					else content = '<tr>' + content + '</tr>';
					totalContent += content
				}
				gebi("voltageViolations").innerHTML += totalContent;
			</script> 
			
			<span style="color: red">Voltage values non-compliant with ANSI C84.1 Range A Service voltages are displayed in red</span>
		</div>

		<p class="reportTitle" style="page-break-before:always">Voltage Flicker when DER is turned off</p>
		<div class="content tableContainer">
			<table class="sortable" id="flickerViolations">
			<thead>	<tr> <th>Location</th> <th>Voltage Flicker</th> <th>Load Condition</th> </tr> </thead>
			</table>
			<script type="text/javascript">
				var flickerViolations = allOutputData['flickerViolations'];
				var content = ''; var totalContent = '';
				for (var i = 0; i<flickerViolations.length; i++) {
					content = '<td>' + flickerViolations[i][0] + '</td><td>' + flickerViolations[i][1].toFixed(2) + '&percnt;</td><td>' + flickerViolations[i][2] + '</td>';
					if (flickerViolations[i][3] == true)
						content = '<tr style=\"color: red\">' + content + '</tr>';
					else content = '<tr>' + content + '</tr>';
					totalContent += content
				}
				gebi("flickerViolations").innerHTML += totalContent;
			</script> 
			<span style="color: red">Voltage flicker values greater or equal to the input flicker threshold are displayed in red</span>
		</div>

		<p class="reportTitle" style="page-break-before:always">Line Loading</p>
		<div class="content tableContainer">
			<table class="sortable" id="thermalViolations">
			<thead><tr> <th>Location</th> <th>Line Load (&percnt; rating)</th> <th>DER Status</th> </tr></thead>
			</table>
			<script type="text/javascript">
				var thermalViolations = allOutputData['thermalViolations'];
				var content = ''; var totalContent = '';
				for (var i = 0; i<thermalViolations.length; i++) {
					content = '<td>' + thermalViolations[i][0] + '</td><td>' + thermalViolations[i][1].toFixed(2) + '&percnt;</td><td>' + thermalViolations[i][2] + '</td>';
					if (thermalViolations[i][3] == true)
						content = '<tr style=\"color: red\">' + content + '</tr>';
					else content = '<tr>' + content + '</tr>';
					totalContent += content
				}
				gebi("thermalViolations").innerHTML += totalContent;
			</script> 
			<span style="color: red">Line loading values greater or equal to the input threshold are displayed in red</span>
		</div>
		
		<p class="reportTitle" style="page-break-before:always">Regulator Power Flow</p>
		<div class="content tableContainer">
			<table class="sortable" id="reversePowerFlow">
			<thead><tr> <th>Location</th> <th>Power</th> <th>DER Status</th> </tr></thead>
			</table>
			<script type="text/javascript">
				var reversePowerFlow = allOutputData['reversePowerFlow'];
				var content = ''; var totalContent = '';
				for (var i = 0; i<reversePowerFlow.length; i++) {
					content = '<td>' + reversePowerFlow[i][0] + '</td><td>' + 
						reversePowerFlow[i][1].toFixed(2) + '</td><td>' + 
						reversePowerFlow[i][2] + '</td>';
					if (reversePowerFlow[i][3] == true)
						content = '<tr style=\"color: red\">' + content + '</tr>';
					else content = '<tr>' + content + '</tr>';
					totalContent += content
				}
				gebi("reversePowerFlow").innerHTML += totalContent;
			</script> 
			<span style="color: red">Reverse power flow violations displayed in red</span>
		</div>

		<p class="reportTitle" style="page-break-before:always">Tap Changes</p>
		<div class="content tableContainer">
			<table class="sortable" id="tapChanges">
			<thead><tr> <th>Load Condition</th> <th>Location</th> <th>Tap Position DER On</th> <th>Tap Position DER Off</th> <th>Difference</th> </tr></thead>
			</table>
			<script type="text/javascript">
				var tapViolations = allOutputData['tapViolations'];
				var content = ''; var totalContent = '';
				for (var i = 0; i<tapViolations.length; i++) {
					content = '<td>' + tapViolations[i][0] + '</td><td>' + tapViolations[i][1] + 
					'</td><td>' + tapViolations[i][2] + '</td><td>' + tapViolations[i][3] + 
					'</td><td>' + tapViolations[i][4] + '</td>';
					if (tapViolations[i][5] == true)
						content = '<tr style=\"color: red\">' + content + '</tr>';
					else content = '<tr>' + content + '</tr>';
					totalContent += content;
				}
				gebi("tapChanges").innerHTML += totalContent;
			</script> 
			<span style="color: red">Tap change differences greater or equal to the input max tap change difference are displayed in red</span>
		</div>

		<p class="reportTitle" style="page-break-before:always">Short Circuit Analysis</p>
		<div class="content tableContainer">
			
			<p>DER Breaker Fault Current</p>
			<table class="sortable" id="faultBreaker">
			<thead><tr>
				<th>Load Condition</th>
				<th>Fault Type</th>
				<th>DER On</th>
				<th>DER Off</th>
				<th>Difference</th>
			</tr></thead>
			</table>
			<script type="text/javascript">
				var faultBreaker = allOutputData['faultBreaker'];
				var content = ''; var totalContent = '';
				for (var i = 0; i<faultBreaker.length; i++) {
					content = '<td>' + faultBreaker[i][0] + '</td><td>' + 
						faultBreaker[i][1] + '</td><td>' + faultBreaker[i][2].toFixed(2) + 
						'</td><td>' + faultBreaker[i][3].toFixed(2) + '</td><td>' + 
						faultBreaker[i][4].toFixed(2) + '</td>';
					content = '<tr>' + content + '</tr>';
					totalContent += content;
				}
				gebi("faultBreaker").innerHTML += totalContent;
			</script>
		</div>
		<div class="content tableContainer">
			<p>DER Transformer Fault Current</p>
			<table class="sortable" id="faultStepUp">
			<thead><tr>
				<th>Load Condition</th>
				<th>Fault Type</th>
				<th>DER On</th>
				<th>DER Off</th>
				<th>Difference</th>
			</tr></thead>
			</table>
			<script type="text/javascript">
				var faultStepUp = allOutputData['faultStepUp'];
				var content = ''; var totalContent = '';
				for (var i = 0; i<faultStepUp.length; i++) {
					content = '<td>' + faultStepUp[i][0] + '</td><td>' + 
						faultStepUp[i][1] + '</td><td>' + faultStepUp[i][2].toFixed(2) + 
						'</td><td>' + faultStepUp[i][3].toFixed(2) + '</td><td>' + 
						faultStepUp[i][4].toFixed(2) + '</td>';
					content = '<tr>' + content + '</tr>';
					totalContent += content;
				}
				gebi("faultStepUp").innerHTML += totalContent;
			</script> 
		</div>

		<p class="reportTitle" style="page-break-before:always">Fault Current Violations with DER On</p>
		<div class="content tableContainer">
			<table class="sortable" id="faultCurrentViolations">
			<thead><tr> <th>Load Condition</th> <th>Fault Location</th> <th>Fault Type</th> <th>Measurement Location</th> <th>Pre-fault Current</th> <th>Post-fault Current</th> <th>&percnt; Change</th> </tr></thead>
			</table>
			<script type="text/javascript">
				var faultCurrentViolations=allOutputData['faultCurrentViolations'];
				var content = ''; var totalContent = '';
				for (var i = 0; i<faultCurrentViolations.length; i++) {
					content = '<td>' + faultCurrentViolations[i][0] + '</td><td>' +
						faultCurrentViolations[i][1] + '</td><td>' +
						faultCurrentViolations[i][2] + '</td><td>' + 
						faultCurrentViolations[i][3] + '</td><td>' + 
						faultCurrentViolations[i][4].toFixed(2) + '</td><td>' + 
						faultCurrentViolations[i][5].toFixed(2) + '</td><td>' + 
						faultCurrentViolations[i][6].toFixed(2) + '</td>';
					if (faultCurrentViolations[i][7] == true)
						content = '<tr style=\"color: red\">' + content + '</tr>';
					else content = '<tr>' + content + '</tr>';
					totalContent += content;
				}
				gebi("faultCurrentViolations").innerHTML += totalContent;
			</script> 
			<span style="color: red">Fault current differences as a percent of the pre-fault current that are greater than or equal to the input threshold are displayed in red</span>
		</div>

		<p class="reportTitle" style="page-break-before:always">Effective Grounding Screening</p>
		<div class="content tableContainer">
			<p>Line to Ground Fault at the POI</p>
			<table class="sortable" id="faultPOIVolts">
			<thead><tr> <th>DER Status</th> <th>Fault Location</th> <th>Fault Type</th> <th>Pre-fault Voltage</th> <th>Post-fault Voltage</th> <th>Post-fault Percent</th> </tr></thead>
			</table>
			<script type="text/javascript">
				var faultPOIVolts=allOutputData['faultPOIVolts'];
				var content = ''; var totalContent ='';
				for (var i = 0; i<faultPOIVolts.length; i++) {
					content = '<td>' + faultPOIVolts[i][0] + '</td><td>' +
						faultPOIVolts[i][1] + '</td><td>' + 
						faultPOIVolts[i][2] + '</td><td>' + 
						faultPOIVolts[i][3].toFixed(2) + '</td><td>' + 
						faultPOIVolts[i][4].toFixed(2) + '</td><td>' + 
						faultPOIVolts[i][5].toFixed(2) + '</td>';
					if (faultPOIVolts[i][6] == true)
						content = '<tr style=\"color: red\">' + content + '</tr>';
					else content = '<tr>' + content + '</tr>';
					totalContent += content;
				}
				gebi("faultPOIVolts").innerHTML += totalContent;
			</script> 
			<span style="color: red">Post-fault voltage  values as a percent of the pre-fault voltage that are greater than or equal to the input threshold are displayed in red</span>
		</div>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>