<head>
	{{ omfHeaders }}
	<style>
	/*Styles here*/
		.tab {
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			width: 1000px;
		}

		.tab button {
			color: black;
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			border-radius: 5px 5px 0px 0px;
		}

		.tab button:hover {
			background-color: white;
		}

		.tab button.active {
			background-color: seagreen;
			color: white;
		}

		.tabcontent {
			display: none;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}
		table, th, td {
			border: 1px solid black;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		th {
			background-color: #8c8c8c;
		}
		tr:nth-child(even) {
			background-color: #e6e6e6;
		}
	</style>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		function openTab(evt, tabName, tabSet) {
			var i, tabContent, tabLinks;

			// Get all elements with class="tabContent" for the given table and hide them

			$(".tabContent" + tabSet).hide();
			// Get all elements with class="tabLinks" and remove the class "active"
			tabLinks = document.getElementsByClassName("tabLinks" + tabSet);
			for (i = 0; i < tabLinks.length; i++) {
				tabLinks[i].className = tabLinks[i].className.replace(" active", "");
			}
			// Show the current tab, and add an "active" class to the button that opened the tab
			$("." + tabName).show();
			//gebi(tabName).style.display = "block";
			evt.currentTarget.className += " active";
		}
		$(document).ready(function() {
			console.log($('#inverterOutputs'));
		$('.dt').DataTable({ 'paging': false});
		});
	</script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
			<form name= "inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-voltageDrop" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Layout Algorithm<span class="classic">Geospatial shows the circuit the same way it was defined in the feeder editor. Force Directed uses an algorithm to show the circuit elements evenly spaced (useful for circuits without location data).</span></label>
				<select id="layoutAlgorithm" name="layoutAlgorithm">
					<option value="geospatial" {% if allInputDataDict.layoutAlgorithm == 'geospatial' %}selected{% endif %}>Geospatial</option>
					<option value="forceDirected" {% if allInputDataDict.layoutAlgorithm == 'forceDirected' %}selected{% endif %}>Force Directed</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Latitude<span class="classic">Specify the latitude of the load/grid.</span></label>
				<input type="text" id="latitude" name="latitude" value="{{allInputDataDict.latitude}}" pattern="^\-?\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Longitude<span class="classic">Specify the longitude of the load/grid.</span></label>
				<input type="text" id="longitude" name="longitude" value="{{allInputDataDict.longitude}}" pattern="^\-?\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Battery Size (kWh)<span class="classic">Specify the size of the Vehicle's battery in kWh.</span></label>
				<input type="text" id="batterySize" name="batterySize" value="{{allInputDataDict.batterySize}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Charge Rate (kW)<span class="classic">Specify the charge rate of the vehicle in kW.</span></label>
				<input type="text" id="chargeRate" name="chargeRate" value="{{allInputDataDict.chargeRate}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Efficiency (mpk)<span class="classic">Specify the efficiency of the vehicle in mpk.</span></label>
				<input type="text" id="efficiency" name="efficiency" value="{{allInputDataDict.efficiency}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Gas Efficiency (mpg)<span class="classic">Specify the gas efficiency of the vehicle in mpg.</span></label>
				<input type="text" id="gasEfficiency" name="gasEfficiency" value="{{allInputDataDict.gasEfficiency}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Number of Vehicles<span class="classic">Specify the number of vehicles.</span></label>
				<input type="text" id="numVehicles" name="numVehicles" value="{{allInputDataDict.numVehicles}}" pattern="^\d+$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Cost of Energy ($/kWh)<span class="classic">Specify the energy cost in $/kWh.</span></label>
				<input type="text" id="energyCost" name="energyCost" value="{{allInputDataDict.energyCost}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Cost of Demand ($/kW)<span class="classic">Specify the demand cost in $/kW.</span></label>
				<input type="text" id="demandCost" name="demandCost" value="{{allInputDataDict.demandCost}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Arrival Start Hour<span class="classic">Specify the hour in the day in which the charging should start (0-23).</span></label>
				<input type="text" id="startHour" name="startHour" value="{{allInputDataDict.startHour}}" pattern="^([0-9]|1[0-9]|2[0-3])$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Arrival End Hour<span class="classic">Specify the hour in the day in which the charging should end (0-23).</span></label>
				<input type="text" id="endHour" name="endHour" value="{{allInputDataDict.endHour}}" pattern="^([0-9]|1[0-9]|2[0-3])$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Charge Limit (kW)<span class="classic">Specify the charge limit in kW.</span></label>
				<input type="text" id="chargeLimit" name="chargeLimit" value="{{allInputDataDict.chargeLimit}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Minimum Necessary Charge (%)<span class="classic">Specify the minimum charge needed for a vehicle in percent of the battery (0-100%).</span></label>
				<input type="text" id="minCharge" name="minCharge" value="{{allInputDataDict.minCharge}}" pattern="^\d{1,3}\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Necessary Charge (%)<span class="classic">Specify the maximum charge needed for a vehicle in percent of the battery (0-100%).</span></label>
				<input type="text" id="maxCharge" name="maxCharge" value="{{allInputDataDict.maxCharge}}" pattern="^\d{1,3}\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Fuel Cost ($/gal)<span class="classic">Specify the cost of gas in $/gallon.</span></label>
				<input type="text" id="gasCost" name="gasCost" value="{{allInputDataDict.gasCost}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Vehicle Workload<span class="classic">Specify the workload of each vehicle in miles/vehicle/day.</span></label>
				<input type="text" id="workload" name="workload" value="{{allInputDataDict.workload}}" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Load Name<span class="classic">Specify the load name in the circuit.</span></label>
				<input type="text" id="loadName" name="loadName" value="{{allInputDataDict.loadName}}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Hourly Load Shape (.csv file)<span class="classic">Please enter the name of a .csv file representing the hourly load shape</span></label>
				<input id="loadShapeFile" type="file" style="display:none" onchange="handle_files(this.files,'loadShape','fileName')">
				<input id="loadShape" name="loadShape" value="{{allInputDataDict.loadShape}}" type="hidden">
				<div>
					<label for="loadShapeFile" class="fileButton">Choose File</label>
					<input id="fileName" name="fileName" value="{{allInputDataDict.fileName}}" value='' readonly class="uploadFileName">	
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Year<span class="classic">Specify the year to which the load shape values corresond.</span></label>
				<input type="text" id="year" name="year" value="{{allInputDataDict.year}}" pattern="^\d{4}$" required="required"/>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<p class="reportTitle" style="page-break-before:always">EV Charging Demand</p>
		<div id="evChargingDemand" class="tightContent">
			<img id="evChargingDemandChart" style="width:1000px;height:auto;" />
			<script type="text/javascript">gebi("evChargingDemandChart").src = "data:image/png;base64," + allOutputData.evChargingDemand</script>
		</div>
		<p class="reportTitle" style="page-break-before:always">Fuel Cost Comparison</p>
		<div id="fuelCostCalc" class="tightContent">
			{{ allOutputDataDict['fuelCostCalcHtml'] }}
		</div>
		<p class="reportTitle" style="page-break-before:always">Energy Cost Comparison</p>
		<div id="energyCostCalc" class="tightContent">
			{{ allOutputDataDict['energyCostCalcHtml'] }}
		</div>
		<!-- Voltage Drop Diagram Images -->
		<p class="reportTitle" style="page-break-before:always">Voltage Drop Diagram</p>
		<!-- Tab links -->
		<div class="tab">
			<button id='firstTabButton1' class="tabLinks1 active" onclick="openTab(event, 'baseVoltageDrop', '1')">Base</button>
			<button class="tabLinks1" onclick="openTab(event, 'loadVoltageDrop', '1')">With Load</button>
			<button class="tabLinks1" onclick="openTab(event, 'REoptVoltageDrop', '1')">With Load and REopt</button>
		</div>
		<!-- Tab content -->
		<div id="phaseUnbalanceDiagrams" class="tabPlots">
			<div class="tightContent tabContent1 baseVoltageDrop firstTab">
				<img id="voltageDropChart" style="width:1000px;height:1000px;"/>
				<script type="text/javascript">gebi("voltageDropChart").src = "data:image/png;base64," + allOutputData.voltageDrop</script>
			</div>

			<div class="tightContent tabContent1 loadVoltageDrop">
				<img id="loadVoltageDropChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("loadVoltageDropChart").src = "data:image/png;base64," + allOutputData.loadVoltageDrop</script>
			</div>
			<div class="tightContent tabContent1 REoptVoltageDrop">
				<img id="REoptVoltageDropChart" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("REoptVoltageDropChart").src = "data:image/png;base64," + allOutputData.REoptVoltageDrop</script>
			</div>
		</div>
		<script>document.getElementById('firstTabButton1').click();//Hack, get first tab to show.</script>
		<!-- Protective Device Status Tables -->
		<p class="reportTitle" style="page-break-before:always">Protective Device Status</p>
		<!-- Tab links -->
		<div class="tab">
			<button id='firstTabButton2' class="tabLinks2 active" onclick="openTab(event, 'baseProtDevTable', '2')">Base</button>
			<button class="tabLinks2" onclick="openTab(event, 'loadProtDevTable', '2')">With Load</button>
			<button class="tabLinks2" onclick="openTab(event, 'REoptProtDevTable', '2')">With Load and REopt</button>
		</div>
		<!-- Tab content -->
		<div id="protDevStatusDiagrams" class="tabPlots">
			<div class="tightContent tabContent2 baseProtDevTable firstTab">
				<div id="protDevStatus" class="tightContent tableContainer" style="max-height:300px; overflow-y: scroll;">
					{{ allOutputDataDict['protDevTableHtml'] }}
				</div>
			</div>

			<div class="tightContent tabContent2 loadProtDevTable">
				<div id="loadProtDevStatus" class="tightContent tableContainer" style="max-height:300px; overflow-y: scroll;">
					{{ allOutputDataDict['loadProtDevTableHtml'] }}
				</div>
			</div>
			<div class="tightContent tabContent2 REoptProtDevTable">
				<div id="REoptProtDevStatus" class="tightContent tableContainer" style="max-height:300px; overflow-y: scroll;">
					{{ allOutputDataDict['REoptProtDevTableHtml'] }}
				</div>
			</div>
		</div>
		<script>document.getElementById('firstTabButton2').click();//Hack, get first tab to show.</script>
		<!-- Load Shape Images -->
		<p class="reportTitle" style="page-break-before:always">Load Shape Visualization</p>
		<!-- Tab links -->
		<div class="tab">
			<button id='firstTabButton3' class="tabLinks3 active" onclick="openTab(event, 'loadShapeCarpetPlot', '3')">Combined Load Shape Carpet Plot</button>
			<button class="tabLinks3" onclick="openTab(event, 'REoptCarpetPlot', '3')">Combined Load Shape Carpet Plot with REopt</button>
			<button class="tabLinks3" onclick="openTab(event, 'maxDailyLoadShape', '3')">Maximum Daily Combined Load Shape</button>
		</div>
		<!-- Tab content -->
		<div id="loadShapeDiagrams" class="tabPlots">
			<div class="tightContent tabContent3 loadShapeCarpetPlot firstTab">
				<img id="carpetPlotChart" style="width:1000px;height:auto;" />
				<script type="text/javascript">gebi("carpetPlotChart").src = "data:image/png;base64," + allOutputData.carpetPlot</script>
			</div>
			<div class="tightContent tabContent3 REoptCarpetPlot">
				<img id="REoptCarpetPlotChart" style="width:1000px;height:auto;" />
				<script type="text/javascript">gebi("REoptCarpetPlotChart").src = "data:image/png;base64," + allOutputData.REoptCarpetPlot</script>
			</div>
			<div class="tightContent tabContent3 maxDailyLoadShape">
				<img id="maxLoadShapeImg" style="width:1000px;height:auto;" />
				<script type="text/javascript">gebi("maxLoadShapeImg").src = "data:image/png;base64," + allOutputData.maxLoadShape</script>
			</div>
		</div>
		<script>document.getElementById('firstTabButton3').click();//Hack, get first tab to show.</script>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>