<head>
	{{ omfHeaders }}
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}
		table, th, td {
			border: 1px solid black;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		th {
			background-color: #8c8c8c;
		}
		tr:nth-child(even) {
			background-color: #e6e6e6;
		}
		#map {
			position: relative;
			width: 100.0%;
			height: 100.0%;
			left: 0.0%;
			top: 0.0%;
		}
	</style>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name= "inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-flisr" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput ">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Model Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Tie Data (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="tieFile" type="file" style="display:none" onchange="handle_files(this.files,'tieData','tieFileName')">
				<input id="tieData" name="tieData" value="{{allInputDataDict.tieData}}" type="hidden">
				<div>
					<label for="tieFile" class="fileButton">Choose File</label>
					<input id="tieFileName" name="tieFileName" value="{{allInputDataDict.tieFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Radial?<span class="classic">If yes, a simplification to the algorithm will be used.</span></label>
				<select id="radial" name="radial" value="{{allInputDataDict.radial}}" />
					<option value='True' {% if allInputDataDict.radial == 'True' %}selected{% endif %}>Yes</option>
					<option value='False' {% if allInputDataDict.radial == 'False' %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Show Leaflet Map?<span class="classic">If yes, a simplification to the algorithm will be used.</span></label>
				<select id="drawMap" name="drawMap" value="{{allInputDataDict.drawMap}}" />
					<option value='True' {% if allInputDataDict.drawMap == 'True' %}selected{% endif %}>Yes</option>
					<option value='False' {% if allInputDataDict.drawMap == 'False' %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Faulted Line<span class="classic">The line affected by the fault.</span></label>
				<input type="text" id="faultedLine" name="faultedLine" value="{{allInputDataDict.faultedLine}}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Run Powerflow?<span class="classic">If yes, powerflow will be run with GridLAB-D after the algorithm terminates.</span></label>
				<select id="runPowerflow" name="runPowerflow" value="{{allInputDataDict.runPowerflow}}" />
					<option value='True' {% if allInputDataDict.runPowerflow == 'True' %}selected{% endif %}>Yes</option>
					<option value='False' {% if allInputDataDict.runPowerflow == 'False' %}selected{% endif %}>No</option>
				</select>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<p class="reportTitle" style="page-break-before:always">Switch Stats</p>
		<div id="outageCostCalc" class="tightContent">
			{{ allOutputDataDict['switchStatsHtml'] }}
		</div>
		<!-- Leaflet map directly inline with model-->
		<div id="mapInsert"></div>
		<script type="text/javascript">
		//Hack to stop leaflet from loading before geojson data loads 
		if(modelStatus === "finished"){
		mapHtml = '<p class="reportTitle">Restored System (Yellow Closed Ties, Cyan Open Reclosers, Red Fault, Orange Buses, Purple Unclosed Ties, Blue Closed Reclosers, Silver Powered Subtree)</p><div id="mapHolder" class="tightContent"><div id="map"></div></div>';
		gebi('mapInsert').innerHTML = mapHtml;
		//Parse geojson dict (instead of reading from geojson.js - doesn't really matter if you want to load from geojson.js, was just quicker to prototype) 
		var geojson = JSON.parse(allOutputData['geoDict']);
		console.log(geojson);

		function filterFunction(feature, layer) {
			minMeter = feature.properties['meterMinFilter'];
			maxMeter = feature.properties['meterMaxFilter'];
			meterCount = feature.properties['meterCount'];
			minDuration = feature.properties['durationMinFilter'];
			maxDuration = feature.properties['durationMaxFilter'];
			dur = feature.properties['duration'];
			causeFilter = feature.properties['causeFilter'];
			cause = feature.properties['cause'];
			time = feature.properties['time'];
			timeMin = feature.properties['timeMin'];
			timeMax = feature.properties['timeMax'];
			faultType = feature.properties['faultType'];
			componentType = feature.properties['componentType'];
			faultFilter = feature.properties['faultFilter'];
			componentFilter = feature.properties['componentFilter'];
			thisMeter = false;
			if (minMeter > maxMeter)
				return false;
			if (meterCount > maxMeter || meterCount < minMeter)
				thisMeter = false;
			else thisMeter = true;
			if (thisMeter == false)
				return false;
			thisDuration = false;
			if (minDuration > maxDuration)
				return false;
			if (dur > maxDuration || dur < minDuration) {
				thisDuration = false;
			}
			else thisDuration = true;
			if (thisDuration == false) {
				return false;
			}
			thisCause = false;
			if (causeFilter != '0') {
				if (causeFilter == cause) {
					thisCause = true;
				}
				else thisCause = false;
			}
			else thisCause = true;
			if (thisCause == false) {
				return false;
			}
			thisComponent = false;
			if (componentFilter != 'All') {
				if (componentFilter == componentType) {
					thisComponent = true;
				}
				else thisComponent = false;
			}
			else thisComponent = true;
			if (thisComponent == false) {
				return false;
			}
			thisFault = false;
			if (faultFilter != 'All') {
				if (faultFilter == faultType) {
					thisFault = true;
				}
				else thisFault = false;
			}
			else thisFault = true;
			if (thisFault == false) {
				return false;
			}
			thisTime = false;
			if (timeMin > timeMax)
				return false;
			if (time > timeMax || time < timeMin)
				thisTime = false;
			else thisTime = true;
			if (thisTime == false)
				return false;
			return true;
		}

		function onEachFeature(feature, layer) {
			var popup = '';
			if (feature.properties['name']){
				popup += feature.properties['name'];
				layer.bindPopup(popup);
			}
		}

		function pointToLayerNode(feature, latlng) {
			let fillColorValue = 'gray';
			let rad = 3
			if (feature.properties['pointColor']){
				fillColorValue = feature.properties['pointColor'];
				rad = 4;
			}
			return L.circleMarker(latlng, {
				radius: rad,
				fillColor: fillColorValue,
				color: "#000",
				weight: 1,
				opacity: 1,
				fillOpacity: 0.8
			});
		}

		function lineStyle(feature){
			if (feature.geometry['type'] == 'LineString'){
				if (feature.properties.edgeColor){
					return {
						"color": feature.properties.edgeColor
					}
				}
				else{
					return {
						"color": "black"
					}
				}
			}
			else if (feature.geometry['type'] == 'Polygon'){
				return {
					"color": "blue"
				}
			}
		}

		geojsonLayer = L.geoJSON(false, {
					pointToLayer: pointToLayerNode,
					onEachFeature: onEachFeature,
					style: lineStyle,
					filter: filterFunction
				});

		geojson.features.forEach(function(feature){
			if (feature.geometry['type'] == 'Point'){
				geojsonLayer.addData(feature);
			}
			else if (feature.geometry['type'] == 'LineString'){
				geojsonLayer.addData(feature);
			}
			else if (feature.geometry['type'] == 'Polygon'){
				geojsonLayer.addData(feature);
			}
		});

		//function clickFeature(e) {
		//	if (typeof clickedFeature != 'undefined') {clickedFeature.setRadius(3);}

		//	var layer = e.target;
		//	e.target.setRadius(5);
		//	clickedFeature = e.target;
		//	update(feature.properties.radius);
		//}

		//var update = function(feature, latlng) {
		//	return L.circleMarker(latlng)
		//}

		//function onEachFeature2(feature,layer) {
		//	layer.on({click: clickFeature,})
		//}

		// Optional forcing of canvas renderer:
		// var map = L.map('map', {renderer: L.canvas()}).fitBounds(bounds);
		var bounds = geojsonLayer.getBounds();
		var map = L.map('map').fitBounds(bounds);

		//geojson.features.forEach(function(feature1) {
		//	if (feature1.properties['meters']) {
		//		var feature1.properties['name'] = new L.geoJSON(false, {
		//			onEachFeature: onEachFeature2,
		//			pointToLayer: function(feature, latlng) {
		//				return L.circleMarker(latlng, {
		//					radius: 3,
		//					fillColor: 'gray',
		//					color: '#000',
		//					opacity : 1,
		//					weight: 1.5,
		//					fillOpacity: 1
		//				});
		//			}
		//		});
		//		feature1.properties['name'].addData(feature1);
		//		geojson.features.forEach(function(feature2){
		//			if (feature1.properties['meters'].includes(feature2.properties['name'])) {
		//				feature1.properties['name'].addData(feature2);
		//			}					
		//		});
		//	}
		//});
		mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
		L.tileLayer(
			'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; ' + mapLink + ' Contributors',
			maxZoom: 18,
			}).addTo(map);
		L.control.scale().addTo(map);
		geojsonLayer.addTo(map);
	}
	</script>
	{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>