<head>
	{{ omfHeaders }}
	<!-- Library Imports -->
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
	{% macro insert_file_upload_block(fileName, dataVariableName) -%}
		<input id="{{dataVariableName}}Handler" type="file" style="display:none" onchange="handle_files(this.files,'{{dataVariableName}}','{{fileName}}')">
		<input id="{{dataVariableName}}" name="{{dataVariableName}}" value="{{allInputDataDict[dataVariableName]}}" type="hidden">
		<div>
			<label for="{{dataVariableName}}Handler" class="fileButton">Choose File</label>
			<input id="{{fileName}}" name="{{fileName}}" value="{{allInputDataDict[fileName]}}" readonly class="uploadFileName">    
		</div>
	{%- endmacro %}
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-hostingCapacity" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required" readonly>
			</div>
			<div class="shortInput ">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			{% if modelStatus == 'finished' %}
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value={{allInputDataDict.runTime}} readonly/>
			</div>
			{% endif %}
			<div class="wideInput">
				<p class="inputSectionHeader">Mohca Hosting Capacity</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Meter Data Input File <span class="classic">Import a .csv file that includes the meter data. Format for input columns: busname, datetime, v_reading, kw_reading, kvar_reading. Optional input columns: latitude, longitude, service_tx_name, phase_count (1, 3)</span></label>
				<div>{{ insert_file_upload_block('inputDataFileName','inputDataFileContent') }}</div>
			</div>
			<div class="shortInput">
				<label>Mohca Algorithm</label>
				<select id="mohcaAlgorithm" name="mohcaAlgorithm" value="{{allInputDataDict.mohcaAlgorithm}}" required>
					<option value="sandia1" {% if allInputDataDict.mohcaAlgorithm == 'sandia1' %}selected{% endif %}>sandia1</option>
					<option value="sandia2" {% if allInputDataDict.mohcaAlgorithm == 'sandia2' %}selected{% endif %}>sandia2</option>
				</select>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Traditional Hosting Capacity</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip"> Apply traditional hosting capacity</label>
				<select id="optionalCircuitFile" name="optionalCircuitFile" value="{{allInputDataDict.optionalCircuitFile}}" required>
					<option value="off" {% if allInputDataDict.optionalCircuitFile == 'off' %}selected{% endif %}>Off</option>
					<option value="on" {% if allInputDataDict.optionalCircuitFile == 'on' %}selected{% endif %}>On</option>
				</select>
			</div>
			<div class="shortInput">
				<label>Circuit</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Traditional Hosting Capacity Steps
					<span class="classic">How many times the specified kW is added to determine max hosting capacity</span>
				</label>
				<input type="text" id="traditionalHCSteps" name="traditionalHCSteps" value="{{allInputDataDict.traditionalHCSteps}}" pattern="^[0-9]*$"/>
			</div>
			
			<div class="shortInput">
				<label class="tooltip">Traditional Hosting Capacity kW
					<span class="classic">How much kW is added to each step to determine hostingCapacity</span>
				</label>
				<input type="text" id="traditionalHCkW" name="traditionalHCkW" value="{{allInputDataDict.traditionalHCkW}}">
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	<!--<div id="copyrightNotice" style="width:1000px; margin:-25px auto 10px auto; padding-left:5px; color:gray">PVWatts &copy; was developed by the <a href="http://pvwatts.nrel.gov/">National Renewable Energy Lab</a></div>-->
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<p class="reportTitle">Mohca Hosting Capacity Distribution</p>
		<div id="mohcaHistogramChart" class="tightContent">
			<div id="mohcaHistogramChart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("mohcaHistogramChart", JSON.parse( allOutputData["mohcaHistogramFigure"]) )
			</script>
		</div>
		<p class="reportTitle">Mohca Hosting Capacity By Bus</p>
		<div id="mohcaBarChart" class="tightContent">
			<div id="mohcaBarChart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("mohcaBarChart", JSON.parse( allOutputData["mohcaBarChartFigure"]) )
			</script>
		</div>
		<p class="reportTitle">Mohca Full Hosting Capacity Data Table</p>
		<div id="mohcaHostingCapacityTable" class="tightContent">
			<table style="width:100%">
				<tr>
				{% for header in allOutputDataDict["mohcaHCTableHeadings"] %}
					<th>{{ header }}</th>
					{% endfor %}
				</tr>
				{% for values in allOutputDataDict["mohcaHCTableValues"] %}
				<tr>
					{% for val in values %}
					<td>{{ val }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table> 
		</div>
		{% if allInputDataDict['optionalCircuitFile'] == 'on' %}
		<p class="reportTitle" style="page-break-before:always">Traditional Hosting Capacity Map</p>
		<div id="traditionalHCMap" class="tightContent"></div>
		<script>
			var mapContent = allOutputData["traditionalHCMap"]
			var iframe = document.createElement('iframe');
			iframe.style = 'width:1000px; height:800px'
			document.getElementById('traditionalHCMap').appendChild(iframe);
			iframe.contentWindow.document.open();
			iframe.contentWindow.document.write(mapContent);
			iframe.contentWindow.document.close();
		</script>
		<p class="reportTitle">Traditional Hosting Capacity By Bus</p>
		<div id="traditionalHCGraph" class="tightContent">
			<div id="traditionalHCGraph" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("traditionalHCGraph", JSON.parse( allOutputData["traditionalGraphData"]) )
			</script>
		</div>
		<p class="reportTitle">Traditional Hosting Capacity Full Data Table</p>
		<div id="traditionalHostingCapacityTable" class="tightContent">
			<table style="width:100%">
				<tr>
						{% for header in allOutputDataDict["traditionalHCTableHeadings"] %}
						<th>{{ header }}</th>
						{% endfor %}
				</tr>
				{% for values in allOutputDataDict["traditionalHCTableValues"] %}
				<tr>
						{% for val in values %}
						<td>{{ val }}</td>
						{% endfor %}
				</tr>
				{% endfor %}
		</table>
		</div>
		{% endif %}
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>
