<head>
	{{ omfHeaders }}
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	{% macro insert_file_upload_block(fileName, dataVariableName) -%}
		<input id="{{dataVariableName}}Handler" type="file" style="display:none" onchange="handle_files(this.files,'{{dataVariableName}}','{{fileName}}')">
		<input id="{{dataVariableName}}" name="{{dataVariableName}}" value="{{allInputDataDict[dataVariableName]}}" type="hidden">
		<div>
			<label for="{{dataVariableName}}Handler" class="fileButton">Choose File</label>
			<input id="{{fileName}}" name="{{fileName}}" value="{{allInputDataDict[fileName]}}" readonly class="uploadFileName">    
		</div>
	{%- endmacro %}
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-hostingCapacity" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required" readonly>
			</div>
			<div class="shortInput ">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			{% if modelStatus == 'finished' %}
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value={{allInputDataDict.runTime}} readonly/>
			</div>
			{% endif %}
			<div class="wideInput">
				<p class="inputSectionHeader">Mohca Algorithm Inputs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Meter Data Input File <span class="classic">Import a .csv file that includes the meter data. Format for input columns: busname, datetime, v_reading, kw_reading, kvar_reading. Optional input columns: latitude, longitude, service_tx_name, phase_count (1, 3)</span></label>
				<div>{{ insert_file_upload_block('inputDataFile','inputDataFileContent') }}</div>
			</div>
			<div class="shortInput">
				<label>Mohca Algorithm</label>
				<select id="mohcaAlgorithm" name="mohcaAlgorithm" value="{{allInputDataDict.mohcaAlgorithm}}">
					<option value="sandia1" {% if allInputDataDict.mohcaAlgorithm == 'sandia1' %}selected{% endif %}>sandia1</option>
					<option value="sandia2" {% if allInputDataDict.mohcaAlgorithm == 'sandia2' %}selected{% endif %}>sandia2</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Circuit<span class="classic">TBD.</span></label>
				<input type="text" id="circuit" name="circuit" value="{{allInputDataDict.circuit}}" pattern="^[\w\s\d\.-]+$"/>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	<!--<div id="copyrightNotice" style="width:1000px; margin:-25px auto 10px auto; padding-left:5px; color:gray">PVWatts &copy; was developed by the <a href="http://pvwatts.nrel.gov/">National Renewable Energy Lab</a></div>-->
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<div style="text-align:left" class="tightContent">
			<p id="dataLocation"></p>
			<script type="text/javascript">
				gebi('dataLocation').innerHTML = "Showing data from the closest available city: {{allOutputDataDict.city}}, {{allOutputDataDict.state}}"
			</script>
		</div>
		<script type="text/javascript">
			// Global Highcharts settings.
			Highcharts.setOptions({global:{useUTC:true}})
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			pointStart = dateOb("{{allOutputDataDict.timeStamps[0]}}")
			pointInterval = dateOb("{{allOutputDataDict.timeStamps[1]}}") - pointStart
		</script>
		<p class="reportTitle">Hourly Solar Generation</p>
		<div id="powerGenerationReport" class="tightContent">
			<div id="powerTimeSeries"></div>
			<div id="energyBalance"></div>
			<script>
				// Handle special case for inverter sizing:
				if ({{allInputDataDict.inverterSize}} == 0) {
					chartInverter = {{allInputDataDict.systemSize}}
				}
				else {chartInverter = {{allInputDataDict.inverterSize}}}
				parseFloat({{allInputDataDict.systemSize}})*1000
				power = {{allOutputDataDict.Consumption['Power']}}
				powerSeries = [{"marker":{"enabled":false},"dataLabels":{"enabled":false}, "color":"red","data":power,"name":"Power Generated"}]
				new Highcharts.Chart({ "credits":{"enabled":false},
					"plotOptions":{ "series":{"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval, "animation": false}, "line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":powerSeries,
					"tooltip": false,
					"yAxis":{"title":{"text":"Power (W-AC)","style":{"color":"gray"}},
						"min":0,
						"plotLines":[{"color": "orange",
							"dashStyle": "ShortDash",
							"width": 2,
							"label":{"text":"Panels Nameplate","align":"right","y":12,"x":0},
							"value": systemSize,"zIndex": 10},
							{"color": "orange",
							"dashStyle": "ShortDash",
							"width": 2,
							"label":{"text":"Inverter Nameplate","align":"left","y":12,"x":0},
							"value": parseFloat(chartInverter)*1000,"zIndex": 10} ] },
					"chart":{"zoomType":"x","marginBottom":35,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},
					"legend":false } )
			</script>
		</div>
		<p class="reportTitle">Irradiance</p>
		<div id="irradianceReport" class="tightContent">
			<div id="irradianceChartDiv"></div>
			<script>
				poai = {{allOutputDataDict["climate"]["Plane of Array Irradiance (W/m^2)"]}}
				bni = {{allOutputDataDict["climate"]["Beam Normal Irradiance (W/m^2)"]}}
				di = {{allOutputDataDict["climate"]["Diffuse Irradiance (W/m^2)"]}}
				irradianceSeriesData = [
					{"name":"Plane of Array Irradiance (W/m^2)","marker":{"enabled":false},"color":"yellow","data":poai},
					{"name":"Beam Normal Irradiance (W/m^2)","marker":{"enabled":false},"color":"gold","data":bni},
					{"name":"Diffuse Irradiance (W/m^2)","marker":{"enabled":false},"color":"lemonchiffon","data":di}
				]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":irradianceSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle">Other Climate Variables</p>
		<div id="climateReport" class="tightContent">
			<div id="climateChartDiv"></div>
			<script>
				amt = {{allOutputDataDict["climate"]["Ambient Temperature (F)"]}}
				ct = {{allOutputDataDict["climate"]["Cell Temperature (F)"]}}
				ws = {{allOutputDataDict["climate"]["Wind Speed (m/s)"]}}
				climateSeriesData = [
					{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":amt},
					{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":ct},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":ws}
				]
				new Highcharts.Chart(
					{"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":climateSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}}
				)
			</script>
		</div>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>
