<head>
	{{ omfHeaders }}
	<!-- Library Imports -->
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>

	<!-- 
			file_upload('fileInputID', 'userInputVoltage', 'voltageDataFileName')
			line 1: input for the actual file. There should be no value in inputDict that matches this one.
			line 2: button for file upload, that's it.
			line 3: the name of the file the user is using/inputting in. We wanna save this for display. Originally it's set as the default.
			line 4: This is hidden. This is the name of the file we want always = .csv name <- default naming convention 
		-->
		{% macro file_upload(fileInputID, userFileDisplayNameID, dataFileNameID) -%}
    <input type="file" id="{{fileInputID}}" name="{{ allInputDataDict[dataFileNameID] }}" accept=".csv" class="fileButton" onchange="updateFileNameDisplay('{{fileInputID}}', '{{userFileDisplayNameID}}', '{{dataFileNameID}}')" style="display:none"><br>
    <label for="{{fileInputID}}" class="fileButton">Choose File</label>
    <input id="{{userFileDisplayNameID}}" name="{{userFileDisplayNameID}}" value="{{ allInputDataDict[userFileDisplayNameID] }}" readonly class="uploadFileName">
    <input id="{{dataFileNameID}}" name= {{dataFileNameID}} type="hidden" value="{{ allInputDataDict[dataFileNameID] }}">
	{% endmacro %}

</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post" enctype="multipart/form-data">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-hostingCapacity" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required" readonly>
			</div>
			<div class="shortInput ">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			{% if modelStatus == 'finished' %}
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value={{allInputDataDict.runTime}} readonly/>
			</div>
			{% endif %}
			<div class="wideInput">
				<p class="inputSectionHeader">AMI-Based Hosting Capacity</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Apply AMI-Based Hosting Capacity</label>
				<select id="runAmiAlgorithm" name="runAmiAlgorithm" value="{{allInputDataDict.runAmiAlgorithm}}" required>
					<option value="off" {% if allInputDataDict.runAmiAlgorithm == 'off' %}selected{% endif %}>Off</option>
					<option value="on" {% if allInputDataDict.runAmiAlgorithm == 'on' %}selected{% endif %}>On</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Meter Data Input File <span class="classic">Import a .csv file that includes the meter data. Format for input columns: busname, datetime, v_reading, kw_reading, kvar_reading. Optional input columns: latitude, longitude, service_tx_name, phase_count (1, 3)</span></label>
				<div>{{ file_upload('AMIDataFile', 'userAMIDisplayFileName', 'AMIDataFileName') }}</div>
			</div>
			<div class="shortInput">
				<label>Algorithm</label>
				<select id="algorithm" name="algorithm" value="{{allInputDataDict.algorithm}}" required>
					<option value="sandia1" {% if allInputDataDict.algorithm == 'sandia1' %}selected{% endif %}>sandia1</option>
					<option value="iastate" {% if allInputDataDict.algorithm == 'iastate' %}selected{% endif %}>iastate</option>
				</select>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Model-Based or "Traditional" Hosting Capacity</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Apply Model-Based Hosting Capacity</label>
				<select id="optionalCircuitFile" name="optionalCircuitFile" value="{{allInputDataDict.optionalCircuitFile}}" required>
					<option value="off" {% if allInputDataDict.optionalCircuitFile == 'off' %}selected{% endif %}>Off</option>
					<option value="on" {% if allInputDataDict.optionalCircuitFile == 'on' %}selected{% endif %}>On</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Circuit
					<span class="classic">An OpenDSS Circuit file with a .dss file type. See Wiki page for more information</span>
				</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum kW Tested
					<span class="classic">The maximum threshhold of KW added to determine max hosting capacity</span>
				</label>
				<input type="text" id="traditionalHCMaxTestkw" name="traditionalHCMaxTestkw" value="{{allInputDataDict.traditionalHCMaxTestkw}}" pattern="^[0-9]*$"/>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	<!--<div id="copyrightNotice" style="width:1000px; margin:-25px auto 10px auto; padding-left:5px; color:gray">PVWatts &copy; was developed by the <a href="http://pvwatts.nrel.gov/">National Renewable Energy Lab</a></div>-->
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<style>td, th {padding:7 0 5 20;text-align: left;font-size:0.8em; border: 1px solid #cccccc;} </style>
	<div id="output">
    {% if allInputDataDict['runAmiAlgorithm'] == 'on' %}
			<p class="reportTitle">AMI-Based Hosting Capacity Runtime ( H:M:S:MS ) </p>
			<div id="AMI_runtime" class="tightContent">
				<span style="border: 1px solid grey; padding: 3px;"> {{ allOutputDataDict['AMI_runtime']}} </span>  
			</div>
			<p class="reportTitle">AMI-Based Hosting Capacity Distribution</p>
			<div id="histogramFigure" class="tightContent">
				<div id="histogramFigure" style="width:1000px"></div>
				<script type="text/javascript">
					Plotly.newPlot("histogramFigure", JSON.parse( allOutputData["histogramFigure"]) )
				</script>
			</div>
			<p class="reportTitle">AMI-Based Hosting Capacity By Bus</p>
			<div id="barChartFigure" class="tightContent">
				<div id="barChartFigure" style="width:1000px"></div>
				<script type="text/javascript">
					Plotly.newPlot("barChartFigure", JSON.parse( allOutputData["barChartFigure"]) )
				</script>
			</div>
			<p class="reportTitle">AMI-Based Full Hosting Capacity Data Table</p>
			<div id="AMIhostingCapacityTable" class="tightContent">
				<table style='margin:5px;width:990px'>
					<tr>
					{% for header in allOutputDataDict["AMI_tableHeadings"] %}
						<th>{{ header }}</th>
						{% endfor %}
					</tr>
					{% for values in allOutputDataDict["AMI_tableValues"] %}
					<tr>
						{% for val in values %}
						<td>{{ val }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table> 
			</div>
    {% endif %}
		{% if allInputDataDict['optionalCircuitFile'] == 'on' %}
			<p class="reportTitle">Traditional/Model-Based Hosting Capacity Runtime ( H:M:S:MS )</p>
			<div id="traditionalRunTime" class="tightContent">
				<span style="border: 1px solid grey; padding: 3px;"> {{ allOutputDataDict['traditionalRuntime'] }} </span>
			</div>
			<p class="reportTitle" style="page-break-before:always">Traditional Hosting Capacity Map</p>
			<div id="traditionalHCMap" class="tightContent"></div>
			<script>
				var mapContent = allOutputData["traditionalHCMap"]
				var iframe = document.createElement('iframe');
				iframe.style = 'width:1000px; height:800px; border-radius:8px;'
				document.getElementById('traditionalHCMap').appendChild(iframe);
				iframe.contentWindow.document.open();
				iframe.contentWindow.document.write(mapContent);
				iframe.contentWindow.document.close();
			</script>
			<p class="reportTitle">Traditional/Model-Based Hosting Capacity By Bus</p>
			<div id="traditionalHCGraph" class="tightContent">
				<div id="traditionalHCGraph" style="width:1000px"></div>
				<script type="text/javascript">
					Plotly.newPlot("traditionalHCGraph", JSON.parse( allOutputData["traditionalGraphData"]) )
				</script>
			</div>
			<p class="reportTitle">Traditional/Model-Based Hosting Capacity Full Data Table</p>
			<div id="traditionalHostingCapacityTable" class="tightContent" style="height:300px; overflow-y: scroll;">
				<table style="width:100%">
					<tr>
							{% for header in allOutputDataDict["traditionalHCTableHeadings"] %}
							<th>{{ header }}</th>
							{% endfor %}
					</tr>
					{% for values in allOutputDataDict["traditionalHCTableValues"] %}
					<tr>
							{% for val in values %}
							<td>{{ val }}</td>
							{% endfor %}
					</tr>
					{% endfor %}
			</table>
			</div>
		{% endif %}
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>
