<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles here*/
		table {
			border-collapse: collapse;
			width: 100%;
		}
		table, th, td {
			border: 1px solid black;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		th {
			background-color: #8c8c8c;
		}
		tr:nth-child(even) {
			background-color: #e6e6e6;
		}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<script src="path/to/leaflet.js"></script>
	<script src="path/to/choropleth.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputDataDict %}{{allInputDataDict | tojson}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputDataDict %}{{allOutputDataDict | tojson}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<style>#map{
		position: relative;
		width: 100.0%;
		height: 100.0%;
		left: 0.0%;
		top: 0.0%;
		}
	</style>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<div id="triangle-parent">
		<div id="triangle-message">New Version<span class="classic-triangle">A new version of the model has been added to the OMF. To get the new outputs, please fill in any missing inputs and hit "Run Model". You can also just look at the old inputs/outputs.</span></div>
		<div id="triangle-topright"></div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-microgridControl" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Model Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Feeder</label>
				<script type="text/javascript">
				function editFeeder(modelName, feederNum) {
					console.log("modelName:",modelName)
					studyUser = allInputData.user
					window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
				}
				</script>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Runtime (h)<span class="classic">Runtime of the system in hours.</span></label>
				<input type="text" id="maxTime" name="maxTime">
			</div>
			<div class="shortInput">
				<label class="tooltip">Step Size (h)<span class="classic">The duration of each step in hours used for Powerflow calculations.</span></label>
				<input type="text" id="stepSize" name="stepSize">
			</div>
			<div class="shortInput">
				<label class="tooltip">Faulted Line<span class="classic">The line on which there is an outage at the beginning of the simulation.</span></label>
				<input type="text" id="faultedLine" name="faultedLine">
			</div>
			<div class="shortInput">
				<label class="tooltip">Minimum Time Filter<span class="classic">Filter the fault data shown by leaflet map based on a lower bound on the time the faults can occur.</span></label>
				<input type="text" id="timeMinFilter" name="timeMinFilter">
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Time Filter<span class="classic">Filter the fault data shown by leaflet map based on an upper bound on the time the faults can occur.</span></label>
				<input type="text" id="timeMaxFilter" name="timeMaxFilter">
			</div>
			<div class="shortInput">
				<label class="tooltip">Action Filter<span class="classic">Filter the timeline data shown by leaflet map based on a specific action. Entering "All" will yield all actions being shown on the map.</span></label>
				<select id="actionFilter" name="actionFilter" />
					<option value="All">All Actions</option>
					<option value="Switching">Switching</option>
					<option value="Load Shed">Load Shed</option>
					<option value="Battery Control">Battery Control</option>
					<option value="Load Pickup">Load Pickup</option>
					<option value="Generator Control">Generator Control</option>
				</select>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Outage Cost Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Customer Information (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="customerFile" type="file" style="display:none" onchange="handle_files(this.files,'customerData','customerFileName')">
				<input id="customerData" name="customerData" type="hidden">
				<div>
					<label for="customerFile" class="fileButton">Choose File</label>
					<input id="customerFileName" name="customerFileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Event Information (.json file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="eventFile" type="file" style="display:none" onchange="handle_files(this.files,'eventData','eventFileName')">
				<input id="eventData" name="eventData" type="hidden">
				<div>
					<label for="eventFile" class="fileButton">Choose File</label>
					<input id="eventFileName" name="eventFileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Duration of Outage (h)<span class="classic">The amount of time the outage lasts in hours.</span></label>
				<input type="text" id="outageDuration" name="outageDuration">
			</div>
			<div class="shortInput">
				<label class="tooltip">Restoration Cost ($/hr)<span class="classic">Restoration cost parameter for calculating outage costs.</span></label>
				<input type="text" id="restoration_cost" name="restoration_cost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Hardware Cost<span class="classic">Hardware cost parameter for calculating outage costs.</span></label>
				<input type="text" id="hardware_cost" name="hardware_cost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<!-- <div class="shortInput">
				<label class="tooltip">Season<span class="classic">Specifies the season in which the outage occurs.</span></label>
				<select id="season" name="season" />
					<option value='summer'>Summer</option>
					<option value='winter'>Winter</option>
				</select>
			</div>				
			<div class="shortInput">
				<label class="tooltip">Annual kWh Usage<span class="classic">Specifies the average amount of energy used each year by the customer.</span></label>
				<input type="text" id="annualkWh" name="annualkWh">
			</div>
			<div class="shortInput">
				<label class="tooltip">Business Type<span class="classic">Specifies the type of business under consideration.</span></label>
				<select id="businessType" name="businessType" />
					<option value='manufacturing'>Manufacturing</option>
					<option value='construction'>Construction</option>
					<option value='finance'>Finance</option>
					<option value='retail'>Retail</option>
					<option value='services'>Services</option>
					<option value='utilities'>Utilities/Transportation</option>
					<option value='public'>Public</option>
					<option value='residential'>Residential</option>
				</select>
			</div>	 -->
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="shareButton" type="button" class="postRunInline" onclick="shareModel()">Share</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
				<!-- Function to send rendered html page to server proof of concept
				<button id="save" class="stoppedInline postRunInline" type="button">Save Template</button>
					<script>
					$('#save').click(function() {
						myhtml = $('html').html();
						$.ajax({
							type: "POST",
							url: "{{pathPrefix}}/renderToFile",
							data: {html:myhtml}
						});
					});
				</script> -->
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<p class="reportTitle postRun">Generator Profiles</p>
		<div id="fig1" class="tightContent postRun">
			<div id="fig1Chart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("fig1Chart", JSON.parse(allOutputData["fig1Data"]), JSON.parse(allOutputData["fig1Layout"]) || {})
			</script>
		</div>
		<p class="reportTitle postRun">Voltages</p>
		<div id="fig2" class="tightContent postRun">
			<div id="fig2Chart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("fig2Chart", JSON.parse(allOutputData["fig2Data"]), JSON.parse(allOutputData["fig2Layout"]) || {})
			</script>
		</div>
		<p class="reportTitle postRun">Loads Served</p>
		<div id="fig3" class="tightContent postRun">
			<div id="fig3Chart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("fig3Chart", JSON.parse(allOutputData["fig3Data"]), JSON.parse(allOutputData["fig3Layout"]) || {})
			</script>
		</div>
		<p class="reportTitle postRun">Customer Outage Plots (wrt duration)</p>
		<div id="fig4" class="tightContent postRun">
			<div id="fig4Chart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("fig4Chart", JSON.parse(allOutputData["fig4Data"]), JSON.parse(allOutputData["fig4Layout"]) || {})
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Customer Outage Cost</p>
		<div id="customerOutageCostCalc" class="tightContent postRun">
			{{ allOutputDataDict['customerOutageHtml'] }}
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Utility Outage Cost</p>
		<div id="utilityOutageCostCalc" class="tightContent postRun">
			{{ allOutputDataDict['utilityOutageHtml'] }}
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Timeline</p>
		<div id="outageCostCalc" class="tightContent postRun">
			{{ allOutputDataDict['timelineStatsHtml'] }}
		</div>
		<!-- Leaflet map directly inline with model-->
		<div id="mapInsert"></div>
			<!-- <input type="submit"> -->
		</div>
		<div id="slider" style="top: 0px; right: 1px; margin: 10px 25px;"></div>
		<div style="margin-right: auto; margin-left: auto; width: 90%; margin-bottom: 10px; text-align: center;">
		<input type="number" min='1' max='999' id="input-number-min">
		<input type="number" min='2' max='1000' id="input-number-max">
		</div>
		<script type="text/javascript">
		//Hack to stop leaflet from loading before geojson data loads 
		if(modelStatus === "finished"){
		mapHtml = '<p class="reportTitle">Outage Map (Original Faults Marked in Blue, New Faults Marked in Red)</p><div id="mapHolder" class="tightContent"><div id="map"></div></div>';
		gebi('mapInsert').innerHTML = mapHtml;
		//Parse geojson dict (instead of reading from geojson.js - doesn't really matter if you want to load from geojson.js, was just quicker to prototype) 
		var geojson = JSON.parse(allOutputData['geoDict']);
		console.log(geojson);

		function filterFunction(feature, layer) {
			time = feature.properties['time'];
			timeMin = feature.properties['timeMin'];
			timeMax = feature.properties['timeMax'];
			action = feature.properties['action'];
			actionFilter = feature.properties['actionFilter'];
			
			thisAction = false;
			if (actionFilter != 'All') {
				if (actionFilter == action) {
					thisAction = true;
				}
				else thisAction = false;
			}
			else thisAction = true;
			if (thisAction == false) {
				return false;
			}
			thisTime = false;
			if (timeMin > timeMax)
				return false;
			if (time > timeMax || time < timeMin)
				thisTime = false;
			else thisTime = true;
			if (thisTime == false)
				return false;
			return true;
		}

		function onEachFeature(feature, layer) {
			var popup = '';
			if (feature.properties['popupContent']){
				popup += feature.properties['name']
				popup += feature.properties['popupContent'];
				layer.bindPopup(popup);
			}
		}

		function pointToLayerNode(feature, latlng) {
			let fillColorValue = 'gray';
			let rad = 3;
			return L.circleMarker(latlng, {
				radius: rad,
				fillColor: fillColorValue,
				color: "#000",
				weight: 1,
				opacity: 1,
				fillOpacity: 0.8
			});
		}

		function pointToEvent(feature, latlng) {
			if (feature.properties['pointColor']){
				let fillColorValue = feature.properties['pointColor'];
				let rad = 6;
			
				return L.circleMarker(latlng, {
					radius: rad,
					fillColor: fillColorValue,
					color: "#000",
					weight: 1,
					opacity: 1,
					fillOpacity: 0.8,
					time: feature.properties['time'],
					tempFillColor: fillColorValue
				});
			}
		}

		function lineStyle(feature){
			if (feature.geometry['type'] == 'LineString'){
				if (feature.properties.edgeColor){
					return {
						"color": feature.properties.edgeColor,
						"time": feature.properties.time
					}
				}
				else{
					return {
						"color": "black"
					}
				}
			}
			else if (feature.geometry['type'] == 'Polygon'){
				return {
					"color": "blue"
				}
			}
		}

		geojsonLayer = L.geoJSON(false, {
					pointToLayer: pointToLayerNode,
					onEachFeature: onEachFeature,
					filter: filterFunction
				});
		eventLayer = L.geoJSON(false, {
					pointToLayer:
						pointToEvent,
					onEachFeature:
						onEachFeature,
					filter: filterFunction,
					style: lineStyle
				});

		geojson.features.forEach(function(feature){
			if (feature.geometry['type'] == 'Point'){
				geojsonLayer.addData(feature);
				eventLayer.addData(
					feature);
			}
			else if (feature.geometry['type'] == 'LineString'){
				eventLayer.addData(
					feature);
			}
			else if (feature.geometry['type'] == 'Polygon'){
				geojsonLayer.addData(feature);
			}
		
		// var radiusId = document.getElementById("radiusInput");
		// var radiusVal = radiusId.value * 1609.34;

		// $('#radiusInput').on('change', function(event) {
		// 	radiusVal = event.target.value * 1609.34;
		// 	radiusLayer.eachLayer(function(layer){
		// 		layer.setRadius(radiusVal);
		// 	});

		});

		//function clickFeature(e) {
		//	if (typeof clickedFeature != 'undefined') {clickedFeature.setRadius(3);}

		//	var layer = e.target;
		//	e.target.setRadius(5);
		//	clickedFeature = e.target;
		//	update(feature.properties.radius);
		//}

		//var update = function(feature, latlng) {
		//	return L.circleMarker(latlng)
		//}

		//function onEachFeature2(feature,layer) {
		//	layer.on({click: clickFeature,})
		//}

		// Optional forcing of canvas renderer:
		// var map = L.map('map', {renderer: L.canvas()}).fitBounds(bounds);
		var bounds = geojsonLayer.getBounds();
		var map = L.map('map').fitBounds(bounds);

		//geojson.features.forEach(function(feature1) {
		//	if (feature1.properties['meters']) {
		//		var feature1.properties['name'] = new L.geoJSON(false, {
		//			onEachFeature: onEachFeature2,
		//			pointToLayer: function(feature, latlng) {
		//				return L.circleMarker(latlng, {
		//					radius: 3,
		//					fillColor: 'gray',
		//					color: '#000',
		//					opacity : 1,
		//					weight: 1.5,
		//					fillOpacity: 1
		//				});
		//			}
		//		});
		//		feature1.properties['name'].addData(feature1);
		//		geojson.features.forEach(function(feature2){
		//			if (feature1.properties['meters'].includes(feature2.properties['name'])) {
		//				feature1.properties['name'].addData(feature2);
		//			}					
		//		});
		//	}
		//});
		
		mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
		L.tileLayer(
			'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; ' + mapLink + ' Contributors',
			maxZoom: 18,
			}).addTo(map);
		L.control.scale().addTo(map);
		geojsonLayer.addTo(map);
		eventLayer.addTo(map);
		
		var slidervar = document.getElementById('slider');
		noUiSlider.create(slidervar, {
			connect: true,
			start: [ 1, 1000 ],
			range: {
				min: 1,
				max: 1000
			}
		});
		document.getElementById('input-number-min').setAttribute("value", 1);
		document.getElementById('input-number-max').setAttribute("value", 1000);

		var inputNumberMin = document.getElementById('input-number-min');
		var inputNumberMax = document.getElementById('input-number-max');
		inputNumberMin.addEventListener('change', function(){
			slidervar.noUiSlider.set([this.value, null]);
		});
		inputNumberMax.addEventListener('change', function(){
			slidervar.noUiSlider.set([null, this.value]);
		});

		slidervar.noUiSlider.on('update', function( values, handle ) {
			//handle = 0 if min-slider is moved and handle = 1 if max slider is moved
			if (handle==0){
				document.getElementById('input-number-min').value = values[0];
			} else {
				document.getElementById('input-number-max').value =  values[1];
			}
			rangeMin = document.getElementById('input-number-min').value;
			rangeMax = document.getElementById('input-number-max').value;
			eventLayer.eachLayer(function(layer){
				if ((parseInt(layer.options.time) >= rangeMax) || (parseInt(layer.options.time) <= rangeMin)){
					layer.setStyle({
						radius: 4,
						fillColor: 'gray'
					});
				}
				else{
					layer.setStyle({
						radius: 6,
						fillColor: layer.options.tempFillColor
					});
				}
			});
		})
	}
	</script>
		<!-- TODO: Remove? -->
		<!-- <script type="text/javascript">
			// Global Highcharts settings.
			Highcharts.setOptions({global:{useUTC:true}})
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			pointStart = dateOb(allOutputData.timeStamps[0])
			pointInterval = dateOb(allOutputData.timeStamps[1]) - pointStart
		</script> -->
		<p class="reportTitle postRun">Raw Input and Output Files</p>
		<div id="rawOutput" class="content postRun" style="margin-top:0px">
			{% for name in allOutputDataDict['fileNames'] %}
				{% if loop.index > 1 %}&mdash; {% endif %}<a href="/downloadModelData/{{allInputDataDict['user']}}/{{allInputDataDict['modelName']}}/{{name}}">{{name}}</a>
			{% endfor %}
		</div>
	</div>
</body>