<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles go here.*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputDataDict %}{{allInputDataDict | tojson}}{% else %}null{% endif %}</script>
</head>
<body>
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline">{{allInputDataDict.modelName}}</p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form nameXXXXXXX="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models:-modelSkeleton" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}"value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}"pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}"readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}"readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}"readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">System Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Input 1<span class="classic">Enter an input of any kind.</span></label>
				<input type="text" id="input1" name="input1" value="{{allInputDataDict.input1}}"required="required" placeholder="abc1 Easy as..."/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Input 2<span class="classic">Enter an input of another kind.</span></label>
				<input type="text" id="input2" name="input2" value="{{allInputDataDict.input2}}"required="required" placeholder="123 Or Simple as.."/>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<!-- Output tables, graphs, etc -->
	<div id="output">
		<!-- Integer Sum Table -->
		<p class="reportTitle">Model Skeleton Integer Sum</p>
		<div id="analysisSummary" class="content">
			<div class="shortInput">
				<strong>Input 1</strong>
				<p id="input1Out">{{allInputDataDict.input1}}</p>
			</div>
			<div class="shortInput">
				<strong>Input 2</strong>
				<p id="input2Out">{{allInputDataDict.input1}}</p>
			</div>
			<div class="shortInput">
				<strong>Output</strong>
				<p id="sumOut">{{allOutputDataDict.output}}</p>
			</div>
		</div>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>