<head>
	{{ omfHeaders }}
	<style>
	/*Styles here*/
		table {
			border-collapse: collapse;
			width: 100%;
		}
		table, th, td {
			border: 1px solid black;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		th {
			background-color: #8c8c8c;
		}
		tr:nth-child(even) {
			background-color: #e6e6e6;
		}
	</style>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-smartSwitching" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput ">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInputInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Model Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Voltage Data (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="voltageFile" type="file" style="display:none" onchange="handle_files(this.files,'voltageData','voltageFileName')">
				<input id="voltageData" name="voltageData" value="{{allInputDataDict.voltageData}}" type="hidden">
				<div>
					<label for="voltageFile" class="fileButton">Choose File</label>
					<input id="voltageFileName" name="voltageFileName" value="{{allInputDataDict.voltageFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Training Data (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="trainingFile" type="file" style="display:none" onchange="handle_files(this.files,'trainingData','trainingFileName')">
				<input id="trainingData" name="trainingData" value="{{allInputDataDict.trainingData}}" type="hidden">
				<div>
					<label for="trainingFile" class="fileButton">Choose File</label>
					<input id="trainingFileName" name="trainingFileName" value="{{allInputDataDict.trainingFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Use Distance?<span class="classic">If yes, use distance data to help determine the accuracy of the feeder's connectivity.</span></label>
				<select id="useDist" name="useDist" value="{{allInputDataDict.useDist}}" />
					<option value='True' {% if allInputDataDict.useDist == 'True' %}selected{% endif %}>Yes</option>
					<option value='False' {% if allInputDataDict.useDist == 'False' %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Use Voltage?<span class="classic">If yes, use voltage data to help determine the accuracy of the feeder's connectivity.</span></label>
				<select id="useVolt" name="useVolt" value="{{allInputDataDict.useVolt}}" />
					<option value='True' {% if allInputDataDict.useVolt == 'True' %}selected{% endif %}>Yes</option>
					<option value='False' {% if allInputDataDict.useVolt == 'False' %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Use Support Vector Machine?<span class="classic">If yes, generate training data and use a support vector machine to help determine the accuracy of the test feeder's connectivity.</span></label>
				<select id="useSVM" name="useSVM" value="{{allInputDataDict.useSVM}}" />
					<option value='True' {% if allInputDataDict.useSVM == 'True' %}selected{% endif %}>Yes</option>
					<option value='False' {% if allInputDataDict.useSVM == 'False' %}selected{% endif %}>No</option>
				</select>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<p class="reportTitle">Actual Connectivity Graph</p>
		<div id="actualGraph" class="content" style="margin-top:0px">
			<img id="actualGraphImage" style="width:980px" />
			<script>gebi("actualGraphImage").src = "data:image/png;base64," + allOutputData["actual_graph.png"]</script>
		</div>
		<p class="reportTitle">Distance Connectivity Graph (generated solely with distance data)</p>
		<div id="DistanceGraph" class="content" style="margin-top:0px">
			<img id="DistanceGraphImage" style="width:980px" />
			<script>gebi("DistanceGraphImage").src = "data:image/png;base64," + allOutputData["distance_graph.png"]</script>
		</div>
		<p class="reportTitle">Voltage Connectivity Graph</p>
		<div id="voltageGraph" class="content" style="margin-top:0px">
			<img id="voltageGraphImage" style="width:980px" />
			<script>gebi("voltageGraphImage").src = "data:image/png;base64," + allOutputData["voltage_graph.png"]</script>
		</div>
		<p class="reportTitle" style="page-break-before:always">Connectivity Tests and Accuracy</p>
		<div id="outageCostCalc" class="tightContent">
			{{ allOutputDataDict['statsCalc'] }}
		</div>
		<p class="reportTitle" style="page-break-before:always">Support Vector Machine Results</p>
		<div id="outageCostCalc" class="tightContent">
			{{ allOutputDataDict['svmCalc'] }}
		</div>
		<!-- TODO: Remove? -->
		<!-- <script type="text/javascript">
			// Global Highcharts settings.
			Highcharts.setOptions({global:{useUTC:true}})
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			pointStart = dateOb(allOutputData.timeStamps[0])
			pointInterval = dateOb(allOutputData.timeStamps[1]) - pointStart
		</script> -->
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>