<head>
	{{ omfHeaders }}
	<!-- Library Imports -->
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<!-- Data  Imports -->
	<style>#map{
		position: relative;
		width: 100.0%;
		height: 100.0%;
		left: 0.0%;
		top: 0.0%;
		}
	</style>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" value="{{allInputDataDict.inputForm}}" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-outageCost" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Model Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Outage Data (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="outageFile" type="file" style="display:none" onchange="handle_files(this.files,'outageData','outageFileName')">
				<input id="outageData" name="outageData" value="{{allInputDataDict.outageData}}" type="hidden">
				<div>
					<label for="outageFile" class="fileButton">Choose File</label>
					<input id="outageFileName" name="outageFileName" value="{{allInputDataDict.outageFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tie Line Data (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="tieFile" type="file" style="display:none" onchange="handle_files(this.files,'tieData','tieFileName')">
				<input id="tieData" name="tieData" value="{{allInputDataDict.tieData}}" type="hidden">
				<div>
					<label for="tieFile" class="fileButton">Choose File</label>
					<input id="tieFileName" name="tieFileName" value="{{allInputDataDict.tieFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>

			<div class="shortInput">
				<label class="tooltip">Generate Faults?<span class="classic">This input decides whether random faults will be generated and shown on the leaflet map. It is also possible to generate faults using two different methods. Check the wiki to read about how these methods differ.</span></label>
				<select id="generateRandom" name="generateRandom" value="{{allInputDataDict.generateRandom}}" />
					<option value="0" {% if allInputDataDict.generateRandom == '0' %}selected{% endif %}>No New Faults</option>
					<option value="1" {% if allInputDataDict.generateRandom == '1' %}selected{% endif %}>Simple Method</option>
					<option value="2" {% if allInputDataDict.generateRandom == '2' %}selected{% endif %}>Lattice Method</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Data to be Graphed<span class="classic">This input decides whether the faults dictated by the input .csv file, the random faults generated, or all faults will be graphed on the leaflet plot.</span></label>
				<select id="graphData" name="graphData" value="{{allInputDataDict.graphData}}" />
					<option value="0" {% if allInputDataDict.graphData == '0' %}selected{% endif %}>Graph All Faults</option>
					<option value="1" {% if allInputDataDict.graphData == '1' %}selected{% endif %}>Graph Original Faults</option>
					<option value="2" {% if allInputDataDict.graphData == '2' %}selected{% endif %}>Graph Generated Faults</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Number of Customers<span class="classic">The number of meters on the feeder system.</span></label>
				<input type="text" id="numberOfCustomers" name="numberOfCustomers" value="{{allInputDataDict.numberOfCustomers}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Sustained Outage Threshold<span class="classic">The threshold for how many seconds an outage lasts before it is considered a sustained outage.</span></label>
				<input type="text" id="sustainedOutageThreshold" name="sustainedOutageThreshold" value="{{allInputDataDict.sustainedOutageThreshold}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Cause Filter<span class="classic">Filter the fault data shown by leaflet map based on a specific cause. Entering "0" will yield all causes being shown on the map.</span></label>
				<input type="text" id="causeFilter" name="causeFilter" value="{{allInputDataDict.causeFilter}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Component Type Filter<span class="classic">Filter the fault data shown by leaflet map based on a specific component type. Entering "All" will yield all faults of any component type being shown on the map.</span></label>
				<select id="componentTypeFilter" name="componentTypeFilter" value="{{allInputDataDict.componentTypeFilter}}" />
					<option value="All" {% if allInputDataDict.componentTypeFilter == 'All' %}selected{% endif %}>All Components</option>
					<option value="overhead_line" {% if allInputDataDict.componentTypeFilter == 'overhead_line' %}selected{% endif %}>Overhead Line</option>
					<option value="underground_line" {% if allInputDataDict.componentTypeFilter == 'underground_line' %}selected{% endif %}>Underground Line</option>
					<option value="triplex_line" {% if allInputDataDict.componentTypeFilter == 'triplex_line' %}selected{% endif %}>Triplex Line</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Fault Type Filter<span class="classic">Filter the fault data shown by leaflet map based on a specific fault type. Entering "All" will yield all faults of any fault type being shown on the map.</span></label>
				<select id="faultTypeFilter" name="faultTypeFilter" value="{{allInputDataDict.faultTypeFilter}}" />
					<option value="All" {{ 'selected' if allInputDataDict.faultTypeFilter == 'All' }}>All Faults</option>
					<option value="SLG-A" {{ 'selected' if allInputDataDict.faultTypeFilter == 'SLG-A' }}>Single-Line-Ground A</option>
					<option value="SLG-B" {{ 'selected' if allInputDataDict.faultTypeFilter == 'SLG-B' }}>Single-Line-Ground B</option>
					<option value="SLG-C" {{ 'selected' if allInputDataDict.faultTypeFilter == 'SLG-C' }}>Single-Line-Ground C</option>
					<option value="SLG-X" {{ 'selected' if allInputDataDict.faultTypeFilter == 'SLG-X' }}>Single-Line-Ground Random</option>
					<option value="DLG-AB" {{ 'selected' if allInputDataDict.faultTypeFilter == 'DLG-AB' }}>Double-Line-Ground AB</option>
					<option value="DLG-BC" {{ 'selected' if allInputDataDict.faultTypeFilter == 'DLG-BC' }}>Double-Line-Ground BC</option>
					<option value="DLG-CA" {{ 'selected' if allInputDataDict.faultTypeFilter == 'DLG-CA' }}>Double-Line-Ground CA</option>
					<option value="DLG-X" {{ 'selected' if allInputDataDict.faultTypeFilter == 'DLG-X' }}>Double-Line-Ground Random</option>
					<option value="LL-AB" {{ 'selected' if allInputDataDict.faultTypeFilter == 'LL-AB' }}>Line-Line AB</option>
					<option value="LL-BC" {{ 'selected' if allInputDataDict.faultTypeFilter == 'LL-BC' }}>Line-Line BC</option>
					<option value="LL-CA" {{ 'selected' if allInputDataDict.faultTypeFilter == 'LL-CA' }}>Line-Line CA</option>
					<option value="LL-X" {{ 'selected' if allInputDataDict.faultTypeFilter == 'LL-X' }}>Line-Line Random</option>
					<option value="TLG" {{ 'selected' if allInputDataDict.faultTypeFilter == 'TLG' }}>Triple-Line-Ground</option>
					<option value="OC-A" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC-A' }}>Single Open Conductor A</option>
					<option value="OC1-A" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC1-A' }}>Single Open Conductor A</option>
					<option value="OC-B" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC-B' }}>Single Open Conductor B</option>
					<option value="OC1-B" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC1-B' }}>Single Open Conductor B</option>
					<option value="OC-C" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC-C' }}>Single Open Conductor C</option>
					<option value="OC1-C" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC1-C' }}>Single Open Conductor C</option>
					<option value="OC-X" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC-X' }}>Single Open Conductor Random</option>
					<option value="OC1-X" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC1-X' }}>Single Open Conductor Random</option>
					<option value="OC2-AB" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC2-AB' }}>Double Open Conductor AB</option>
					<option value="OC2-BC" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC2-BC' }}>Double Open Conductor BC</option>
					<option value="OC2-CA" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC2-CA' }}>Double Open Conductor CA</option>
					<option value="OC2-X" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC2-X' }}>Double Open Conductor Random</option>
					<option value="OC3" {{ 'selected' if allInputDataDict.faultTypeFilter == 'OC3' }}>Triple Open Conductor</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Minimum Time Filter<span class="classic">Filter the fault data shown by leaflet map based on a lower bound on the time the faults can occur.</span></label>
				<input type="text" id="timeMinFilter" name="timeMinFilter" value="{{allInputDataDict.timeMinFilter}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Time Filter<span class="classic">Filter the fault data shown by leaflet map based on an upper bound on the time the faults can occur.</span></label>
				<input type="text" id="timeMaxFilter" name="timeMaxFilter" value="{{allInputDataDict.timeMaxFilter}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Minimum Meter Filter<span class="classic">Filter the fault data shown by leaflet map based on a minimum number of meters affected by the fault.</span></label>
				<input type="text" id="meterMinFilter" name="meterMinFilter" value="{{allInputDataDict.meterMinFilter}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Meter Filter<span class="classic">Filter the fault data shown by leaflet map based on a maximum number of meters affected by the fault.</span></label>
				<input type="text" id="meterMaxFilter" name="meterMaxFilter" value="{{allInputDataDict.meterMaxFilter}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Minimum Duration Filter<span class="classic">Filter the fault data shown by leaflet map based on a minimum in fault duration (in seconds).</span></label>
				<input type="text" id="durationMinFilter" name="durationMinFilter" value="{{allInputDataDict.durationMinFilter}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Duration Filter<span class="classic">Filter the fault data shown by leaflet map based on a maximum in fault duration (in seconds).</span></label>
				<input type="text" id="durationMaxFilter" name="durationMaxFilter" value="{{allInputDataDict.durationMaxFilter}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Number of Faults Generated<span class="classic">The number of random faults generated, if random faults are generated.</span></label>
				<input type="text" id="faultsGeneratedStr" name="faultsGeneratedStr" value="{{allInputDataDict.faultsGeneratedStr}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Number of Grid Lines<span class="classic">If the lattice method is used to generate random faults, this input dictates how many grid lines will be used when creating the lattice and generating the heat map for location of outages.</span></label>
				<input type="text" id="gridLinesStr" name="gridLinesStr" value="{{allInputDataDict.gridLinesStr}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Duration Distribution Generator<span class="classic">If time data is provided by the user and random faults are generated, this input dictates the method by which the new duration data will be generated.</span></label>
				<select id="test" name="test" value="{{allInputDataDict.test}}" />
					<option value="0" {{ 'selected' if allInputDataDict.test == 'chi_square' }}>Input Durations</option>
					<option value="chi_square" {{ 'selected' if allInputDataDict.test == 'chi_square' }}>Chi-Squared Test</option>
					<option value="p_value" {{ 'selected' if allInputDataDict.test == 'p_value' }}>Kolmogorov-Smirnov Test</option>
					<option value="dependent" {{ 'selected' if allInputDataDict.test == 'dependent' }}>Dependent Normal Distributions</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Dependent Variables for Distribution<span class="classic">If new distribution data is generated using the dependent normal distributions, this input dictates the variables on which the duration data is dependent.</span></label>
				<select id="depDist" name="depDist" value="{{allInputDataDict.depDist}}" />
					<option value="0" {{ 'selected' if allInputDataDict.depDist == '0' }}>Cause/time/location</option>
					<option value="1" {{ 'selected' if allInputDataDict.depDist == '1' }}>Cause/time</option>
					<option value="2" {{ 'selected' if allInputDataDict.depDist == '2' }}>Cause/location</option>
					<option value="3" {{ 'selected' if allInputDataDict.depDist == '3' }}>Time/location</option>
					<option value="4" {{ 'selected' if allInputDataDict.depDist == '4' }}>Cause</option>
					<option value="5" {{ 'selected' if allInputDataDict.depDist == '5' }}>Time</option>
					<option value="6" {{ 'selected' if allInputDataDict.depDist == '6' }}>Location</option>
				</select>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<p class="reportTitle" style="page-break-before:always">Reliability Metrics for Input Data</p>
		<div id="statsCalc" class="tightContent">
			{{ allOutputDataDict['statsHtml'] }}
		</div>
		<p class="reportTitle" style="page-break-before:always">Reliability Metrics for Input Data (with FLISR Implemented)</p>
		<div id="flisrStatsCalc" class="tightContent">
			{{ allOutputDataDict['flisrStatsHtml'] }}
		</div>
		<p class="reportTitle">Outage Timeline for Input Data</p>
		<div id="timeline" class="tightContent">
			<div id="timelineChart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("timelineChart", JSON.parse(allOutputData["timelineData"]), JSON.parse(allOutputData["timelineLayout"]) || {})
			</script>
		</div>
		<p class="reportTitle">Outage Timeline for Randomly Generated Faults</p>
		<div id="timeline1" class="tightContent">
			<div id="timeline1Chart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("timeline1Chart", JSON.parse(allOutputData["timeline1Data"]), JSON.parse(allOutputData["timeline1Layout"]) || {})
			</script>
		</div>
		<!-- Leaflet map directly inline with model-->
		<div id="mapInsert"></div>
		<script type="text/javascript">
		//Hack to stop leaflet from loading before geojson data loads 
		if(modelStatus === "finished"){
		mapHtml = '<p class="reportTitle">Outage Map (Original Faults Marked in Blue, New Faults Marked in Red)</p><div id="mapHolder" class="tightContent"><div id="map"></div></div>';
		gebi('mapInsert').innerHTML = mapHtml;
		//Parse geojson dict (instead of reading from geojson.js - doesn't really matter if you want to load from geojson.js, was just quicker to prototype) 
		var geojson = JSON.parse(allOutputData['geoDict']);
		console.log(geojson);

		function filterFunction(feature, layer) {
			minMeter = feature.properties['meterMinFilter'];
			maxMeter = feature.properties['meterMaxFilter'];
			meterCount = feature.properties['meterCount'];
			minDuration = feature.properties['durationMinFilter'];
			maxDuration = feature.properties['durationMaxFilter'];
			dur = feature.properties['duration'];
			causeFilter = feature.properties['causeFilter'];
			cause = feature.properties['cause'];
			time = feature.properties['time'];
			timeMin = feature.properties['timeMin'];
			timeMax = feature.properties['timeMax'];
			faultType = feature.properties['faultType'];
			componentType = feature.properties['componentType'];
			faultFilter = feature.properties['faultFilter'];
			componentFilter = feature.properties['componentFilter'];
			thisMeter = false;
			if (minMeter > maxMeter)
				return false;
			if (meterCount > maxMeter || meterCount < minMeter)
				thisMeter = false;
			else thisMeter = true;
			if (thisMeter == false)
				return false;
			thisDuration = false;
			if (minDuration > maxDuration)
				return false;
			if (dur > maxDuration || dur < minDuration) {
				thisDuration = false;
			}
			else thisDuration = true;
			if (thisDuration == false) {
				return false;
			}
			thisCause = false;
			if (causeFilter != '0') {
				if (causeFilter == cause) {
					thisCause = true;
				}
				else thisCause = false;
			}
			else thisCause = true;
			if (thisCause == false) {
				return false;
			}
			thisComponent = false;
			if (componentFilter != 'All') {
				if (componentFilter == componentType) {
					thisComponent = true;
				}
				else thisComponent = false;
			}
			else thisComponent = true;
			if (thisComponent == false) {
				return false;
			}
			thisFault = false;
			if (faultFilter != 'All') {
				if (faultFilter == faultType) {
					thisFault = true;
				}
				else thisFault = false;
			}
			else thisFault = true;
			if (thisFault == false) {
				return false;
			}
			thisTime = false;
			if (timeMin > timeMax)
				return false;
			if (time > timeMax || time < timeMin)
				thisTime = false;
			else thisTime = true;
			if (thisTime == false)
				return false;
			return true;
		}

		function onEachFeature(feature, layer) {
			var popup = '';
			if (feature.properties['popupContent']){
				popup += feature.properties['name']
				popup += feature.properties['popupContent'];
				layer.bindPopup(popup);
			}
		}

		function pointToLayerNode(feature, latlng) {
			let fillColorValue = 'gray';
			let rad = 3
			if (feature.properties['pointColor']){
				fillColorValue = feature.properties['pointColor'];
				rad = 6;
			}
			return L.circleMarker(latlng, {
				radius: rad,
				fillColor: fillColorValue,
				color: "#000",
				weight: 1,
				opacity: 1,
				fillOpacity: 0.8
			});
		}

		function lineStyle(feature){
			if (feature.geometry['type'] == 'LineString'){
				if (feature.properties.edgeColor){
					return {
						"color": feature.properties.edgeColor
					}
				}
				else{
					return {
						"color": "black"
					}
				}
			}
			else if (feature.geometry['type'] == 'Polygon'){
				return {
					"color": "blue"
				}
			}
		}

		geojsonLayer = L.geoJSON(false, {
					pointToLayer: pointToLayerNode,
					onEachFeature: onEachFeature,
					style: lineStyle,
					filter: filterFunction
				});

		geojson.features.forEach(function(feature){
			if (feature.geometry['type'] == 'Point'){
				geojsonLayer.addData(feature);
			}
			else if (feature.geometry['type'] == 'LineString'){
				geojsonLayer.addData(feature);
			}
			else if (feature.geometry['type'] == 'Polygon'){
				geojsonLayer.addData(feature);
			}
		});

		//function clickFeature(e) {
		//	if (typeof clickedFeature != 'undefined') {clickedFeature.setRadius(3);}

		//	var layer = e.target;
		//	e.target.setRadius(5);
		//	clickedFeature = e.target;
		//	update(feature.properties.radius);
		//}

		//var update = function(feature, latlng) {
		//	return L.circleMarker(latlng)
		//}

		//function onEachFeature2(feature,layer) {
		//	layer.on({click: clickFeature,})
		//}

		// Optional forcing of canvas renderer:
		// var map = L.map('map', {renderer: L.canvas()}).fitBounds(bounds);
		var bounds = geojsonLayer.getBounds();
		var map = L.map('map').fitBounds(bounds);

		//geojson.features.forEach(function(feature1) {
		//	if (feature1.properties['meters']) {
		//		var feature1.properties['name'] = new L.geoJSON(false, {
		//			onEachFeature: onEachFeature2,
		//			pointToLayer: function(feature, latlng) {
		//				return L.circleMarker(latlng, {
		//					radius: 3,
		//					fillColor: 'gray',
		//					color: '#000',
		//					opacity : 1,
		//					weight: 1.5,
		//					fillOpacity: 1
		//				});
		//			}
		//		});
		//		feature1.properties['name'].addData(feature1);
		//		geojson.features.forEach(function(feature2){
		//			if (feature1.properties['meters'].includes(feature2.properties['name'])) {
		//				feature1.properties['name'].addData(feature2);
		//			}					
		//		});
		//	}
		//});
		
		mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
		L.tileLayer(
			'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; ' + mapLink + ' Contributors',
			maxZoom: 18,
			}).addTo(map);
		L.control.scale().addTo(map);
		geojsonLayer.addTo(map);
	}
		</script>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>