<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		.tab {
		    overflow: hidden;
		    margin-left: auto;
		    margin-right: auto;
		    width: 1000px;
		}

		.tab button {
			color: black;
		    background-color: inherit;
		    float: left;
		    border: none;
		    outline: none;
		    cursor: pointer;
		    padding: 14px 16px;
		    border-radius: 5px 5px 0px 0px;
		}

		.tab button:hover {
		    background-color: white;
		}

		.tab button.active {
		    background-color: seagreen;
		    color: white;
		}

		.tabcontent {
		    display: none;
		}
		table {
			width: 100%;
		}
		content {
			margin-top: 0px;
		}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputDataDict %}{{allInputDataDict | tojson}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputDataDict %}{{allOutputDataDict | tojson}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<script type="text/javascript">
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}
		function openTab(evt, tabName) {
			var i, tabContent, tabLinks;
			// Get all elements with class="tabContent" and hide them
			$(".tabContent").hide();
		    // Get all elements with class="tabLinks" and remove the class "active"
		    tabLinks = document.getElementsByClassName("tabLinks");
		    for (i = 0; i < tabLinks.length; i++) {
		        tabLinks[i].className = tabLinks[i].className.replace(" active", "");
		    }
		    // Show the current tab, and add an "active" class to the button that opened the tab
		    $("." + tabName).show();
		    //gebi(tabName).style.display = "block";
		    evt.currentTarget.className += " active";
		}
		$(document).ready(function() {
			console.log($('#inverterOutputs'));
    	$('.dt').DataTable({ 'paging': false});
		});
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-voltageDrop" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="runningInline postRunInline shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="postRunInline shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" style="display:none">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Retail Energy Cost ($/kWh)<span class="classic">Residential rate.</span></label>
				<input type="text" id="retailCost" name="retailCost" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Discount Rate (%)<span class="classic">Discount rate used in discounted cashflow analysis output.</span></label>
				<input type="text" id="discountRate" name="discountRate" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Controller Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="zipCode" name="zipCode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">PV Connection<span class="classic">How is the PV system connected?</span></label>
				<select id="pvConnection" name="pvConnection">
					<option value="Wye">Wye</option>
					<option value="Delta">Delta</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Objective Function<span class="classic">'Phase to Ground' or 'VUF' minimizes negative sequence. 'Phase to Phase' or 'I0' minimizes zero sequence</span></label>
				<select id="objectiveFunction" name="objectiveFunction">
					<option value="VUF">Phase to Ground</option>
					<option value="I0">Phase to Phase</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Critical Node<span class="classic">What node should we minimize?</span></label>
				<input type="text" id="criticalNode" name="criticalNode" required="required"/>
			</div>
						<div class="shortInput">
				<label class="tooltip">Iterations<span class="classic">How many iterations should be run</span></label>
				<input type="text" id="iterations" name="iterations" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Display Options</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Node Coloring By<span class="classic">Select the simulation output value that will be used to color the nodes in the circuit.</span></label>
				<select id="nodeCol" name="nodeCol">
					<option value="Voltage">Voltage (V)</option>
					<option value="VoltageImbalance">Voltage Imbalance (%)</option>
					<option value="perUnitVoltage">Per-Unit Voltage (unitless)</option>
					<option value="perUnit120Voltage">120 V Scaled Per-Unit Voltage (V)</option>
					<option value="None">No Node Coloring</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Layout Algorithm<span class="classic">Geospatial shows the circuit the same way it was defined in the feeder editor. Force Directed uses an algorithm to show the circuit elements evenly spaced (useful for circuits without location data).</span></label>
				<select id="layoutAlgorithm" name="layoutAlgorithm">
					<option value="geospatial">Geospatial</option>
					<option value="forceDirected">Force Directed</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Line Coloring By<span class="classic">Select the simulation output value that will be used to color the lines in the circuit.</span></label>
				<select id="edgeCol" name="edgeCol">
					<option value="Current">Current (A)</option>
					<option value="Power">Power (W)</option>
					<option value="Rating">Line Rating (A)</option>
					<option value="PercentOfRating">Current vs. Line Rating (%)</option>
					<option value="None">No Line Coloring</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Node Labels<span class="classic">Text labels on nodes.</span></label>
				<select id="nodeLabs" name="nodeLabs">
					<option value="Name">Component Name</option>
					<option value="Value">Simulation Value</option>
					<option value="None">No Label</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Line Labels<span class="classic">Text labels on linesn</span></label>
				<select id="edgeLabs" name="edgeLabs">
					<option value="Name">Component Name</option>
					<option value="Value">Simulation Value</option>
					<option value="None">No Label</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Color Map<span class="classic">Select a gradient for coloring the physical values</span></label>
				<select id="customColormap" name="customColormap">
					<option value="False">Viridis</option>
					<option value="True">Gray, Red, Blue</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Color Min<span class="classic">What kW outliers would you like observed? Otherwise, submit "auto".</span></label>
				<input type="text" id="colorMin" name="colorMin"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Color Max<span class="classic">What kW outliers would you like observed? Otherwise, submit "auto".</span></label>
				<input type="text" id="colorMax" name="colorMax"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Image Resolution (sq. in.)<span class="classic">Please select a value lower than 10,000</span></label>
				<input type="text" id="rezSqIn" name="rezSqIn" pattern="^\d{1,4}$"/>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<p class="reportTitle postRun" style="page-break-before:always">Circuit Locational Metrics</p>
		<!-- Tab links -->
		<div class="tab postRun">
		  <button id='firstTabButton' class="tabLinks active" onclick="openTab(event, 'baseDiagram')">Base</button>
		  <button class="tabLinks" onclick="openTab(event, 'solarDiagram')">Solar</button>
		  <button class="tabLinks" onclick="openTab(event, 'controlledDiagram')">Controlled</button>
		</div>
		<!-- Tab content -->
		<div id="phaseUnbalanceDiagrams" class="postRun tabPlots">
			<div class="tightContent tabContent baseDiagram firstTab">
				<img id="base_image" style="width:1000px;height:1000px;"/>
				<script type="text/javascript">gebi("base_image").src = "data:image/png;base64," + allOutputData.base_image</script>
			</div>
			<div class="tightContent tabContent solarDiagram">
				<img id="solar_image" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("solar_image").src = "data:image/png;base64," + allOutputData.solar_image</script>
			</div>
			<div class="tightContent tabContent controlledDiagram">
				<img id="controlled_image" style="width:1000px;height:1000px;" />
				<script type="text/javascript">gebi("controlled_image").src = "data:image/png;base64," + allOutputData.controlled_image</script>
			</div>	
		</div>
		<script>document.getElementById('firstTabButton').click();//Hack, get first tab to show.</script>
		<p class="reportTitle postRun" style="page-break-before:always">Feeder Power Summary</p>
		<div class="tightContent tableContainer postRun">
			{% if allOutputDataDict %}
			<table id="feederSummary">
				<tr>
					<th></th>
					<th>Base Case</th>
					<th>With Solar</th>
					<th>Controlled Solar</th>
				</tr>
				<tr>
					<td>Load (kWh)</td>
					<td>{{allOutputDataDict['service_cost']['load']['base']}}</td>
					<td>{{allOutputDataDict['service_cost']['load']['solar']}}</td>
					<td>{{allOutputDataDict['service_cost']['load']['controlled']}}</td>
				</tr>
				<tr>
					<td>Distributed Generation (kWh)</td>
					<td>{{allOutputDataDict['service_cost']['distributed_gen']['base']}}</td>
					<td>{{allOutputDataDict['service_cost']['distributed_gen']['solar']}}</td>
					<td>{{allOutputDataDict['service_cost']['distributed_gen']['controlled']}}</td>
				</tr>
				<tr>
					<td>Losses (kWh)</td>
					<td>{{allOutputDataDict['service_cost']['losses']['base']}}</td>
					<td>{{allOutputDataDict['service_cost']['losses']['solar']}}</td>
					<td>{{allOutputDataDict['service_cost']['losses']['controlled']}}</td>
				</tr>
				<tr>
					<td>VARs of Losses</td>
					<td>{{allOutputDataDict['service_cost']['VARs']['base']}}</td>
					<td>{{allOutputDataDict['service_cost']['VARs']['solar']}}</td>
					<td>{{allOutputDataDict['service_cost']['VARs']['controlled']}}</td>
				</tr>
			</table>
			{% endif %}
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Inverter Power Outputs</p>
		<div class="tightContent tableContainer postRun" style="max-height:250px; overflow-y: scroll;">
			<table class="dt" id="inverterOutputs" style="padding: 10px;">
				<thead>
					<tr>
						<th></th>
						<th colspan="3" style="text-align: center;">Uncontrolled Solar</th>
						<th colspan="3" style="text-align: center;">Controlled Solar</th>
					</tr>
					{{allOutputDataDict['inverter_header']}}
				</thead>	
				<tbody>
					{{allOutputDataDict['inverter_table']}}
				</tbody>
			</table>
		</div>
	<p class="reportTitle postRun" style="page-break-before:always; text-align:center; font-weight: bold;">Three Phase Motor Loads Voltage and Imbalance</p>
	<p class="reportTitle postRun" style="page-break-before:always">Base</p>
		<div class="tightContent tableContainer postRun" style="max-height:250px; overflow-y: scroll;">
			<table class="dt" id="realImgPower">
				<thead>
					<tr>
						<th>Name</th>
						<th>Total kW</th>
						<th>Total VARs</th>
						<th>A (V)</th>
						<th>B (V)</th>
						<th>C (V)</th>
						<th>Unbalance</th>
					</tr>
				</thead>
				{{allOutputDataDict['motor_table_base']}}
			</table>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Solar</p>
		<div class="tightContent tableContainer postRun" style="max-height:250px; overflow-y: scroll;">
			<table class="dt" id="realImgPower">
				<thead>
					<tr>
						<th>Name</th>
						<th>Total kW</th>
						<th>Total VARs</th>
						<th>A (V)</th>
						<th>B (V)</th>
						<th>C (V)</th>
						<th>Unbalance</th>
					</tr>
				</thead>
				{{allOutputDataDict['motor_table_solar']}}
			</table>
		</div>
	</div>
	<p class="reportTitle postRun" style="page-break-before:always">Controlled</p>
		<div class="tightContent tableContainer postRun" style="max-height:250px; overflow-y: scroll;">
			<table class="dt" id="realImgPower">
				<thead>
					<tr>
						<th>Name</th>
						<th>Total kW</th>
						<th>Total VARs</th>
						<th>A (V)</th>
						<th>B (V)</th>
						<th>C (V)</th>
						<th>Unbalance</th>
					</tr>
				</thead>
				{{allOutputDataDict['motor_table_controlled']}}
			</table>
		</div>
	</div>
</body>

		<!-- <p class="reportTitle postRun">Simulation Location</p>
		<div id="studyDetail" class="tightContent postRun detailsContainer" style="position: relative">
			<div id="mapHere"></div>
			<script type="text/javascript">
				width = 1000, height = 350
				projection = d3.geo.albersUsa().scale(600).translate([width/2, height/2])
				path = d3.geo.path()
					.projection(projection)
				svg = d3.select("#mapHere").append("svg")
					.attr("width", width)
					.attr("height", height)
				group = svg.append("g")
				group.attr("transorm", "scale(.2, .2)")
				d3.json('{{pathPrefix}}/static/state_boundaries.json', function(collection) {
					group.selectAll('path')
						.data(collection.features)
						.enter().append('path')
						.attr('d', d3.geo.path().projection(projection))
						.attr('id', function(d){return d.properties.name.replace(/\s+/g, '')})
						.style('fill', 'gray')
						.style('stroke', 'white')
						.style('stroke-width', 1)})
				d3.json("{{pathPrefix}}/static/city_locations.json", function(new_us_places){
					climate = allInputData.climateName
					ST_NAME = climate.split("-")
					ST = ST_NAME[0]
					NAME = ST_NAME[1].replace("_"," ")
					my_coords = projection(new_us_places[ST][NAME])
					r = 5
					circle = svg.append("circle")
						.attr("cx", my_coords[0])
						.attr("cy", my_coords[1])
						.attr("r", 5)
						.attr("class", "HighlightCircle")
					circle.append("svg:title").text(climate)})
			</script>
		</div> -->