<head>
	{{ omfHeaders }}
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
	{% macro insert_file_upload_block(fileName, dataVariableName) -%}
		<input id="{{dataVariableName}}Handler" type="file" style="display:none" onchange="handle_files(this.files,'{{dataVariableName}}','{{fileName}}')">
		<input id="{{dataVariableName}}" name="{{dataVariableName}}" value="{{allInputDataDict[dataVariableName]}}" type="hidden">
		<div>
			<label for="{{dataVariableName}}Handler" class="fileButton">Choose File</label>
			<input id="{{fileName}}" name="{{fileName}}" value="{{allInputDataDict[fileName]}}" readonly class="uploadFileName">    
		</div>
	{%- endmacro %}
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-resilientCommunity" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}"pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}"readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}"readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}"readonly/>
			</div>
			<hr>
			<!-- NEW ADDITIONS -->
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">System Parameters</p>
			</div>
			<div class="shortInput">
				<label class="tooltip">Circuit Data Input File <span class="classic">Import a omd file to map</span></label>
				<div>{{ insert_file_upload_block('inputDataFileName','inputDataFileContent') }}</div>
			</div>

			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
		
			<div class="shortInput">

				<label class="tooltip">Lines<span class="classic">Select Yes if you would like to include Lines in the analysis </span></label>
				<select name="lines" id="lines" value="{{allInputDataDict.lines}}">
					<option value="yes" {% if allInputDataDict.lines | lower == "yes" %}selected{% endif %} >Yes</option>
					<option value="no" {% if allInputDataDict.lines | lower != "yes" %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Transformers<span class="classic">Select Yes if you would like to include Transformers in the analysis </span></label>
				<select name="transformers" id="transformers" value="{{allInputDataDict.transformers}}">
					<option value="yes" {% if allInputDataDict.transformers | lower == "yes" %}selected{% endif %}>Yes</option>
					<option value="no" {% if allInputDataDict.transformers | lower != "yes" %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Fuses <span class="classic">Select Yes if you would like to include Fuses in the analysis </span></label>
				<select name="fuses" id="fuses" value="{{allInputDataDict.fuses}}">
					<option value="yes" {% if allInputDataDict.fuses | lower == "yes" %}selected{% endif %}>Yes</option>
					<option value="no" {% if allInputDataDict.fuses | lower != "yes" %}selected{% endif %}>No</option>
				</select>
			</div>

			<!-- New input for Average Peak Demand -->
			<div class="shortInput">
				<label class="tooltip">Average Peak Demand (kW)<span class="classic">Enter the average peak demand for a household
						in the area </span></label>
				<input type="number" name="averageDemand" id="averageDemand" min="0" step="0.01" required>
			</div>
				
			<div class="shortInput">
				<label class="tooltip">Loads Coloring By<span class="classic">Select the simulation output value that will be used to color the loads in the circuit.</span></label>
				<select id="loadCol" name="loadCol" value="{{allInputDataDict.loadCol}}">
					<option value="Base Criticality Score" {% if allInputDataDict.loadCol == "Base Criticality Score" %}selected{% endif %}>Base Criticality Score </option>
					<option value="Community Criticality Score" {% if allInputDataDict.loadCol == "Community Criticality Score" %}selected{% endif %}>Community Criticality Score</option>
					<option value="Base Criticality Index" {% if allInputDataDict.loadCol == "Base Criticality Index" %}selected{% endif %}>Base Criticality Index</option>
					<option value="Community Criticality Index" {% if allInputDataDict.loadCol == "Community Criticality Index" %}selected{% endif %}>Community Criticality Index</option>
					<option value="None" {% if allInputDataDict.loadCol == "None" %}selected{% endif %}>No Node Coloring</option>
				</select>
			</div>


			<div class="shortInput">
				<label class="tooltip">Load Type
					<span class="classic">Select the type of load you would like to analyze</span>
				</label>
				<select name="load_type" id="load_type" value="{{allInputDataDict.load_type}}">
					<option value="residential" {% if allInputDataDict.load_type | lower == "residential" %}selected{% endif %}>Residential</option>
					<option value="retail" {% if allInputDataDict.load_type | lower == "retail" %}selected{% endif %}>Retail</option>
					<option value="agriculture" {% if allInputDataDict.load_type | lower == "agriculture" %}selected{% endif %}>Agriculture</option>
				</select>
			</div>
						
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
		<!-- Output tables, graphs, etc -->
		<p class="reportTitle" style="page-break-before:always">Resilient Community Map</p>
	<div id="resilienceMap" class="tightContent">
		<script>
			var mapContent = allOutputData["resilienceMap"];
			var iframe = document.createElement('iframe');
			iframe.style.width = '1000px';
			iframe.style.height = '1000px';
			iframe.style.borderRadius = '8px';
			iframe.style.border = 'none';
		
			const htmlContent = `
				<!DOCTYPE html>
				<html lang="en">
				<head>
					<meta charset="UTF-8">
					<title>Map and Legend</title>
					<style type="text/css">
						.my-legend .legend-title {
							text-align: left;
							margin-bottom: 8px;
							font-weight: bold;
							font-size: 90%;
						}
		
						.my-legend .legend-scale ul {
							margin: 0;
							padding: 0;
							float: left;
							list-style: none;
						}
		
						.my-legend .legend-scale ul li {
							display: block;
							float: left;
							width: 50px;
							margin-bottom: 6px;
							text-align: center;
							font-size: 70%;
							list-style: none;
						}
		
						.my-legend ul.legend-labels li span {
							display: block;
							float: left;
							height: 15px;
							width: 50px;
						}
		
						.my-legend .legend-source {
							font-size: 70%;
							color: #999;
							clear: both;
						}
		
						.my-legend a {
							color: #777;
						}
		
						.map-container {
							width: 100%;
							height: 90%;
						}
		
						.legend-container {
							width: 100%;
							height: 10%;
							position: absolute;
							bottom: 0;
						}
					</style>
				</head>
				<body>
					<div class="map-container">
						${mapContent}
					</div>
					<div class="legend-container">
						<div class="my-legend">
							<div class="legend-title">
								<p style="color:black; text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;">
									Social Vulnerability Legend
								</p>
							</div>
							<div class="legend-scale">
								<ul class="legend-labels">
									<li>
										<span style="background:#0000FF;"></span>
										<p style="color:black; text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;">
											Very High
										</p>
									</li>
									<li>
										<span style="background:#ADD8E6;"></span>
										<p style="color:black; text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;">
											Rel. High
										</p>
									</li>
									<li>
										<span style="background:#90EE90;"></span>
										<p style="color:black; text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;">
											Rel. Moderate
										</p>
									</li>
									<li>
										<span style="background:#FFFF00;"></span>
										<p style="color:black; text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;">
											Rel. Low
										</p>
									</li>
									<li>
										<span style="background:#808080;"></span>
										<p style="color:black; text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;">
											Very Low
										</p>
									</li>
									<li>
										<span style="background:#000000;"></span>
										<p style="color:black; text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;">
											Data Unavailable
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</body>
				</html>
			`;
		
			document.getElementById('resilienceMap').appendChild(iframe);
		
			iframe.contentWindow.document.open();
			iframe.contentWindow.document.write(htmlContent);
			iframe.contentWindow.document.close();
		</script>
		
		
	</div>

	<p class="reportTitle">Loads Data Table</p>
	<div id="traditionalLoadsTable" class="tightContent" style="height:300px; overflow-y: scroll;">
		<table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;">
			<thead>
				<tr style="background-color: #f2f2f2; border-bottom: 2px solid #ddd;">
					{% for header in allOutputDataDict["loadTableHeadings"] %}
					<th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ header }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for values in allOutputDataDict["loadTableValues"] %}
				<tr style="border-bottom: 1px solid #ddd;">
					{% for val in values %}
					<td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ val }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

<p class="reportTitle">Equipment Data Table</p>
<div id="traditionalObjectsTable" class="tightContent" style="height:300px; overflow-y: scroll;">
    <table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;">
        <thead>
            <tr style="background-color: #f2f2f2; border-bottom: 2px solid #ddd;">
                {% for header in allOutputDataDict["loadTableHeadings2"] %}
                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for values in allOutputDataDict["loadTableValues2"] %}
            <tr style="border-bottom: 1px solid #ddd;">
                {% for val in values %}
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

			{{ rawOutputFiles }}
		</div>
	{% endif %}
</body>
