<head>
	{{ omfHeaders }}
	<style type="text/css">
	/*Styles here*/
		.wrapper{float: left; width: 50%; height: 90%; position: relative;}
		#feederDiagram{width: 100%;height: 75%;}
		#damageSummary{width: 100%;height: 25%;}
		#rdtSummary{width: 100%;height: 100%;}
		#powerflowCheck{position: absolute;z-index: 10;bottom: 0;right: 0;background-color: red;}
		table {width: 100%;margin-left:auto; margin-right:auto;}
		td {padding:2px; text-align: center;border-top: 1px solid #ccc;}
		th {padding:2px; text-align: center}
		#fileBackground {position:absolute;width:205px;max-width:205px;height:29px;margin: -30px 0 0 116px;background-color:gainsboro;}
		#fileExists {
			background-color:transparent;
			max-width:185px;
			overflow:hidden;
			height:35px;
			margin:-32px 0 0 116px;
			position:absolute;
			font-size:0.8em;
			z-index:1;
		}
		@fileName {line-height:35px;}
		input[type='file'] {
			color: transparent;
			overflow:hidden;
		}
		/*IE Hacks*/
		@media screen\0 {
			#fileBackground{margin-left:0px;width:222px;max-width:222px;height:29px;}
			#fileExists{margin: -27px 0 0 10px;height:42px;}
		}
		/*Firefox Hacks*/
		@-moz-document url-prefix() {
			#fileBackground{margin-left:125px;width:195px;max-width:195px;}
			#fileExists{max-width:175px;margin:-32px 0 0 135px;height:47px;}
			}
		}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<script type="text/javascript">
		function downloadTextFile(fileName, text) {
			console.log(text)
			var element = document.createElement('a');
		    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		    element.setAttribute('download', fileName);
		    element.style.display = 'none';
		    document.body.appendChild(element);
		    element.click();
		    document.body.removeChild(element);
		}
	</script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-resilientDist" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
		
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>	
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Line Unit Cost ($/ft)<span class="classic">The cost of making a new line in units $/ft.  Insert an integer or decimal value.</span></label>
				<input type="text" id="lineUnitCost" name="lineUnitCost" value="{{allInputDataDict.lineUnitCost}}" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('lineFixedCost')">
			</div>
			<div class="shortInput">
				<label class="tooltip">Switch Cost ($)<span class="classic">The cost of adding a switch.  Insert an integer or decimal value.</span></label>
				<input type="text" id="switchCost" name="switchCost" value="{{allInputDataDict.switchCost}}" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Hardening Unit Cost ($/ft)<span class="classic">The cost of hardening a line in $.  Insert an integer or decimal value.</span></label>
				<input type="text" id="hardeningUnitCost" name="hardeningUnitCost" value="{{allInputDataDict.hardeningUnitCost}}" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('hardeningFixedCost')">
			</div>
			<div class="shortInput">
				<label class="tooltip">DG Unit Cost ($/MW)<span class="classic">The cost of adding distributed generation to a generator in $/ft.  Insert an integer or decimal value.</span></label>
				<input type="text" id="dgUnitCost" name="dgUnitCost" value="{{allInputDataDict.dgUnitCost}}" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('dgFixedCost')">
			</div>
			<div class="shortInput">
				<label class="tooltip">Max DG Per Generator (MW)<span class="classic">The maximum DG capacity that a generator supports in MW.  Insert an integer or decimal value.</span></label>
				<input type="text" id="maxDGPerGenerator" name="maxDGPerGenerator" value="{{allInputDataDict.maxDGPerGenerator}}" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Non-Hardenable Lines<span class="classic">The IDs of the lines on the system that should not be considered for hardening.</span></label>
				<input type="text" id="hardeningCandidates" name="hardeningCandidates" value="{{allInputDataDict.hardeningCandidates}}" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="shortInput">
				<label class="tooltip">New Line Candidates<span class="classic">Line IDs that indicate which lines the user added within the feeder editor. At least one line is required.</span></label>
				<input type="text" id="newLineCandidates" name="newLineCandidates" value="{{allInputDataDict.newLineCandidates}}" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Switch Candidates<span class="classic">The IDs of lines on the system where the user wants to consider adding a switch. At least one line is required.</span></label>
				<input type="text" id="switchCandidates" name="switchCandidates" value="{{allInputDataDict.switchCandidates}}" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Generator Candidates<span class="classic">The IDs of nodes on the system where the user wants to consider adding distributed generation. At least one node is required.</span></label>
				<input type="text" id="generatorCandidates" name="generatorCandidates" value="{{allInputDataDict.generatorCandidates}}" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Powerflow<span class="classic">Choice of powerflow to use. The default, Network Flow, is a faster and simpler version of the Full Powerflow.</span></label>
				<select id="power_flow" name="power_flow" value="{{allInputDataDict.power_flow}}" />
					<option value="network_flow" {% if allInputDataDict.power_flow == 'network_flow' %}selected{% endif %}>Network Flow</option>
					<option value="lindist_flow" {% if allInputDataDict.power_flow == 'lindist_flow' %}selected{% endif %}>Full Powerflow</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Critical Loads<span class="classic">Load IDs that indicate which loads are deemed as critical.</span></label>
				<input type="text" id="criticalLoads" name="criticalLoads" value="{{allInputDataDict.criticalLoads}}" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="hidden" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}"> <!--HACK:pass feeder name back and forth to backend.-->
			</div>
			<div class="shortInput">
				<label class="tooltip">Weather Impacts (.asc file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<input id="weatherImpactsFile" type="file" style="display:none" onchange="handle_files(this.files,'weatherImpacts','weatherImpactsFileName')">
				<input id="weatherImpacts" name="weatherImpacts" value="{{allInputDataDict.weatherImpacts}}" type="hidden">
				<div>
					<label for="weatherImpactsFile" class="fileButton">Choose File</label>
					<input id="weatherImpactsFileName" name="weatherImpactsFileName" value="{{allInputDataDict.weatherImpactsFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<!-- <div class="shortInput">
				<label class="tooltip">XR Matrices (.json file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<input id="xrMatricesDataFile" type="file" style="display:none" onchange="handle_files(this.files,'xrMatrices','xrMatricesFileName')">
				<input id="xrMatrices" name="xrMatrices" value="{{allInputDataDict.xrMatrices}}" type="hidden">
				<div>
					<label for="xrMatricesDataFile" class="fileButton">Choose File</label>
					<input id="xrMatricesFileName" name="xrMatricesFileName" value="{{allInputDataDict.xrMatricesFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div> -->
			<div class="shortInput">
				<label class="tooltip">Damage Scenarios (.json file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<input id="scenariosDataFile" type="file" style="display:none" onchange="handle_files(this.files,'scenarios','scenariosFileName')">
				<input id="scenarios" name="scenarios" value="{{allInputDataDict.scenarios}}" type="hidden">
				<div>
					<label for="scenariosDataFile" class="fileButton">Choose File</label>
					<input id="scenariosFileName" name="scenariosFileName" value="{{allInputDataDict.scenariosFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Scenario Count<span class="classic">Number of damage scenarios that will be generated.</span></label>
				<input type="text" id="scenarioCount" name="scenarioCount" value="{{allInputDataDict.scenarioCount}}" pattern="^\d+$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Critical Load Met (%)<span class="classic">Indicates the percent of critical load that must be met in each damage scenario.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="criticalLoadMet" name="criticalLoadMet" value="{{allInputDataDict.criticalLoadMet}}" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Non-Critical Load Met (%)<span class="classic">Indicates the percent of non-critical load that must be met in each damage scenario.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="nonCriticalLoadMet" name="nonCriticalLoadMet" value="{{allInputDataDict.nonCriticalLoadMet}}" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Chance Constraint (%)<span class="classic">Indicates the percent of damage scenarios where load constraints above must be met.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="chanceConstraint" name="chanceConstraint" value="{{allInputDataDict.chanceConstraint}}" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Phase Variation<span class="classic">Controls the amount of phase imbalancer allowed in the system's transformers.</span></label>
				<input type="text" id="phaseVariation" name="phaseVariation" value="{{allInputDataDict.phaseVariation}}" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label>Simulation Date (YYYY-MM-DD)</label>
				<input type="text" id="simulationDate" name="simulationDate" value="{{allInputDataDict.simulationDate}}" pattern="^\d\d\d\d-\d\d-\d\d$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="simulationZipCode" name="simulationZipCode" value="{{allInputDataDict.simulationZipCode}}" pattern="^\d{5}(?:[-\s]\d{4})?$">
			</div>
			<div class="shortInput">
				<label>Draw Hazard Field</label>
				<select id="showHazardField" name="showHazardField" value="{{allInputDataDict.showHazardField}}">
					<option value="No">No</option>
					<option value="Yes">Yes</option>
				</select>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<p class="reportTitle" style="page-break-before:always"><b>One Line Diagram (Scroll to Zoom, Drag to Pan)</b></p>
		<div class="content" style="margin-top:0px">
			<p>{{allOutputDataDict['warning']}}</p>
			<div id="diagram">
				<img id="oneLineDiagram" style="padding: 0px; display: block; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 100%;"/>
				<script>gebi("oneLineDiagram").src = "data:image/png;base64," + allOutputData.oneLineDiagram</script>
				<script src="{{pathPrefix}}/static/wheelzoom.js"></script>
				<script type="text/javascript">
						images = wheelzoom(document.querySelectorAll('img'), {zoom: 0.1, maxZoom: 10});
				</script>
			</div>
		</div>
		<p class='reportTitle'><b>Damage Scenarios</b></p>
		<div class="content" style="margin-top:0px">
			<div id="scenarioDisplay">
			</div>
		</div>

		<p class='reportTitle'><b>Damage Scenario Load Impacts</b></p>
		<div class="content" style="margin-top:0px">
			<div id="loadDisplay">
			</div>
		</div>

		<p class='reportTitle'><b>Design Solution</b></p>
		<div class="content" style="margin-top:0px">
			<div id="designDisplay">
			</div>
			<div id="tables">
				<script>
					var rdtOutput = allOutputData.rdtRawOut;
					var gfmOutput = allOutputData.gfmRawOut;
					rdtOutput = JSON.parse(rdtOutput);
					gfmOutput = JSON.parse(gfmOutput);
					var scenarioDict = [];
					var lineData = allOutputData.lineData;
					var totalCost = 0.0;
					var critLoadMetDict = [];
					var nonCritLoadMetDict = [];
					var dataDict = [];
					var designHTML = "";
					var tableBuilder = ""; 
					var loadBuilder = "";
					//DESIGN SOLUTION
					tableBuilder = "<tr><th>Device ID</th><th>Type</th><th>Action</th><th>Cost</th></tr>";
					for(var i = 0; i < rdtOutput.design_solution.generators.length; i++) {
						generator = rdtOutput.design_solution.generators[i];
						genCost = parseFloat(allOutputData["generatorData"].replace(/\,/g,''));
						tableBuilder = tableBuilder + "<tr><td>" + generator.id + "</td><td>Generator</td><td>Built with 5 MW of capacity</td><td>$" + genCost + "</td></tr>";
						totalCost = totalCost + genCost;
					}
					for(var j = 0; j < rdtOutput.design_solution.lines.length; j++) {
						line = rdtOutput.design_solution.lines[j];
						if(line.id in lineData) {
							var hardened = "Hardened";
							var switchBuilt = ", Switch built";
							lineCost = lineData[line.id];
							if(line.hardened == false) {
								hardened = "Unhardened";
								lineCost = "0";
							} else if (line.hardened == undefined) {
								hardened = "Not a Hardening Candidate";
								lineCost = "0";
							}
							if(line.switch_built == false) {
								switchBuilt = ", Switch not built";
							}
							lineID = line.id;
							if (lineCost != 0.0) {
								tableBuilder = tableBuilder + "<tr><td>" + lineID + "</td><td>Line</td><td>" + hardened + switchBuilt + "</td><td>$" +  lineCost + "</td></tr>";							
							}
							totalCost = parseFloat(lineCost.replace(/\,/g,'')) + totalCost;
						}
						
					}
					secondRunValidStyle =  "color: red;" 
					secondRunValid = "Powerflow Not Validated:  ";
					designHTML = designHTML + '<table id="solutionComponents">' + tableBuilder + '<tr><td>TOTAL</td><td colspan=2></td><td>' + totalCost.toFixed(2) + '</td></tr></table>';
					// Load Lost scenarios.
					tableHeader = "<tr><th>Scenario ID</th><th>Device ID</th><th>Type</th><th>Result</th></tr>";
					critTableHeader = "<tr><th>Scenario ID</th><th>Non-crit Load Served (MW)</th><th>Crititical Load Served (MW) </th></tr>";
					critTableBuilder = "";
					for(var x = 0; x < rdtOutput.scenario_solution.length; x++) {
						rdtScenario = rdtOutput.scenario_solution[x]; 
						critTableBuilder = critTableBuilder + '<tr><td>' + parseFloat(x + 1) + '</td><td>' + rdtScenario.non_critical_load_met.toFixed(2) + '</td><td>'+ rdtScenario.critical_load_met.toFixed(2) + '</td></tr>';
					}

					for(var j = 0; j < gfmOutput.scenarios.length; j++) {
						tableBuilder = "";
						scenario = gfmOutput.scenarios[j]; 
						for(var k = 0; k < scenario.hardened_disabled_lines.length; k++) {
							hdLine = scenario.hardened_disabled_lines[k];
							tableBuilder = tableBuilder + "<tr><td>" + String(parseFloat(scenario.id) + 1) + "</td><td>" + hdLine + "</td><td>Hardened Line</td><td>Disabled</td></tr>";
						}
						for(k = 0; k < scenario.disable_lines.length; k++) {
							dLine = scenario.disable_lines[k];
							tableBuilder = tableBuilder + "<tr><td>" + String(parseFloat(scenario.id) + 1) + "</td><td>" + dLine + "</td><td>Line</td><td>Disabled</td></tr>";
							//if (scenario.hardened_disabled_lines.length == 0 && scenario.disable_lines.length == 0) { This needs to be fixed!
							//critTableBuilder = critTableBuilder + "<tr><td colspan='4'>No components affected.</td></tr>";
							//}
						}

						scenarioDict[parseFloat(scenario.id) + 1] = tableBuilder;
					}
					
					var scenarioHTML = tableHeader;
					var critHTML = critTableHeader;
					
					for (var scenarioID in scenarioDict) {
						scenarioHTML = scenarioHTML + scenarioDict[scenarioID] + "";
					}

					scenarioHTML = "<table>" + scenarioHTML + "</table>";
					critHTML = "<table>" + critHTML + critTableBuilder + "</table>";

					gebi("scenarioDisplay").innerHTML = scenarioHTML + "";	
					gebi("designDisplay").innerHTML = designHTML + "";
					gebi("loadDisplay").innerHTML = critHTML + "";
				</script>
			</div>
		</div>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>