<head>
	{{ omfHeaders }}

	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script type="text/javascript">
		// Code to make the toggles work:
		$(document).ready(function(){
			$(".toggle").click(function(){
					$(this).parent().next().toggle(500)
			})
		})
	</script>
	{% macro insert_file_upload_block(fileName, dataVariableName) -%}
		<input id="{{dataVariableName}}Handler" type="file" style="display:none" onchange="handle_files(this.files,'{{dataVariableName}}','{{fileName}}')">
		<input id="{{dataVariableName}}" name="{{dataVariableName}}" value="{{allInputDataDict[dataVariableName]}}" type="hidden">
		<div>
			<label for="{{dataVariableName}}Handler" class="fileButton">Choose File</label>
			<input id="{{fileName}}" name="{{fileName}}" value="{{allInputDataDict[fileName]}}" readonly class="uploadFileName">    
		</div>
	{%- endmacro %}
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-cyberInverters" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" required="required" pattern="^[\w\s]+$"/></td>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/></td>
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/></td>
			</div>
			{% if modelStatus == 'finished' %} 
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/></td>
			</div>
			{% endif %}
			<div class="wideInput">
				<p class="inputSectionHeader">System Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Date Input (YYYY-MM-DDTHH:mm:SSZ)</label>
				<input type="text" id="date" name="date" value="{{allInputDataDict.date}}" required="required" pattern="^\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Circuit Editor<span class="classic">Use a visual interface to upload, view, and manipulate a .dss circuit file.</span></label>
				<button id="feederButton" type="button" onclick="editFeeder('{{allInputDataDict.modelName}}',1)" style="display:block;width:125px;">Open Editor</button>
			</div>
			<div class="shortInput" style="display:none">
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Example File Input<span class="classic">Import a [format extension] file that describes [insert content]</span></label>
				<div>{{ insert_file_upload_block('exampleFileName','exampleFileContent') }}</div>
			</div>
			
			
			<div class="wideInput">
				<p class="inputSectionHeader">[Other] Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Disruption Speed Interval in TimeSteps<span class="classic">Disruption Speed is calculated as the difference between Outage Incidence at the current time and this number of timesteps prior, divided by the time between them. If too high a value is provided, the maximum number of timesteps-1 is used. </span></label>
				<input type="number" id="timeStepsInInterval" name="timeStepsInInterval" step="1" min="1" value="{{allInputDataDict.timeStepsInInterval}}"/>
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<!-- Insert visualizations here (for examples, see other models such as cyberinverters) -->
		
		<script>
			// Global setting of Highcharts
			Highcharts.setOptions({global: {useUTC: true}})
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			highChartsTemplate = {
				"chart":{"renderTo":"", "marginRight":30, "marginBottom":50, "zoomType":"x", "width":1000, "height":150},
				"title":{"text":null},
				"legend":{"layout":"horizontal", "align":"top", "verticalAlign":"top", "x":50, "y":-10, "borderWidth":0},
				"credits":{"enabled":false},
				"xAxis":{"showEmpty": false, "type":"integer","maxZoom":1000, "tickColor":"gray","lineColor":"gray"},
				"yAxis":{"showEmpty": false, "title":{"text":null, "style":{"color":"gray"}}},
				"plotOptions":{"line":{"marker":{"enabled":false}}, "series":{"shadow":false, "pointInterval":15, "pointStart":0}},
				"tooltip":{"valueDecimals":1},
				"series":[]}
		</script>
		
		<!--Outage Incidence Graph-->
		<p class="reportTitle">Outage Incidence <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="outageIncidenceReport" class="tightContent">
			<div id="outageIncidenceTimeSeries"></div>
			<script type="text/javascript">
				outageIncidence = {{allOutputDataDict.outageIncidence}}
				timeStep = {{allOutputDataDict.timeStep}}
				startTime = {{allOutputDataDict.startTime}}
				endTime = {{allOutputDataDict.endTime}}
				var outageIncidenceSeries = {
					"marker":{"enabled":true},
					"color":"blue",
					"data":outageIncidence,
					"name":"Outage Incidence With No Intervention",
					"visible":true
				}
				var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
				localHighChart["chart"]["renderTo"] = "outageIncidenceTimeSeries"
				localHighChart["chart"]["type"] = "line"
				localHighChart["chart"]["height"] = 250
				localHighChart["series"] = [outageIncidenceSeries]
				localHighChart["tooltip"]["valueDecimals"] = 3
				localHighChart["tooltip"]["valueSuffix"] = " %"
				localHighChart["yAxis"]= [{
					"title":{"text": "Outage Incidence"},
					"min": 0,
					"max": 100,
					//"tickPositions": [0,1],
					"startOnTick": true,
					"endOnTick": true,
					"tickInterval":20,
					"labels":{"format":"{value}%"}
				}]
				localHighChart["xAxis"]= [{
					"title":{"text": "Time Since Event Start (min)"},
					"min": startTime,
					"max": endTime,
					"startOnTick":true,
					"endOnTick":true,
					"tickInterval": timeStep
				}]
				new Highcharts.Chart(localHighChart);
			</script>
		</div>

		<!--Disruption Speed Graph-->
		<p class="reportTitle">Disruption Speed <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="disruptionSpeedReport" class="tightContent">
			<div id="disruptionSpeedTimeSeries"></div>
			<script type="text/javascript">
				disruptionSpeed = {{allOutputDataDict.disruptionSpeed}}
				dSpeedInterval = {{allOutputDataDict.dSpeedInterval}}
				timeStep = {{allOutputDataDict.timeStep}}
				startTime = {{allOutputDataDict.startTime}}
				endTime = {{allOutputDataDict.endTime}}
				var disruptionSpeedSeries = {
					"marker":{"enabled":true},
					"color":"blue",
					"data":disruptionSpeed,
					"name":"Disruption Speed With No Intervention ("+dSpeedInterval+" min interval)",
					"visible":true
				}
				var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
				localHighChart["chart"]["renderTo"] = "disruptionSpeedTimeSeries"
				localHighChart["chart"]["type"] = "line"
				localHighChart["chart"]["height"] = 250
				localHighChart["series"] = [disruptionSpeedSeries]
				localHighChart["tooltip"]["valueDecimals"] = 3
				localHighChart["tooltip"]["valueSuffix"] = " %/min"
				localHighChart["yAxis"]= [{
					"title":{"text": "Change in Outage Incidence/Time"},
					"softMin": 0.0,
					"softMax": 1.0,
					//"tickPositions": [0,1],
					//"startOnTick": true,
					//"endOnTick": true,
					"tickInterval":0.2,
					"labels":{"format":"{value}%/min"},
					"plotLines": [{
						"width":2,
						"value":0,
						"color": "#808080"
					}]
				}]
				localHighChart["xAxis"]= [{
					"title":{"text": "Time Since Event Start (min)"},
					"min": startTime,
					"max": endTime,
					"startOnTick":true,
					"endOnTick":true,
					"tickInterval": timeStep
				}]
				new Highcharts.Chart(localHighChart);
			</script>
		</div>

		<!-- Integer Sum Table -->
		<p class="reportTitle">Example Output</p>
		<div id="analysisSummary" class="content">
			<div class="shortInput">
				<strong>Example Text</strong>
				<p id="input1Out">This sure is example text!</p>
			</div>
		</div>
		{{rawOutputFiles}}
	</div>
	{% endif %}
</body>