<head>
	{{ omfHeaders }}
	<style>#map{
		position: relative;
		width: 100.0%;
		height: 100.0%;
		left: 0.0%;
		top: 0.0%;
		}
	</style>
	<!-- Leaflet Imports-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
		crossorigin=""></script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-rfCoverage" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">RF Tower Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Latitude<span class="classic">Latitude of the tower.</span></label>
				<input type="text" id="towerLatitude" name="towerLatitude" value="{{allInputDataDict.towerLatitude}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Longitude<span class="classic">Longitude of the tower.</span></label>
				<input type="text" id="towerLongitude" name="towerLongitude" value="{{allInputDataDict.towerLongitude}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Height (Meters)<span class="classic">Height of the tower in meters.</span></label>
				<input type="text" id="towerHeight" name="towerHeight" value="{{allInputDataDict.towerHeight}}" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Frequency (MHz)<span class="classic">Use value within range 20 MHz to 20 GHz.</span></label>
				<input type="text" id="frequency" name="frequency" value="{{allInputDataDict.frequency}}" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Polarization<span class="classic">Enter 0 for horizontal or 1 for vertical.</span></label>
				<input type="text" id="polarization" name="polarization" value="{{allInputDataDict.polarization}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Analysis Type<span class="classic">lineOfSight: geometric line of site coverage map.<br><br>
				pathLoss: expected signal levels in decibels.<br><br>
				fieldStrength: field strength contours referenced to decibels over one microvolt per meter dBuV/m.<br><br>
				recievedPower: received power level contours referenced to decibels over one milliwatt (dBm) are produced.</span></label>
				<select id="analysisType" name="analysisType" value="{{allInputDataDict.analysisType}}" required="required"/>
					<option value="lineOfSight" {% if allInputDataDict.analysisType == 'lineOfSight' %}selected{% endif %}>Line of Sight</option>
					<option value="pathLoss" {% if allInputDataDict.analysisType == 'pathLoss' %}selected{% endif %}>Path Loss</option>
					<option value="fieldStrength" {% if allInputDataDict.analysisType == 'fieldStrength' %}selected{% endif %}>Field Strength</option>
					<option value="recievedPower" {% if allInputDataDict.analysisType == 'recievedPower' %}selected{% endif %}>Recieved Power</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Topography<span class="classic">seaLevel: Assume sea level.<br><br>
				digitalElevationModel: Account for topographic interference with elevation data.</span></label>
				<select id="elevation" name="elevation" value="{{allInputDataDict.elevation}}" required="required"/>
					<option value="seaLevel" {% if allInputDataDict.elevation == 'seaLevel' %}selected{% endif %}>Sea Level</option>
					<option value="digitalElevationModel" {% if allInputDataDict.elevation == 'digitalElevationModel' %}selected{% endif %}>Digital Elevation Model</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Effective Radiated Power (Watts)<span class="classic">No impact on path loss or line of sight analysis</span></label>
				<input type="text" id="erp" name="erp" value="{{allInputDataDict.erp}}" pattern="^\d+\.?\d*$">
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<div id="mapInsert"></div>
		<script type="text/javascript">
			if(modelStatus === "finished"){
				mapHtml = '<p class="reportTitle">RF Coverage</p><div id="mapContainer" class="tightContent"><div id="map"></div></div>';
				gebi('mapInsert').innerHTML = mapHtml;
			//Set longitude negative from output data
			var map = L.map('map').setView([allInputData.towerLatitude, -allOutputData.towerLongitude], 10);
			mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
			L.tileLayer(
				'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; ' + mapLink + ' Contributors',
				maxZoom: 20,
				}).addTo(map);
			L.control.scale().addTo(map);
			var imageBounds = [[allOutputData.north, allOutputData.east], [allOutputData.south, allOutputData.west]];
			L.imageOverlay('data:image/png;base64,' + allOutputData.coverageMap, imageBounds, {opacity:'0.75'}).addTo(map);}
			L.Control.RFscale = L.Control.extend({
			    onAdd: function(map) {
			        var img = L.DomUtil.create('img');
			        img.src = 'data:image/png;base64,' + allOutputData.rfScale;
			        img.style.width = '100px';
			        img.style.opacity = '0.75';
			        return img;
			    },
			    onRemove: function(map) {
			        // Nothing to do here
			    }
			});

			L.control.rfscale = function(opts) {
			    return new L.Control.RFscale(opts);
			}

			L.control.rfscale({ position: 'bottomleft'}).addTo(map);
			</script>
		</div>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>