<head>
	{{ omfHeaders }}
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}
		table, th, td {
			border: 1px solid black;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		th {
			background-color: #8c8c8c;
		}
		tr:nth-child(even) {
			background-color: #e6e6e6;
		}
	</style>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" value="{{allInputDataDict.inputForm}}" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-smartSwitching" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Model Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Outage Data (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="outageFile" type="file" style="display:none" onchange="handle_files(this.files,'outageData','outageFileName')">
				<input id="outageData" name="outageData" value="{{allInputDataDict.outageData}}" type="hidden">
				<div>
					<label for="outageFile" class="fileButton">Choose File</label>
					<input id="outageFileName" name="outageFileName" value="{{allInputDataDict.outageFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Generate Random Faults?<span class="classic">If yes, generate a random set of faults using a distribution; if no, use the input .csv file to generate faults manually.</span></label>
				<select id="generateRandomFaults" name="generateRandomFaults" value="{{allInputDataDict.generateRandomFaults}}" />
					<option value="True" {% if allInputDataDict.generateRandomFaults == 'True' %}selected{% endif %}>Yes</option>
					<option value="False" {% if allInputDataDict.generateRandomFaults == 'False' %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Line for Faults<span class="classic">The type of line on which the random faults can occur.</span></label>
				<select id="lineTypeForFaults" name="lineTypeForFaults" value="{{allInputDataDict.lineTypeForFaults}}" />
					<option value="underground_line" {% if allInputDataDict.lineTypeForFaults == 'underground_line' %}selected{% endif %}>Underground Lines</option>
					<option value="overhead_line" {% if allInputDataDict.lineTypeForFaults == 'overhead_line' %}selected{% endif %}>Overhead Lines</option>
					<option value="triplex_line" {% if allInputDataDict.lineTypeForFaults == 'triplex_line' %}selected{% endif %}>Triplex Lines</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Recloser Location<span class="classic">Location where recloser is added.</span></label>
				<input type="text" id="recloserLocation" name="recloserLocation" value="{{allInputDataDict.recloserLocation}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Failure Distribution<span class="classic">Distribution for the failure generation function.</span></label>
				<select id="failureDistribution" name="failureDistribution" value="{{allInputDataDict.failureDistribution}}" />
					<option value="UNIFORM" {% if allInputDataDict.failureDistribution == 'UNIFORM' %}selected{% endif %}>Uniform</option>
					<option value="NORMAL" {% if allInputDataDict.failureDistribution == 'NORMAL' %}selected{% endif %}>Normal</option>
					<option value="BERNOULLI" {% if allInputDataDict.failureDistribution == 'BERNOULLI' %}selected{% endif %}>Bernoulli</option>
					<option value="LOGNORMAL" {% if allInputDataDict.failureDistribution == 'LOGNORMAL' %}selected{% endif %}>Lognormal</option>
					<option value="PARETO" {% if allInputDataDict.failureDistribution == 'PARETO' %}selected{% endif %}>Pareto</option>
					<option value="EXPONENTIAL" {% if allInputDataDict.failureDistribution == 'EXPONENTIAL' %}selected{% endif %}>Exponential</option>
					<option value="WEIBULL" {% if allInputDataDict.failureDistribution == 'WEIBULL' %}selected{% endif %}>Weibull</option>
					<option value="GAMMA" {% if allInputDataDict.failureDistribution == 'GAMMA' %}selected{% endif %}>Gamma</option>
					<option value="BETA" {% if allInputDataDict.failureDistribution == 'BETA' %}selected{% endif %}>Beta</option>
					<option value="TRIANGLE" {% if allInputDataDict.failureDistribution == 'TRIANGLE' %}selected{% endif %}>Triangle</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Failure Dist. Param. 1<span class="classic">First parameter for failure distribution.</span></label>
				<input type="text" id="failureDistParam1" name="failureDistParam1" value="{{allInputDataDict.failureDistParam1}}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Failure Dist. Param. 2<span class="classic">Second parameter for failure distribution.</span></label>
				<input type="text" id="failureDistParam2" name="failureDistParam2" value="{{allInputDataDict.failureDistParam2}}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Restoration Distribution<span class="classic">Distribution for the restoration generation function.</span></label>
				<select id="restorationDistribution" name="restorationDistribution" value="{{allInputDataDict.restorationDistribution}}" />
					<option value="UNIFORM" {% if allInputDataDict.restorationDistribution == 'UNIFORM' %}selected{% endif %}>Uniform</option>
					<option value="NORMAL" {% if allInputDataDict.restorationDistribution == 'NORMAL' %}selected{% endif %}>Normal</option>
					<option value="BERNOULLI" {% if allInputDataDict.restorationDistribution == 'BERNOULLI' %}selected{% endif %}>Bernoulli</option>
					<option value="LOGNORMAL" {% if allInputDataDict.restorationDistribution == 'LOGNORMAL' %}selected{% endif %}>Lognormal</option>
					<option value="PARETO" {% if allInputDataDict.restorationDistribution == 'PARETO' %}selected{% endif %}>Pareto</option>
					<option value="EXPONENTIAL" {% if allInputDataDict.restorationDistribution == 'EXPONENTIAL' %}selected{% endif %}>Exponential</option>
					<option value="WEIBULL" {% if allInputDataDict.restorationDistribution == 'WEIBULL' %}selected{% endif %}>Weibull</option>
					<option value="GAMMA" {% if allInputDataDict.restorationDistribution == 'GAMMA' %}selected{% endif %}>Gamma</option>
					<option value="BETA" {% if allInputDataDict.restorationDistribution == 'BETA' %}selected{% endif %}>Beta</option>
					<option value="TRIANGLE" {% if allInputDataDict.restorationDistribution == 'TRIANGLE' %}selected{% endif %}>Triangle</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Restoration Dist. Param. 1<span class="classic">First parameter for restoration distribution.</span></label>
				<input type="text" id="restorationDistParam1" name="restorationDistParam1" value="{{allInputDataDict.restorationDistParam1}}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Restoration Dist. Param. 2<span class="classic">Second parameter for restoration distribution.</span></label>
				<input type="text" id="restorationDistParam2" name="restorationDistParam2" value="{{allInputDataDict.restorationDistParam2}}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Fault Length<span class="classic">A global maximum (in seconds) on the amount of time for which any fault can occur.</span></label>
				<input type="text" id="maxFaultLength" name="maxFaultLength" value="{{allInputDataDict.maxFaultLength}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">KWH Cost<span class="classic">KWH cost parameter for calculating outage costs.</span></label>
				<input type="text" id="kwh_cost" name="kwh_cost" value="{{allInputDataDict.kwh_cost}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Restoration Cost<span class="classic">Restoration cost parameter for calculating outage costs.</span></label>
				<input type="text" id="restoration_cost" name="restoration_cost" value="{{allInputDataDict.restoration_cost}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Average Hardware Cost<span class="classic">Average hardware cost parameter for calculating outage costs.</span></label>
				<input type="text" id="average_hardware_cost" name="average_hardware_cost" value="{{allInputDataDict.average_hardware_cost}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Start Time<span class="classic">The date and time that the simulation begins.</span></label>
				<input type="text" id="simTime" name="simTime" value="{{allInputDataDict.simTime}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Fault type<span class="classic">The type of fault that occurs on the lines.</span></label>
				<input type="text" id="faultType" name="faultType" value="{{allInputDataDict.faultType}}">
			</div>
			<div class="shortInput">
				<label class="tooltip">Sustained Outage Threshold<span class="classic">The threshold for how many seconds an outage lasts before it is considered a sustained outage.</span></label>
				<input type="text" id="sustainedOutageThreshold" name="sustainedOutageThreshold" value="{{allInputDataDict.sustainedOutageThreshold}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<p class="reportTitle">Feeder Diagram (Added Recloser Shown in Pink, Other Reclosers Shown as Black Dotted Lines)</p>
		<div id="feederChart" class="content" style="margin-top:0px">
			<img id="feederChartImage" style="width:980px" />
			<script>gebi("feederChartImage").src = "data:image/png;base64," + allOutputData["feeder_chart.png"]</script>
		</div>
		<p class="reportTitle" style="page-break-before:always">Outage Cost Comparison</p>
		<div id="outageCostCalc" class="tightContent">
			{{ allOutputDataDict['costStatsHtml'] }}
		</div>
		<p class="reportTitle">Change in SAIDI/SAIFI and MAIFI Values</p>
		<div id="fig1" class="tightContent">
			<div id="fig1Chart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("fig1Chart", JSON.parse(allOutputData["fig1Data"]), JSON.parse(allOutputData["fig1Layout"]) || {})
			</script>
		</div>
		<p class="reportTitle">Outage Distribution Data</p>
		<div id="fig2" class="tightContent">
			<div id="fig2Chart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("fig2Chart", JSON.parse(allOutputData["fig2Data"]), JSON.parse(allOutputData["fig2Layout"]) || {})
			</script>
		</div>
		<p class="reportTitle">Outage Timeline</p>
		<div id="fig3" class="tightContent">
			<div id="fig3Chart" style="width:1000px"></div>
			<script type="text/javascript">
				Plotly.newPlot("fig3Chart", JSON.parse(allOutputData["fig3Data"]), JSON.parse(allOutputData["fig3Layout"]) || {})
			</script>
		</div>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>