<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<link href="{{pathPrefix}}/static/models.css" type="text/css" rel="stylesheet"/>
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="{{pathPrefix}}/static/heatmap.src.js"></script>
	<!-- Global Funcs Import -->
	<script type="text/javascript" src="{{pathPrefix}}/static/models.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<style type="text/css">thead{font-weight:bold} table{width:980px; font-size:12}</style>
</head>
<body onload="init()">
	<div id="title">
		<div id="logoBox"><a href="/">&#10059;</a></div>
		<p id="titleText">New Solar Financial Model</p>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post" onsubmit="return validateForm()">
			<div class="shortInput">
				<label>Model Type</label>
				<input type="text" id="modelType" name="modelType" value="solarFinancial" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" data-validRegex="[\w\s]+"/>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="shortInput">
				<label>Climate</label>
				<select id="climateName" name="climateName">
					{% for climate in datastoreNames["climates"] %}
						<option value="{{ climate }}">{{ climate }}</option>
					{% endfor %}
				</select>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">System Size (kWp-DC)<span class="classic">System Size</span></label>
				<input type="text" id="systemSize" name="systemSize" data-validRegex="\d+\.?\d*"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Installation Cost ($)<span class="classic">Installation Cost</span></label>
				<input type="text" id="installCost" name="installCost" data-validRegex="\d+\.?\d*"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Op. and Maint. Cost ($)<span class="classic">Op. and Maint. Cost</span></label>
				<input type="text" id="omCost" name="omCost" data-validRegex="\d+\.?\d*"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Projected Life of System (Years)<span class="classic">Projected Life of System</span></label>
				<input type="text" id="lifeSpan" name="lifeSpan" data-validRegex="\d+" value="30"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Annual Array Degradation (%/Year)<span class="classic">Annual Array Degradation<br>Type: percentage [0..100]</span></label>
				<input type="text" id="degradation" name="degradation" data-validRegex="\d+\.?\d*" value="0.005"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Energy Cost ($/kWh)<span class="classic">Energy Cost</span></label>
				<input type="text" id="retailCost" name="retailCost" data-validRegex="\d+\.?\d*" value="0.10"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Discount Rate (%)<span class="classic">Discount Rate</span></label>
				<input type="text" id="discountRate" name="discountRate" data-validRegex="\d+\.?\d*" value="0.07"/>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Simulation Length<span class="classic">Simulation Length<br>Note: It will run 8760 Hours as it is fixed</span></label>
				<input type="text" id="simLength" name="simLength" data-validRegex="\d+" value="8760" readonly />
			</div>
			<div class="shortInput">
				<label class="tooltip">Length Units<span class="classic">Length Units<br>Note: 8760 hours</span></label>
				<select id="simLengthUnits" name="simLengthUnits" disabled="true">
					<option value="minutes">Minutes</option> 
					<option value="hours" selected>Hours</option>
					<option value="days">Days</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Start Date (YYYY-MM-DD)<span class="classic">Simulation Start Date</span></label>
				<input type="text" id="simStartDate" name="simStartDate" data-validRegex="\d\d\d\d-\d\d-\d\d" value="2014-01-01" readonly/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tracking Mode<span class="classic">Tracking Mode</span></label>
				<select id="trackingMode" name="trackingMode"/>
					<option value="0">Fixed</option>
					<option value="1">1 Axis</option>
					<option value="2">2 Axis</option>
					<option value="3">Azimuth Axis</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tilt = Latitude<span class="classic">Tilt = Latitude</span></label>
				<select id="tilt" name="tilt">
					<option value="True">True</option>
					<option value="False">False</option>
				</select>
			</div>
			<script type="text/javascript">
			$("#tilt").change(function (){
				if ($(this).val() == "False")
					$("#manualTilt").prop({readonly: false})
				else
					$("#manualTilt").prop({readonly: true})
			})
			</script>
			<div class="shortInput">
				<label class="tooltip">Manual Tilt<span class="classic">Manual Tilt</span></label>
				<input type="text" id="manualTilt" name="manualTilt" readonly />
			</div>
			<div class="shortInput">
				<label class="tooltip">Azimuth (degrees)<span class="classic">Azimuth in degrees<br>NOTE: 0 - north, 90 - east, 180 - south, 270 - west<br>Range: [0..360]</span></label>
				<input type="text" id="azimuth" name="azimuth" value="180"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tracker rotation limit (deg)<span class="classic">Tracker rotation limit</span></label>
				<input type="text" id="rotlim" name="rotlim" value="45.0"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Max power temperature coefficient (%/C)<span class="classic">Max power temperature coefficient</span></label>
				<input type="text" id="gamma" name="gamma" value="-0.5"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Wind stow speed (m/s)<span class="classic">Wind stow speed</span></label>
				<input type="text" id="w_stow" name="w_stow" value="0"/>
			</div>
			<div class="wideInput" style="text-align:right">
					<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
					<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
					<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
					<button id="runButton" type="submit" class="preRun">Run Model</button>
					<button id="rerunButton" type="submit" class="stoppedInline postRunInline">Re-Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results.
	</div>
	<div id ="stopIndicator" class="content stopped">
		Model cancelled or encountered an error. Please change inputs and re-run.
	</div>
	<div id="output">
		<script id="globalOutputScripting">
			Highcharts.setOptions({global: { useUTC: false }})
			var diff = Date.parse(allOutputData.timeStamps[0].substr(0,19)) - Date.parse(allOutputData.timeStamps[0])
			pointStart = Date.parse(allOutputData.timeStamps[0]) + diff
			pointInterval = Date.parse(allOutputData.timeStamps[1]) - Date.parse(allOutputData.timeStamps[0])
			function insertMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = name
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = vector[i]
				}
			}
		</script>
		<p class="reportTitle postRun">Hourly System Performance</p>
		<div id="powerGenerationReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series": [{"marker":{"enabled":false},"color":"red","data":allOutputData.powerOutputAc,"name":"Power Generated"}],
					"yAxis":{"title":{"text":"Power (W-AC)","style":{"color":"gray"}},"plotLines":[{"color": "orange",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"Nameplate","align":"right","y":12,"x":0},
						"value": parseFloat(allInputData.systemSize)*1000,"zIndex": 0}]},
					"chart":{"zoomType":"x","marginBottom":40,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Monthly System Performance</p>
		<div id="monthlyPerformanceReport" class="tightContent postRun">
			<div id="monthlyPerformanceDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"shadow":false},"line":{"marker":{"enabled":false}}},
					"xAxis":{"type":"category","tickColor":"gray","lineColor":"gray"},
					"title":{"text":null},
					"series":[{"name":"Power Generated", "color":"orange", "data":allOutputData.monthlyGeneration, "dataLabels":{"enabled":false}}],
					"yAxis":{"title":{"text":"Energy (Wh-AC)","style":{"color":"gray"}}},
					"chart":{"marginBottom":40,"zoomType":"disabled","renderTo":"monthlyPerformanceDiv","type":"column","marginRight":20,"height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Seasonal System Performance</p>
		<div id="seasonalPerformanceChart" class="tightContent postRun">
			<div id="seasonalPerformanceDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"chart":{"marginBottom":55,"renderTo":"seasonalPerformanceDiv","type":"heatmap","marginRight":20, width:1000, height:400},
					title: false,
					yAxis: {categories: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"], title:null},
					xAxis: {categories: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], title: null},
					colorAxis: {min: 0, minColor: '#FFFFFF', maxColor:"#c4463a"},
					legend:{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"},
					tooltip: false,
					series: [{
						name: "System Output (AC)",
						borderWidth: 0,
						data: allOutputData.seasonalPerformance,
						dataLabels: {enabled:false}}]})
			</script>
		</div>
		<p class="reportTitle postRun">Climate</p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":[{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Ambient Temperature (F)"]},
						{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
						{"name":"Direct Irradiance (W/m^2)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Direct Irradiance (W/m^2)"]},
						{"name":"Difuse Irradiance (W/m^2)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Difuse Irradiance (W/m^2)"]},
						{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Cell Temperature (F)"]}],
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Cash Flow</p>
		<div id="cashFlowReport" class="tightContent postRun">
			<div id="cashFlowChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"shadow":false},"spline":{"animation":false,"shadow":false}},
					"xAxis":{"title":{"text":"Year After Installation","style":{"color":"gray"}},"type":"linear","tickColor":"gray","lineColor":"gray"},
					"title":{"text":"ROI:" + allOutputData.ROI + ", NPV:" + allOutputData.NPV + ", IRR:" + allOutputData.IRR, "verticalAlign":"bottom", "align":"right", "y":-50, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					"series":[{"name":"Energy Sales", "data":allOutputData.lifeGenerationDollars},
						{"name":"Op. and Maint. Costs", "data":allOutputData.lifeOmCosts},
						{"name":"Purchase Costs", "data":allOutputData.lifePurchaseCosts},
						{"name":"Net", "type":"spline", "data":allOutputData.netCashFlow},
						{"name":"Cumulative", "type":"spline", "data":allOutputData.cumCashFlow, "visible": false}],
					"yAxis":{"title":{"text":"Income ($)","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"cashFlowChartDiv","type":"column","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Monthly Data Table</p>
		<div id="monthlySummaryReport" class="tightContent postRun tableReport">
			<table id="monthlySummaryTable">
			</table>
			<script>
				insertMetric("monthlySummaryTable","Month", allOutputData.monthlyGeneration.map(function(x){return x[0]}))
				insertMetric("monthlySummaryTable","Generation", allOutputData.monthlyGeneration.map(function(x){return x[1]}))
			</script>
		</div>
		<p class="reportTitle postRun">Annual Data Table</p>
		<div id="annualSummaryReport" class="tightContent postRun tableReport">
			<table id="annualSummaryTable">
			</table>
			<script>
				insertMetric("annualSummaryTable","Year", Array.apply(null, {length: parseFloat(allInputData.lifeSpan)}).map(Number.call, Number))
				insertMetric("annualSummaryTable","Generation Income", allOutputData.lifeGenerationDollars)
				insertMetric("annualSummaryTable","Purchase Costs", allOutputData.lifePurchaseCosts)
				insertMetric("annualSummaryTable","Op. and Maint. Costs", allOutputData.lifeOmCosts)
				insertMetric("annualSummaryTable","Net Income", allOutputData.netCashFlow)
				insertMetric("annualSummaryTable","Cumulative Income", allOutputData.cumCashFlow)
			</script>
		</div>
	</div>
</body>