<head>
	{{ omfHeaders }}
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="{{pathPrefix}}/static/heatmap.src.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-solarConsumer" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Solar System Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="zipCode" name="zipCode" value="{{allInputDataDict.zipCode}}" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">System Size (kWp-DC)<span class="classic">DC output rating of the solar panels in kilowatts.</span></label>
				<input type="text" id="SystemSize" name="SystemSize" value="{{allInputDataDict.SystemSize}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Projected System Life (years)<span class="classic">How many years you expect the system to last. Up to 100 years.</span></label>
				<input type="text" id="years" name="years" value="{{allInputDataDict.years}}" pattern="^(100|\d{1,2})(\.\d+)?$" required="required">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Retail Energy Cost ($/kWh)<span class="classic">Retail rate for residential consumers.</span></label>
				<input type="text" id="retailCost" name="retailCost" value="{{allInputDataDict.retailCost}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Rate Increase (%)</label>
				<input type="text" id="rateIncrease" name="rateIncrease" value="{{allInputDataDict.rateIncrease}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Value of Solar Monthly Rate ($)</label>
				<input type="text" id="valueOfSolarRate" name="valueOfSolarRate" value="{{allInputDataDict.valueOfSolarRate}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Metering Type<span class="classic">netEnergyMetering: total cost reduced by total solar gen * retail rate.<br><br>
				production: total cost reduced by total solar gen * wholesale rate.<br><br>
				excessEnergyMetering: total cost reduced by total solar gen * retail rate; but, if generation exceeds demand (over the life of the system), only get paid wholesale rate for the excess.</span></label>
				<select id="meteringType" name="meteringType" value="{{allInputDataDict.meteringType}}" required="required"/>
					<option value="netEnergyMetering" {% if allInputDataDict.meteringType == 'netEnergyMetering' %}selected{% endif %}>Net Energy Metering</option>
					<option value="production" {% if allInputDataDict.meteringType == 'production' %}selected{% endif %}>Production</option>
					<option value="excessEnergyMetering" {% if allInputDataDict.meteringType == 'excessEnergyMetering' %}selected{% endif %}>Excess Energy Metering</option>
				</select>
			</div>
			<div class="shortInput">
				<label>Renewables in G&amp;T Fuel Mix (%)</label>
				<input type="text" id="greenFuelMix" name="greenFuelMix" value="{{allInputDataDict.greenFuelMix}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Rooftop Upfront Costs ($)<span class="classic">Cost of a residential rooftop system varies from $2.75/Wdc to $4.15/Wdc.</span></label>
				<input type="text" id="roofUpfrontCosts" name="roofUpfrontCosts" value="{{allInputDataDict.roofUpfrontCosts}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Utility Solar Charge ($)</label>
				<input type="text" id="utilitySolarMonthlyCharge" name="utilitySolarMonthlyCharge" value="{{allInputDataDict.utilitySolarMonthlyCharge}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>3rd Party Rate ($)</label>
				<input type="text" id="ThirdPartyRate" name="ThirdPartyRate" value="{{allInputDataDict.ThirdPartyRate}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>3rd Party Annual Rate Increase (%)</label>
				<input type="text" id="ThirdPartyRateIncrease" name="ThirdPartyRateIncrease" value="{{allInputDataDict.ThirdPartyRateIncrease}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Community Solar Upfront Cost ($)</label>
				<input type="text" id="comUpfrontCosts" name="comUpfrontCosts" value="{{allInputDataDict.comUpfrontCosts}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Community Solar Monthly Charge ($)</label>
				<input type="text" id="comMonthlyCharge" name="comMonthlyCharge" value="{{allInputDataDict.comMonthlyCharge}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Community Solar Rate ($/kWh)</label>
				<input type="text" id="comRate" name="comRate" value="{{allInputDataDict.comRate}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Community Solar Rate Increase (%)</label>
				<input type="text" id="comRateIncrease" name="comRateIncrease" value="{{allInputDataDict.comRateIncrease}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput" style="width:66.5%">
				<label class="tooltip">Monthly Demand (kWh CSV)<span class="classic">12 comma-separated demand values for each month of a typical year.</span></label>
				<input type="text" id="monthlyDemand" name="monthlyDemand" value="{{allInputDataDict.monthlyDemand}}" pattern="^(\d*)(,\d*){11}$" required="required">
			</div>
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<script id="globalOutputScripting">
			Highcharts.setOptions({global: { useUTC: false }, credits:{enabled:false} })
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			pointStart = dateOb(allOutputData.timeStamps[0])
			pointInterval = dateOb(allOutputData.timeStamps[1]) - pointStart
		</script>
		<p class="reportTitle">Lifetime Energy Costs</p>
		<div id="lifetimeCostsReport" class="tightContent">
			<div id="lifetimeCostsChartDiv"></div>
			<script>
				levelCostData = [
					['Base Case',allOutputData.totalCostBaseCase],
					['Community Solar', allOutputData.totalCostComS],
					['3rd Party PPA', allOutputData.totalCost3rdParty],
					['Rooftop Solar', allOutputData.totalCostRoof]]
				levelizedCostChart = new Highcharts.Chart({
					plotOptions:{column:{dataLabels:{enabled:true, format: '{point.y:,.0f}'}, pointPadding:0.2, borderWidth:0}},
					xAxis:{type:'category',tickColor:'gray',lineColor:'gray',crosshair:true},
					yAxis:{title:{text:'Cost ($)'}},
					title:false,
					series:[{name:'Levelized Cost ($/MWh)', color:'green', data:levelCostData}],
					chart:{marginBottom:40,zoomType:'disabled',renderTo:'lifetimeCostsChartDiv',type:'column', marginRight:20, marginBottom:60, marginTop:30, height:300, width:1000, backgroundColor:null},
					tooltip:false,
					legend:false})
			</script>
		</div>
		<p class="reportTitle" style="page-break-before:always">Cumulative Costs</p>
		<div id="cumulativeCostsReport" class="tightContent">
			<div id="cumulativeCostsChartDiv"></div>
			<script>
				cumulCostChart = new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":Date.parse('2012-02-01')-Date.parse('2012-01-01')},"line":{"enableMouseTracking":false, "marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000, "tickColor":"gray","type":"datetime","lineColor":"gray"},
					"rangeSelector":{"selected":1,"enabled":true,"inputDateFormat":'%Y-%m-%d'},
					"title":{"text":null},
					"series": [
						{"color":"black","data":allOutputData['cumulativeBaseCase'],"name":"Base Case"},
						{"color":"red","data":allOutputData['cumulativeComS'],"name":"Community Solar"},
						{"color":"blue","data":allOutputData['cumulative3rdParty'],"name":"3rd Party PPA"},
						{"color":"orange","data":allOutputData['cumulativeRoof'],"name":"Rooftop Solar"}
						],
					"yAxis":{"title":{"text":"Cost ($)","style":{"color":"gray"}},"min":0},
					"chart":{"zoomType":"x","marginBottom":40,"width":1000,"height":250,"marginRight":20,"renderTo":"cumulativeCostsChartDiv","type":"line"},
					"tooltip":{"enabled":false, "valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle">Detailed Costs By Purchase Type</p>
		<div id="detailedCostsReport" class="tightContent">
			<style>
				table{width:980px; font-size:16; padding:5px;}
				td {padding:2px;}
			</style>
			<table id="detailedCostsTable">
				<thead>
					<th></th>
					<th>Purchase Cost</th>
					<th>Lifetime Cost</th>
					<th>Total Saved<br/> vs. Base</th>
					<th>Average <br/>Monthly Bill</th>
					<th>Energy Cost<br/> ($/kWh)</th>
					<th>Simple <br/>Payback (years)</th>
					<th>Consumption <br/>From Renewables (%)</th>
				</thead>
			</table>
			<script>
				function insertMetric(tableId, name, vector) {
					// Add a vector to a table as a row.
					table = gebi(tableId)
					newRow = table.insertRow()
					newRow.insertCell().innerHTML = name
					for (i=0; i<vector.length; i++) {
						if (vector[i] == -1) {
							cell = newRow.insertCell()
							cell.innerHTML = "None"
						}
						else{
							cell = newRow.insertCell()
							cell.innerHTML = delimitNumbers(vector[i].toFixed(2))
						}
					}
				}
				insertMetric("detailedCostsTable","Base Case",[0, allOutputData["totalCostBaseCase"],0, allOutputData["avgMonthlyBillBaseCase"],allOutputData["kWhCostBaseCase"], -1,allInputData["greenFuelMix"]])
				insertMetric("detailedCostsTable","Community Solar",[allInputData["comUpfrontCosts"], allOutputData["totalCostComS"], allOutputData["totalSavedByComS"], allOutputData["avgMonthlyBillComS"],allOutputData["kWhCostComS"], allOutputData["sppComS"], allOutputData["greenElectrons"]])
				insertMetric("detailedCostsTable","Rooftop Solar",[allInputData["roofUpfrontCosts"], allOutputData["totalCostRoof"], allOutputData["totalSavedByRoof"], allOutputData["avgMonthlyBillRoof"],allOutputData["kWhCostRoof"], allOutputData["sppRoof"], allOutputData["greenElectrons"]])
				insertMetric("detailedCostsTable","3rd Party Solar",[0, allOutputData["totalCost3rdParty"],allOutputData["totalSavedBy3rdParty"], allOutputData["avgMonthlyBill3rdParty"],allOutputData["kWhCost3rdParty"], allOutputData["spp3rdParty"], allOutputData["greenElectrons"]])
			</script>
		</div>
		<p class="reportTitle">Hourly Solar Generation</p>
		<div id="powerGenerationReport" class="tightContent">
			<div id="powerTimeSeries"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"enableMouseTracking":false, "marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000, "tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''} },
					"rangeSelector":{"selected":1,"enabled":true,"inputDateFormat":'%Y-%m-%d'},
					"title":{"text":null},
					"series": [{"marker":{"enabled":false},"color":"red","data":allOutputData.powerOutputAc,"name":"Power Generated"}],
					"yAxis":{"title":{"text":"Power (W)","style":{"color":"gray"}},"plotLines":[{"color": "orange",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"Nameplate","align":"right","y":12,"x":0},
						"value": parseFloat(allInputData.systemSize)*1000,"zIndex": 0}],"min":0},
					"chart":{"zoomType":"x","marginBottom":40,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},
					"tooltip":{"enabled":false, "valueDecimals":1},
					"legend":false})
			</script>
		</div>
		<p class="reportTitle">Irradiance</p>
		<div id="irradianceReport" class="tightContent">
			<div id="irradianceChartDiv"></div>
			<script>
				irradianceSeriesData = [
					{"name":"Plane of Array Irradiance","marker":{"enabled":false},"color":"gold","data":allOutputData.climate["Plane of Array Irradiance (W/m^2)"],"visible":true},
					{"name":"Global Horizontal Radiation","marker":{"enabled":false},"color":"goldenrod","data":allOutputData.climate["Global Horizontal Radiation (W/m^2)"],"visible":true} ]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":true}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}},
					"title":{"text":null},
					"series":irradianceSeriesData,
					"yAxis":{"title":{"text":"Irradiance (W/m^2)","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":300,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle" style="page-break-before:always">Other Climate Variables</p>
		<div id="climateReport" class="tightContent">
			<div id="climateChartDiv"></div>
			<script>
				climateSeriesData = [
					{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Ambient Temperature (F)"]},
					{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Cell Temperature (F)"]},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]} ]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}},
					"title":{"text":null},
					"series":climateSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>