<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<link type="text/css" href="{{pathPrefix}}/static/models.css" rel="stylesheet"/>
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts.src.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- Global Funcs Import -->
	<script type="text/javascript" src="{{pathPrefix}}/static/models.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<!-- Global Functions -->
	<script type="text/javascript">
		// Global setting of Highcharts
		Highcharts.setOptions({global: {useUTC: false}})
		var diff = Date.parse(allOutputData.timeStamps[0].substr(0,19)) - Date.parse(allOutputData.timeStamps[0]) 
		var pointStart = Date.parse(allOutputData.timeStamps[0]) + diff
		var pointInterval = Date.parse(allOutputData.timeStamps[1]) - Date.parse(allOutputData.timeStamps[0])
		highChartsTemplate = {
			"chart":{"renderTo":"", "marginRight":20, "marginBottom":20, "zoomType":"x"},
			"title":{"text":null},
			"legend":{"layout":"horizontal", "align":"top", "verticalAlign":"top", "x":50, "y":-10, "borderWidth":0},
			"credits":{"enabled":false},
			"xAxis":{"type":"datetime","maxZoom":108000000, "tickColor":"gray","lineColor":"gray"},
			"yAxis":{"title":{"text":null, "style":{"color":"gray"}}},
			"plotOptions":{"line":{"marker":{"enabled":false}}, "series":{"shadow":false, "pointInterval":pointInterval, "pointStart":pointStart}},
			"tooltip":{"valueDecimals":1},
			"series":[]	}
		function editFeeder(e) {
			studyUser = $(e).siblings("select").val().split(/[_]+/)[0]
			studyName = $(e).siblings("select").val().split(/[_]+/)[1]
			$(e).attr("href", "/feeder/" + studyUser +"/"+ studyName)
				.attr("target", "_blank");
		}
		// Code to make the toggles work:
		$(document).ready(function(){
			$(".toggle").click(function(){
					$(this).parent().next().toggle(500)
			})
		})			
	</script>	
</head>
<body onload="init()">
	<div id="title">
		<div id="logoBox"><a href="/" title="Back to home">&#10059;</a></div>
		<p id="titleText">New Solar Engineering Model</p>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post">
			<div class="shortInput">
				<label>Model Type</label>
				<input type="text" id="modelType" name="modelType" value="solarEngineering" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" required="required" pattern="^[\w\s]+$"/></td>
			</div>
			<div class="shortInput" style="max-width:60%">
				<label>Feeder</label>
				<select id="feederName" name="feederName" style="width:90%"/>
					<option disabled><strong>Personal Feeders</strong></option>
					{% for feeder in datastoreNames['feeders'] %}
						<option value="{{ datastoreNames.get('currentUser','test') + '___' + feeder }}">{{ feeder }}</option>
					{% endfor %}
					<option disabled><strong>Public Feeders</strong></option>
					{% for pFeeder in datastoreNames['publicFeeders'] %}
						<option value="{{ 'public___' + pFeeder }}">{{ pFeeder }}</option>
					{% endfor %}
				</select>
				<a class="edit-feeder postRunInline preRunInline runningInline stoppedInline" target="_blank" onclick="javascript:editFeeder(this);" title="Edit feeder">&#9997;</a>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/></td>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/></td>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/></td>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Climate<span class="classic">City closest to the installation site. Climate data for that site from the Typical Meteorological Year 2 project will be input to the model.</span></label>
				<select id='climateName' name='climateName'>
					{% for climate in datastoreNames['climates'] %}
						<option value='{{ climate }}'>{{ climate }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Length<span class="classic">Number of time steps in the installation. Due to large data volumes, the current limit is 300.</span></label>
				<input type="text" id="simLength" name="simLength" required="required" pattern="^(\d|\d\d|[123]\d\d)$"/>
			</div>
			<div class="shortInput">
				<label>Length Units</label>
				<select id="simLengthUnits" name="simLengthUnits">
					<option value="hours">Hours</option>
					<option value="minutes">Minutes</option>
				</select>
			</div>
			<div class="shortInput">
				<label>Simulation Start Date (YYYY-MM-DD)</label>
				<input type="text" id="simStartDate" name="simStartDate" required="required" pattern="^\d\d\d\d-\d\d-\d\d$"/>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" type="submit" class="preRun">Run Model</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="rerunButton" type="submit" class="postRunInline stoppedInline">Re-Run Model</button>
			</div>
		</form>
	</div>	
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results.
	</div>
	<div id ="stopIndicator" class="content stopped">
		Model cancelled or encountered an error. Please change inputs and re-run.
		<pre id='errorText'></pre>
		<script type="text/javascript">if (typeof(allInputData.stderr) !== 'undefined') {gebi('errorText').innerHTML = '\nFULL ERROR TEXT FOLLOWS\n' + allInputData.stderr}</script>
	</div>
	<div id="output">
		<p class="reportTitle postRun">Power Consumption From Transmission System <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="powerConsumptionReport" class="tightContent postRun">
			<script type="text/javascript">
					// Create div of power timeseries appending to powerConsumption
					$("<div/>").appendTo("#powerConsumptionReport")
						.attr("id", "powerTimeSeries")
					// power series data
					var powerSeries = {
						"marker":{
							"enabled":false
						},
						"color":"red",
						"data":allOutputData.Consumption.Power,
						"name":"Substation Powerflow"
					}
					var lossesSeries = {
						"marker":{
							"enabled":false
						},
						"color":"orangered",
						"data":allOutputData.Consumption.Losses,
						"name":"Technical Losses",
						"visible": false
					}
					var DGSeries = {
						"marker":{
							"enabled":false
						},
						"color":"seagreen",
						"data":allOutputData.Consumption.DG,
						"name":"DG Power",
						"visible": false
					}
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "powerTimeSeries"
					localHighChart["chart"]["type"] = "line"
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["height"] = 150
					localHighChart["series"] = [powerSeries, lossesSeries, DGSeries]
					localHighChart["yAxis"]["title"] = {"text": "Power (W)", "style": {"color": "gray"}}
					new Highcharts.Chart(localHighChart);
			</script>
		</div>
		<p class="reportTitle postRun">Energy Balance <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="newEnergyBalanceReport" class="tightContent postRun">
			<script type="text/javascript">
				function arrSum(arr) {
					myVal = eval(arr.join("+"))
					if (typeof myVal == "undefined") {return 0} else {return myVal}
				}
				tPower = eval(allOutputData.Consumption.Power.join("+"))
				tLosses = eval(allOutputData.Consumption.Losses.join("+"))
				tDG = eval(allOutputData.Consumption.DG.join("+"))
				tLoads = tPower + tDG - tLosses
				dgExported = []
				fromGrid = []
				for (i = 0; i < allOutputData.Consumption.Power.length; i++) {
					curVal = allOutputData.Consumption.Power[i]
					if (curVal < 0) {dgExported.push(curVal)} else {fromGrid.push(curVal)}
				}
				tDGExported = arrSum(dgExported)
				tFromGrid = arrSum(fromGrid)
				tDGDirect = tLoads + tLosses - tFromGrid
				// Series formatting.
				var tLossesSeries = {
					"pointWidth": 40, 
					"color":"orangered",
					"data":[0,tLosses],
					"type":"bar",
					"name":"Losses",
				}
				var tLoadsSeries = {
					"pointWidth": 40,
					"color":"darkorange",
					"data":[0,tLoads],
					"type":"bar",
					"name":"Loads"
				}
				var tDGSeries = {
					"pointWidth": 40,
					"color":"seagreen",
					"data":[],
					"type":"bar",
					"name":"DG"
				}
				var tFromGridSeries = {
					"pointWidth": 40, 
					"color":"Red",
					"data":[tFromGrid,0],
					"type":"bar",
					"name":"FromGrid"
				}
				var tDGDirectSeries = {
					"pointWidth": 40,
					"color":"RoyalBlue",
					"data":[tDGDirect,0],
					"type":"bar",
					"name":"DGDirect"
				}
				var tDGExportedSeries = {
					"pointWidth": 40,
					"color":"LightSeaGreen",
					"data":[tDGExported,0],
					"type":"bar",
					"name":"DG Exported"
				}
				
				tDGSeries["data"].push(tDG)
				var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
				localHighChart["chart"]["renderTo"] = "newEnergyBalanceReport"
				localHighChart["chart"]["inverted"] = false
				localHighChart["chart"]["height"] = 250
				localHighChart["chart"]["width"] = 1000
				localHighChart["chart"]["marginBottom"] = 50
				localHighChart["series"] = [tFromGridSeries,tDGDirectSeries,tDGExportedSeries,tLossesSeries,tLoadsSeries]
				localHighChart["xAxis"] = {
					"tickColor":"gray",
					"lineColor":"gray",
					"categories":["Source","Destination"]
					}
				localHighChart["yAxis"] = {"title": {"text": 'Energy (Wh)',"style":{"color":"gray"},"offset":20}},
				localHighChart["plotOptions"] = {
					"bar":{"stacking":"normal"}, 
				}
				
				new Highcharts.Chart(localHighChart);
			</script>
		</div>
		<p class="reportTitle postRun">Regulator Tap Changes <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="newRegulatorReport" class="tightContent postRun">
			<script type="text/javascript">
				
				var regNamesArray=[]
				for (var key in allOutputData) 
				{
  					if (key.indexOf('Regulator') === 0)
  					{
  						regName = "allOutputData.".concat(key);
  						regNamesArray.push(regName)
					}
				}
				for (var i in regNamesArray)
				{
					
					reg = regNamesArray[i]
					$("<div/>").appendTo("#newRegulatorReport")
						.attr("class", "regContainer")
						.attr("id", reg)
					$("<div/>").appendTo("#newRegulatorReport")
						.attr("id", "regulatorSeries_" + reg)
					
					var reg1ATSeries = {
						"pointWidth": 40, 
						"pointInterval": 3 * 3600 * 100,
						"color":"RoyalBlue",
						"data":eval(regNamesArray[i].concat(".RegTapA")),
						"name":"A",
					}
				
					var reg1BTSeries = {
						"pointWidth": 40,
						"pointInterval": 3 * 3600 * 100,
						"color":"Red",
						"data":eval(regNamesArray[i].concat(".RegTapB")),
						"name":"B",
					}
					var reg1CTSeries = {
						"pointWidth": 40,
						"pointInterval": 3 * 3600 * 100,
						"color":"Green",
						"data":eval(regNamesArray[i].concat(".RegTapC")),
						"name":"C",
					}
					phaseValue= eval(reg.concat(".RegPhases"))
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "regulatorSeries_" + reg
					localHighChart["chart"]["inverted"] = false
					localHighChart["chart"]["height"] = 150
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["type"] = "line"
					localHighChart["title"]["text"] = reg.substr(14)
					localHighChart["series"] = []
					localHighChart["xAxis"] = { "type":"datetime",
						"tickColor":"gray",
						"lineColor":"gray",
						}
					localHighChart["yAxis"] = {"min": -17, "max" : 17,
						//"startOnTick": "false",
						"title":{ "text": "Tap position",
							"style":{
								"color":"gray"
							}
						}
					}
					localHighChart["plotOptions"] = {
						//"bar":{"stacking":"normal", "shadow":false}, 
					}
					chart = new Highcharts.Chart(localHighChart);
					if(phaseValue.indexOf('A') != -1)   
					{
  						chart.addSeries(reg1ATSeries)
  					}
  					if(phaseValue.indexOf('B') != -1)
					{
  						chart.addSeries(reg1BTSeries)
					}	
					if(phaseValue.indexOf('C') != -1)
					{
  						chart.addSeries(reg1CTSeries)
  					}
				}
			</script>
		</div>	
		<p class="reportTitle postRun">Cap Bank Activation <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="newCapbankReport" class="tightContent postRun">
			<script type="text/javascript">
				var capNamesArray=[]
				for (var key in allOutputData) 
				{
	  				if (key.indexOf('Capacitor') === 0)
	  				{
	  					capName = "allOutputData.".concat(key);
	  					capNamesArray.push(capName)
					}
				}
				for (var i in capNamesArray)
				{
					cap= capNamesArray[i]
					//$("<div/>").appendTo("#newCapbankReport")
					//	.attr("id", "capacitorSeries")
					$("<div/>").appendTo("#newCapbankReport")
						.attr("class", "capContainer")
						.attr("id", cap)
						
					$("<div/>").appendTo("#newCapbankReport")
						.attr("id", "capacitorSeries_" + cap)
					var cap1BSeries = {
						"pointWidth": 40,
						"pointInterval": 3 * 3600 * 100,
						"color":"Red",
						"data":eval(capNamesArray[i].concat(".Cap1B")),
						"name":"B"
					}
					var cap1ASeries = {
						"pointWidth": 40, 
						"pointInterval": 3 * 3600 * 100,
						"color":"RoyalBlue",
						"data":eval(capNamesArray[i].concat(".Cap1A")),
						"name":"A"
					}
					var cap1CSeries = {
						"pointWidth": 40, 
						"pointInterval": 3 * 3600 * 100,
						"color":"Green",
						"data":eval(capNamesArray[i].concat(".Cap1C")),
						"name":"C"
					}
					phaseValue= eval(cap.concat(".CapPhases"))
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "capacitorSeries_" + cap
					localHighChart["chart"]["inverted"] = false
					localHighChart["chart"]["height"] = 150
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["type"] = "column"
					localHighChart["title"]["text"] = cap.substr(14)
					localHighChart["series"] = []
					localHighChart["xAxis"] = {
						"type":"datetime",
						"tickColor":"gray",
						"lineColor":"gray",
						}
					localHighChart["yAxis"] = {"min": 0, "max" : 3,
						"startOnTick": "false",
						"tickInterval":1,
						"title":{ "text": "1 = Active",
							"style":{
								"color":"gray"
							}
						}
					}
					localHighChart["plotOptions"] = {
						"column":{"stacking":"normal", "shadow":false}, 
					}
					localHighChart["chart"]["title"] = {"align":"center","text":"CapCHART",}
					chart = new Highcharts.Chart(localHighChart);
					if(phaseValue.indexOf('A') != -1)
					{
  						chart.addSeries(cap1ASeries)
  					}
  					if(phaseValue.indexOf('B') != -1)
					{
  						chart.addSeries(cap1BSeries)
					}	
					if(phaseValue.indexOf('C') != -1)
					{
  						chart.addSeries(cap1CSeries)
  					}
				}	
			</script>
		</div>
		<p class="reportTitle postRun">Triplex Meter Voltages <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="triplexMeterVoltageReport" class="tightContent postRun">
			<script type="text/javascript">
					// Create div for triplex meter voltage chart appending to powerConsumption
					$("<div/>").appendTo("#triplexMeterVoltageReport")
						.attr("id", "triplexMeterVoltageChart")
					triplexSeriesData = [{"marker": {"enabled":false},
						"color":"LightBlue",
						"data":allOutputData.allMeterVoltages.Min,
						"name":"Min"
					},{
						"marker":{
							"enabled":false
						},
						"color":"blue",
						"data":allOutputData.allMeterVoltages.Mean,
						"name":"Mean"
					},{
						"marker":{
							"enabled":false
						},
						"color":"LightBlue",
						"data":allOutputData.allMeterVoltages.Max,
						"name":"Max"
					}]	
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "triplexMeterVoltageChart"
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["height"] = 200
					localHighChart["chart"]["type"] = "line"
					localHighChart["series"] = triplexSeriesData
					localHighChart["yAxis"] = {
						"maxRange":20,
						"plotLines": [{
							"color": 'gray',
							"dashStyle": 'ShortDash',
							"width": 2,
							"value": 114, // voltage lower bound
							"zIndex": 0
						}, {
							"color": 'gray',
							"dashStyle": 'ShortDash',
							"width": 2,
							"value": 126, // voltage upper bound
							"zIndex": 0
						}],
						"title":{
							"text":"Volts",
							"style":{
								"color":"gray"
							}
						}
					}
					new Highcharts.Chart(localHighChart)
			</script>
		</div>
		<p class="reportTitle postRun">System Voltage Map <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="systemVoltageMap" class="tightContent postRun" style="height:1030px">
			<script>				
				function pad(n, width, z) {
					z = z || '0'
					n = n + ''
					return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n }
				function updateVoltMap() {
					// simulation length must be the slider maximum value
					var simLen= allInputData.simLength;
					gebi("slider").max=simLen
					sVal = gebi("slider").value
					gebi("timeTravelImage").src = "/downloadModelData/"+allInputData.user+"/"+allInputData.modelName+"/images/volts" + pad(sVal, 3, 0) + "-" + allOutputData.genTime + ".jpg"
				}
			</script>
			<input id="slider" type="range" min="1" max="" step="1" oninput="updateVoltMap()" onchange="updateVoltMap()" defaultValue="1" style="width:100%; padding:5 5 5 5; height:20px"/>
			<img style="width:100%" id="timeTravelImage" src="">
			<script>/*Init the volt map after loading.*/ updateVoltMap()</script>
		</div>
		<p class="reportTitle postRun">Solar Data <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="irradianceChartDiv"></div>
			<script>
				irradianceSeriesData = [
					{"name":'Global Horizontal',"marker":{"enabled":false},"color":"gold","data":allOutputData.climate['Global Horizontal (W/sm)'],"visible":true}]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":true}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":irradianceSeriesData,
					"yAxis":{"title":{"text":"Irradiance ( W / m^2 )","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":300,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>		
		<p class="reportTitle postRun">Other Climate Variables <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="climateReport" class="tightContent postRun">
			<script type="text/javascript">
				$("<div/>").appendTo("#climateReport")
					.attr("id", "climateChartDiv")
				climateSeriesData = [
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
					{"name":"Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Temperature (F)"]},
					{"name":"Snow Depth (in)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Snow Depth (in)"]}]
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":climateSeriesData,"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},"chart":{"marginBottom":20,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Study Details <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="studyDetails" class="tightContent postRun detailsContainer" style="position: relative;">
			<div id="mapHere" style="width:500px; height:300px; display:inline-block"></div>
			<script type="text/javascript">
				var width = 500,
					height = 350;

				var projection = d3.geo.albersUsa().scale(600).translate([width/2, height/2]);

				var path = d3.geo.path()
					.projection(projection);

				var svg = d3.select("#mapHere").append("svg")
					.attr("width", width)
					.attr("height", height);

				var group = svg.append("g");

				group.attr("transorm", "scale(.2, .2)");
				d3.json('/static/state_boundaries.json', function(collection) {
					group.selectAll('path')
						.data(collection.features)
						.enter().append('path')
						.attr('d', d3.geo.path().projection(projection))
						.attr('id', function(d){return d.properties.name.replace(/\s+/g, '')})
						.style('fill', 'gray')
						.style('stroke', 'white')
						.style('stroke-width', 1);
				});

				d3.json("{{pathPrefix}}/static/city_locations.json", function(new_us_places){
					climate = allInputData.climateName
					var ST_NAME = climate.split("-");
					var ST = ST_NAME[0], NAME = ST_NAME[1];
					var my_coords = projection(new_us_places[ST][NAME]);
					var r = 5;
					circle = svg.append("circle")
						.attr("cx", my_coords[0])
						.attr("cy", my_coords[1])
						.attr("r", 5)
						.attr("class", "HighlightCircle");
					circle.append("svg:title").text(climate);
				})
			</script>
			<div id="runtimeStatsReport" style="width:495px; height:340px; margin:20 0 0 0; overflow-y:scroll; overflow-x:hidden; display:inline-block; vertical-align:top">
				<pre id="stdout" style="font-size:13px; text-align:left"></pre>
			</div>
			<script>gebi("stdout").innerHTML = allOutputData.stdout</script>
		</div>
	</div>
</body>