<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles go here.*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<!-- Plotly  Import -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<!-- Leaflet  Imports -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
	integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
	crossorigin=""></script>

    <!-- Leaflet  Marker Cluster Imports -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
    
    <style>#map {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-solarDisagg" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">Model Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Aggregate Net Loads (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="meterDataFile" type="file" style="display:none" onchange="handle_files(this.files,'meterData','meterFileName')">
				<input id="meterData" name="meterData" type="hidden">
				<div>
					<label for="meterDataFile" class="fileButton">Choose File</label>
					<input id="meterFileName" name="meterFileName" value='' readonly class="uploadMeterFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Solar Load (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="solarDataFile" type="file" style="display:none" onchange="handle_files(this.files,'solarData','solarFileName')">
				<input id="solarData" name="solarData" type="hidden">
				<div>
					<label for="solarDataFile" class="fileButton">Choose File</label>
					<input id="solarFileName" name="solarFileName" value='' readonly class="uploadsolarFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">LatLon Coordinates (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="latLonDataFile" type="file" style="display:none" onchange="handle_files(this.files,'latLonData','latLonFileName')">
				<input id="latLonData" name="latLonData" type="hidden">
				<div>
					<label for="latLonDataFile" class="fileButton">Choose File</label>
					<input id="latLonFileName" name="latLonFileName" value='' readonly class="uploadLatLonFileName">
				</div>
			</div>
			<div style="display:none" class="shortInput">
				<label class="tooltip">Weather Coordinates (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="weatherDataFile" type="file" style="display:none" onchange="handle_files(this.files,'weatherData','weatherFileName')">
				<input id="weatherData" name="weatherData" type="hidden">
				<div>
					<label for="weatherDataFile" class="fileButton">Choose File</label>
					<input id="weatherFileName" name="weatherFileName" value='' readonly class="uploadweatherFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">ASOS Weather Station<span class="classic">Enter a valid ASOS weather station.</span></label>
				<input type="text" id="asos" name="asos" required="required" placeholder="CHO"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Start Date<span class="classic">Enter start date of the period you are uploading.</span></label>
				<input type="text" id="year" name="year" required="required" placeholder="2017-01-01"/>
			</div>
			<!-- Required Buttons -->
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<!-- Output tables, graphs, etc -->
	<div id="output">
		<!-- Integer Sum Table -->
		<p class="reportTitle postRun">Solar Disaggregation Results</p>
		<div id="analysisSummary" class="content postRun">
			<div id="plotly-div"></div>
			<script type="text/javascript">
  				Plotly.newPlot("plotly-div", JSON.parse(allOutputData["graphJSON"]), JSON.parse(allOutputData["layoutJSON"]) || {})
			</script>
		</div>
		<p class="reportTitle postRun">Meter Locations</p>
		<div id="climateReport" class="tightContent">
			<div id="map"></div>
		</div>
		<script type="text/javascript">
			var bounds = [];

			var map = L.map(
				'map', {
				center: [0, 0],
				zoom: 1,
				maxBounds: bounds,
				layers: [],
				worldCopyJump: false,
				crs: L.CRS.EPSG3857,
				zoomControl: true,
			});

			var tile_layer = L.tileLayer(
				'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
				{
				"attribution": null, 
				"detectRetina": false, 
				"maxNativeZoom": 18, 
				"maxZoom": 18, 
				"minZoom": 0, 
				"noWrap": false, 
				"subdomains": "abc"
				}
			).addTo(map);

			var marker_cluster = L.markerClusterGroup({});
			map.addLayer(marker_cluster);

			var solar_proxy = L.circleMarker(
				[33.9, -111.42],
				{
				"bubblingMouseEvents": true, 
				"color": "#FFFF00", 
				"dashArray": null, 
				"dashOffset": null, 
				"fill": true, 
				"fillColor": "#FFFF00", 
				"fillOpacity": 0.9, 
				"fillRule": "evenodd", 
				"lineCap": "round", 
				"lineJoin": "round", 
				"opacity": 1.0, 
				"radius": 10, 
				"stroke": true, 
				"weight": 3
				}
			).addTo(map)
			
			solar_proxy.bindTooltip(
				'<div>Solar Proxy</div>',
				{"sticky": true}
			);

			var asos_station = L.circleMarker(
				[34.0, -111.33],
				{
				"bubblingMouseEvents": true, 
				"color": "#FF0000", 
				"dashArray": null, 
				"dashOffset": null, 
				"fill": true, 
				"fillColor": "#FF0000", 
				"fillOpacity": 0.9, 
				"fillRule": "evenodd", 
				"lineCap": "round", 
				"lineJoin": "round", 
				"opacity": 1.0, 
				"radius": 10, 
				"stroke": true, 
				"weight": 3
				}
			).addTo(map)
			
			asos_station.bindTooltip(
				'<div>ASOS Station</div>',
				{"sticky": true}
			);
					  
			for (meter in allOutputData.loadLocations){
			//console.log(allOutputData.loadLocations[meter])
				bounds.push([allOutputData.loadLocations[meter]['netLoadLat'], allOutputData.loadLocations[meter]['netLoadLon']])
				var circle_marker = L.circleMarker(
				[allOutputData.loadLocations[meter]['netLoadLat'], allOutputData.loadLocations[meter]['netLoadLon']],
				{
					"bubblingMouseEvents": true, 
					"color": "#0000FF", 
					"dashArray": null, 
					"dashOffset": null, 
					"fill": true, 
					"fillColor": "#0000FF", 
					"fillOpacity": 0.9, 
					"fillRule": "evenodd", 
					"lineCap": "round", 
					"lineJoin": "round", 
					"opacity": 1.0, 
					"radius": 10, 
					"stroke": true, 
					"weight": 3
				}).addTo(marker_cluster);
				
				circle_marker.bindTooltip(
					'<div>' + allOutputData.loadLocations[meter]['netLoadName'] + '</div>',
					{"sticky": true}
				);
			}

			map.fitBounds(
				bounds
			);
		</script>
	</div>
</body>