<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		#Metric {
			font-weight:bold;
			width:175px;
		}
		#SPP {
			font-weight:bold;
		}
		#tableHead {
			margin-top:20px;
		}
		/*File Styles*/
		#fileBackground{position:absolute;width:205px;max-width:205px;height:29px;margin: -30px 0 0 116px;background-color:gainsboro;}
		#fileExists {
			background-color:transparent;
			max-width:185px;
			overflow-x:auto;
			overflow-y:hidden;
			height:35px;
			margin:-32px 0 0 116px;
			position:absolute;
			font-size:0.8em;
			z-index:1;
		}
		#demandCurveFileName {line-height:35px;}
		input[type='file'] {
		  color: transparent;
		}
		/*IE Hacks*/
		@media screen\0 {
			#fileBackground{margin-left:0px;width:222px;max-width:222px;height:29px;}
			#fileExists{margin: -27px 0 0 10px;height:42px;}
		}
		/*Firefox Hacks*/
		@-moz-document url-prefix() {
			#fileBackground{margin-left:125px;width:195px;max-width:195px;}
			#fileExists{max-width:175px;margin:-32px 0 0 135px;height:47px;}
		 }
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">OMF</a> &#187;&nbsp;&nbsp;Model
				&#8220;{% if modelStatus == "preRun"%}Storage Dispatch
				{% else %}<p id="titleText" style="display:inline"></p>{% endif %}&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-storageDispatch" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="shortInput">
				<label>Nearest Airport (3 Digit Code)</label>
				<input type="text" id="airport" name="airport" value="IAD" required="required" pattern="^[\w\s\d\.-]+$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Demand Curve (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="demandCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'demandCurve','fileName')">
				<input id="demandCurve" name="demandCurve" type="hidden">
				<div>
					<label for="demandCurveFile" class="fileButton">Choose File</label>
					<input id="fileName" name="fileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped">
		<p>Model cancelled or encountered an error. Please change inputs and re-run.</p>
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">if (typeof(allInputData.stderr) !== 'undefined') {gebi('errorText').innerHTML = '\nFULL ERROR TEXT FOLLOWS\n' + allInputData.stderr}</script>
	</div>
	<div id="output">
		<script id="globalOutputScripting">
			function insertMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<script id="globalOutputScripting">
			function insertDollarMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = "$" + delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<script type="text/javascript">
			// Global Highcharts settings.
			Highcharts.setOptions({global:{useUTC:true}})
		</script>
		<p class="reportTitle postRun" style="page-break-before:always">Hour of Peak Demand</p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="hists"></div>
			<script>
				new Highcharts.Chart({
					 chart: {
           				 type: 'column',
           				 renderTo: 'hists',
           				 height: 250,
						 width: 1000
        			},
        			title:{
        				text: ''
        			},
        			xAxis:{
        				categories: allOutputData.histBins
        			},
        			series:[{
        				name: 'Winter',
        				data: allOutputData.winterHist
					},
					{
						name: 'Summer',
						data: allOutputData.summerHist,
						color: 'red'
					},
					{
						name: 'Spring',
						data: allOutputData.springHist,
						color: 'yellow'
					},
					{
						name: 'Fall',
						data: allOutputData.fallHist,
						color: 'orange'
					}], 
					credits: {
      						enabled: false
  					}
				})
			</script>
			</div>
			<p class="reportTitle postRun" style="page-break-before:always">Daily Demand</p>
			<div id="input" class="content postRun shortInput">
				<select id = 'select' onchange = 'dateChange(this.value)'>
					<option id = 'option' value = 'all'>All</option>
				</select>
			</div>
			<div id="irradianceReport" class="tightContent postRun">
			<div id="dailyDemand"></div>
			<script>
				array = allOutputData.demand
				dates = allOutputData.dates
				tempArray = allOutputData.tempsGroupedByDay
				tempScatterArray = allOutputData.tempScatterArray
				var series = [],
	        	len = array.length,
	        	i = 0;
	    		for(i;i<len;i++){
	    			a = {marker:{enabled:false},name:allOutputData.dates[i], data:allOutputData.demand[i],enableMouseTracking:false}
	      		  	series.push(a)
	      		  	var x = document.getElementById("select");
					var option = document.createElement("option");
					option.text = i+1 + ". " + dates[i];
					x.add(option)
	    		}
				function dateChange(val){
					value = val.slice(0,3) - 1
					var chart = $('#dailyDemand').highcharts()
					var options = {"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"shadow":false,
							},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{
						"tickColor":"#D3D3D3",
						"min": 0,
						"max": 23,
						"lineColor":"gray"},
					"yAxis":{
						"title":{"text":"Power (W)","style":{"color":"gray"}},
						"minorTickColor":"gray", "minorTickInterval":"auto",
						"plotLines":[{"color": "lightgray",
						"dashStyle": "ShortDash",
						"width": 2,
						"min": 0,
						"zIndex": 10}],"min":0},
					"title":{"text":null},
					"series":[],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"dailyDemand","type":"spline","marginRight":20, "height":750,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{enabled:false}};
					if(val == 'all'){
					new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"shadow":false,
							},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{
						"tickColor":"#D3D3D3",
						"min": 0,
						"max": 23,
						"lineColor":"gray"},
					"yAxis":{
						"title":{"text":"Power (W)","style":{"color":"gray"}},
						"minorTickColor":"gray", "minorTickInterval":"auto",
						"plotLines":[{"color": "lightgray",
						"dashStyle": "ShortDash",
						"width": 2,
						"min": 0,
						"zIndex": 10}],"min":0},
					"title":{"text":null},
					"series":series,
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"dailyDemand","type":"spline","marginRight":20, "height":750,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{enabled:false}})
					}
					else{
						data = series[value].data
						tempData = tempArray[value]
						options.yAxis = [{title:{text:'Demand (kW)'}},{title:{text:'Temperature (F)'}, opposite:true, gridLineWidth: 0, labels: {format: '{value} F'}}]
						options.series = [{name:'Demand (W)' ,yAxis: 0,data: data},{name:'Temperature (F)', yAxis: 1,data: tempData}]
						options.chart = {"marginBottom":35,"zoomType":"x","renderTo":"dailyDemand","type":"spline","marginRight":75, "height":750,"width":1000}
						var chart = new Highcharts.Chart(options); 
					}
					
	    		}
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"shadow":false,
							},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{
						"tickColor":"#D3D3D3",
						"min": 0,
						"max": 23,
						"lineColor":"gray"},
					"yAxis":{
						"title":{"text":"Demand (W)","style":{"color":"gray"}},
						"minorTickColor":"gray", "minorTickInterval":"auto",
						"plotLines":[{"color": "lightgray",
						"dashStyle": "ShortDash",
						"width": 2,
						"min": 0,
						"zIndex": 10}],"min":0},
					"title":{"text":null},
					"series":series,
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"dailyDemand","type":"spline","marginRight":20, "height":750,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{enabled:false}})
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Demand Vs Temperature</p>
		<div id="irradianceReport" class="tightContent postRun">
		<div id="demandVTemp"></div>
		<script>
			new Highcharts.Chart({
				chart: {
		            type: 'scatter',
		            zoomType: 'xy',
		            renderTo: 'demandVTemp',
		            marginRight:20,
		            height:750,
		            width:1000
		        },
		        title:{
		        	
		        	text: "Regression Equation: "+ allOutputData.regressionEquation, 'verticalAlign': 'top', align: 'center', "style":{"color":"#333333", "fontSize":"12px"
		        }},
		        credits:{
		        	enabled: false
		        },
		        legend:{
		        	enabled: false
		        },
		        xAxis: {
            		title: {
               	 	enabled: true,
              	  	text: 'Temperature (F)'
            	},
		            startOnTick: true,
		            endOnTick: true,
		            showLastLabel: true
        		},
		        yAxis: {
		            title: {
		                text: 'Demand (kW)'
		            }
		        },
		        tooltip:{
		        	pointFormat: '{point.x} F, {point.y} kW'
		        },
		        series: [{
		        	data: tempScatterArray,
		        	name: ' '
		        },
		        {
		        	type: 'line',
		            name: 'Regression Line',
		            data: [allOutputData.regressionPointOne, allOutputData.regressionPointTwo]
		        }
		        ]

			})
		</script>
		</div>
	</div>
</body>