<head>
	{{ omfHeaders }}
	<style>
		#Metric {
			font-weight:bold;
			width:175px;
		}
		#SPP {
			font-weight:bold;
		}
	</style>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" value="{{allInputDataDict.inputForm}}" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-storagePeakShave" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{allInputDataDict.modelType}}" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			<div class="shortInput ">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Economic Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Unit Capacity (kWh-AC)</label>
				<input type="text" id="cellCapacity" name="cellCapacity" value="{{allInputDataDict.cellCapacity}}" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Charge Rating (kW)</label>
				<input type="text" id="chargeRate" name="chargeRate" value="{{allInputDataDict.chargeRate}}" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Discharge Rating (kW)</label>
				<input type="text" id="dischargeRate" name="dischargeRate" value="{{allInputDataDict.dischargeRate}}" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Unit Quantity</label>
				<input type="text" id="cellQuantity" name="cellQuantity" value="{{allInputDataDict.cellQuantity}}" required="required" pattern="^\d+$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Depth of Discharge (%)<span class="classic">The maximum safe discharge capacity of the battery system, typically between 80% - 90%.</span></label>
				<input type="text" id="dodFactor" name="dodFactor" value="{{allInputDataDict.dodFactor}}" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Battery Round Trip Efficiency (%)<span class="classic">The efficiency of the DC battery system, to be used with the Inverter efficiency to get Battery System AC Round Trip Efficiency equal to this value times <i>Inverter Efficiency &amp; Transformer Efficiency</i> &#178;</span></label>
				<input type="text" id="batteryEfficiency" name="batteryEfficiency" value="{{allInputDataDict.batteryEfficiency}}" required="required" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter &amp; Transformer Efficiency (%)<span class="classic">Combined Inverter and Transformer Efficiency in converting DC power to AC power. Used in the Battery System AC Round Trip Efficiency calculation. The Inverter efficiency is obtained from the Weighted Efficiency (CEC) Method.</span></label>
				<input type="text" id="inverterEfficiency" name="inverterEfficiency" value="{{allInputDataDict.inverterEfficiency}}" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label>Unit Cost (installed)</label>
				<input type="text" id="cellCost" name="cellCost" value="{{allInputDataDict.cellCost}}" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Battery Cycles in Lifetime</label>
				<input type="text" id="batteryCycleLife" name="batteryCycleLife" value="{{allInputDataDict.batteryCycleLife}}" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Demand Charge Cost ($/kW)</label>
				<input type="text" id="demandCharge" name="demandCharge" value="{{allInputDataDict.demandCharge}}" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Electricity Cost ($/kWh)<span class="classic">The cost of the electricity used to recharge the battery system.</span></label>
				<input type="text" id="retailCost" name="retailCost" value="{{allInputDataDict.retailCost}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Financial Projection Length (years)</label>
				<input type="text" id="projYears" name="projYears" value="{{allInputDataDict.projYears}}" required="required" pattern="^\d+$"/>
			</div>
			<div class="shortInput">
				<label>Discount Rate (%)</label>
				<input type="text" id="discountRate" name="discountRate" value="{{allInputDataDict.discountRate}}" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Demand Curve (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="demandCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'demandCurve','fileName')">
				<input id="demandCurve" name="demandCurve" value="{{allInputDataDict.demandCurve}}" type="hidden">
				<div>
					<label for="demandCurveFile" class="fileButton">Choose File</label>
					<input id="fileName" name="fileName" value="{{allInputDataDict.fileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Dispatch Strategy</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Dispatch Strategy<span class="classic">Please see the documentation at the help link for an explanation of dispatch strategy.</span></label>
				<select id="dispatchStrategy" name="dispatchStrategy" value="{{allInputDataDict.dispatchStrategy}}" />
					<option value="prediction" {% if allInputDataDict.dispatchStrategy == 'prediction' %}selected{% endif %}>Prediction</option>
					<option value="optimal" {% if allInputDataDict.dispatchStrategy == 'optimal' %}selected{% endif %}>Optimal</option>
					<option value="daily" {% if allInputDataDict.dispatchStrategy == 'daily' %}selected{% endif %}>Daily</option>
					<option value="customDispatch" {% if allInputDataDict.dispatchStrategy == 'customDispatch' %}selected{% endif %}>Custom Dispatch</option>
				</select>
			</div>
			<div class="shortInput" >
				<label>Daily Dispatch - Starting Peak Hour</label>
				<input type="text"  id="startPeakHour" name="startPeakHour" value="{{allInputDataDict.startPeakHour}}" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput" >
				<label>Daily Dispatch - Ending Peak Hour</label>
				<input type="text"  id="endPeakHour" name="endPeakHour" value="{{allInputDataDict.endPeakHour}}" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Custom Dispatch Strategy (.csv file)<span class="classic">Please see the documentation at the help link for the required format.</span></label>
				<input id="customDispatchStrategyFile" type="file" style="display:none" onchange="handle_files(this.files,'customDispatchStrategy','fileNameOther')">
				<input id="customDispatchStrategy" name="customDispatchStrategy" value="{{allInputDataDict.customDispatchStrategy}}" type="hidden">
				<div>
					<label for="customDispatchStrategyFile" class="fileButton">Choose File</label>
					<input id="fileNameOther" name="fileNameOther" value="{{allInputDataDict.fileNameOther}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Prediction - Historical Curve (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="histCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'histCurve','histFileName')">
				<input id="histCurve" name="histCurve" value="{{allInputDataDict.histCurve}}" type="hidden">
				<div>
					<label for="histCurveFile" class="fileButton">Choose File</label>
					<input id="histFileName" name="histFileName" value="{{allInputDataDict.histFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Prediction - Epochs<span class="classic">How many times would you like the prediction software to iterate? Approximately 1 minute per 10 epochs. Program will stop early if no improvement is seen within 10 epochs.</span></label>
				<input type="text" id="epochs" name="epochs" value="{{allInputDataDict.epochs}}">
			</div>
			
			<div class="shortInput">
				<label class="tooltip">Prediction - New Model<span class="classic">Would you like to run a new neural net (True) or use the model loaded?</span></label>
				<select id="newModel" name="newModel" value="{{allInputDataDict.newModel}}" />
					<option value="True" {% if allInputDataDict.newModel == 'True' %}selected{% endif %}>True</option>
					<option value="False" {% if allInputDataDict.newModel == 'False' %}selected{% endif %}>False</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Model upload<span class="classic">.h5 file of neural network</span></label>
				<input id="modelFile" type="file" style="display:none" onchange="handle_files(this.files,'model','modelFileName')">
				<input id="model" name="model" value="{{allInputDataDict.model}}" type="hidden">
				<div>
					<label for="modelFile" class="fileButton">Choose File</label>
					<input id="modelFileName" name="modelFileName" value="{{allInputDataDict.modelFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<!-- required buttons -->
			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<script id="globalOutputScripting">
			function insertMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<script id="globalOutputScripting">
			function insertDollarMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = "$" + delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<p class="reportTitle">Monthly Cost Comparison</p>
		<div id="levelizedCostReport" class="tightContent">
			<div id="levelizedCostTableDiv" style="display:inline-block; width:1000px; height:150px; overflow-y:hidden; overflow-x:auto;">
				<table id="monthlySummaryTable" style="margin:5px;margin: 5px;width: 990px;font-size: 14pt">
					<style>td, th {padding:7 0 5 20;text-align: left;font-size:0.7em;}</style>
					<div id="tableHead">
						<thead>
							<th></th>
							<th>Jan</th>
							<th>Feb</th>
							<th>Mar</th>
							<th>Apr</th>
							<th>May</th>
							<th>Jun</th>
							<th>Jul</th>
							<th>Aug</th>
							<th>Sep</th>
							<th>Oct</th>
							<th>Nov</th>
							<th>Dec</th>
						</thead>
					</div>
				</table>
				<script>
					insertMetric("monthlySummaryTable","Existing Demand (kW)", allOutputData.monthlyDemand)
					insertMetric("monthlySummaryTable","Demand with Battery (kW)", allOutputData.monthlyDemandRed)
					insertMetric("monthlySummaryTable","Reduction Amount (kW)", allOutputData.ps)
					insertDollarMetric("monthlySummaryTable","Value of Reduction ($)", allOutputData.benefitMonthly)	
				</script>
			</div>
		</div>
		<script type="text/javascript">
			// Global Highcharts settings.
			Highcharts.setOptions({global:{useUTC:true}})
		</script>
		<p class="reportTitle" style="page-break-before:always">Demand Before and After Storage</p>
		<div id="irradianceReport" class="tightContent">
			<div id="demandBattChart"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,
						"tickColor":"#D3D3D3",
						"tickLength":-680,
						"type":"datetime",
						"lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}
					},
					"yAxis":{
						"title":{"text":"Power (W)","style":{"color":"gray"}},
						"minorTickColor":"gray", "minorTickInterval":"auto",
						"plotLines":[{"color": "lightgray",
						"dashStyle": "ShortDash",
						"width": 2,
						"min": 0,
						"label":{"text":"Max Power:" + delimitNumbers(allOutputData.batteryDischargekWMax.toFixed(3)/1000) + "kW", "align":"right","y":-5,"x":-790, "style":{"color":"gray", "fontsize":"12px"}},
						"value": allOutputData.batteryDischargekWMax,"zIndex": 10}],"min":-1},
					"title":{"text":null},
					"series":[
						{"name":"Historical","marker":{"enabled":false},"color":"red","data":allOutputData.demand,"enableMouseTracking":false},
						{"name":"After Storage","marker":{"enabled":false},"color":"purple","data":allOutputData.demandAfterBattery,"enableMouseTracking":false},
						{"name":"Storage Discharge","marker":{"enabled":false},"color":"lightgray","data":allOutputData.batteryDischargekW},
						{"name":"Day-ahead Prediction","marker":{"enabled":false},"color":"orange","data":allOutputData.predictedLoad}],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"demandBattChart","type":"line","marginRight":20, "height":750,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle">Battery State of Charge</p>
		<div id="irradianceReport" class="tightContent">
			<div id="batterySocChart"></div>
			<script>
				var dodFactor = 100 - parseFloat(allInputData.dodFactor)
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,
						"tickColor":"#D3D3D3",
						"tickLength":-205,
						"type":"datetime",
						"lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}
					},
					"yAxis":
						{"title":{"text":"SoC (%)","style":{"color":"gray"}}, "min":0, "max":100,
						"minorTickColor":"gray", "minorTickInterval":5,
						"plotLines":[{"color": "gray",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"Max specified DOD:" + (100 - allInputData.dodFactor) + "%","align":"right","y":-5,"x":-775, "style":{"color":"gray", "fontsize":"12px"}},
						"value": dodFactor,"zIndex": 10}],"min":0},
					"title":{"text":"Cycle Equivalents:" + delimitNumbers(allOutputData.cycleEquivalents.toFixed(1))+ "  Battery Life:" + delimitNumbers(allOutputData.batteryLife.toFixed(1)) + " yrs", "verticalAlign":"bottom", "align":"right", "y":-28-dodFactor*2, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					"series":[
						{"name":"Battery SoC","marker":{"enabled":false},"color":"gray","data":allOutputData.batterySoc}
						],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"batterySocChart","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<!-- TODO: Make into preview graph: http://jsfiddle.net/gh/get/jquery/1.7.2/highslide-software/highcharts.com/tree/master/samples/stock/xaxis/minorticks/	 -->
		<p class="reportTitle" style="page-break-before:always">Cash Flow</p>
		<div id="cashFlowReport" class="tightContent">
			<div id="cashFlowChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":'normal'},"series":{"animation":false,"shadow":false},"spline":{"animation":false,"shadow":false}},
					"xAxis":{"title":{"text":"Year After Installation","style":{"color":"gray"}},"type":"linear","tickColor":"gray","tickInterval":1,"lineColor":"gray","minorTickColor":"gray", "minorTickInterval":5},
					"title":{"text":"NPV:$" + delimitNumbers(allOutputData.NPV.toFixed(0)) + "; SPP:" + allOutputData.SPP.toFixed(3) + ": LCOE: " + allOutputData.LCOE.toFixed(2) +"$/kWh", "verticalAlign":"bottom", "align":"right", "y":-50, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					"series":[{"name":"Net Benefits", "data":allOutputData.netCashflow},
						{"name":"Cumulative Return", "type":"spline", "data":allOutputData.cumulativeCashflow}
					],
					"yAxis":{"title":{"text":"Income ($)","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"cashFlowChartDiv","type":"column","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle" style="page-break-before:always">Forecast Dispatch Accuracy and Effectiveness</p>
		<div id="effectiveness" class="content detailsContainer" style="margin-top:0px">
<pre>Load prediction training accuracy (MAPE):
{{allOutputDataDict['trainAccuracy'] or 'N/A'}}%

Load prediction test accuracy (MAPE):
{{allOutputDataDict['testAccuracy'] or 'N/A'}}%
</pre>
		</div>
		{{ rawOutputFiles }}
		<!-- 
Peak ID precision [True Positive / (True Positive + False Positive)]:
{{allOutputData['precision'] or 'N/A'}}%

Peak ID recall [True Positive / (True Positive + False Negative)]:
{{allOutputData['recall'] or 'N/A'}}%

Number of dispatches:
{{allOutputData['number_of_dispatches'] or 'N/A'}} -->
	</div>
	{% endif %}
</body>
