<head>
	{{ omfHeaders }}
	<!-- Library Imports -->
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
	{% macro insert_file_upload_block(fileName, dataVariableName) -%}
	<input id="{{dataVariableName}}Handler" type="file" style="display:none" onchange="handle_files(this.files,'{{dataVariableName}}','{{fileName}}')">
	<input id="{{dataVariableName}}" name="{{dataVariableName}}" value="{{allInputDataDict[dataVariableName]}}" type="hidden">
	<div>
		<label for="{{dataVariableName}}Handler" class="fileButton">Choose File</label>
		<input id="{{fileName}}" name="{{fileName}}" value="{{allInputDataDict[fileName]}}" readonly class="uploadFileName">    
	</div>
{%- endmacro %}
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-transformerPairing" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required" readonly>
			</div>
			<div class="shortInput ">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			{% if modelStatus == 'finished' %}
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value={{allInputDataDict.runTime}} readonly/>
			</div>
			{% endif %}
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">Meter to Transformer Pairing Algorithm Inputs</p>
			</div>
			<div class="shortInput">
				<label class="tooltip">Voltage AMI - Data Input File <span class="classic">File type: .csv</span></label>
				<div>{{ insert_file_upload_block('voltageInputDataFileName','voltageInputDataFileContent') }}</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Real Power - AMI Data Input File <span class="classic">File type: .csv</span></label>
				<div>{{ insert_file_upload_block('realPowerInputDataFileName','realPowerInputDataFileContent') }}</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Reactive Power - AMI Data Input File <span class="classic">File type: .csv</span></label>
				<div>{{ insert_file_upload_block('reactivePowerInputDataFileName','reactivePowerInputDataFileContent') }}</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Customer IDs - AMI Data Input File <span class="classic">File type: .csv</span></label>
				<div>{{ insert_file_upload_block('customerIDInputDataFileName','customerIDInputDataFileContent') }}</div>
			</div>
			<hr>
			{{ omfModelButtons }}
		</form>
	</div>
	<!--<div id="copyrightNotice" style="width:1000px; margin:-25px auto 10px auto; padding-left:5px; color:gray">PVWatts &copy; was developed by the <a href="http://pvwatts.nrel.gov/">National Renewable Energy Lab</a></div>-->
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<style>td, th {padding:7 0 5 20;text-align: left;font-size:0.8em; border: 1px solid #cccccc;} </style>
	<div id="output">
		<p class="reportTitle">Meter to Transformer Pairing Algorithm Results</p>
		<div id="correlationCoefficient" class="tightContent">
			<img id="correlationCoefficientPNG" style="width:1000px;" src="data:image/png;base64,{{allOutputDataDict.correlationCoefficientPic}}" style="border-radius:8px" />
		</div>
		<p class="reportTitle">Customers Whose Transformer Labels/Groupings Have Changed</p>
		<div id="customersChangedTable" class="tightContent">
			<table style='margin:5px;width:990px'>
				<caption></caption>
				<tr>
				{% for header in allOutputDataDict["customerTableHeadings"] %}
					<th>{{ header }}</th>
					{% endfor %}
				</tr>
				{% for values in allOutputDataDict["customerTableValues"] %}
				<tr>
					{% for val in values %}
					<td>{{ val }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table> 
		</div>
		{% if allOutputDataDict['useTrueLabels'] == True %}
			<p class="reportTitle">Improvement Stats</p>
			<div id="improvementTable" class="tightContent">
				<table style='margin:5px;width:990px'>
					<caption></caption>
					<tr>
					{% for header in allOutputDataDict["improvementTableHeadings"] %}
						<th>{{ header }}</th>
						{% endfor %}
					</tr>
					{% for values in allOutputDataDict["improvementTableValues"] %}
					<tr>
						{% for val in values %}
						<td>{{ val }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table> 
			</div>
		{% endif %}
	</div>
	{% endif %}
</body>
