<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		/*INPUT*/
		table.modelOptions {width:70%; text-align:left; margin-left:auto;}
		/*OUTPUT*/
		pre.stdoutBlock {display:inline-block; width:475px; overflow-x:hidden; padding-left:10px; vertical-align:top; font-size:8pt}
		div.stdouts {overflow-x:auto;white-space: nowrap; margin-top:0px;}
		div.tightContent {width:1000px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:20px; border-style: solid; border-color:gray; border-width:1px 0px 1px 0px; background-color:white;}
		div.tightContent div {margin-top:0px;margin-bottom:0px; border:none;}
		div.tightContent div + div {margin-top:0px; margin-bottom:0px;}
		p.reportTitle {padding:10px; width:1000px; margin:20px auto 0px auto; font-size:16pt;}
		#input {margin-top: 0px;}
		input {border-bottom:thin dotted black;text-align:right;padding-right:5px}
		button {width:auto;}
		#cancelButton {background:crimson;}
		#cancelButton:hover {background:red;}		
		td,th {text-align: right}
		.preRun, .running, .postRun, .stopped {display:none;}
		input[readonly="readonly"], input[readonly], textarea[readonly] {color:gray;}
		.advancedOption {display:none;}
	</style>
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<!-- Global Functions -->
	<script type="text/javascript">
		function init() {
			// If we have input, put it back.
			if (allInputData != null) {
				restoreInputs()
				$("#modelName").prop("readonly", true)
			}
			// Depending on status, show different things.
			if (modelStatus == "finished") {
				console.log("FINISHED")
				$(".postRun").show()
			} else if (modelStatus == "running") {
				console.log("RUNNING")
				$(".running").show()
				$("input").prop("readonly", true)
				$("select").prop("disabled", true)
			} else /* Stopped */ {
				if (allInputData != null) {
					$(".stopped").show()
				} else {
					console.log("PRERUN")
					$(".preRun").show()
				}
			}
		}
		function restoreInputs() {
			// Restore all the input values that were used and stored in allInputData.json.
			gebi("titleText").innerHTML = allInputData.modelName
			for (index in allInputData) {
				try {document.querySelector("#" + index).value = allInputData[index]}
				catch(err){}
			}
		}
		function validateForm() {
			// Make sure each field matches its validation regex.
			allFields = $("input")
			returnVal = true
			for (i=0; i < allFields.length; i++) {
				allFields[i].style["border-color"] = "white"
				currVal = allFields[i].value + ""
				regex = allFields[i].getAttribute("data-validRegex")
				if (regex != null && currVal.match(regex) != currVal) {
					allFields[i].style["border-color"] = "crimson"
					returnVal = false
				}
			}
			if (returnVal == false) {alert("Form values bordered in red don't match the required format.")}
			return returnVal
		}
		function deleteModel() {
			if (confirm("Deleting this model cannot be undone. Continue?")){
				post_to_url("/delete/Model/"+allInputData.user+"/"+allInputData.modelName, {}, "POST")
			} else {
				return false
			}
		}
		function publishModel() {
			newName = prompt("Publish a copy with name", allInputData.modelName)
			if (newName) {
				$.ajax({url:"/uniqObjName/Model/public/" + newName}).done(function(data) {
					if (data.exists) {
						alert("There is already a public Model named " + newName)
						publishModel()
					} else {
						post_to_url("/publishModel/" + allInputData.user + "/" + allInputData.modelName+"/", {"newName":newName})
					}
				})
			}
		}
		function duplicateModel() {
			newName = prompt("Create a duplicate with name", allInputData.modelName)
			if (newName) {
				$.ajax({url:"/uniqObjName/Model/" + allInputData.user + "/" + newName}).done(function(data) {
					if (data.exists) {
						alert("There is already a model named " + newName)
						duplicateModel()
					} else {
						post_to_url("/duplicateModel/" + allInputData.user + "/" + allInputData.modelName+"/", {"newName":newName})
					}
				})
			}
		}
	</script>
</head>
<body onload="init()">
	<div id="title">
		<div id="logoBox"><a href="/">&#10059;</a></div>
		<p id="titleText">New Voltage Drop Model</p>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post" onsubmit="return validateForm()">
			<table class="modelOptions">
				<tr>
					<td>Model Type</td>
					<td><input type="text" id="modelType" name="modelType" value="voltageDrop" readonly/></td>
				</tr>
				<tr>
					<td>Model Name</td>
					<td><input type="text" id="modelName" name="modelName" data-validRegex="[\w\s]+"/></td>
				</tr>
				<tr class="running postRun">
					<td>User</td>
					<td><input type="text" id="user" name="user" readonly/></td>
				</tr>
				<tr class="running postRun">
					<td>Created</td>
					<td><input type="text" id="created" name="created" readonly/></td>
				</tr>
				<tr class="postRun">
					<td>Run Time</td>
					<td><input type="text" id="runTime" name="runTime" readonly/></td>
				</tr>
				<tr>
					<td>Feeder</td>
					<td>
						<select id="feederName" name="feederName"/>
							<option disabled><strong>Personal Feeders</strong></option>
							{% for feeder in datastoreNames['feeders'] %}
								<option value="{{ datastoreNames['currentUser'].username + '___' + feeder }}">{{ feeder }}</option>
							{% endfor %}
							<option disabled><strong>Public Feeders</strong></option>
							{% for pFeeder in datastoreNames['publicFeeders'] %}
								<option value="{{ 'public___' + pFeeder }}">{{ pFeeder }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button id="deleteButton" type="button" class="stopped postRun" onclick="deleteModel()">Delete</button>
						<button id="publishButton" type="button" class="postRun" onclick="publishModel()">Publish</button>
						<button id="duplicateButton" type="button" class="postRun" onclick="duplicateModel()">Duplicate</button>
						<button id="cancelButton" class="running" type="button" onclick="cancelModel()">Cancel Run</button>
						<button id="runButton" type="submit" class="preRun">Run Model</button>
						<button id="rerunButton" type="submit" class="stopped postRun">Re-Run Model</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results.
	</div>
	<div id ="stopIndicator" class="content stopped">
		Model cancelled or encountered an error. Please change inputs and re-run.
	</div>
	<div id="output">
		<p class="reportTitle postRun">Voltage Drop Diagram</p>
		<div id="voltageDropDiagram" class="tightContent postRun">
			<img id="voltageDropChart" style="width:1000px;height:1000px;" />
			<script type="text/javascript">gebi("voltageDropChart").src = "data:image/png;base64," + allOutputData.voltageDrop</script>
		</div>
	</div>
</body>