<!-- TODO: 
	1. Replace feeder references to network editor. 
	2. Find fathalla model. Add output section with dropdown similar to summer model in 2016 made by him.
	3. Add table.
	4. Add references to right output variables from transmission.py.
	5. Update regular expressions.
-->

<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles go here.*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<!-- Global Functions -->
	<script type="text/javascript">
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}
	</script>	
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-transmission" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="transmission" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="shortInput">
				<label class="tooltip">Feeder<span class="classic">A link to the transmission editor, which offers features such as interactive component editing, search, creation, MATPOWER (.mat) file import, and more.</span></label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
			</div>			
			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Algorithm<span class="classic">The MATPOWER powerflow solver method. Can be set to NR (Newton Raphson), FDXB (Fast-Decoupled XB Version), FDBX (Fast-Decoupled BX Version) or GS (Gauss Seidel). These are the solution algorithms supported by MATPOWER.</span></label>
				<select id="algorithm" name="algorithm">
					<option value="NR" selected="selected">NR</option>
					<option value="FDXB">FDXB</option>
					<option value="FDBX">FDBX</option>
					<option value="GS">GS</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Model<span class="classic">The powerflow formulation, set to AC or DC.</span></label>
				<select id="model" name="model">
					<option value="NR" selected="selected">Newton Raphson</option>
					<option value="AC">AC</option>
					<option value="DC">DC</option>
				</select>
			</div>					
			<div class="shorterInput">
				<label class="tooltip">Tolerance<span class="classic">The termination tolerance for powerflow, in units P and Q dispatch per unit.</span></label>
				<input type="text" id="tolerance" name="tolerance" value="1000" required="required" pattern="^(\d{2,}|[1-9])(\.\d+)?$">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Iteration<span class="classic">The maximum number of iterations for the NR, FDXB, FDBX or GS solver method.</span></label>
				<input type="text" id="iteration" name="iteration" value="1000" required="required" pattern="^(\d{2,}|[1-9])(\.\d+)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Generation Limit<span class="classic">Whether or not to set power limits on the generators in the system. 0 denotes “do not enforce”, 1 denotes “enforce with simultaneous bus type conversion” and 2 denotes “enforce with one-at-a-time bus type conversion”.</span></label>
				<select id="model" name="model">
					<option value="0" selected="selected">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>
			</div>						
			<!-- Required Buttons -->
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<!-- Output tables, graphs, etc. -->
	<div id="output">
		<!-- Network Voltage, Powerflow, etc. -->
		<!-- Table -->
		<p class="reportTitle postRun">Transmission Output</p>
		<div id="anamoliesreport" class="tightContent postRun" style="max-height:300px;overflow-y:auto;margin-bottom:5px;">
			<style>
				table{width:980px; font-size:16; padding:5px;}
				td {padding:2px;}
			</style>
			<table id="anamoliesTable">
				<thead>
					<th>Meter ID #</th>
					<th>Voltage Per Unit</th>
				</thead>
			</table>
			<script>
				function insertMetric(tableId, name, vector, type) {
					// Add a vector to a table as a row.
					table = gebi(tableId)
					newRow = table.insertRow()
					newRow.insertCell().innerHTML = name
					for (i=0; i<vector.length; i++) {
						if (vector[i] == -1) {
							cell = newRow.insertCell()
							cell.innerHTML = "None"
						}
						else{
							cell = newRow.insertCell()
							if (type=='numbers'){cell.innerHTML = delimitNumbers(vector[i].toFixed(2))}
							else {cell.innerHTML = vector[i]}
						}
					}
				}
				for (row = 0; row < allOutputData.outputDeviateds.length; row++) {
					var meterID = allOutputData['outputDeviateds'][row][0];
					insertMetric("anamoliesTable", allOutputData['outputDeviateds'][row][0], [[1,2,3,4]],[1,2,3,4],[1,2,3,4]],'string')
				}
			</script>
		</div>
		<!-- Chart version -->
<!-- 		<p class="reportTitle postRun">Transmission Model Output</p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="meterIDSelector" style="width:100px;display:inline-block;">
				<select onchange="makeMeterChart();" name="meter" id="meter" style="width:100px;font-size:10pt;">			
					<script type="text/javascript">
						for (var i=0; i < meterIDS.length; i++){$('#meter').append("<option style='font-size:10pt;'>"+meterIDS[i]+"</option>")}
					</script>
				</select>
			</div>
			<div id="meterChart"></div>
			<script type="text/javascript">
				makeMeterChart(allOutputData.anomalyMeters[0]);
				function makeMeterChart(){
					// Get data from output.
					// Render chart and table here.
					document.getElementById("meterChart").scrollIntoView()
				}
			</script>
		</div> -->
	</div>
</body>