appnope==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
certifi==2018.4.16
chardet==3.0.4
CVXcanon==0.1.1
cvxpy==0.4.11
cycler==0.10.0
decorator==4.2.1
dill==0.2.7.1
ecos==2.0.5
enum34==1.1.6
fastcache==1.0.2
futures==3.2.0
idna==2.6
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
jupyter-client==5.2.2
jupyter-core==4.4.0
matplotlib==2.1.2
multiprocess==0.70.5
numpy==1.14.1
pandas==0.22.0
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pvlib==0.5.1
Pygments==2.7.4
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
pyzmq==17.0.0
requests==2.18.4
scandir==1.7
scipy==1.0.0
scs==2.0.2
seaborn==0.8.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
toolz==0.9.0
tornado==5.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
