* {margin:0px; padding:0px; border:0px;}

body {
	font-family:Helvetica,Arial,sans-serif;
	background:gainsboro;
	padding:0px;
	margin:0px;
	min-width:600px; }

div#logoBox {float:left;}

div#logoBox a, a:visited {color:white;}

div#title {	
	overflow:hidden;
	padding: 10px;
	text-align:center;
	font-size: 34pt;
	line-height: 34pt;
	text-shadow: 0px 3px 3px #4d4d4d;
	color:white;
	height: 45px;
	border-width: 0px 0px 1px 0px;
	border-color:black;
	border-style:solid;
	background-color:black; /* for browsers that can't do gradients */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#101010 '); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#101010)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #404040,  #101010); /* for firefox 3.6+ */ }

div.content {
	background: white;
	border-width: 1px 0px 1px 0px;
	border-color:gray;
	border-style:solid;
	padding:10px;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px; }

a {text-decoration:none; color:#33CC66;}

a:visited {color:#339966;}

form {line-height:10pt; padding: 0px; margin: 0px;}

select, input[type='text'], button {width:100%; background:gainsboro; padding:4px; margin:2px; border-width:1px; border-color:white; border-style:solid;}

button {
	background:#339966;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	color: white; }

button:hover {background:#33CC66;}

td, th {padding:3px;}

table {border-spacing:0px;}

/* DROPDOWN BUTTON CODE */

div.buttonGroup { display: inline-block; position:relative; }

button.pill {
	margin: 0px;
	padding:4px 8px 4px 8px; 
	background-color:#E0E0E0;
	display:inline-block;
	border: 1px;
	border-color:gray;
	border-style:solid;
	white-space: nowrap;
	color:black; }

ul.menu {
	position:absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 100px;
	padding: 5px 0px 5px 0px;
	margin: 1px 0 0;
	list-style: none;
	display: none;
	text-align:left;
	background-color: white;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box; }

ul.menu.right {
	right: 0;
	left:auto;
}

ul.menu li {padding:4px;}

ul.menu li:hover {background:green;}
