<tr class="{{ feed['name'].replace('_', '__').replace(' ', '_') }}">
  <td>{{ feed['owner'] }}</td>
  <td>
    <a name="{{ feed['name'] }}" href='/feeder/{{ feed['name'] }}{{ feed["url"] }}'>

      {#<span class="owner">{{ feed[:feed.find("_")] }}: </span>#}

      <span class="feederName">{{ feed['name'] }}</span>
      
    </a>
  </td>
  <td>Ready</td>
  <td>
    {% if "false" in feed["url"] or is_admin %}
    <div class="buttonGroup">
      <button class='pill' onclick='dropPill(this, "Action")'>Action ▾</button>
      <ul class='menu right'>
	<li><a href="javascript:delete_feeder('{% if key == "Public" %}public_{% endif %}{{ feed['name'] }}')">Delete</a></li>
	{% if "false" in feed["url"] %}
	<li><a class="makePublic" objectType="Feeder" objectName="{{ feed['name'] }}" href="/makePublic/Feeder/{{ feed['name'] }}">Publish</a></li>
	{% endif %}
      </ul>
    </div>
    {% else %}
  </td>
  {% endif %}
</tr>

{#
{% for feed in value["conversions"] %}
<tr>
  {% if is_admin %}
  <td><strong>{{ feed.split("_")[0] }}: </strong>{{ "_".join(feed.split("_")[1:]) }}</td>
  {% else %}
  <td>{{ feed }}</td>
  {% endif %}
  <td class='running'>Processing</td>
  <td></td>
</tr>
#}