<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Open Modeling Framework</title>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/omf.css'/>
  <link rel='shortcut icon' href='{{ url_for("static", filename="favicon.ico") }}'>
  <script src='../static/omf.js'></script>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <style>
  </style>
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>

<body>
  <div id='title'>
    <div id='logoBox'><a href='/'>▦</a></div>
    <!--Title:-->Grid Editor
  </div>
  
  <div class='content'>
  <div class="container">
    <div class="row" id="row1">
      <div class="span2">
        <!--TODO: PUT THIS BACK IN WHEN IT WORKS <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="/static/#">
            <span class="icon-wrench"></span>
          </a>
          <ul class="dropdown-menu">
            <a href="Javascript: accept();">Accept</a>
            <a href="Javascript: revert();">Revert</a>
            <a href="Javascript: saveAs();">Save as...</a>
          </ul>
        </div>-->
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="/static/#">
            Add new object
            <span class="caret"></span>
          </a>
          <ul id="object-types" class="dropdown-menu">
            <!-- populated dynamically -->
          </ul>
        </div>
      </div> <!-- column 1 -->
    </div> <!-- row1 -->
    <div class="row" id="row2">
      <div class="span2">
        <div class="row spacer" id="row2a">
          <table id="selected" class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th colspan="2">Selected Component</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div> <!-- row2a -->
        <div class="row spacer" id="row2b">
        </div> <!-- row2b -->
      </div> <!-- column1 -->
      <div class="span10">
        <div id="progress" class="progress progress-striped active progress-success">
          <div id="progress_bar" class="bar" style="width: 0%;"></div>
        </div>
        <div id="modal_insert"></div>
        <div style="display: none;" id="chart"></div>
      </div>
    </div>
  </div>
</div> <!--Container-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/libs/d3.v2.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="/static/libs/bootstrap/bootstrap.min.js"></script>
<script src="/static/libs/bootstrap/tooltip.js"></script>
<script src="/static/libs/bootstrap/popover.js"></script>
<script>var model_id = "{{model_id}}";</script>
<script src="/static/script.js"></script>
</body>
</html>
