<head>
  <title>Open Modeling Framework</title>
  <meta charset='utf-8'>
  <meta name='Description' content='The Open Modeling Framework for smart grid cost-benefit analysis.'>
  <link rel='stylesheet' href='/static/omf.css'/>
  <script type='text/javascript' src='/static/omf.js'></script>
  <script type='text/javascript' src='/static/jquery-1.9.1.js'></script>
  <link rel='shortcut icon' href='/static/favicon.ico'>
  <style>
    div#feeders {display:none;}
    h2{text-align:center;}
    table#anaTable {width:100%; text-align:left;}
    table#anaTable tr td:last-child {text-align:right;}
    table#anaTable tr th:last-child {text-align:right;}
    div#toolbar {padding: 0px; height:40px; line-height:40px;} /*over-riding some toolbar defaults so tabs look good.*/
    p.tab {width:90px;height:100%;display:inline-block; color:#303030; cursor:pointer; user-select:none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
    p.tabSelected {background:gray; color:white;}
    td.running {color:red;}
    td.preRun {color:orange;}
    td.postRun {color:black;}
    td.terminated {color:purple;}
    td {border-bottom:1px dashed gray;}
    tr:last-child td {border-bottom:none;}
    table.importOptions {width:70%; text-align:left; margin-left:auto;}
    table.importOptions tr td:first-child {width:40%;}
    table.importOptions td {border-bottom: none}
    input[type='submit'] {width:auto; padding:4px 6px 4px; float:right;}
    a#consoleLink {width:20px; height:20px; position:absolute; top:0; right:0; background-color:dimgray; border-bottom-left-radius:5px; color: #303030; text-align:center;}
    .owner{
	font-weight:bold;
    }
  </style>
  <script>
    $(function(){
	localStorage.clear();
	$(document).on("click", ".run, .reRun", function(e){
	    e.preventDefault();
	    return false;
	}).on("click", ".makePublic", function(e){
	    var objectName = $(this).attr("objectName");
	    var objectType = $(this).attr("objectType");
	    var url = $(this).attr;
	    console.log(objectName+" "+objectType);
	    $.ajax({
		url:"publicObject/"+objectType+"/"+objectName,
		async:false
	    }).done(function(data){
		if (data == "Nope"){
		    alert("There is already a public "+objectType+" with that name!");
		    e.preventDefault();
		    return false;
		}
		if(confirm("When a feeder or analysis is published, all users can view it and it cannot be altered or un-published.  Do you want to continue?")){
		    $.ajax({
			url:"/makePublic/"+objectType+"/"+objectName,
			data:{
			    _csrf_token:"{{ csrf_token() }}"
			},
			method:"post"
		    })
		}
		e.preventDefault();
		return false;
		    
	    })

	});
	var metadatas = pull_html_data();
	var i;
	for(i=0; i<metadatas.length; i++){
	    startPolling(metadatas[i]);
	}
    });

    function run_analysis(url, analysisName){
	console.log(url);
	console.log(analysisName);
	$.ajax({
	    type:"post",
	    url:url,
	    data:{analysisName:analysisName,
		  "_csrf_token":"{{ csrf_token() }}"
		 }

	}).done(function(data){
	    console.log("sent the request!");
	    var p = url.indexOf("true") > -1 ? ".Public" : ".Private";
	    replace_row(p, analysisName)
	    startPolling({"name":analysisName, "public":""+(url.indexOf("true") > -1)});
	    return false;
	});
	return false;
    }

    function replace_row(p, analysisName){
	var my_tr = $.makeArray($(p+" tr")).filter(function(tr){return $(tr).attr("class") == "analysis "+analysisName.replace(/_/g, '__').replace(/ /g, '_')})[0];
	$(my_tr).html($("<div>").html(data)[0].getElementsByTagName("tr")[0].innerHTML);
    }

    function startPolling(md){
	// console.log(md)
    	var i = setInterval(function(){
    	    $.ajax({
    		url:"/runStatus",
    		data:{name:md.name,
    		      is_public:md["public"]
    		     }
    	    }).done(function(data){
    		if (data != "waiting"){
		    var p = md["public"] == "true" ? ".Public" : ".Private";
    		    // $(p+" ."+md.name.replace(/_/g, '__').replace(/ /g, '_')).html($(data).html());
		    repalce_row(p, md.name)
    		    clearInterval(i);
    		}
    	    });
    	}, 5000);
    }

    function pull_html_data(){ 
	var metadatas = [];
	for(i=0; i<$(".analysis").length; i++){
	    var attr_names = ["name", "sourceFeeder", "climate", "runTime", "status", "public"];
	    var md={};
	    for(j=0; j<attr_names.length; j++){
		md[attr_names[j]] = $($(".analysis")[i]).children("."+attr_names[j]).html();
	    }
	    if (md.status == "running"){
		console.log(md);
		metadatas.push(md);
	    }
	}
	return metadatas;
    }
    window.onload = function() {if (window.location.hash=='#feeders') {gebi('feedersTab').click()}}

    function feedersClick() {
	window.location.hash = 'feeders'
	gebi('analyses').style.display = 'none'
	gebi('feeders').style.display = 'inline'
	gebi('analysesTab').className = 'tab'
	gebi('feedersTab').className = 'tab tabSelected'
    }

    function analysesClick() {
	window.location.hash = ''
	gebi('analyses').style.display = 'inline'
	gebi('feeders').style.display = 'none'
	gebi('analysesTab').className = 'tab tabSelected'
	gebi('feedersTab').className = 'tab'
    }

    function makePublic(name){
	
    }

    function delete_feeder(feederName) {
		post_to_url('deleteFeeder/', {'feedername':feederName, '_csrf_token':'{{ csrf_token() }}'})
	}

  </script>
</head>
<body>
  <a id='consoleLink' href='/console'>C</a>
  <div id='title'>
    <div id='logoBox'><a href='/'>▦</a></div>
    <!--Title:-->Open Modeling Framework
  </div>
  <div id='toolbar'>
    
    <p id='analysesTab' class='tab tabSelected' onclick='analysesClick()'>Analyses</p>
    <p id='feedersTab' class='tab' style='' onclick='feedersClick()'>Feeders</p>
  </div>
  <div id='analyses'>
    <div class='content'>
      <table id='anaTable'>
	{% for key, value in d.items() %}
	<tbody class="{{ key }}">
	  <tr>
	    <th style="text-align:center" colspan="6">{{ key }} Analyses</th>
	  </tr>
	  <tr><th>Analysis</th><th>Feeder</th><th>Climate</th><th>Runtime (H:M:S)</th><th>Status</th><th></th></tr>
	  {% for md in value["metadatas"] %}
	  {% if (md["name"].strip() == "" or (key == "Private" and md["name"].startswith("public_"))) and is_admin %}
	  {% else %}
	  {% include 'metadata.html' %}
	  {% endif %}
	  {% endfor %}
	</tbody>
	{% endfor %}
      </table>
    </div>

<div class='content'><a href='/newAnalysis/'>New Analysis</a></div>
</div>

<div id='feeders'>
  <div class='content'>
    <table id='anaTable'>
      {% for key, value in d.items() %}
      <tbody class="{{ key }}">
	<tr>
	    <th style="text-align:center" colspan="3">{{ key }} Feeders</th>
	</tr>
	<tr>
	    <th>Feeder Name</th>
	    <th>Status</th>
	    <th></th>
	</tr>
	  {% for feed in value["feeders"] %}
	{% if (is_admin and (key == "Private" and feed[:feed.find("_")] != "public")) or key == "Public" or not is_admin %}
	  <tr class="{{ feed.replace('_', '__').replace(' ', '_') }}">
	    <td>
	      <a name="{{ feed }}" href='/feeder/{{ feed }}{{ value["url"] }}'>
		{% if is_admin and key == "Private" %}

		<span class="owner">{{ feed[:feed.find("_")] }}: </span>
		<span class="feederName">{{ feed[feed.find("_")+1:] }}</span>
		
		{% else %}
		{{ feed }}
		{% endif %}
	      </a>
	    </td>
	    <td>Ready</td>
	    <td>
	      {% if "false" in value["url"] or is_admin %}
	      <div class="buttonGroup">
		<button class='pill' onclick='dropPill(this, "Action")'>Action ▾</button>
		<ul class='menu right'>
			<li><a href="javascript:delete_feeder('{% if key == "Public" %}public_{% endif %}{{ feed }}')">Delete</a></li>
			{% if "false" in value["url"] %}
				<li><a class="makePublic" objectType="Feeder" objectName="{{ feed }}" href="/makePublic/Feeder/{{ feed }}">Publish</a></li>
			{% endif %}
		</ul>
	      </div>
	      {% else %}
	    </td>
	    {% endif %}
	  </tr>
	  {% endif %}
	  {% endfor %}
	  {% for feed in value["conversions"] %}
	  <tr>
	    {% if is_admin %}
	    <td><strong>{{ feed.split("_")[0] }}: </strong>{{ "_".join(feed.split("_")[1:]) }}</td>
	    {% else %}
	    <td>{{ feed }}</td>
	    {% endif %}
	    <td class='running'>Processing</td>
	    <td></td>
	  </tr>
	  {% endfor %}
      </tbody>
      {% endfor %}
    </table>
  </div>
  <div class='content'>
    <form action='/milsoftImport/' enctype='multipart/form-data' method='post'>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
      <p style='font-weight:bold;float:left'>Milsoft Feeder Import</p>
      <table class='importOptions'>
	<tr>
	  <td>Feeder Name</td>
	  <td><input type='text' name='feederName'/></td>
	</tr>
	<tr>
	  <td>Feeder Data File (.std)</td>
	  <td><input type='file' name='stdFile' accept = '.std'/></td>
	</tr>
	<tr>
	  <td>Equipment Database File (.seq)</td>
	  <td><input type='file' name='seqFile' accept = '.seq'/></td>
	</tr>
	<tr>
	  <td></td>
	  <td><input type='submit' value='Begin Import'/></td>
	</tr>
      </table>
    </form>
  </div>
</div>
<a href="logout">Log Out</a><br />
<a href="myaccount">My Account</a><br>
{% if is_admin %}
<a href="adminControls">Admin Controls</a>
{% endif %}
</body>
