<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Open Modeling Framework</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name='Description' content='The Open Modeling Framework for smart grid cost-benefit analysis.'>
	<link rel='shortcut icon' href='/static/favicon.ico' />
	<!-- Bootstrap -->
	<link href="/static/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<script type='text/javascript' src='/static/omf.js'></script>
	<script type='text/javascript' src='/static/jquery-1.9.1.js'></script>
	<script type='text/javascript' src='/static/underscore.js'></script>
	<script type='text/javascript' src='/static/pagination.js'></script>
	<script><!-- for underscore templating -->
	  {% if is_admin %}
	  var is_admin = true
	  {% else %}
	  var is_admin = false
	  {% endif %}
	</script>
	{% include "jsmetadata.html" %}
	{% include "jsfeeder.html" %}
	<script type='text/javascript' src='/static/tablesort.js'></script>
	<script>
	$(function(){
		localStorage.clear();
		$(document).on("click", ".run, .reRun", function(e){
			e.preventDefault();
			return false;
		}).on("click", ".makePublic", function(e){
			var objectName = $(this).attr("objectName");
			var objectType = $(this).attr("objectType");
			var url = $(this).attr;
			console.log(objectName+" "+objectType);
			$.ajax({
				url:"publicObject/"+objectType+"/"+objectName,
				async:false
			}).done(function(data){
				if (data == "Nope"){
					alert("There is already a public "+objectType+" with that name!");
					e.preventDefault();
					return false;
				}
				if(confirm("When a feeder or model is published, all users can view it and it cannot be altered or un-published.  Do you want to continue?")){
					$.ajax({
						url:"/makePublic/"+objectType+"/"+objectName,
						data:{
							_csrf_token:"{{ csrf_token() }}"
						},
						method:"post"
					})
				}
				e.preventDefault();
				return false;

			})

		});

		run_statuses();
	});

	var all_intervals = {};

	function run_statuses(){
		var metadatas = pull_html_data();
		var i;
		for(i=0; i<metadatas.length; i++){
			startPolling(metadatas[i]);
		}
	}

	function run_analysis(url, analysisName){
		console.log(url);
		console.log(analysisName);
		$.ajax({
			type:"post",
			url:url,
			data:{analysisName:analysisName,
				"_csrf_token":"{{ csrf_token() }}"
			}

		}).done(function(data){
			console.log("sent the request!");
			var p = url.indexOf("true") > -1 ? ".Public" : ".Private";
			replace_row(p, analysisName, data)
			startPolling({"name":analysisName, "public":""+(url.indexOf("true") > -1)});
			return false;
		});
		return false;
	}

	function replace_row(p, analysisName, data){
		var my_tr = $.makeArray($(p+" tr")).filter(function(tr){return $(tr).attr("class") == "analysis "+analysisName.replace(/_/g, '__').replace(/ /g, '_')})[0];
		$(my_tr).html($("<div>").html(data)[0].getElementsByTagName("tr")[0].innerHTML);
	}

	function startPolling(md){
		// console.log(md)
		var i = setInterval(function(){
			$.ajax({
				url:"/runStatus",
				data:{name:md.name,
					is_public:md["public"]
				}
			}).done(function(data){
				if (data != "waiting"){
					var p = md["public"] == "true" ? ".Public" : ".Private";
					repalce_row(p, md.name)
					clearInterval(i);
				}
			});
		}, 5000);
		all_intervals[Object.keys(all_intervals).length] = i;
	}

	function pull_html_data(){ 
		var metadatas = [];
		for(i=0; i<$(".analysis").length; i++){
			var attr_names = ["name", "sourceFeeder", "climate", "runTime", "status", "public"];
			var md={};
			for(j=0; j<attr_names.length; j++){
				md[attr_names[j]] = $($(".analysis")[i]).children("."+attr_names[j]).html();
			}
			if (md.status == "running"){
				console.log(md);
				metadatas.push(md);
			}
		}
		return metadatas;
	}
	window.onload = function() {if (window.location.hash=='#feeders') {gebi('feedersTab').click()}}

	function feedersClick() {
		window.location.hash = 'feeders'
		gebi('analyses').style.display = 'none'
		gebi('feeders').style.display = 'inline'
		gebi('analysesTab').className = 'tab'
		gebi('feedersTab').className = 'tab tabSelected'
	}

	function analysesClick() {
		window.location.hash = ''
		gebi('analyses').style.display = 'inline'
		gebi('feeders').style.display = 'none'
		gebi('analysesTab').className = 'tab tabSelected'
		gebi('feedersTab').className = 'tab'
	}

	function makePublic(name){
		
	}

	function delete_feeder(feederName) {
		post_to_url('deleteFeeder/', {'feedername':feederName, '_csrf_token':'{{ csrf_token() }}'})
	}
</script>
</head>
<body>
	<div id='title'>
		<div id='logoBox'><a href='/'>&#10059;</a></div>
		<!--Title:-->Open Modeling Framework
	</div>
	<div id="account_links">
		<div><a href="logout">Log Out</a></div>
		<div><a href="myaccount">My Account</a></div>
		{% if is_admin %}
		<div><a href="adminControls">Admin Controls</a></div>
		{% endif %}
	</div>
	<div id='toolbar'>
		<p id='analysesTab' class='tab tabSelected' onclick='analysesClick()'>Models</p>
		<p id='feedersTab' class='tab' style='' onclick='feedersClick()'>Feeders</p>
	</div>
	<div id="placeholder"></div>
	<div id='analyses'>
		<div class='content'>
			<table id='anaTable'>
				<thead>
					<tr>
						<th class="mowner">Owner</th>
						<th id="mname" title="Sort by Model Name">Model Name</th>
						<th>Feeder</th>
						<th>Climate</th>
						<th>Runtime (H:M:S)</th>
						<th id="mdate" title="Sort by Date Created">Date Created</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="Analyses">
				</tbody>
			</table>
		</div>
		<div class="content">
			New model of type 
			<select id="modelName">
				{% for name in modelNames %}
				<option value="{{ name }}">{{ name }}</option>
				{% endfor %}
			</select>
			<button id="createModel" onclick="location.href = '/newModel/'+gebi('modelName').value">Create Model</button>
		</div>
	</div>
	<div id='feeders'>
		<div class='content'>
			<table id='anaTable'>
				<thead>
					<tr>
						<th class="fowner">Owner</th>
						<th id="fname" title="Sort by Feeder Name">Feeder Name</th>
						<th>Status</th>
						<th id="fdate" title="Sort by Date Created">Date Created</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="Feeders">
				</tbody>
			</table>
		</div>
		<div class='content'>
			<form action='/milsoftImport/' enctype='multipart/form-data' method='post'>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
				<p style='font-weight:bold;float:left'>Milsoft Feeder Import</p>
				<table class='importOptions'>
					<tr>
						<td>Feeder Name</td>
						<td><input type='text' name='feederName'/></td>
					</tr>
					<tr>
						<td>Feeder Data File (.std)</td>
						<td><input type='file' name='stdFile' accept = '.std'/></td>
					</tr>
					<tr>
						<td>Equipment Database File (.seq)</td>
						<td><input type='file' name='seqFile' accept = '.seq'/></td>
					</tr>
					<tr>
						<td></td>
						<td><input type='submit' value='Begin Import'/></td>
					</tr>
				</table>
			</form>
		</div>
		<div class='content'>
			<form action='/gridlabdImport/' enctype='multipart/form-data' method='post'>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
				<p style='font-weight:bold;float:left'>GridLAB-D Feeder Import</p>
				<table class='importOptions'>
					<tr>
						<td>Feeder Name</td>
						<td><input type='text' name='feederName'/></td>
					</tr>
					<tr>
						<td>Feeder Data File (.glm)</td>
						<td><input type='file' name='glmFile' accept = '.glm'/></td>
					</tr>
					<tr>
						<td></td>
						<td><input type='submit' value='Begin Import'/></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
<img src="/static/spinner.gif" id="spinner" />
</body>
