<script type="text/template" id="feedertemplate">
  <tr class="<%= feed['name'].replace(/_/g, '__').replace(/ /g, '_') %>">
    <td><%= feed['owner'] %></td>
    <td>
      <a name="<%= feed['name'] %>" href='/feeder/<%= feed.owner %>/<%= feed['name'] %><%=  %>'>


        <span class="feederName"><%= feed['name'] %></span>
        
      </a>
    </td>
    <td><%= feed.status %></td>
    <td><%= feed.formattedctime %></td>
    <td>
      <% if (feed.owner == "public" || is_admin){ %>
      <div class="buttonGroup">
        <button class='pill' onclick='dropPill(this, "Action")'>Action ▾</button>
        <ul class='menu right'>
	      <li><a href="javascript:delete_feeder('<% if (feed.owner == "public"){ %>public_<% } %><%= feed['name'] %>">Delete</a></li>
	      <% if (feed.owner == "public" > -1){ %>
	      <li><a class="makePublic" objectType="Feeder" objectName="<%= feed['name'] %>" href="/makePublic/Feeder/<%= feed['name'] %>">Publish</a></li>
	      <% } %>
        </ul>
      </div>
    </td>
    <% } %>
  </tr>

</script>
