<script type="text/template" id="jsmetadata">
<tr class="analysis <%= md['modelName'].replace(/_/g, '__').replace(/ /g, '_') %>">
  <td class="public" style="display:none;"><% if (md["url"].indexOf("true") > -1){ %>true<% } else{ %>false<% } %></td>
  <td style="display:none"><a name="<%= md['name'] %>"></a></td>
  <td class="owner"><%= md['owner'] %></td>
  <td class="name"><a href="/model/<%= md.owner %>/<%= md.modelName %>"><%= md["modelName"] %></a></td>
  <td class="sourceFeeder"><%= md['feederName'] %></td>
  <td class="climate"><%= md['climateName'] %></td>
  <td class="runTime"><%= md['runTime'] %></td>
  <td class="formattedctime"><%= md.formattedctime %></td>
  <td>
    <div class='buttonGroup'>
      <button class='pill' onclick='dropPill(this, "Action")'>Action ▾</button>
      <ul class='menu right'>

	
    <% if (["postRun", "ERROR"].indexOf(md.status) > -1){ %>
    <li><a href='/viewReports/<%= md["name"] %><%= md["url"] %>'>View Reports</a></li>
    <% } %>
    
	<li><a href='/newAnalysis/<%= md["name"] %><%= md["url"] %>'>Duplicate</a></li>


    <% if(md.url.indexOf("false") > -1 || is_admin) { %>
	
	<% if (md['status'] == 'preRun'){ %>
	<li><a class="run" href='#' onclick='var dict={_csrf_token:"{{ csrf_token() }}"};dict.analysisName="<%= md['name'] %>";run_analysis("/run/<%= md['url'] %>", "<%= md['name'] %>")'>Run</a></li>
	<% } %>

	<% if (["postRun", "terminated", "ERROR"].indexOf(md["status"]) > -1){ %>
	<li><a class="reRun" href='#' onclick='var dict={_csrf_token:"{{ csrf_token() }}"};dict.analysisName="<%= md['name'] %>";run_analysis("/reRun/<%= md['url'] %>","<%= md['name'] %>")'>Re-Run</a></li>
	<% } %>

	<% if (md['status'] != 'running'){ %>
	<li><a href='#' onclick='var dict={_csrf_token:"{{ csrf_token() }}"};dict.analysisName="<%= md['name'] %>";post_to_url("/delete/<%= md['url'] %>",dict)'>Delete</a></li>
	<% } %>

	<% if (md['status'] == 'running'){ %>
	<li><a href='#' onclick='var dict={_csrf_token:"{{ csrf_token() }}"};dict.analysisName="<%= md['name'] %>";post_to_url("/terminate/<%= md['url'] %>",dict)'>Terminate</a></li>
	<% } %>
	
    <% if (md.url.indexOf("false") > -1){ %>
	<li><a class="makePublic" objectType="Analysis" objectName="<%= md['name'] %>" href="/makePublic/Analysis/<%= md['name'] %>">Publish</a></li>
	<% } %>

    <% } %>
      </ul>
    </div>
  </td>
</tr>
</script>
