<tr class="analysis {{ md['name'].replace('_', '__').replace(' ', '_') }}">
  <td class="public" style="display:none;">{% if "true" in value["url"] %}true{% else %}false{% endif %}</td>
  <td style="display:none"><a name="{{ md['name'] }}"></a></td>
  <td class="name">{{ md['name'] }}</td>
  <td class="sourceFeeder">{{ md['sourceFeeder'] }}</td>
  <td class="climate">{{ md['climate'] }}</td>
  <td class="runTime">{{ md['runTime'] }}</td>
  <td class="status" style="display:none">{{ md['status'] }}</td>
  <td class="{{ md['status'] }}">{{ md['status'] }}</td>
  <td>
    <div class='buttonGroup'>
      <button class='pill' onclick='dropPill(this, "Action")'>Action ▾</button>
      <ul class='menu right'>

	{% if md['status'] == 'postRun' or md['status'] == 'ERROR' %}
	<li><a href='/viewReports/{{ md["name"] }}{{ value["url"] }}'>View Reports</a></li>
	{% endif %}

	{% if md['status'] == 'preRun' and "false" in value["url"] %}
	<li><a class="run" href='#' onclick='var dict={};dict.analysisName="{{ md['name'] }}";run_analysis("/run/{{ value['url'] }}", "{{ md['name'] }}")'>Run</a></li>
	{% endif %}

	{% if "false" in value["url"] and (md['status'] == 'postRun' or md['status'] == 'terminated' or md['status'] == 'ERROR') %}
	<li><a class="reRun" href='#' onclick='var dict={};dict.analysisName="{{ md['name'] }}";run_analysis("/reRun/{{ value['url'] }}","{{ md['name'] }}")'>Re-Run</a></li>
	{% endif %}

	{% if "false" in value["url"] and  md['status'] != 'running' %}
	<li><a href='#' onclick='var dict={};dict.analysisName="{{ md['name'] }}";post_to_url("/delete/{{ value['url'] }}",dict)'>Delete</a></li>
	{% endif %}

	{% if "false" in value["url"] and md['status'] == 'running' %}
	<li><a href='#' onclick='var dict={};dict.analysisName="{{ md['name'] }}";post_to_url("/terminate/{{ value['url'] }}",dict)'>Terminate</a></li>
	{% endif %}
	<li><a href='/newAnalysis/{{ md["name"] }}{{ value["url"] }}'>Duplicate</a></li>
	{% if "false" in value["url"] %}
	<li><a class="makePublic" objectType="Analysis" objectName="{{ md['name'] }}" href="/makePublic/Analysis/{{ md['name'] }}">Publish</a></li>
	{% endif %}
      </ul>
    </div>
  </td>
</tr>
