<tr class="analysis" id="{{ md['name'].replace(' ', '_') }}">
  <td class="name">{{ md['name'] }}</td>
  <td class="sourceFeeder">{{ md['sourceFeeder'] }}</td>
  <td class="climate">{{ md['climate'] }}</td>
  <td class="runTime">{{ md['runTime'] }}</td>
  <td class="status" style="display:none">{{ md['status'] }}</td>
  <td class="{{ md['status'] }}">{{ md['status'] }}</td>
  <td>
    <div class='buttonGroup'>
      <button class='pill' onclick='dropPill(this, "Action")'>Action ▾</button>
      <ul class='menu right'>

	{% if md['status'] == 'postRun' or md['status'] == 'ERROR' %}
	<li><a href='/viewReports/{{ md["name"] }}'>View Reports</a></li>
	{% endif %}

	{% if md['status'] == 'preRun' %}
	<li><a class="run" href='#' onclick='var dict={};dict.analysisName="{{ md['name'] }}";run_analysis("/run/", "{{ md['name'] }}")'>Run</a></li>
	{% endif %}

	{% if md['status'] == 'postRun' or md['status'] == 'terminated' or md['status'] == 'ERROR' %}
	<li><a class="reRun" href='#' onclick='var dict={};dict.analysisName="{{ md['name'] }}";run_analysis("/reRun/","{{ md['name'] }}")'>Re-Run</a></li>
	{% endif %}

	{% if md['status'] != 'running' %}
	<li><a href='#' onclick='var dict={};dict.analysisName="{{ md['name'] }}";post_to_url("/delete/",dict)'>Delete</a></li>
	{% endif %}

	{% if md['status'] == 'running' %}
	<li><a href='#' onclick='var dict={};dict.analysisName="{{ md['name'] }}";post_to_url("/terminate/",dict)'>Terminate</a></li>
	{% endif %}
	<li><a href='/newAnalysis/{{ md["name"] }}'>Duplicate</a></li>
      </ul>
    </div>
  </td>
</tr>
