<head>
	<title>Open Modeling Framework</title>
	<meta charset='utf-8'>
	<link type='text/css' rel='stylesheet' href='/static/omf.css' />
	<link rel='shortcut icon' href='{{ url_for("static", filename="favicon.ico") }}'>
	<style>
		table.studyOptions, table.analysisOptions, table.reportOptions {width:70%; text-align:left; margin-left:auto;}
		table tr td:first-child {width:25%;}
		#studyList > div {margin-bottom:0px;}
		#studyList > div + div {margin-top:0px; margin-bottom:0px; border-top:none;} 
		#reportList > div {margin-bottom:0px;}
		#reportList > div + div {margin-top:0px; margin-bottom:0px; border-top:none;} 
		button {width:auto; padding:4px 6px 4px; float:right;}
		.buttonGroup {float:none;}
		a#addReport {float:right;}
		a.removeStudyReport {float:left;}
		select.feederName {width:70%;}
		input.radio {margin-left:10px;}
	</style>
	<script src='../static/omf.js'></script>
	<script>
		None = []
		existingStudies = {{ existingStudies | safe }}
		existingReports = {{ existingReports | safe }}
		reportTemplates = {{ reportTemplates | safe }}
		analysisMd = {{ analysisMd | safe }}
		var studyReportId = 0
		studyHTML = "<a href='javascript:removeStudyReport(removalId)' class='removeStudyReport'>✖</a><table class='studyOptions'><tr><td>Study Name</td><td><input type='text' class='studyName'/></td></tr><tr><td>Feeder</td><td><select class='feederName'>{% for feeder in feeders %}<option value='{{ feeder }}'>{{ feeder }}</option>{% endfor %}</select><button onclick='window.location=\"../feeder/\"+this.parentNode.querySelector(\".feederName\").value'>Edit Selected Feeder</button></td></tr><tr><td>Location</td><td><select class='tmy2name'>{% for tmy2 in tmy2s %}<option value='{{ tmy2 }}'>{{ tmy2 }}</option>{% endfor %}</select></td></tr></table>"
		function addStudy() {
			usedId = studyReportId
			newDiv = document.createElement('div')
			newDiv.id = studyReportId
			newDiv.className = 'content'
			newDiv.innerHTML = studyHTML.replace(/removalId/g,studyReportId)
			gebi('studyList').appendChild(newDiv)
			studyReportId += 1
			return usedId
		}
		function removeStudyReport(x) {
			gebi(x).parentNode.removeChild(gebi(x))
		}
		function saveAnalysis() {
			// First, a helper function to validate input against a regex:
			try {
				function check(answer, regEx) {
					// careful with those ints:
					toTest = answer + ''
					// do the test:
					if (toTest == toTest.match(regEx) && toTest.length > 0) {
						return answer
					} else {
						// this error will abort the analysis creation process:
						throw 'ValidationError'
					}
				}
				responseDict = {}
				// Get the analysis-level stuff.
				responseDict.simLength = check(parseInt(gebi('simLength').value), /[1-9]\d*/)
				responseDict.simLengthUnits = check(getRadioSetting('radio'), /\w+/)
				responseDict.simStartDate = check(gebi('simStartDate').value, /\d\d\d\d-[01]\d-[0123]\d/) // Doesn't flag all bogus dates but it's close enough.
				responseDict.analysisName = check(gebi('analysisName').value, /[\w\s]*/) // Must be a valid filename!
				// Get the study-level stuff.
				studyList = []
				studyDivs = document.getElementsByClassName('studyOptions')
				for (i=0; i<studyDivs.length; i++) {
					study = {}
					study.studyName = check(studyDivs[i].querySelector('.studyName').value, /[\w\s]*/) // Must be a valid filename!
					study.feederName = studyDivs[i].querySelector('.feederName').value
					study.tmy2name = studyDivs[i].querySelector('.tmy2name').value
					study.studyType = 'gridLab'
					studyList.push(study)
				}
				responseDict.studies = studyList
				// Get the reports.
				chosenReports = []
				reportDivs = document.getElementsByClassName('reportOptions')
				for (i=0; i<reportDivs.length; i++) {
					report = {}
					report.reportType = reportDivs[i].querySelector('.reportName').innerHTML
					inputFields = reportDivs[i].querySelectorAll('input')
					for (j=0; j<inputFields.length; j++) {
						inputBox = inputFields[j]
						report[inputBox.className] = inputBox.value
					}
					chosenReports.push(report)
				}
				responseDict.reports = chosenReports
				// Send the request.
				post_to_url('/saveAnalysis/', {'json':JSON.stringify(responseDict)})
			} 
			catch(err) {
				alert('Some form values are not correct')
				return false
			}
		}
		function addReport(reportName) {
			// Don't let the user add more than one copy of the report:
			if (document.getElementsByClassName(reportName).length == 1) {return false}
			reportStatsHTML = reportTemplates[reportName]
			newDiv = document.createElement('div')
			newDiv.id = studyReportId
			newDiv.className = 'content ' + reportName
			newDiv.innerHTML = reportStatsHTML.replace(/REMOVALID/g,studyReportId).replace(/REPORTNAME/g,reportName)
			gebi('reportList').appendChild(newDiv)
			studyReportId += 1
		}
	</script>
</head>
<body>
	<div id='title'>
		<div id='logoBox'><a href='/'>▦</a></div>
		<!--Title:-->Analysis Creation
	</div>
	<div class='content'>
		<div class='buttonGroup'>
			<button class='pill' onclick='dropPill(this, "Add Study")'>Add Study ▾</button>
			<ul class='menu'>
				<li><a href='javascript:addStudy()'>Gridlab</a></li>
			</ul>
		</div>
		<div class='buttonGroup'>
			<button class='pill' onclick='dropPill(this, "Add Report")'>Add Report ▾</button>
			<ul class='menu'>
				{% for rep in reportTemplates|sort() %}
				<li><a href='javascript:addReport("{{rep}}")'>{{ rep }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div id='studyList'></div>
	<div id='reportList'></div>
	<div class='content'>
		<table class='analysisOptions'>
			<tr>
				<td>Analysis Name</td><td><input type='text' id='analysisName'/></td>
			</tr>
			<tr>
				<td>Simulation Length</td><td><input type='text' id='simLength'/></td>
			</tr>
			<tr>
				<td></td><td><input type='radio' id='minutes' class='radio' name='simLengthUnits' value='minutes'/> Minutes <input type='radio' id='hours' class='radio' name='simLengthUnits' value='hours'/> Hours <input type='radio' id='days' class='radio' name='simLengthUnits' value='days'/> Days </td></tr>
			<tr>
				<td>Simulation Start Date <br/> (YYYY-MM-DD)</td><td><input type='text' id='simStartDate'/></td>
			</tr>
			<tr>
				<td></td><td><button onclick='javascript:saveAnalysis()'>Save Analysis</button></td>
			</tr>
		</table>
	</div>
	<script>
		// INIT Code: set up the existing reports and studies.
		for (exRep=0;exRep<existingReports.length;exRep++) {
			addReport(existingReports[exRep].reportType)
		}
		// HACK: collect div Ids for studies so we can init them later.
		usedIds = []
		for (exStud=0;exStud<existingStudies.length;exStud++) {
			usedIds.push(addStudy())
		}
		// HACK: init the div data, since we can't init before all the innerHTML has been altered...
		for (exStud=0;exStud<existingStudies.length;exStud++) {
			studyDiv = gebi(usedIds.pop())
			// Setting up study values
			studyDiv.querySelector('.studyName').value = existingStudies[exStud].name
			studyDiv.querySelector('.feederName').value = existingStudies[exStud].sourceFeeder
			studyDiv.querySelector('.tmy2name').value = existingStudies[exStud].climate
		}
		// Set up the analysis-level stuff.
		gebi('simLength').value = analysisMd.simLength
		gebi(analysisMd.simLengthUnits).checked = true
		gebi('simStartDate').value = analysisMd.simStartDate
	</script>
</body>
