{% for feed in value["feeders"] %}
{% if (is_admin and (key == "Private" and feed[:feed.find("_")] != "public")) or key == "Public" or not is_admin %}
<tr class="{{ feed.replace('_', '__').replace(' ', '_') }}">
  <td>
    <a name="{{ feed }}" href='/feeder/{{ feed }}{{ value["url"] }}'>
      {% if is_admin and key == "Private" %}

      
      <span class="feederName">{{ feed[feed.find("_")+1:] }}</span>
      
      {% else %}
      {{ feed }}
      {% endif %}
    </a>
  </td>
  <td>Ready</td>
  <td>
    {% if is_admin and key == "Private" %}
    <span class="owner">{{ feed[:feed.find("_")] }} </span>
    {% elif key == "Private" %}
    {{ my_username }}
    {% else %}
    public
    {% endif %}
  </td>
  <td>
    {% if "false" in value["url"] or is_admin %}
    <div class="buttonGroup">
      <button class='pill' onclick='dropPill(this, "Action")'>Action ▾</button>
      <ul class='menu right'>
	<li><a href="javascript:delete_feeder('{% if key == "Public" %}public_{% endif %}{{ feed }}')">Delete</a></li>
	{% if "false" in value["url"] %}
	<li><a class="makePublic" objectType="Feeder" objectName="{{ feed }}" href="/makePublic/Feeder/{{ feed }}">Publish</a></li>
	{% endif %}
      </ul>
    </div>
    {% else %}
  </td>
  {% endif %}
</tr>
{% endif %}
{% endfor %}

{% for feed in value["conversions"] %}
<tr>
  {% if is_admin %}
  <td><strong>{{ feed.split("_")[0] }}: </strong>{{ "_".join(feed.split("_")[1:]) }}</td>
  {% else %}
  <td>{{ feed }}</td>
  {% endif %}
  <td class='running'>Processing</td>
  <td></td>
</tr>
{% endfor %}
