<link href="/dumbstyle.css" rel="stylesheet" type="text/css" />
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
<script src="/tablescript.js"></script>

  <div id="selected" class="">
    <table id="selHead">
      <tr>
	<td colspan="2">
	  object
	</td>
	<td colspan="2">
	  ZIPload
	</td>
      </tr>
      <tr>
	<td>
	  <button class="deleteButton" onclick="deleteObject(1734)">Delete
	  </button>
	</td>
	<td>
	  <button class="deleteButton" onclick="add_attr(1734)">Add attribute
	  </button>
	</td>
	<td>
	  <button type="button" onclick="saveEdits(1734)">Save
	  </button>
	</td>
	<td>
	  <button type="button" onclick="cancelEditing(1734)">Cancel
	  </button>
	</td>
      </tr>
    </table>
    <div id="selectedScroller">
    <table id="selBody">
      <tr>
	<td>
	  <span style="float: right;">schedule_skew
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="2580" value="2580">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">name
	  </span>
	</td>
	<td>
	  <input type="text" name="null" data-old="ZIPload1734" value="ZIPload1734">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">power_fraction
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="0.400000" value="0.400000">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">current_fraction
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="0.300000" value="0.300000">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">base_power
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="LIGHTS*1.33" value="LIGHTS*1.33">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">impedance_pf
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="1.000" value="1.000">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">current_pf
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="1.000" value="1.000">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">power_pf
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="1.000" value="1.000">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">impedance_fraction
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="0.300000" value="0.300000">
	</td>
      </tr>
      <tr>
	<td>
	  <span style="float: right;">heatgain_fraction
	  </span>
	  <button class="deleteButton" style="float: left;">X
	  </button>
	</td>
	<td>
	  <input type="text" name="null" data-old="0.9" value="0.9">
	</td>
      </tr>
    </table>
    <!-- <tfoot id="selFoot"> -->
    <!-- </tfoot> -->
  </div>
</div>
