<h1>Log In!</h1>
<form action="login" method="post">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="submit" value="Submit">
</form>

<h1>Or Register!</h1>
<form action="register" method="post">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="password" name="confirm_password" placeholder="Confirm Password" /><br>
  <input type="submit" value="Submit">
</form>
      
