/*
- Give nested buttons a fixed width
*/

#modalInsert > #colorModal .fileListTable .iconlabel-button {
    width: 100px;
}

/*
- Center nested checkboxes
*/

#modalInsert > #colorModal .fileListTable input[type="checkbox"] {
    margin: auto;
}

/* Bold the first row in the fileListTable */

#modalInsert > #colorModal .fileListTable tr:first-of-type {
    font-weight: bold;
}

/******************
 * Legend styling *
 ******************/

#legendInsert { /* #multiselectInsert */
    bottom: 0px;
    position: absolute;
    right: 0px;
}

/*
- Style the legend div
*/

#legendInsert > .proptablediv {
    background-color: white;
    border-radius: var(--regularBorderRadius);
    font-size: var(--regularFontSize);
    max-width: 50vw;
    padding: var(--regularPadding);
}

/*
- Make the legenddiv into a flex container so it can display the gradient alongside the labels
- Put space between the graident and labels
- Center the content
*/

#legendInsert .legenddiv {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

/*
- Make the legend labels display along even vertical intervals
*/

#legendInsert .legendlabels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
- Set a reasonable size for the color gradient
*/

#legendInsert .legendgradient {
    height: 400px;
    width: 30px;
}

/*
- Round the corners of the button
- Make the button taller than it is
- Center the text in the button
- Center the button in its row
- Don't let the button become weirdly wide
- Make the button wider than it is
*/

#legendInsert > .proptablediv .iconlabel-button {
    border-radius: var(--regularBorderRadius);
    height: var(--tableRowMinHeight);
    justify-content: center;
    margin: var(--regularPadding) auto 0 auto;
    max-width: 300px;
    width: 50%;
}

/*
- Vertically center content in table rows
- Horizontally center content in table rows
*/

#legendInsert > .proptablediv > .prop-table .propdiv {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Format the filename and column name */

#legendInsert > .proptablediv > .prop-table .propth .propdiv {
    font-size: 13px;
    margin-bottom: var(--regularPadding);
}