/**********************************************/
/* Default styling. BE CAREFUL WHEN CHANGING! */
/**********************************************/
button.js-button--dropdown {
    align-items: center;
    border: 0;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 100%;
}
div.js-div--dropdown {
    /* Don't set height 100% because I need all three top-level dropdown divs to be up against each other */
    /* Don't set max-height here because it makes FeatureEditModals cover stuff in the side bar */
    /* This is done to make search results not have a weird horizontal bar pop up, but I can't set this here because it screws up the file menu */
    /*overflow-x: hidden;*/
}
div.js-div--dropdown span {
    font-size: var(--regularFontSize);
}
div.js-div--dropdownContent {
    max-height: 0;
    overflow: hidden;
}
div.js-div--dropdownContent.expanded {
    max-height: 100%;
    overflow: auto;
}
svg.js-svg--dropdown {
    transform: rotate(0deg);
    transition: transform 0.25s ease;
}
svg.js-svg--dropdown.rotated {
    transform: rotate(90deg);
    transition: transform 0.25s ease;
}

/********************/
/* Side nav styling */
/********************/

div.js-div--dropdown.sideNav {
    overflow-x: hidden;
}
div.js-div--dropdown.sideNav button.js-button--dropdown {
    background-color: #FFFFFF;
    border-top: 1px solid black;
    justify-content: space-between;
    padding: .5rem 0 .5rem 0;
}
/* This is the search results div */
div.selected > div:nth-child(2) {
    /* HACK: hardcoded height */
    max-height: 69vh;
    overflow: auto;
}
div.selected div.js-div--dropdown.sideNav.searchCategory > button.js-button--dropdown {
    box-shadow: inset -1px 0px darkgray;
}
div.js-div--dropdown.sideNav span > div:first-child {
    font-weight: bold;
}
div.js-div--dropdown.sideNav.searchCategory > button.js-button--dropdown > span {
    padding: 0 0 0 var(--regularFontSize);
    text-align: left;
}
div.js-div--dropdown.sideNav button.horizontalFlex span {
    padding: 0;
}

/****************/
/* Menu styling */
/****************/

div.js-div--dropdown.menu {
    white-space: nowrap;
    width: 85px;
}
div.js-div--dropdown.menu button.js-button--dropdown {
    background-color: transparent;
    color: white;
    justify-content: end;
}
div.js-div--dropdown.menu button.js-button--dropdown.expanded {
    background-color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    color: black
}
div.js-div--dropdown.menu button.js-button--dropdown svg.js-svg--dropdown path {
    fill: white;
}
div.js-div--dropdown.menu button.js-button--dropdown.expanded svg.js-svg--dropdown path {
    fill: black;
}
div.js-div--dropdown.menu div.js-div--dropdownContent {
    background-color: #FFFFFF;
    border-radius: 5px 0px 5px 5px;
    float: right;
    overflow-x: visible;
}
div.js-div--dropdown.menu div.js-div--dropdownContent.expanded {
    box-shadow: 0 10px 14px rgba(0,0,0,0.4)
}
div.js-div--dropdown.menu div.js-div--dropdownContent div {
    font-size: var(--regularFontSize);
    padding: 0 .25rem 0 .25rem;
}