.svg--icon-gray {
    fill: gray;
    fill-opacity: 80%;
}
.svg--icon-gray {
    fill: gray;
    fill-opacity: 80%;
}
.svg--icon-red {
    fill: red;
    fill-opacity: 80%;
}
.svg--icon-purple {
    fill: purple;
    fill-opacity: 80%;
}
.svg--icon-blue {
    fill: blue;
    fill-opacity: 80%;
}