* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, Sans-Serif;
}
:root {
    --headerHeight: 64px;
    --regularFontSize: 1rem;
    --regularFontPadding: .75rem;
    --sideNavWidth: 550px;
    --sideNavTransitionTime: 0.3s;
    --tableRowMinHeight: 2.6rem;
}

/*******/
/* IDs */
/*******/
#map {
    height: calc(100vh - var(--headerHeight));
    z-index: 0;
}
#menuInsert {
    display: flex;
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 10;
}
a {
    text-decoration: none;
    color: #00b11a;
}
body {
    height: 100vh;
    margin: 0;
}
header {
    background: black;
    display: flex;
    height: var(--headerHeight);
    /*justify-content: space-between;*/
    /* If I don't make the header absolutely positioned, I can remove the margin from <main></main>*/
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    z-index: 1;
}
main {
    /* This isn't needed anymore, but keep it in case */
    /*margin: var(--headerHeight) 0 0 0;*/
    /* Is this needed ? */
    height: calc(100% - var(--headerHeight));
}

.leaflet-popup-content {
    width: 400px !important;
    font-family: sans-serif;
}