/*******/
/* IDs */
/*******/

#legendInsert, #multiselectInsert {
    bottom: 0px;
    position: absolute;
    right: 0px;
}
#modalInsert {
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    display: none;
    /* The modalInsert div needs a height in order for inner divs to be able to use percentage values for max-height */
    height: 100%; /* DO NOT CHANGE THIS */
    justify-content: center;
    position: absolute;
    /*top: calc(var(--headerHeight));*/
    top: 0;
    width: 100%;
    /* z-index is is needed to cover the sideNav */
    z-index: 2;

}
#modalInsert.visible {
    display: flex;
}

/******************/
/* Shared classes */
/******************/

.absolute {
    position: absolute;
}
.horizontalFlex {
    display: flex;
}
button.horizontalFlex {
    /* HACK: hard-code height for buttons in modals */
    min-height: 28.8px;
}
div.horizontalFlex { 
    min-height: var(--tableRowMinHeight);
}
.verticalFlex {
    display: flex;
    flex-direction: column;
}
.centerMainAxisFlex {
    justify-content: center;;
}
.centerCrossAxisFlex {
    align-items: center;
}
.rightAlignMainAxisFlex {
    gap: 5px;
    justify-content: right;
    /* Make popup buttons align nicely with the table? */
    /*margin-right: 12px;*/
}
.hoverable:hover {
    background-color: seagreen;
    color: white;
}
.halfWidth {
    width: 50%;
}
.fullWidth {
    width: 100%;
}
.indent1 {
    padding: 0 0 0 var(--regularFontSize);
    text-align: left;
}
.indent2 {
    padding: 0 0 0 calc(2 * var(--regularFontSize)); 
    text-align: left;
}

/* TODO use media queries to set max-width based on screen size. Don't create additional classes. 50% max width is fine in 90% of cases */
/**********************************************/
/* Default styling. BE CAREFUL WHEN CHANGING! */
/**********************************************/

div.js-div--modal {
    /* Material design says that the background color doesn't affect brand, so it should be plain white */
    background: #FFFFFF;
    /* Material design uses 4dp rounded corners. 5px looks close enough */
    border-radius: 5px;
    /* Only overflowing modals (e.g. the "Load Feeder" modal) need a height of 100%. Unfortunately, this height must be set to 100% so that
    overflowing modals may constrain themselves. The majority of modals will need to set their height back "initial" */
    height: 100%;
    max-height: 75vh;
    max-width: 75vw;
    /* Don't add padding because it lets stuff scroll above a sticky thead */
    /*padding: 1rem;*/
    overflow: auto;
    width: 100%;
}
div.js-div--modal.fitContent {
    height: initial;
    width: initial;
}
div.js-div--modal.outerModal {
    padding: 1rem;
}
div.js-div--modal.collapsed {
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 10s ease;*/
}
div.js-div--modal.expanded {
    /* This property and the "expanded" class exist to prevent the scrollbar from appearing while the div is expanding */
    overflow: hidden;
    /*transition: max-height .2s;*/
}
div.js-div--modal button {
    background-color: mediumblue;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    max-width: 400px;
    padding: .15rem;
    z-index: 1;
}
div.js-div--modal button:hover {
    background-color: blue;
}
div.js-div--modal button.delete {
    background-color: crimson;
}
div.js-div--modal button.delete:hover {
    background-color: red;
}
div.js-div--modal button.add {
    background-color: seagreen;
}
div.js-div--modal button.add:hover {
    background-color: mediumseagreen;
}
div.js-div--modal button:disabled {
    background-color: gray;
}
div.js-div--modal input {
    border: 1px solid black;
    font-size: var(--regularFontSize);
    margin: 0;
    padding: .2rem;
    width: 100%;
}
div.js-div--modal select {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    font-size: var(--regularFontSize);
    padding: .2rem;
    /* width cannot be 100% for all modals because of big modal like anonymization */
}
div.js-div--modal span {
    font-size: var(--regularFontSize);
}
div.js-div--modal textarea {
    font-size: var(--regularFontSize);
    height: 100%;
    height: calc(100% - 84px);
    width: 100%;
}
div.js-div--modal table.table--modal span {
    width: 100%;
}
div.div--modalBanner {
    border-radius: 5px;
    font-size: 24px;
    padding: 1rem;
    text-align: center;
}
div.div--modalBanner.caution {
    background-color: hsla(50, 100%, 70%, 1);
}
div.div--modalBanner.hidden {
    display: none;
}
div.div--modalTitle span {
    /* This is 43px tall */
    font-size: 26px;
    font-weight: bold;
    padding: var(--regularFontPadding);
}
div.div--modalTitle.caution {
    background-color: hsla(50, 100%, 70%, 1);
}

div.div--modalElementContainer {
    height: 100%;
    /* HACK: I should know how to subtract 100% of the height to get an actual height instead of guessing. This should be 92% default because that
    makes the "Load Feeder" modal take up most of the space without leaving a big white zone at the bottom. The problem is the title takes up space in
    a modal element container, so I can't just use 100%. 92% is actually fine. Use custom CSS for one-offs like the attachments modal. 89% works too.
    */
    max-height: calc(100% - 43px);
    /* Commenting this out helps with the new featureEditModal button alignment */
    /*width: 100%;*/
}
table.table--modal {
    border-collapse: collapse;
    font-size: var(--regularFontSize);
    position: relative;
    table-layout: fixed;
    text-align: left;
    word-wrap: break-word;
}
table.table--modal.centeredTable {
    margin: auto;
}
table.table--modal td div, table.table--modal th div {
    display: flex;
    align-items: center;
    min-height: var(--tableRowMinHeight);
}
table.table--modal td, table.table--modal th {
    padding: 0;
}
table.table--modal td:not(:first-child), table.table--modal th:not(:first-child) {
    padding: 0 0 0 var(--regularFontPadding);
}
table.table--modal thead {
    background: white;
    position: sticky;
    top: 0;
}

/****************************/
/* FeatureEditModal styling */
/****************************/

div.js-div--modal.featureEditModal {
    max-height: 33vh;
}
div.js-div--modal.featureEditModal table.table--modal td:nth-child(2) span {
    max-width: 100px;
    /* Popups should no longer all be the same width. If a popup can be thinner, then let it be */
    /*width: 160px;*/
}
/* Give inputs a width so they are never too squished */
div.js-div--modal.featureEditModal table.table--modal td:nth-child(3) input {
    /* Anything over 98px causes horizontal overflow, probably due to Leaflet's dynamic inline popup width calculation not working with how I set
    table column widths */
    width: 98px;
}

/***********************/
/* SearchModal styling */
/***********************/

div.js-div--modal.searchModal {
    border-radius: 0;
    box-shadow: inset -1px 0px darkgray;
    max-height: 7vh;
}
div.js-div--modal.searchModal div.div--modalElementContainer {
    height: initial;
}
div.div--topTabContentContainer div.js-div--dropdown.sideNav div.div--modalElementContainer {
    /* Help align featureEditModalButtons with table in search modal */
    margin-right: 100px;
}
div.js-div--modal.searchModal select {
    width: 100%;
}
div.js-div--modal.searchModal table.table--modal td:first-child {
    max-width: 32px;
    width: 32px;
}
div.js-div--modal.searchModal table.table--modal td:nth-child(2) {
    max-width: 50px;
    width: 50px;
}
div.js-div--modal.searchModal table.table--modal td:nth-child(3) {
    max-width: 160px;
    width: 160px;
}
div.js-div--modal.searchModal table.table--modal td:nth-child(4) {
    max-width: 75px;
    width: 75px;
}

/*****************************/
/* Load feeder modal styling */
/*****************************/

div.js-div--modal.loadFeederModal div.div--modalElementContainer div.js-div--modal {
    flex: 1;
}
div.js-div--modal.loadFeederModal table.table--modal td div, div.js-div--modal.loadFeederModal table.table--modal th div {
    display: block;
    min-height: initial;
}
div.js-div--modal.loadFeederModal div.hoverable {
    padding: var(--regularFontPadding);
    word-break: break-word;
}
div.js-div--modal.loadFeederModal div.hoverable > div:first-child {
    font-weight: bold;
}

/*****************************/
/* Color modal styling */
/*****************************/

div.js-div--modal.colorModal table.table--modal button {
    min-width: 145.2px;
}