name: OMF Integration Tests

on: push
        
jobs:
  Ubuntu:
    name: Test OMF on Ubuntu
    runs-on: ubuntu-18.04
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v2 # Checkout whichever ref that triggered this workflow
      - name: Install Dependencies
        run: |
          sudo python3 install.py
      - name: Run Tests
        run: sudo python3 omf/runAllTests.py
  macOS:
    name: Test OMF on macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          brew link --overwrite python@3.8 #already installed but python3.9 is default
          pip3 install ecos #because it's having trouble not going first
          HOMEBREW_NO_AUTO_UPDATE=1 brew install octave #workaround for flakey octave
          python3 install.py
      - name: Run tests
        run: |
          python3 omf/runAllTests.py
  Windows:
    name: Test OMF on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Fix Pathing
        continue-on-error: true
        shell: bash
        run: |
          # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#setting-an-environment-variable
          echo "GLPATH=C:\\Program Files\\GridLAB-D\\bin;C:\\Program Files\\GridLAB-D\\etc;C:\\Program Files\\GridLAB-D\\lib;C:\\Program Files\\GridLAB-D\\samples;C:\\Program Files\\GridLAB-D\\rt;C:\\Program Files\\GridLAB-D\\tmy" >> $GITHUB_ENV
          echo "GRIDLABD=C:\\Program Files\\GridLAB-D" >> $GITHUB_ENV
          echo "C:\\Program Files\\GridLAB-D\\bin;C:\\Program Files\\GridLAB-D\\lib" >> $GITHUB_PATH
      - name: Install dependencies
        continue-on-error: true
        run: |
          choco install python --no-progress --version 3.6.8
          choco install wget --no-progress
          python install.py
      - name: Run tests
        run: |
          python omf/runAllTests.py