<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		/*INPUT*/
		.shortInput {width:446px; display:inline-block;}
		.wideInput {width:892;}
		label {width:138px; line-height:32px; float:left; text-align:right;}
		input[type="text"], select {width:300px; float:right; text-align:left; font-size:medium;}
		#input {margin-top: 0px;}
		button {width:auto;}
		#cancelButton {background:crimson;}
		#cancelButton:hover {background:red;}
		input[readonly="readonly"], input[readonly], textarea[readonly] {color:gray;}
		/*OUTPUT*/
		div.tightContent {width:1000px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:20px; border-style: solid; border-color:gray; border-width:1px 0px 1px 0px; background-color:white;}
		p.reportTitle {padding:10px; width:1000px; margin:20px auto 0px auto; font-size:16pt;}
		td,th {text-align: right}
		.preRun, .running, .postRun {display:none;}
	</style>
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<!-- Global Functions -->
	<script type="text/javascript">
		function init() {
			// Set up various things on load.
			if (allInputData == null && allOutputData == null) {
				// Case 1: model just started.
				console.log("NORUN")
				$(".preRun").show()
			} else if (allInputData != null && allOutputData == null) {
				// Case 2: model running.
				console.log("RUNNING")
				$(".running").show()
				restoreInputs()
				$("input").prop("readonly", true)
				$("select").prop("disabled", true)
			} else {
				// Case 3: one model run complete.
				console.log("POSTRUN")
				restoreInputs()
				$(".postRun").show()
			}
		}
		function restoreInputs() {
			// Restore all the input values that were used and stored in allInputData.json.
			gebi("titleText").innerHTML = allInputData.modelName
			for (index in allInputData) {
				try {document.querySelector("#" + index).value = allInputData[index]}
				catch(err){}
			}
		}
		function validateForm() {
			// Make sure each field matches its validation regex.
			allFields = $("input")
			for (i=0; i < allFields.length; i++) {
				allFields[i].style["border-color"] = "white"
				currVal = allFields[i].value + ""
				regex = allFields[i].getAttribute("data-validRegex")
				returnVal = true
				if (regex != null && currVal.match(regex) != currVal) {
					allFields[i].style["border-color"] = "crimson"
					returnVal = false
				}
			}
			if (!returnVal) {alert("Form values bordered in red don't match the required format.")}
			return returnVal
		}
		// Little function here to get discloser triangles:
		function toggleAdvanced(clickedObject) {
			siblings = clickedObject.parentNode.parentNode.parentNode.querySelectorAll('.advancedOption')
			for (i=0;i<siblings.length;i++) {
				visible = (getComputedStyle(siblings[i])['display'] == 'none')
				if (visible) {
					siblings[i].style.display='table-row'
				} else {
					siblings[i].style.display='none'
				}
			}
			if (visible) {code = 9660} else {code = 9654}
				clickedObject.textContent = String.fromCharCode(code) + ' Advanced Options'
		}
	</script>
</head>
<body onload="init()">
	<div id="title">
		<div id="logoBox"><a href="/">&#10059;</a></div>
		<p id="titleText">New Static CVR Model</p>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post" onsubmit="return validateForm()">
			<div class="shortInput">
				<label>Model Type</label>
				<input type="text" id="modelType" name="modelType" value="cvrStatic" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" data-validRegex="[\w\s]+"/></td>
			</div>
			<div class="shortInput running postRun">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/></td>
			</div>
			<div class="shortInput running postRun">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/></td>
			</div>
			<div class="shortInput postRun">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/></td>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<select id="feederName" name="feederName"/>
					<option disabled><strong>Personal Feeders</strong></option>
					{% for feeder in datastoreNames['feeders'] %}
						<option value="{{ datastoreNames['currentUser'].username + '___' + feeder }}">{{ feeder }}</option>
					{% endfor %}
					<option disabled><strong>Public Feeders</strong></option>
					{% for pFeeder in datastoreNames['publicFeeders'] %}
						<option value="{{ 'public___' + pFeeder }}">{{ pFeeder }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="runButton" type="submit" class="preRun">Run Model</button>
				<button id="cancelButton" class="running" type="button" onclick="alert('RUN CANCELED')">Cancel Run</button>
				<button id="rerunButton" type="submit" class="postRun">Re-Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Results will appear here when complete.
	</div>
	<div id="output">
		<p class="reportTitle postRun">Power Consumption From Transmission System</p>
		<div id="powerGenerationReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<div id="energyBalance"></div>
			<!-- TODO: Make the energy chart sum the arrays. -->
			<script>
				powerSeries = [{"marker":{"enabled":false},"color":"red","data":allOutputData.Consumption.Power,"name":"Power Generated"}]
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"pointStart":1338508800000,"shadow":false,"pointInterval":3600000},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":powerSeries,"yAxis":{"title":{"text":"Power (W)","style":{"color":"gray"}}},"chart":{"zoomType":"x","marginBottom":20,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Climate</p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script>
				climateSeriesData = [
					{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Ambient Temperature (F)"]},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
					{"name":"Direct Irradiance (W/m^2)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Direct Irradiance (W/m^2)"]},
					{"name":"Difuse Irradiance (W/m^2)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Difuse Irradiance (W/m^2)"]},
					{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Cell Temperature (F)"]}]
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"pointStart":1338940800000,"shadow":false,"pointInterval":3600000},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":climateSeriesData,"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},"chart":{"marginBottom":20,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
	</div>
</body>