<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		/*INPUT*/
		table.modelOptions {width:70%; text-align:left; margin-left:auto;}
		/*OUTPUT*/
		pre.stdoutBlock {display:inline-block; width:475px; overflow-x:hidden; padding-left:10px; vertical-align:top; font-size:8pt}
		div.stdouts {overflow-x:auto;white-space: nowrap; margin-top:0px;}
		div.tightContent {width:1000px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:20px; border-style: solid; border-color:gray; border-width:1px 0px 1px 0px; background-color:white;}
		div.tightContent div {margin-top:0px;margin-bottom:0px; border:none;}
		div.tightContent div + div {margin-top:0px; margin-bottom:0px;}
		p.reportTitle {padding:10px; width:1000px; margin:20px auto 0px auto; font-size:16pt;}
		#input {margin-top: 0px;}
		input {border-bottom:thin dotted black;text-align:right;padding-right:5px}
		button {width:auto;}
		td,th {text-align: right}
		.postrun {display:none;}
		input[readonly="readonly"], input[readonly], textarea[readonly] {color:gray;}
	</style>
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts.src.js"></script>
	<!-- Data  Imports -->
	{% if allInputData %}<script>allInputData={{allInputData | safe}}</script>{% endif %}
	{% if allOutputData %}<script>allOutputData={{allOutputData | safe}}</script>{% endif %}
	<!-- Global Functions -->
	<script type="text/javascript">
		function init() {
			// Set up various things on load.
			if (typeof allInputData.status == undefined) {
				// Case 0: model just started.
				console.log("NORUN")
			} else if (allInputData.status == "preRun") {
				// Case 1: model saved but not run.
				console.log("PRERUN")
				restoreInputs()
			} else if (allInputData.status == "running") {
				// Case 2: model running.
				console.log("RUNNING")
				restoreInputs()
			} else if (allInputData.status == "postRun") {
				// Case 3: model run complete.
				console.log("POSTRUN")
				restoreInputs()
				$(".postRun").show()
				$("#runButton")[0].innerHTML = "Re-Run Model"
			}
		}
		function restoreInputs() {
			gebi("titleText").innerHTML = allInputData.modelName
			for (index in allInputData) {
				try {document.querySelector("#" + index).value = allInputData[index]}
				catch(err){}
			}
		}
		function runModel() {
			// Actually run here.
		}
	</script>
</head>
<body onload="init()">
	<div id="title">
		<div id="logoBox"><a href="/">&#10059;</a></div>
		<p id="titleText">New GridlabD Model</p>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" method="post">
			<table class="modelOptions">
				<tr>
					<td>Model Type</td><td><input type="text" id="modelType" name="modelType" value="gridlabSingle" readonly/></td>
				</tr>
				<tr>
					<td>Model Name</td><td><input type="text" id="modelName" name="modelName"/></td>
				</tr>
				<tr class="postRun">
					<td>Created</td><td><input type="text" id="created" name="created" readonly/></td>
				</tr>
				<tr class="postRun">
					<td>Run Time</td><td><input type="text" id="runTime" name="runTime" readonly/></td>
				</tr>
				<tr>
					<td>Feeder</td>
					<td>
						<select id="feederName" name="feederName"/>
							{% for feeder in datastoreNames['feeders'] %}
								<option value='{{ feeder }}'>{{ feeder }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Climate</td>
					<td>
						<select id='climateName' name='climateName'>
							{% for climate in datastoreNames['climates'] %}
								<option value='{{ climate }}'>{{ climate }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Simulation Length</td><td><input type="text" id="simLength" name="simLength"/></td>
				</tr>
				<tr>
					<td>Length Units</td><td>
						<select id="simLengthUnits">
							<option value="minutes">Minutes</option>
							<option value="hours">Hours</option>
							<option value="days">Days</option>
						</select>
					</td></tr>
					<tr>
						<td>Simulation Start Date <br/> (YYYY-MM-DD)</td><td><input type="text" id="simStartDate"/></td>
					</tr>
					<tr>
						<td></td>
						<td><button id="runButton" type="submit">Run Model</button></td>
					</tr>
			</table>
		</form>
	</div>
	<div id="output">
		<p class="reportTitle postRun">Power Consumption From Transmission System</p>
		<div id="powerConsumptionReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<div id="energyBalance"></div>
			<!-- TODO: Make the energy chart sum the arrays. -->
			<script>
				powerSeries = [{"marker":{"enabled":false},"color":"red","data":allOutputData.Consumption.Power,"name":"Substation Powerflow"}]
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"pointStart":1338508800000,"shadow":false,"pointInterval":3600000},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":powerSeries,"yAxis":{"title":{"text":"Power (W)","style":{"color":"gray"}}},"chart":{"zoomType":"x","marginBottom":20,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"column":{"stacking":"normal","shadow":false},"spline":{"marker":{"radius":8},"shadow":false,"lineWidth":0}},"xAxis":{"tickColor":"gray","lineColor":"gray","categories":["20Sol"]},"title":{"text":null},"series":[{"color":"orangered","data":[5944255.196466643],"type":"column","name":"Losses"},{"color":"darkorange","data":[142295363.20363092],"type":"column","name":"Loads"},{"color":"seagreen","data":[24543460.52],"type":"spline","name":"DG"}],"yAxis":{"title":{"text":"Energy (Wh)","style":{"color":"gray"}}},"chart":{"width":1000,"height":250,"marginBottom":20,"renderTo":"energyBalance","marginRight":20},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Triplex Meter Voltages</p>
		<div id="triplexMeterVoltageReport" class="tightContent postRun">
			<div id="triplexMeterVoltageChart"></div>
			<script>
				triplexSeriesData = [{"marker":{"enabled":false},"color":"gray","data":allOutputData.allMeterVoltages.Min,"name":"Min"},
					{"marker":{"enabled":false},"color":"blue","data":allOutputData.allMeterVoltages.Mean,"name":"Mean"},{"marker":{"enabled":false},"color":"gray","data":allOutputData.allMeterVoltages.Max,"name":"Max"}]
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"pointStart":1338940800000,"shadow":false,"pointInterval":3600000},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":triplexSeriesData,"yAxis":{"title":{"text":"Volts","style":{"color":"gray"}}},"chart":{"height":250,"width":1000,"marginBottom":20,"zoomType":"x","renderTo":"triplexMeterVoltageChart","type":"line","marginRight":20},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Climate</p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script>
				climateSeriesData = [
					{"name":"Rain Fall (in/h)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Rain Fall (in/h)"]},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
					{"name":"Direct Insolation (W/m^2)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Direct Insolation (W/m^2)"]},
					{"name":"Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Temperature (F)"]},
					{"name":"Snow Depth (in)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Snow Depth (in)"]}]
				new Highcharts.Chart({"credits":{"enabled":false},"plotOptions":{"series":{"pointStart":1338940800000,"shadow":false,"pointInterval":3600000},"line":{"marker":{"enabled":false}}},"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},"title":{"text":null},"series":climateSeriesData,"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},"chart":{"marginBottom":20,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},"tooltip":{"valueDecimals":1},"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Model Runtime Statistics</p>
		<div id="runtimeStatsReport" class="tightContent stdouts postRun" style="height:600px">
			<pre id="stderr" class="stdoutBlock"></pre>
			<pre id="stdout" class="stdoutBlock"></pre>
			<script>
				gebi("stdout").innerHTML = allOutputData.stdout
				gebi("stderr").innerHTML = allOutputData.stderr.substring(0,80*19) + 'STDERR TRUNCATED'
			</script>
		</div>
	</div>
</body>